@use "sass:map";

@use "@nationalarchives/frontend/nationalarchives/variables/assets" with (
    $tna-font-path: "/static/assets/fonts",
    $fa-font-path: "/static/assets/fonts"
);

@use "@nationalarchives/frontend/nationalarchives/variables/colour" with (
    $colour-palette-default: (
        "page-background": #f4f4f4,
        "background-tint": #d8d8d8,
        "font-base": #222,
        "font-dark": #047584,
        "font-light": rgb(0 0 0 / 0.7),
        "icon-light": rgb(0 0 0 / 0.45),
        "link": #1d70ab,
        "link-visited": #4c2c92,
        "focus-outline": #f1d143,
        "keyline": #ccc,
        "keyline-dark": #666,
        "button-text": #fff,
        "button-background": #000,
        "button-hover-text": #000,
        "button-hover-background": #fff,
        "contrast-background": #1e1e1e,
        "contrast-font-base": #fff,
        "contrast-font-dark": #fff,
        "contrast-font-light": #fff,
        "contrast-icon-light": rgb(255 255 255 / 0.45),
        "contrast-link": #fff,
        "contrast-link-visited": #fff,
        "contrast-keyline": rgb(255 255 255 / 0.5),
        "contrast-keyline-dark": rgb(255 255 255 / 0.8),
        "contrast-button-text": #000,
        "contrast-button-background": #fff,
        "contrast-button-hover-text": #fff,
        "contrast-button-hover-background": #000,
        "accent": #f1d143,
        "accent-background": #f1d143,
        "accent-background-light": #f1d143,
        "accent-font-base": #000,
        "accent-font-dark": #000,
        "accent-font-light": rgb(0 0 0 / 0.7),
        "accent-icon-light": rgb(0 0 0 / 0.45),
        "accent-link": #000,
        "accent-link-visited": #b9f,
        "accent-keyline": rgb(255 255 255 / 0.5),
        "accent-keyline-dark": rgb(255 255 255 / 0.8),
        "button-accent-text": #000,
        "button-accent-background": #fa8334,
    )
);

@use "@nationalarchives/frontend/nationalarchives/all";

@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/colour" as colourTools;
@use "@nationalarchives/frontend/nationalarchives/tools/typography";
@use "@nationalarchives/frontend/nationalarchives/variables/grid";

.tna-heading--l,
.tna-heading--m {
    @include colourTools.colour-font("font-base");
}

.tna-aside {
    padding: 1rem !important;
}

.tna-pagination {
    justify-content: space-between !important;
}

.tna-background--accent {
    --font-base: #000;
    --font-dark: #000;
}

.ohos-search {
    display: flex;
    align-items: stretch;

    &__input {
        display: block;
        flex: 1;

        @include typography.relative-font-size(20);

        @include colourTools.colour-border("keyline-dark", 1px, solid);
        border-right: none;
    }
}

.ohos-stats {
    padding: 0;

    list-style: none;

    &__item {
        margin-bottom: 2rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        @include colourTools.colour-font("font-dark");
        @include typography.main-font-weight-bold;

        .fa-solid {
            width: 5rem;
            height: 5rem;

            flex: 0 0 5rem;

            @include colourTools.colour-font("contrast-font-dark");
            font-size: 1.75em;
            text-align: center;
            line-height: 5rem;

            @include colourTools.colour-background("font-dark");

            border-radius: 100%;
        }
    }

    &__stat {
        line-height: 1.25;
    }

    &__number {
        display: block;

        @include colourTools.colour-font("font-base");
        font-size: 1.25em;
    }
}

.ohos-section-info {
    padding: 1rem 1.5rem;

    border: #fa8334 0.25rem solid;
    border-left-width: 3rem;
}

/*

==============
Toolkit styles
==============

When a change to a toolkit is required, change it in the toolkit SASS file. In this way we can perform a diff between
any candidate styles created for Etna and those within the toolkit. If we were to use @extend it will be harder to
identify how the code is intended to change.

This was discussed in an Etna developers meeting on 5 July 2021.

*/

@import "tna-toolkit/tna-toolkit";

/*

==============
Etna styles
==============

These are Etna specific components, created using BEM and following our guidelines.

*/

@import "includes/functions";
@import "includes/variables";
@import "includes/mixins";
@import "includes/global";
@import "includes/buttons";
// @import "includes/generic-intro";
@import "includes/hero-image";
@import "includes/jumplinks";
@import "includes/links";
@import "includes/card-groups";
@import "includes/footer";
@import "includes/cta-banner-newsletter";
@import "includes/cta-banner-survey";
@import "includes/pagination";
@import "includes/alert-message";
@import "includes/image-viewer";
@import "includes/image-browse";
@import "includes/ie11";
@import "includes/hierarchy-global-nav";
@import "includes/hierarchy-local-nav";
@import "includes/key-facts";
@import "includes/image-viewer-panel";
@import "includes/article";
@import "includes/record-access-options";
@import "includes/record-details";
@import "includes/taxonomy-tags";
@import "includes/record-title";
@import "includes/specifics";
@import "includes/content-block";
@import "includes/content-warning";
@import "includes/quote";
@import "includes/event-card-listing";
@import "includes/event-details-banner";
@import "includes/event-hero";
@import "includes/event-meta";
@import "includes/event-tags";
@import "includes/featured-card";
@import "includes/featured-link";
@import "includes/featured-record";
@import "includes/featured-records";
@import "includes/record-links";
@import "includes/featured-article";
@import "includes/featured-articles";
@import "includes/filters";
@import "includes/full-width-header";
@import "includes/meta";
@import "includes/media-embed";
@import "includes/people";
@import "includes/record-embed";
@import "includes/record-embed__no-image";
@import "includes/related-resources";
@import "includes/related-ce-content";
@import "includes/blog-embed";
@import "includes/related-content";
@import "includes/section-separator";
@import "includes/disambiguation-explanation";
@import "includes/login-status";
@import "includes/forms";
@import "includes/xslt-patches";
@import "includes/record-related-records";
@import "includes/record-related-content";
@import "includes/search/search-button";
@import "includes/search/search-results";
@import "includes/search/search-results-hero";
@import "includes/search/search-buckets";
@import "includes/search/search-sort-view";
@import "includes/search/search-filters";
@import "includes/search/catalogue-search-grid";
@import "includes/search/search-results__list-card";
@import "includes/search/global-search";
@import "includes/search/search-landing-hero";
@import "includes/search/search-landing-buckets";
@import "includes/search/featured-search";
@import "includes/search/long-filters";
@import "includes/section";
@import "includes/sub-heading";
@import "includes/cookie-consent";
@import "includes/maintenance-503";
@import "includes/beta-banner";
@import "includes/record-cta-panel";
@import "includes/record-series-panel";
@import "includes/home-refresh";
@import "includes/explore-intro";
@import "includes/record-matters";
@import "includes/transcription";
@import "includes/card-grid";
@import "includes/new_cards";
@import "includes/highlight-gallery";
@import "includes/highlight-cards";
// @import "includes/highlight-intro";
@import "includes/utilities";
@import "includes/archive-description";
@import "includes/archive-collections";
@import "includes/archive-additional-resources";
@import "includes/related-highlight-cards";
@import "includes/highlight-gallery-teaser";
@import "includes/feedback";
@import "includes/promoted-pages";
@import "includes/featured-record-article";
@import "includes/record-crosslink-panel";
@import "includes/image-block";
@import "includes/author";
@import "includes/password-page";
@import "includes/record-creator-description";
@import "includes/record-creator-collections";

/* Un-comment when front-end toolkit is fixed

==============
New styles
==============

Modified to match the existing site (for now)

*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto+Mono&display=swap");

.tna-template {
    overflow: initial !important;
}

.tna-header__navigation-item-link {
    &:hover,
    &--selected,
    &--selected:visited {
        background: #fff !important;
    }
}

@include media.on-mobile {
    .tna-header__navigation-items {
        background: #fff !important;
    }
}

.tna-breadcrumbs {
    padding-bottom: 0;
}

.tna-button-group {
    &--full {
        justify-content: stretch;

        @include media.on-mobile {
            flex-direction: column;

            align-items: stretch;
        }

        .tna-button {
            margin: 0;

            flex: 1;
        }
    }
}

.tna-hero {
    margin-top: 1rem;
    margin-bottom: 2rem;

    &__figure {
        &--smaller {
            min-height: 20vw;
        }
    }

    &__information {
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    img#{&}__image {
        object-fit: cover;
    }
}

.tna-message {
    margin-top: 2rem !important;
    margin-bottom: 3rem;
}

.tna-skip-link {
    transition: none !important;
}

.tna-container {
    &--centred {
        justify-content: center;
    }

    &--align-center {
        align-items: center;
    }

    &--space-between {
        justify-content: space-between;
    }

    @include media.on-larger-than-mobile {
        &--reverse-desktop {
            flex-direction: row-reverse;
        }
    }
}

.tna-chip {
    &--plain {
        padding: 0;
        @include colourTools.plain;
        background-color: transparent;
        border: none;
    }
}

.tna-footer {
    &__social {
        &-items {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            align-items: flex-start;
        }

        &-item {
            margin: 0;

            &-link {
                min-width: calc(2rem + 4px);
                padding: 4px;

                display: block;

                text-align: center;
                line-height: 1;

                border: 0 transparent solid;
                border-width: 4px 0;

                .fa-solid,
                .fa-brands {
                    font-size: 2rem;
                }

                &:has(.fa-solid),
                &:has(.fa-brands) {
                    &:hover {
                        @include colourTools.colour-border(
                            "link",
                            4px,
                            solid,
                            bottom
                        );
                    }
                }
            }
        }
    }
}

.tna-large-paragraph {
    @include colourTools.colour-font("font-dark");
    @include typography.relative-font-size(22);
}

.template-focused-article {
    .tna-breadcrumb-wrapper {
        // ELEMENT SPECIFIC TO THIS SITE
        background-color: #343338 !important;
    }
    .tna-breadcrumbs {
        margin-bottom: 0;
        color: #fff !important;
        background-color: #343338 !important;

        a,
        &__item--expandable .tna-breadcrumbs__link {
            color: inherit !important;
        }
    }

    .generic-intro {
        padding-bottom: 4rem;
        h1 {
            &:last-child {
                padding-bottom: 2rem;
            }
        }
    }

    .generic-intro,
    .generic-intro__meta {
        @include colourTools.invert;
        background-color: #343338 !important;
        color: #fff !important;

        .tna-heading {
            padding-top: 1rem;
            color: inherit !important;
        }

        a {
            &,
            &:link,
            &:visited {
                color: inherit;
            }
        }
    }

    .generic-intro__meta {
        padding-top: 1rem;
        padding-bottom: 4rem;
    }

    .hero-image__container {
        margin-top: -2rem;

        .tna-hero {
            max-width: grid.$largest-container-width;
            margin: 0 auto;
            padding: 0 grid.$gutter-width;
            box-sizing: border-box;

            @include media.on-mobile {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    @include media.on-larger-than-mobile {
        .tna-header__navigation-item-link:hover,
        .tna-header__navigation-item-link:hover:link,
        .tna-header__navigation-item-link:hover:visited,
        .tna-header__navigation-item-link--selected,
        .tna-header__navigation-item-link--selected:link,
        .tna-header__navigation-item-link--selected:visited {
            color: #fff !important;
            background-color: #343338 !important;
        }
    }
}

.block-content_section,
.section-wrapper {
    .section-separator__heading {
        padding-top: 2rem;
    }
}

.article-container,
.generic-intro__paragraph {
    .tna-container {
        justify-content: center;
    }

    @include media.on-larger-than-mobile {
        .section-separator__heading {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.tna-container--centred {
    justify-content: center;
}

.highlight-gallery {
    color: #fff;
    .tna-heading {
        color: inherit;
    }
}

.card-group-secondary-nav {
    margin-bottom: 2rem;

    &__heading {
        margin-top: 0;
    }
}

.generic-intro__paragraph {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.related-highlight-cards {
    .related-highlight-cards__card {
        margin-top: 2rem;
    }
}

.section-separator__heading {
    padding-top: 2rem;
}

.container + .container {
    margin-top: 2rem;
}

.featured-article__description,
.article-container__main,
.container,
.search-landing-buckets__link,
.search-buckets__link,
.search-results-hero__form-search-box,
.search-filters__search,
[class^="col-"],
[class*=" col-"] {
    box-sizing: border-box;
}

#ds-cookie-consent-banner {
    padding: 1rem 0 !important;
    position: static !important;
    background: #134571 !important;
    border-radius: 0 !important;

    .container {
        padding: 0 0 10px !important;
    }
}

// Event card overrides

.tna-card {
    &__heading--has-highlight {
        max-width: calc(100% - 5.125rem);
    }

    &__highlight {
        @include typography.relative-font-size(14);
        @include colourTools.plain;
        z-index: 1;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        align-self: flex-end;
        position: absolute;
        right: 1.14rem;
        top: 1.14rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        @include media.on-larger-than-mobile {
            right: 0;
            top: auto;
        }

        &--yellow {
            background-color: colourTools.brand-colour("pastel-orange");
        }

        &--blue {
            background-color: colourTools.brand-colour("pastel-blue");
        }
    }

    &--horizontal-thirds {
        @include media.on-larger-than-mobile {
            .tna-card__inner {
                margin-left: 33.33%;
            }

            .tna-card__image-container {
                inset: 0 66.66% 0 0;
            }
        }
    }

    &--event {
        .tna-card__inner {
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            @include media.on-larger-than-mobile {
                padding: 1rem 2rem 1rem 2.5rem;
            }
        }

        .tna-card__image-container {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
            margin-bottom: 1.375rem;

            @include media.on-larger-than-mobile {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
            }
        }

        .tna-card__heading {
            margin-top: 0;

            @include media.on-larger-than-mobile {
                @include typography.relative-font-size(30);
            }
        }

        .tna-card__heading-link {
            @include colourTools.colour-font("font-dark");
        }

        .tna-card__body {
            @include typography.relative-font-size(16);
            line-height: 1.5;
        }
    }

    &--related {
        .tna-card__heading-link {
            @include colourTools.colour-font("font-dark");
        }
    }
}

// tna-container variant with an offset top - used on what's on landing page
.tna-container {
    &--offset-top {
        @include media.on-larger-than-mobile {
            margin-top: -9rem;
        }
    }

    &--full-width-mobile {
        @include media.on-mobile {
            padding-left: 0;
            padding-right: 0;

            .tna-column {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

// tna-scene-setter modifiers

.tna-scene-setter {
    &--small {
        @include typography.relative-font-size(21);
        font-weight: $font-weight-light;
    }
}

// tna-useful-info component - 'Good to know' information from event page

.tna-useful-info {
    @include colourTools.light-accent-background;
    color: colourTools.brand-colour("black");
    padding: 1.5rem 2rem 2rem 2rem;
}

//

.event-hero {
    .tna-breadcrumbs {
        margin-bottom: 1.5rem;

        @include media.on-larger-than-mobile {
            margin-bottom: 3rem;
            padding-top: 3rem;
        }
    }

    .tna-breadcrumbs__link {
        color: $color--white;
    }

    .tna-heading {
        color: $color--white;
        font-weight: 500;
        margin-top: 0.5rem;
    }
}

// filter refinements

.tna-filters {
    &__item--active #{&}__link {
        @include colour.colour-background("contrast-background");
        color: $color__white;
    }

    &__item--clear-all #{&}__link {
        @include typography.main-font-weight-bold();
        background: transparent;

        &:hover {
            @include colour.colour-font("font-dark");
        }
    }
}
