{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Private Beta is now closed" %}{% endblock %}

{% block content %}

    <div class="generic-intro">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="tna-heading generic-intro__title">
                        {% trans "Private Beta is now closed" %}
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-4">
        <p>{% trans 'Thank you to everyone who took part.' %}</p>
    </div>

{% endblock %}
