{% extends "base.html" %}

{% load i18n account static %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}

    <div class="generic-intro">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="tna-heading generic-intro__title">
                        {% trans "Sign in" %}
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col">
                <form class="tna-form {% if form.errors %}tna-form--error{% endif %}" method="POST"
                      action="{% url 'account_login' %}" id="analytics-sign-in">
                    {% csrf_token %}

                    {% if form.non_field_errors or form.errors %}
                        <div class="tna-form__error-summary" role="alert" id="analytics-error-message">
                            <h2 class="tna-heading">There is a problem</h2>
                            <ul>
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error|escape }}</li>
                                    {% endfor %}
                                {% endif %}
                                {% if form.login.errors %}
                                    {% for error in form.login.errors %}
                                        <li>
                                            <a href="#id_login" id="analytics-login-error">{{ error|escape }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                                {% if form.password.errors %}
                                    {% for error in form.password.errors %}
                                        <li>
                                            <a href="#id_password" id="analytics-password-error">{{ error|escape }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="tna-form__row {% if form.login.errors %}tna-form__row--error{% endif %}">
                        <label for="id_login" id="email_label">Email</label>

                        {% if form.login.errors %}
                            <ul class="tna-form__error-messages" id="email_errors">
                                {% for error in form.login.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <input type="email" name="login" autocomplete="email" aria-required="true"
                               id="id_login" {% if form.login.errors %}aria-invalid="true"
                               aria-describedby="email_label email_errors"{% endif %}>
                    </div>

                    <div class="tna-form__row {% if form.password.errors %}tna-form__row--error{% endif %}">
                        <label for="id_password" id="password_label">Password</label>

                        {% if form.password.errors %}
                            <ul class="tna-form__error-messages" id="password_errors">
                                {% for error in form.password.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <input type="password" name="password" autocomplete="current-password" id="id_password"
                               aria-required="true"
                               {% if form.password.errors %}aria-invalid="true"
                               aria-describedby="password_label password_errors"{% endif %}
                               {% if form.password.errors %}class="error"{% endif %}>
                    </div>

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}

                    <div class="tna-form__row">
                        <input type="submit" class="tna-button" value="{% trans "Sign in" %}">
                    </div>

                    {# <a href="{% url 'account_reset_password' %}">{% trans "Forgotten your password?" %}</a> #}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/sign_in.js' %}"></script>
{% endblock %}
