{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Log out" %}{% endblock %}

{% block content %}

    <div class="generic-intro">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="tna-heading-xl generic-intro__title">
                        {% trans "Sign out" %}
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-4">
        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}" id="analytics-sign-out">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            <div class="tna-form__row">
                <input type="submit" class="tna-button" value="{% trans 'Sign out' %}">
            </div>
        </form>
    </div>

{% endblock %}
