{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup closed" %}{% endblock %}

{% block content %}

    <div class="generic-intro">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="tna-heading-xl generic-intro__title">
                        {% trans "Signup closed" %}
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-4">
        <p>{% trans 'We are sorry. Account signup is currently closed.' %}</p>
    </div>

{% endblock %}
