{% if record.archive_collections.collection_info_list %}
    <div class="archive-collections">
        <h2 class="tna-heading-l">Collections information</h2>
            {% for collection in record.archive_collections.collection_info_list %}
                {% if collection.count > 0 %}
                    <h3 class="tna-heading-m" id="heading-{{collection.name}}">{{ collection.long_display_name }} ({{ collection.count }})</h3>                    
                    <div class="archive-collections__container">
                        <ul class="archive-collections__list">
                            {% for info in collection.info_list %}
                                <li>                                    
                                    {# NOTE: The order is preserved with the condition  #}
                                    {% if collection.name == "paper_catalogue" %}            
                                        {{ info.identifier_title }}
                                        {% if info.url %}
                                            <a href="{{ info.url }}">link to online catalogue</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ info.url }}">{{ info.summary_title }}</a>
                                        {{ info.place }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
    </div>
{% endif %}
