<div class="archive-description">
    <h1>{{ record.title }}</h1>
    <div class="archive-description__contact">
        <h2>Contact information</h2>
        
        <p><b>Address:</b> {{ record.archive_contact_info.address_line1 }}, {{ record.archive_contact_info.address_town }}, {{ record.archive_contact_info.address_country }}. {{ record.archive_contact_info.postcode }}</p>
        
        {% if record.archive_contact_info.telephone %}
            <p><b>Telephone:</b> <a href="tel:{{ record.archive_contact_info.telephone }}">{{ record.archive_contact_info.telephone }}</a></p>
        {% endif %}
        
        {% if record.archive_contact_info.fax %}
            <p><b>Fax:</b> {{ record.archive_contact_info.fax }}</p>
        {% endif %}
        
        {% if record.archive_contact_info.email %}
            <p><b>Email:</b> <a href="mailto:{{ record.archive_contact_info.email }}">{{ record.archive_contact_info.email }}</a></p>
        {% endif %}
        
        {% if record.archive_contact_info.url %}
            <p><b>Website:</b> <a href="{{ record.archive_contact_info.url }}">{{ record.archive_contact_info.url }}</a></p>
        {% endif %}

        {% if record.archive_contact_info.corresp_addr %}
            <p><b>Correspondence address:</b> {{ record.archive_contact_info.corresp_addr }}</p>
        {% endif %}

        {% if record.archive_contact_info.contact_job_title %}
            <p><b>Contact person:</b> {{ record.archive_contact_info.contact_job_title }} {{ record.archive_contact_info.contact_title }} {{ record.archive_contact_info.contact_first_name }} {{ record.archive_contact_info.contact_last_name }}</p>
        {% endif %}
        
        {% if record.archive_further_info.opening_hours %}
            <p><b>Open:</b> {{ record.archive_further_info.opening_hours }}</p>
        {% endif %}
        
        {% if record.archive_further_info.holidays %}
            <p><b>Closed:</b> {{ record.archive_further_info.holidays }}</p>
        {% endif %}
        
        {% if record.archive_further_info.facilities %}
            <ul>
                {% for facility in record.archive_further_info.facilities %}
                    <li>{{ facility }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="archive-description__container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Key information</h2>
                ARCHON code: {{ record.reference_number }}</br>
                {{ record.archive_further_info.comments }}
            </div>
            {% if record.archive_collections.collection_info_list %}
                <div class="col-lg-4">
                    <h2>Summary of collections</h2>                    
                    <ul>
                        {% for collection in record.archive_collections.collection_info_list %}
                            {% if collection.count > 0 %}
                                <li><a href="#heading-{{collection.name}}">{{ collection.display_name }} ({{ collection.count }})</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>
