<div class="archive-description">
    <h1>{{tna_details.name}}</h1>
    <div class="archive-description__contact">
        <h2>Contact information</h2>
        <p><b>Address:</b> {{tna_details.address_line1}}, {{tna_details.address_line2}}, {{tna_details.address_line3}}. {{tna_details.postcode}}<a href="{{tna_details.view_on_map}}">(view on a map)</a></p>
        <p><b>Telephone:</b> <a href="tel:{{tna_details.telephone}}">{{tna_details.telephone}}</a></p>
        <p><b>Email:</b> <a href="#">{{tna_details.email}}</a></p>
        <p><b>Website:</b> <a href="#">{{tna_details.website}}</a></p>
        <p><b>Open:</b> {{tna_details.open_details}}</p>
        <p><b>Closed:</b> {{tna_details.close_details}}</p>
        <ul>
            {% for access_conditon in tna_details.access_conditons_as_list %}
                <li>{{access_conditon}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="archive-description__container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Key information</h2>
                <p>Readers tickets are required for access to original records only. Proof of identity and current address are required to obtain reader tickets. For further details please consult the website.</p>
                <p>If you are an archivist or custodian of this archive you can use the archive update form to add or update the details in Discovery</p>
            </div>
            <div class="col-lg-4">
                <h2>Summary of collections</h2>
                {% comment %} Listings here are in the specific order {% endcomment %}
                <ul>
                    {% if record.archive_collection_business.count > 0 %}
                        <li><a href="">{{record.archive_collection_business.display_name}}({{record.archive_collection_business.count}})</a></li>
                    {% endif %}

                    {% if record.archive_collection_organisation.count > 0 %}
                        <li><a href="">{{record.archive_collection_organisation.display_name}}({{record.archive_collection_organisation.count}})</a></li>
                    {% endif %}

                    {% if record.archive_collection_person.count > 0 %}
                        <li><a href="">{{record.archive_collection_person.display_name}}({{record.archive_collection_person.count}})</a></li>
                    {% endif %}

                    {% if record.archive_collection_diary.count > 0 %}
                        <li><a href="">{{record.archive_collection_diary.display_name}}({{record.archive_collection_diary.count}})</a></li>
                    {% endif %}

                    {% if record.archive_collection_family.count > 0 %}
                        <li><a href="">{{record.archive_collection_family.display_name}}({{record.archive_collection_family.count}})</a></li>
                    {% endif %}

                    {% if record.archive_paper_catalogue.display_name %}
                        <li><a href="">{{record.archive_paper_catalogue.display_name}}({{record.archive_paper_catalogue.count}})</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
