<div class="archive-collections">
    <h2>Collections information</h2>
    {% comment %} Listings here are in the specific order {% endcomment %}

    {% comment %} Businesses {% endcomment %}
    {% if record.archive_collection_business.count > 0 %}
        <h3>{{record.archive_collection_business.display_name}}({{record.archive_collection_business.count}})</h3>

        <div class="archive-collections__container">
            <ul class="archive-collections__list">
                {% for info in record.archive_collection_business.info_list %}
                    <li>
                        <a href="{{info.url}}">{{info.summary_title}}</a>
                        {{info.place}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% comment %} Organisations {% endcomment %}
    {% if record.archive_collection_organisation.count > 0 %}
        <h3>{{record.archive_collection_organisation.display_name}}({{record.archive_collection_organisation.count}})</h3>

        <div class="archive-collections__container">
            <ul class="archive-collections__list">
                {% for info in record.archive_collection_organisation.info_list %}
                    <li>
                        <a href="{{info.url}}">{{info.summary_title}}</a>
                        {{info.place}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% comment %} Persons {% endcomment %}
    {% if record.archive_collection_person.count > 0 %}
        <h3>{{record.archive_collection_person.display_name}}({{record.archive_collection_person.count}})</h3>

        <div class="archive-collections__container">
            <ul class="archive-collections__list">
                {% for info in record.archive_collection_person.info_list %}
                    <li>
                        <a href="{{info.url}}">{{info.summary_title}}</a>
                        {{info.place}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% comment %} Diaries {% endcomment %}
    {% if record.archive_collection_diary.count > 0 %}
        <h3>{{record.archive_collection_diary.display_name}}({{record.archive_collection_diary.count}})</h3>

        <div class="archive-collections__container">
            <ul class="archive-collections__list">
                {% for info in record.archive_collection_diary.info_list %}
                    <li>
                        <a href="{{info.url}}">{{info.summary_title}}</a>
                        {{info.place}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% comment %} Families {% endcomment %}
    {% if record.archive_collection_family.count > 0 %}
        <h3>{{record.archive_collection_family.display_name}}({{record.archive_collection_family.count}})</h3>

        <div class="archive-collections__container">
            <ul class="archive-collections__list">
                {% for info in record.archive_collection_family.info_list %}
                    <li>
                        <a href="{{info.url}}">{{info.summary_title}}</a>
                        {{info.place}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% comment %} Manors {% endcomment %}
    {% if record.archive_collection_manor.count > 0 %}
        <h3>{{record.archive_collection_manor.display_name}}({{record.archive_collection_manor.count}})</h3>

        <div class="archive-collections__container">
            <ul class="archive-collections__list">
                {% for info in record.archive_collection_manor.info_list %}
                    <li>
                        <a href="{{info.url}}">{{info.summary_title}}</a>
                        {{info.place}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% comment %} Paper catalogues {% endcomment %}
    {% if record.archive_paper_catalogue.count > 0 %}
        <h3>{{record.archive_paper_catalogue.long_display_name}}({{record.archive_paper_catalogue.count}})</h3>

        <div class="archive-collections__container">
            <ul class="archive-collections__list">
                {% for info in record.archive_paper_catalogue.info_list %}
                    <li>
                        {{info.identifier_title}}
                        {% if info.url %}
                            <a href="{{info.url}}">link to online catalogue</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
</div>
