{% if record.archive_accessions.accession_years %}
    <div class="archive-additional-resources">
        <h2 class="tna-heading">Accessions</h2>
        <p>These are selected lists of new or additional collections that were acquired by this archive during a specific year. If a date is not displayed there are no accessions for that year.</p>

        <form action="" id="archive" method="GET">
            <label class="archive-additional-resources__label" for="accessionYear">Select a year</label>
            <select class="archive-additional-resources__select" name="accessionYear" onchange="updateAction()" id="accessionYear" required>
                <option value="">--Please choose an option--</option>
                {% for year, url in record.archive_accessions.accession_years.items %}
                    <option value="{{ url }}">{{year}}</option>
                {% endfor %}
            </select>
            <input class="archive-additional-resources__submit" type="submit" value="View" title="View year data">
        </form>
    </div>
{% endif %}

{% if record.archive_repository_url %}
    <div class="archive-additional-resources">
        <h2 class="tna-heading">Other finding aids</h2>
        <ul>
            <li><a href="{{ record.archive_repository_url }}">Repository's catalogue</a></li>
            <li><a href="{{ discovery_browse }}/{{ record.iaid }}">Browse records in Discovery</a></li>
        </ul>
    </div>
{% endif %}

<script type="text/javascript">
    function updateAction() {
        var select = document.getElementById('accessionYear');
        var option = select.options[select.selectedIndex];
        // update action with url value
        document.getElementById('archive').action = option.value;
    }
    updateAction();
</script>