<div class="archive-description">
    <h1>The National Archives</h1>
    <div class="archive-description__contact">
        <h2>Contact information</h2>
        <p><b>Address:</b> Kew, Richmond, England. TW9 4DU <a href="#">(view on a map)</a></p>
        <p><b>Telephone:</b> <a href="tel:00000 000 000">00000 000 000</a></p>
        <p><b>Email:</b> <a href="#">webmaster@nationalarchives.gov.uk</a></p>
        <p><b>Website:</b> <a href="#">www.nationalarchives.gov.uk</a></p>
        <p><b>Open:</b> Wednesday-Friday 9-5 (document retrieval 9-12.45, 2-4.30); 1st Saturday of month 9-4.30 (document retrieval 9-4)</p>
        <p><b>Closed:</b> Bank holidays, Easter Saturday</p>
        <ul>
            <li>Wheelchair access</li>
            <li>Research Service</li>
            <li>Readers ticket required</li>
        </ul>
    </div>

    <div class="archive-description__container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Key information</h2>
                <p>Readers tickets are required for access to original records only. Proof of identity and current address are required to obtain reader tickets. For further details please consult the website.</p>
                <p>If you are an archivist or custodian of this archive you can use the archive update form to add or update the details in Discovery</p>
            </div>
            <div class="col-lg-4">
                <h2>Summary of collections</h2>
                <ul>
                    <li><a href="">Businesses (1123)</a></li>
                    <li><a href="">Organisations (648)</a></li>
                    <li><a href="">Persons (1348)</a></li>
                    <li><a href="">Diaries (1)</a></li>
                    <li><a href="">Families (165)</a></li>
                    <li><a href="">Paper catalogues (27)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
