<div class="hierarchy-local" data-container-name="hierarchy-local">
    <div class="row">
        <div class="col-4 col-md-2">
            <p class="hierarchy-local__nav-item">
                <span class="hierarchy-local__nav-indicator hierarchy-local__nav-indicator--left"></span>
                <span class="hierarchy-local__nav-label" data-link="Previous">Previous</span>
                <a href="#">C 5/139/34</a>
            </p>
        </div>
        <div class="col-4 col-md-8">
            <p class="hierarchy-local__nav-item">
                <span class="hierarchy-local__nav-indicator hierarchy-local__nav-indicator--up"></span>
                <span class="hierarchy-local__nav-label">This record is in</span>
                <a href="#">
                    C 5
                    <span class="hierarchy-local__nav-link" data-link="Series level">Court of Chancery: Six Clerks Office: Pleadings before 1714, Bridges</span>
                </a>
            </p>
        </div>
        <div class="col-4 col-md-2">
            <p class="hierarchy-local__nav-item">
                <span class="hierarchy-local__nav-indicator hierarchy-local__nav-indicator--right"></span>
                <span class="hierarchy-local__nav-label" data-link="Next">Next</span>
                <a href="#">C 5/139/36</a>
            </p>
        </div>
    </div>
</div>