<div class="hierarchy-local" data-container-name="hierarchy-local">
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-2">
                {% if page.previous_record %}
                    <p class="hierarchy-local__nav-item">
                        <span class="hierarchy-local__nav-indicator hierarchy-local__nav-indicator--left"></span>
                        <span class="hierarchy-local__nav-label">Previous</span>
                        <a href="{% url 'details-page-machine-readable' page.previous_record.iaid %}" data-link="Previous" class="link--bold">{{ page.previous_record.iaid }}</a>
                    </p>
                {% endif %}
            </div>
            <div class="col-4 col-md-8">
                <p class="hierarchy-local__nav-item">
                    <span class="hierarchy-local__nav-indicator hierarchy-local__nav-indicator--up"></span>
                    <span class="hierarchy-local__nav-label">This record is in</span>
                    {% if page.parent.reference_number %}
                    <span class="hierarchy-local__nav-link-span">
                        <a href="{% url 'details-page-human-readable' page.parent.reference_number %}" data-link="Series level" class="link--bold">
                            {{ page.parent.title }}
                        </a>
                    </span>
                    {% elif page.parent.iaid %}
                    <span class="hierarchy-local__nav-link-span">
                        <a href="{% url 'details-page-machine-readable' page.parent.iaid %}" data-link="Series level" class="link--bold">
                            {{ page.parent.title }}
                        </a>
                    </span>
                    {% endif %}
                </p>
            </div>
            <div class="col-4 col-md-2">
                {% if page.next_record %}
                    <p class="hierarchy-local__nav-item">
                        <span class="hierarchy-local__nav-indicator hierarchy-local__nav-indicator--right"></span>
                        <span class="hierarchy-local__nav-label">Next</span>
                        <a href="{% url 'details-page-machine-readable' page.next_record.iaid %}" data-link="Next" class="link--bold">{{ page.next_record.iaid }}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
