{% load records_tags %}

<!--
    TODO This is using the forloop for the CSS level, due to missing API data. If the API data is added by K-Int,
    the forloop.counter will need to be changed to item.level_code. If it's done currently, it will give styling issues.

    TODO "N" will need to be replaced with API data for the count of records inside this level.

    TODO "UNAVAILABLE" will need to be removed when API data is added. Currently some level codes are missing on some
    record levels. e.g. C11541262.
-->

{% if item.level_code %}
    {% level_name item.level_code as hierarchy_level %}
{% endif %}

<div class="hierarchy-full-panel__bar-container-outer">
    <div class="hierarchy-full-panel__bar-container-inner {% if is_current_item %} hierarchy-full-panel__bar-container-inner--active {% endif %} hierarchy-full-panel__bar-container-inner--level-{{forloop.counter|add:'1'}}">
        <p><span class="hierarchy-full-panel__bar-number">N</span>
        <span class="hierarchy-full-panel__bar-label">record(s)</span></p>
    </div>
    <div class="hierarchy-full-panel__text-container">
        <p class="hierarchy-full-panel__text-level">{% if is_current_item %}You are currently looking at{% else %}Within{% endif %} the {% if hierarchy_level %}{{ hierarchy_level|lower }}{% else %}UNAVAILABLE{% endif %}: <a href="{% record_url item %}" data-link-type="Link" data-link="{{ item.reference_number }}" data-catalogue-level="{{ item.level_code }}" data-component-name="Hierarchy links">{{ item.reference_number }}</a></p>
        <p class="hierarchy-full-panel__text-title">{{item.summary_title}}</p>
    </div>
</div>
