{% load records_tags %}

<div class="hierarchy" data-container-name="hierarchy-global">
    <div class="hierarchy__container">

        <!-- SHORT HIERARCHY VIEW -->
        <nav class="hierarchy-short-panel" role="navigation">
            <h2 class="hierarchy-short-panel__heading sr-only">Catalogue location at a glance</h2>
            <p class="hierarchy-short-panel__label">You are here:</p>

            <ul class="hierarchy-short-panel__list">
                {% if page.hierarchy %}
                    {% if page.hierarchy|length <= 2 %}
                        <li class="hierarchy-short-panel__list-item">
                            <span class="hierarchy-short-panel__level">
                                <a href="#">Archive</a>
                            </span>({{ page.template.heldBy }})
                        </li>
                    {% endif %}
                    
                    {% for item in page.hierarchy %}
                        {% is_page_current_item_in_hierarchy page item as is_current_item %}

                        {% if forloop.counter == 1 and not is_current_item %}
                            {% if page.hierarchy|length == 3 %}
                                <li class="hierarchy-short-panel__list-item hierarchy-short-panel__list-item--more">
                                    <span class="hierarchy-short-panel__level">
                                        <a href="{% record_url item%}">Department</a>
                                    </span>({{ item.reference_number }})
                                </li>
                            {% elif page.hierarchy|length == 2 %}
                                <li class="hierarchy-short-panel__list-item">
                                    <span class="hierarchy-short-panel__level">
                                        <a href="{% record_url item%}">Department</a>
                                    </span>({{ item.reference_number }})
                                </li>
                            {% endif %}

                        {% elif forloop.counter == 2 and not is_current_item %}
                            {% if page.hierarchy|length > 3 %}
                                <li class="hierarchy-short-panel__list-item hierarchy-short-panel__list-item--more">
                                    <span class="hierarchy-short-panel__level">
                                        <a class="hierarchy-short-panel__link" href="{% record_url item %}">Series</a>
                                    </span>({{ item.reference_number }})
                                </li>
                            {% else %}
                                <li class="hierarchy-short-panel__list-item">
                                    <span class="hierarchy-short-panel__level">
                                        <a class="hierarchy-short-panel__link" href="{% record_url item %}">Series</a>
                                    </span>({{ item.reference_number }})
                                </li>
                            {%endif%}

                        {% elif forloop.counter == 3 and not is_current_item %}
                            <li class="hierarchy-short-panel__list-item">
                                <span class="hierarchy-short-panel__level">
                                    <a class="hierarchy-short-panel__link" href="{% record_url item %}">Piece</a>
                                </span>({{ item.reference_number }})
                            </li>

                        {% elif is_current_item %}
                            <li class="hierarchy-short-panel__list-item hierarchy--short-panel__list-item--current">
                                <span class="hierarchy-short-panel__level">This {{ page.level|lower }}</span>({{ item.reference_number }})
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li class="hierarchy-short-panel__list-item">
                        <span class="hierarchy-short-panel__level">
                            <a href="#">Archive</a>
                        </span>({{ page.template.heldBy }})
                    </li>
                    <li class="hierarchy-short-panel__list-item hierarchy--short-panel__list-item--current">
                        <span class="hierarchy-short-panel__level">This department</span>({{ page.reference_number }})
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="hierarchy-short-panel__toggle-link" data-id="hierarchy-toggle-link"></div>
        <nav class="hierarchy-full-panel" data-id="hierarchy-detailed-view">
            <h2 class="hierarchy-full-panel__heading">Detailed catalogue location:</h2>

            <div class="hierarchy-full-panel__bar-container-outer">
                <div class="hierarchy-full-panel__bar-container-inner hierarchy-full-panel__bar-container-inner--level-1">
                    <p><span class="hierarchy-full-panel__bar-number">N</span>
                    <span class="hierarchy-full-panel__bar-label">records</span></p>
                </div>
                <div class="hierarchy-full-panel__text-container">
                    <p class="hierarchy-full-panel__text-level">This record is held at: <a href="">{{page.template.heldBy}}</a></p>
                    <p class="hierarchy-full-panel__text-title">Located at DATA TO GO HERE</p> <!-- TODO: K-int to add more API data, and then this will need to be extracted from the API response -->
                </div>
            </div>
            {% if page.hierarchy %}
                {% for item in page.hierarchy %}
                    {% is_page_current_item_in_hierarchy page item as is_current_item %}

                    {% include "includes/records/hierarchy-item.html" %}
                {%endfor%}
            {% else %}
                <div class="hierarchy-full-panel__bar-container-outer">
                    <div class="hierarchy-full-panel__bar-container-inner hierarchy-full-panel__bar-container-inner--active hierarchy-full-panel__bar-container-inner--level-2">
                        <p><span class="hierarchy-full-panel__bar-number">N</span>
                    <span class="hierarchy-full-panel__bar-label">records</span></p>
                    </div>
                    <div class="hierarchy-full-panel__text-container">
                        <p class="hierarchy-full-panel__text-level">You are currently looking at the department: <a href="{% record_url page %}">{{page.reference_number}}</a></p>
                        <p class="hierarchy-full-panel__text-title">{{page.title}}</p>
                    </div>
                </div>
            {%endif%}

        <!-- PREVIOUS/CURRENT/NEXT NAVIGATION -->
        {% if page.previous_record or page.next_record %}
            <div class="hierarchy-local-nav" role="navigation" aria-label="Next and previous records">

                <div class="hierarchy-local-nav__container hierarchy-local-nav__container--previous">
                    {% if page.previous_record %}
                        {% if page.previous_record.has_reference_number %}
                            <p class="hierarchy-local-nav__list-label hierarchy-local-nav__list-label--left">{{ 'previous_record'|as_label }} in series <a href="{% record_url page.previous_record %}" class="hierarchy-local-nav__list-link" data-link="Previous" rel="prev">{{ page.previous_record.reference_number }}</a></p>
                        {% elif page.is_tna %}
                                {{ 'previous_record'|as_label }} {{ page.level.lower|default:"record" }}
                        {% else %}
                                {{ 'previous_record'|as_label }} record
                        {% endif %}
                    {% endif %}
                </div>

                <div class="hierarchy-local-nav__container hierarchy-local-nav__container--current">
                    <p class="hierarchy-local-nav__list-label">You are looking at <span class="hierarchy-local-nav__list-link" rel="current" aria-current="page">{{ page.reference_number }}</span></p>
                </div>

                <div class="hierarchy-local-nav__container hierarchy-local-nav__container--next">
                    {% if page.next_record %}
                        {% if page.next_record.has_reference_number %}
                            <p class="hierarchy-local-nav__list-label hierarchy-local-nav__list-label--right">{{ 'next_record'|as_label }} in series <a href="{% record_url page.next_record %}" class="hierarchy-local-nav__list-link" data-link="Next" rel="next">{{ page.next_record.reference_number }}</a></p>
                            {% elif page.is_tna %}
                                {{ 'next_record'|as_label }} {{ page.level.lower|default:"record" }}
                            {% else %}
                                {{ 'next_record'|as_label }} record
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        </nav>
    </div>
</nav>
