{% load records_tags %}

{% if item.level_code %}
    {% level_name item.level_code as hierarchy_level %}
{% endif %}

<div class="hierarchy-full-panel__bar-container-outer">
    <div class="hierarchy-full-panel__bar-container-inner {% if is_current_item %} hierarchy-full-panel__bar-container-inner--active {% endif %} hierarchy-full-panel__bar-container-inner--level-{{forloop.counter|add:'1'}}"></div>
    <div class="hierarchy-full-panel__text-container">
        <p class="hierarchy-full-panel__text-level">{% if is_current_item %}You are currently looking at{% else %}Within{% endif %} the {% if hierarchy_level %}{{ hierarchy_level|lower }}{% else %}UNAVAILABLE{% endif %}: <a href="{% record_url item %}" data-link-type="Link" data-link="{{ item.reference_number }}" data-catalogue-level="{{ item.level_code }}" data-component-name="Hierarchy links">{{ item.reference_number }}</a></p>
        <p class="hierarchy-full-panel__text-title">{{item.summary_title}}</p>
    </div>
</div>
