{% load records_tags %}

{% if item.level_code %}
    {% level_name item.level_code record.is_tna as hierarchy_level %}
{% endif %}

<li class="hierarchy-short-panel__list-item {% if trail_off %}hierarchy-short-panel__list-item--more{% endif %}">
    <span class="hierarchy-short-panel__level">
        <a href="{% record_url item%}" data-link-type="Link" data-link="{{ hierarchy_level }}" data-catalogue-level="{{ item.level_code }}" data-component-name="Hierarchy links">{% if hierarchy_level %}{{ hierarchy_level }}{% else %}UNAVAILABLE{% endif %}</a>
    </span>({{ item.reference_number }})
</li>