{% load records_tags %}

<div class="hierarchy" data-container-name="hierarchy-global" {% if record.is_tna %}id="tna-record"{% else %}id="non-tna-record"{% endif %}>
    {% include "includes/icon.html" with name="diagram-hierarchy" classname="hierarchy__icon" %}
    
    <div class="hierarchy__container">

        <!-- SHORT HIERARCHY VIEW -->
        <nav class="hierarchy-short-panel" role="navigation" aria-labelledby="short-hierarchy-title">
            <h2 class="hierarchy-short-panel__heading sr-only" id="short-hierarchy-title">Catalogue location at a glance</h2>
            <p class="hierarchy-short-panel__label">You are here:</p>

            <ul class="hierarchy-short-panel__list">
                {% if record.hierarchy %}
                    {% breadcrumb_items record.hierarchy record.is_tna record as breadcrumbs %}

                    
                    {% if breadcrumbs|length <= 2 %}
                        <li class="hierarchy-short-panel__list-item">
                            <span class="hierarchy-short-panel__level">
                                <a href="{% record_url record.repository %}" data-link-type="Link" data-link="Archive" data-catalogue-level="0" data-component-name="Hierarchy links">Archive</a>
                            </span>({{ record.template.heldBy|truncatechars:27 }})
                        </li>
                    {% endif %}
                    
                    {% for item in breadcrumbs %}
                        {% is_page_current_item_in_hierarchy record item as is_current_item %}
                        {% if forloop.counter == 1 and not is_current_item %}
                            {% if breadcrumbs|length == 3 %}
                                {% with trail_off=True %}
                                    {% include "includes/records/hierarchy-short-item.html" %}
                                {% endwith %}
                            {% elif breadcrumbs|length == 2 %}
                                {% include "includes/records/hierarchy-short-item.html" %}
                            {% endif %}

                        {% elif not is_current_item %}
                            {% include "includes/records/hierarchy-short-item.html" %}

                        {% elif is_current_item %}
                            {% if item.level_code %}
                                {% level_name item.level_code record.is_tna as hierarchy_level %}
                            {% endif %}
                            <li class="hierarchy-short-panel__list-item hierarchy--short-panel__list-item--current">
                                <span class="hierarchy-short-panel__level">This {{ hierarchy_level|lower }}</span>({{ item.reference_number|truncatechars:27 }})
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li class="hierarchy-short-panel__list-item">
                        <span class="hierarchy-short-panel__level">
                            <a href="{% record_url record.repository %}">Archive</a>
                        </span>({{ record.template.heldBy|truncatechars:27 }})
                    </li>
                    {% if record.level_code %}
                        {% level_name record.level_code record.is_tna as hierarchy_level %}
                    {% endif %}
                    <li class="hierarchy-short-panel__list-item hierarchy--short-panel__list-item--current">
                        <span class="hierarchy-short-panel__level">This {{ hierarchy_level|lower }}</span>({{ record.reference_number|truncatechars:27 }})
                    </li>
                    
                {% endif %}
            </ul>

        </nav>

        <div class="hierarchy-short-panel__toggle-link" data-id="hierarchy-toggle-link"></div>

        <!-- DETAILED HIERARCHY VIEW -->
        <nav class="hierarchy-full-panel" role="navigation" data-id="hierarchy-detailed-view" aria-labelledby="detailed-hierarchy-title">
            <h2 class="hierarchy-full-panel__heading" id="detailed-hierarchy-title">Detailed catalogue location:</h2>

            <!-- Level 1 -->
            <div class="hierarchy-full-panel__bar-container-outer">
                <div class="hierarchy-full-panel__bar-container-inner"></div>
                <div class="hierarchy-full-panel__text-container">
                    <p class="hierarchy-full-panel__text-level">This record is held at: <a href="{% record_url record.repository %}" data-link-type="Link" data-link="{{record.template.heldBy}}" data-catalogue-level="0" data-component-name="Hierarchy links">{{record.template.heldBy|truncatechars:47}}</a></p>
                    <p class="hierarchy-full-panel__text-title">Located at DATA TO GO HERE</p> <!--TODO API data needs to contain the location of the archive as well-->
                </div>
            </div>
            {% if record.hierarchy %}
                {% for item in record.hierarchy %}
                    {% is_page_current_item_in_hierarchy record item as is_current_item %}

                    {% include "includes/records/hierarchy-full-item.html" %}
                {%endfor%}
            {% else %}
                <div class="hierarchy-full-panel__bar-container-outer">
                    <div class="hierarchy-full-panel__bar-container-inner hierarchy-full-panel__bar-container-inner--active"></div>
                    <div class="hierarchy-full-panel__text-container">
                        {% if record.level_code %}
                            {% level_name record.level_code record.is_tna as hierarchy_level %}
                        {% endif %}
                        <p class="hierarchy-full-panel__text-level">You are currently looking at the {{ hierarchy_level|lower }}: <a href="{% record_url record %}" data-link-type="Link" data-link="{{record.reference_number}}" data-catalogue-level="1" data-component-name="Hierarchy links">{{record.reference_number|truncatechars:22}}</a></p>
                        <p class="hierarchy-full-panel__text-title">{{record.summary_title}}</p>
                    </div>
                </div>
            {%endif%}

        <!-- PREVIOUS/CURRENT/NEXT NAVIGATION -->
        {% if record.previous_record or record.next_record %}
            <nav class="hierarchy-local-nav" role="navigation" aria-label="Next and previous records">
                <!-- Previous item in series -->
                <div class="hierarchy-local-nav__container hierarchy-local-nav__container--previous">
                    {% if record.previous_record %}
                        {% if record.previous_record.reference_number %}
                            <p class="hierarchy-local-nav__list-label hierarchy-local-nav__list-label--left">{{ 'previous_record'|as_label }} in series <a href="{% record_url record.previous_record %}" class="hierarchy-local-nav__list-link" data-link-type="Link" data-link="Previous in series" data-component-name="Catalogue pagination" rel="prev">{{ record.previous_record.reference_number|truncatechars:22 }}</a></p>
                        {% elif record.is_tna %}
                            {{ 'previous_record'|as_label }} {{ record.level.lower|default:"record" }}
                        {% else %}
                            {{ 'previous_record'|as_label }} record
                        {% endif %}
                    {% endif %}
                </div>

                <!-- Current item in series -->
                <div class="hierarchy-local-nav__container hierarchy-local-nav__container--current">
                    <p class="hierarchy-local-nav__list-label">You are looking at <span class="hierarchy-local-nav__list-link" rel="current" aria-current="page">{{ record.reference_number|truncatechars:22 }}</span></p>
                </div>

                <!-- Next item in series -->
                <div class="hierarchy-local-nav__container hierarchy-local-nav__container--next">
                    {% if record.next_record %}
                        {% if record.next_record.reference_number %}
                            <p class="hierarchy-local-nav__list-label hierarchy-local-nav__list-label--right">{{ 'next_record'|as_label }} in series <a href="{% record_url record.next_record %}" class="hierarchy-local-nav__list-link" data-link-type="Link" data-link="Next in series" data-component-name="Catalogue pagination" rel="next">{{ record.next_record.reference_number|truncatechars:22 }}</a></p>
                            {% elif record.is_tna %}
                                {{ 'next_record'|as_label }} {{ record.level.lower|default:"record" }}
                            {% else %}
                                {{ 'next_record'|as_label }} record
                        {% endif %}
                    {% endif %}
                </div>
            </nav>
        {% endif %}
        </nav>
    </div>
</div>
