{% load records_tags %}

<nav class="hierarchy-global" data-container-name="hierarchy-global" id="analytics-hierarchy-global">

    <details id="js-hierarchy-global" open>
        <summary id="analytics-hierarchy-link">
            <h2 class="hierarchy-global__heading" id="hierarchy-label">{{ 'hierarchy'|as_label }}</h2>
        </summary>

        <ol class="hierarchy-global__list" aria-labelledby="hierarchy-label">
            {% for item in page.hierarchy %}
                {% is_page_current_item_in_hierarchy page item as is_current_item %}
                {% if is_current_item %}
                    <li class="hierarchy-global__list-item hierarchy-global__list-item--current-item">
                        <span class="hierarchy-global__location">You are here:</span>
                        <span class="hierarchy-global__reference hierarchy-global__reference--white">{{ item.reference_number }}</span> {{ item.title }}
                    </li>
                {% else %}
                    <li class="hierarchy-global__list-item">
                        <span class="hierarchy-global__reference">{{ item.reference_number }}</span>
                        <a href="{% record_url item %}"  data-link="{{ forloop.counter0 }}: {{ item.reference_number }}" class="link--bold">
                            {{ item.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </details>
</nav>
