<div class="image-viewer-panel" data-container-name="image-viewer-panel" id="analytics-image-viewer-panel">
    <div class="container">
        <figure>
            <a class="image-viewer-panel__image-link" href="{% comment %} {% url 'image-browse' iaid=page.iaid %} {% endcomment %}">
                <span class="sr-only">Open in our image viewer</span>
                <img src="{% comment %} {% url 'image-serve' location=image.location %} {% endcomment %}" alt="">
            </a>
            <figcaption>
                <a class="image-viewer-panel__text-link" href="{% comment %} {% url 'image-browse' iaid=page.iaid %} {% endcomment %}" title="#">Open in our image viewer</a>
            </figcaption>
        </figure>
    </div>
</div>
