<div class="image-viewer-panel" data-container-name="image-viewer-panel" id="analytics-image-viewer-panel">
    <div class="container">
        <figure>
            <a class="image-viewer-panel__image-link" href="{% url 'image-browse' metadataId=page.metadataId %}">
                <span class="sr-only">Open in our image viewer</span>
                <img src="{% url 'image-serve' location=image.location %}" alt="">
            </a>
            <figcaption>
                <a class="image-viewer-panel__text-link" href="{% url 'image-browse' metadataId=page.metadataId %}" title="#">Open in our image viewer</a>
            </figcaption>
        </figure>
    </div>
</div>
