<div class="key-facts" data-container-name="key-facts" id="analytics-key-facts">
    <ul class="key-facts__list">
        {% if page.origination_date %}
            <li><span>Date created:</span><b>{{ page.origination_date }}</b></li>
        {% endif %}
        {% if page.created_by %}
            <li><span>Record created by:</span><b>{{ page.created_by }}</b></li>
        {% endif %}
        {% if page.held_by %}
            <li><span>Record now held at:</span><b>{{ page.held_by }}</b></li>
        {% endif %}
    </ul>
    <p class="key-facts__link"><a href="#record-details-heading" data-link="See the full description and record details">See the full description and record details</a></p>
</div>
