<div class="key-facts">
    <ul class="key-facts__list">
        {% if page.date_start %}
            <li><span>Date created:</span><b>{{ page.date_start }}</b></li>
        {% endif %}
        {% if page.created_by %}
            <li><span>Record created by:</span><b>{{ page.created_by }}</b></li>
        {% endif %}
        {% if page.held_by %}
            <li><span>Record now held at:</span><b>{{ page.held_by }}</b></li>
        {% endif %}
    </ul>
    <p class="key-facts__link"><a href="#">See the full description</a></p>
</div>
