<div class="record-creator-collections">
    <h2>Summary of collections</h2>
    <div class="record-creator-collections__table-container">
        <table class="record-creator-collections__table">
            <thead>
                <tr>
                    <th scope="col"><span class="sr-only">Number</span></th>
                    <th scope="col">Description</th>
                    <th scope="col">Held by</th>
                    <th scope="col">Reference</th>
                    <th scope="col">Further information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <a href="#"></a>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
