{% load records_tags %}

<div class="tna-container">
    <div class="tna-column tna-column--full">
        <div class="cta-primary-panel">
            <a class="cta-primary-panel__link" href="{{ back_to_search_url }}" data-link-type="Link" data-link="Back to search results" data-component-name="Navigation">{% include "includes/icon.html" with name="chevron-left" classname="cta-primary-panel__link-icon" %}Back to search results</a>
            <a class="cta-primary-panel__link" href="{% url 'search' %}" data-link-type="Link" data-link="Start a new search" data-component-name="Navigation">{% include "includes/icon.html" with name="search" classname="cta-primary-panel__link-icon" %}Start a new search</a>
        </div>
    </div>
</div>
