{% comment %}

Output availability text depending on the delivery condition returned by Client API.

This content should almost certainly be moved into snippets at a later phase,
with options for the available CTAs for each condition.

For now, all options belong in a single template, with a debug fallback to
prompt the viewer of that the availability option hasn't yet been added to
this template

{% endcomment %}

<div class="record-access" data-container-name="record-access" id="analytics-record-access">
    {% if page.availability_delivery_condition == 'TooLargeToCopyOriginal' %}

        <h3 class="tna-heading">Ordering and viewing options</h3>
        <p>This record has not been digitised and cannot be downloaded.</p>
        <details>
            <summary data-link="Further information">Further information</summary>
            <p>This document is either too large or of a condition or media type that means that our record copying services are unable to provide a copy.</p>
            <p>Our Image Library may be able to provide you with a specialist quote.</p>
            <p>You can order records in advance to be ready for you when you visit Kew. You will need a reader's ticket to do this.</p>
        </details>
        <ul class="record-access__list">
            <li><a class="record-access__button" href="https://www.nationalarchives.gov.uk/book-a-reading-room-visit/" data-link="Book a visit to see it (free)">Book a visit to see it <span>(free)</span></a></li>
        </ul>

    {% elif page.availability_delivery_condition == 'OrderOriginal' %}

        <h3 class="tna-heading">Ordering and viewing options</h3>
        <p>This record has not been digitised and cannot be downloaded.</p>
        <details>
            <summary data-link="Further information">Further information</summary>
            <p>You can order records in advance to be ready for you when you visit Kew. You will need a reader's ticket to do this. Or, you can request a quotation for a copy to be sent to you.</p>
        </details>
        <ul class="record-access__list">
            <li><a class="record-access__button" href="https://www.nationalarchives.gov.uk/book-a-reading-room-visit/" data-link="Book a visit to see it (free)">Book a visit to see it <span>(free)</span></a></li>
            <li><a class="record-access__button" href="https://discovery.nationalarchives.gov.uk/pagecheck/start/{{ page.iaid }}" data-link="Request a copy">Request a copy</a></li>
        </ul>

    {% elif page.availability_delivery_condition == 'InvigilationSafeRoom' %}

        <h3 class="tna-heading">Ordering and viewing options</h3>
        <p>This record can only be seen under supervision at The National Archives</p>
        <p>Request a quotation for a copy to be digitised or printed and sent to you.  </p>

        <ul class="record-access__list">
            <li><a class="record-access__button" href="https://discovery.nationalarchives.gov.uk/pagecheck/start/{{ page.iaid }}" data-link="Copy this record">Copy this record</a></li>
        </ul>

    {% elif page.availability_delivery_condition == 'Surrogate' %}

        <h3 class="tna-heading">Ordering and viewing options</h3>
        <p>This record has not been digitised and cannot be downloaded.</p>
        <p>Request a quotation for a copy to be digitised and sent to you.</p>

        <ul class="record-access__list">
            <li><a class="record-access__button" href="https://discovery.nationalarchives.gov.uk/pagecheck/start/{{ page.iaid }}" data-link="Order a copy">Order a copy</a></li>
        </ul>

    {% elif page.availability_delivery_condition == 'DigitizedDiscovery' %}

        <h3 class="tna-heading">Ordering and viewing options</h3>
        <p>Free</p>
        <p>Download format PDF</p>
        <p>Approximate size 16 MB</p>
        <ul class="record-access__list">
            <li><a class="record-access__button" href="https://discovery.nationalarchives.gov.uk/details/addtobasket/{{ page.iaid }}" data-link="Add to basket">Add <span class="sr-only">{{ page.title }}</span> to basket</a></li>
        </ul>

    {% elif page.availability_delivery_condition == 'UnAvailable' %}

        <h3 class="tna-heading">This record is not available to order. More information may be available in the catalogue description.</h3>

    {% elif page.availability_delivery_condition == 'Offsite' %}

        <h3 class="tna-heading">Ordering and viewing options</h3>
        <p>This record has not been digitised and cannot be downloaded.</p>

        <details>
            <summary data-link="Further information">Further information</summary>
             <p>This record is stored off site and will take three working days to be delivered to The National Archives.</p>
             <p>You can order records in advance to be ready for you when you visit Kew. You will need a reader's ticket to do this. Or, you can request a quotation for a copy to be sent to you."</p>
        </details>
        <ul class="record-access__list">
            <li><a class="record-access__button" href="https://www.nationalarchives.gov.uk/book-a-reading-room-visit/" data-link="Book a visit to see it (free)">Book a visit to see it <span>(free)</span></a></li>
            <li><a class="record-access__button" href="https://discovery.nationalarchives.gov.uk/pagecheck/start/{{ page.iaid }}" data-link="Order a copy">Order a copy</a></li>
        </ul>

    {% elif page.availability_delivery_condition == 'DigitizedAvailableButNotDownloadableAtPieceLevel' %}

        <h3 class="tna-heading">Ordering and viewing options</h3>
        <p>This record has been digitised as part of multiple records</p>
        <p>You can browse for these records.</p>
        <ul class="record-access__list">
            <li><a class="record-access__button" href="https://discovery.nationalarchives.gov.uk/browse/r/h/{{ page.iaid }}" data-link="Go to browse">Go to browse</a></li>
        </ul>

    {% elif page.availability_delivery_condition == 'CollectionCare' %}

        <h3 class="tna-heading">This record requires supervised handling in Collection Care</h3>
        <p>The National Archives is closed until further notice due to the Covid-19 pandemic. For updated information <a href="https://www.nationalarchives.gov.uk/about/news/coronavirus-update/">read our news story</a>.</p>
        <p>Please expect further delays once normal operations have resumed.</p>

    {% else %}

        <h3 class="tna-heading"> Ordering and viewing options currently unavailable</h3>

    {% endif %}
</div>
