{% load records_tags %}

<div class="record-details">
    <table class="record-details__table">
        <tbody>
            {% if page.reference_number %}
                <tr>
                    <th scope="row">{{ 'reference_number'|as_label }}</th>
                    <td id="analytics-record-reference">{{ page.reference_number }}</td>
                </tr>
            {% endif %}
            {% if page.date_created %}
                <tr>
                    <th scope="row">{{ 'date_created'|as_label }}</th>
                    <td>{{ page.date_created }}</td>
                </tr>
            {% endif %}
            {% if page.description %}
                <tr>
                    <th scope="row">{{ 'description'|as_label }}</th>
                    <td class="xslt_patches">{{ page.description|safe }}</td>
                </tr>
            {% endif %}
            {% if page.related_materials %}
                <tr>
                    <th scope="row">{{ 'related_materials'|as_label }}</th>
                    <td>
                        {% for related_material in page.related_materials %}
                            {% if related_material.description %}
                                <p>{{related_material.description}}</p>
                            {% endif %}
                            {% if related_material.links %}
                                <ul>
                                    {% for link in related_material.links %}
                                        <li><a href="{% record_url link %}">{{ link.text }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if page.held_by %}
                <tr>
                    <th scope="row">{{ 'held_by'|as_label }}</th>
                    <td>{{ page.held_by }}</td>
                </tr>
            {% endif %}
            {% if page.legal_status %}
                <tr>
                    <th scope="row">{{ 'legal_status'|as_label }}</th>
                    <td>{{ page.legal_status }}</td>
                </tr>
            {% endif %}
            {% if page.closure_status %}
                <tr>
                    <th scope="row">{{ 'closure_status'|as_label }}</th>
                    <td>{{ page.closure_status }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
