{% load records_tags %}

<div class="crosslink-panel">
    <h2>How to order/download this record</h2>
    <ol>
        <li>View this record page in Discovery – our catalogue</li>
        <li>Check viewing options</li>
        <li>Select an option and follow instructions</li>
    </ol>
    <p>Note: Not all documents are available and options will vary.</p>
    <a class="crosslink-panel__link" target="_blank" href="{% record_url record order_from_discovery=True %}" data-link-type="Link" data-link="View this record page in Discovery" data-component-name="Access record">View this record page in Discovery <span class="sr-only">(link opens in a new window)</span></a>
</div>
