{% load records_tags %}

<div class="details-related-records">
    <p>You might be interested in these records in our archives as they may have meaningful or useful associations with this one.</p>
    <ul class="details-related-records__list" id=“analytics-related-records”>
        {# limit output to three related records #}
        {% for record in record.related_records|slice:":3" %}
            <li>
                <a href="{% record_url record %}" data-link="{{ record.title }}">{{ record.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
