{% load records_tags %}
<div class="details-related-content">
    <p>You might be interested in some of our other sources of information that are about this record or subject area.</p>
    <ul class="details-related-content__list" id=“analytics-related-content”>
        {# limit output to three related articles #}
        {% for article in record.related_articles|slice:":3"  %}
            <li>
                <a href="{% record_url article %}" data-link="{{ article.title }}" class="link--bold">{{ article.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
