{% load records_tags %}

<div class="series-panel">
    {% include "includes/icon.html" with name="diagram-folder" classname="series-panel__icon" %}
    <div class="series-panel__container">
        <h3 class="tna-heading series-panel__heading"><span class="series-panel__reference">{{record.hierarchy.1.reference_number}}</span>{{record.hierarchy.1.summary_title}}</h3>
        <p>See the series level description for more information about this record.</p>
        <a class="series-panel__link" href="{% record_url record.hierarchy.1 %}" data-link-type="Link" data-link="View series description" data-component-name="Series link">View series description</a>
    </div>
</div>