<div class="record-access">
    <h3>This record is not available to view online</h3>
    <p>You can order records in advance to be ready for you when you visit Kew. You will need a reader's ticket to do this. Or, you can request a quotation for a copy to be sent to you.</p>

    <details>
        <summary>Further information</summary>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere mi felis, eu interdum lacus sodales sed. Vivamus pharetra blandit fringilla. Mauris nec eros massa. Nam quis neque vel velit tincidunt laoreet sit amet ac leo. Curabitur et pellentesque urna. Sed ullamcorper dolor in condimentum elementum. Quisque finibus justo nec felis dapibus volutpat. Nulla nec ornare mauris. Donec rhoncus feugiat quam, nec elementum magna pulvinar id.</p>
        <p>Etiam vitae eleifend orci. Nullam feugiat libero lacus, et tempor neque cursus vel. Aenean mattis molestie turpis at egestas. Aenean iaculis sapien placerat est porttitor molestie. Quisque maximus eu turpis ultricies eleifend. Phasellus porta ex id justo viverra, porta congue tortor tempus. Quisque lacinia urna sapien, quis sagittis mi faucibus eget. Phasellus at orci in lectus maximus ultrices. Donec venenatis eu urna vel facilisis. Ut mi lectus, sagittis quis ligula a, porttitor sollicitudin risus. Curabitur dapibus bibendum lorem, ac rhoncus lectus accumsan id. Phasellus finibus neque id sapien finibus, eget pellentesque tellus commodo. Suspendisse scelerisque id diam id lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras dictum volutpat lobortis.</p>
    </details>

    <ul class="record-access__list">
        <li><a class="record-access__button" href="#">Book a visit to see it <span>(free)</span></a></li>
        <li><a class="record-access__button" href="#">Order a paper copy for delivery <span>(£8)</span></a></li>
    </ul>
</div>
