{% load records_tags %}

{% if record.reference_number %}
    <tr>
        <th scope="row">{{ 'reference_number'|as_label }}</th>
        <td id="analytics-record-reference">{{ record.reference_number }}</td>
    </tr>
{% endif %}

{% if record.title %}
    <tr>
        <th scope="row">{{ 'title'|as_label }}</th>
        <td id="analytics-record-reference">{{ record.title }}</td>
    </tr>
{% endif %}

{% if record.date_created %}
    <tr>
        <th scope="row">{{ 'date_created'|as_label }}</th>
        <td>{{ record.date_created }}</td>
    </tr>
{% endif %}

{% if record.description %}
    <tr>
        <th scope="row">{{ 'description'|as_label }}</th>
        <td class="xslt_patches">{{ record.description }}</td>
    </tr>
{% endif %}

{% if record.note %}
    <tr>
        <th scope="row">{{ 'note'|as_label }}</th>
        <td>
            {{ record.note }}
        </td>
    </tr>
{% endif %} 

{% if record.arrangement %}
    <tr>
        <th scope="row">{{ 'arrangement'|as_label }}</th>
        <td>{{ record.arrangement }}</td>
    </tr>
{% endif %}

{% if record.related_materials %}
    <tr>
        <th scope="row">{{ 'related_materials'|as_label }}</th>
        <td>
            {% for related_material in record.related_materials %}
                {% if related_material.description %}
                    <p>{{related_material.description}}
                    {% if related_material.links %}
                        {% for link in related_material.links %}
                            <a href="{{ link.href }}">{{ link.text }}</a>
                        {% endfor %}
                    {% endif %}
                    </p>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
{% endif %}

{% if record.separated_materials %}
    <tr>
        <th scope="row">{{ 'separated_materials'|as_label }}</th>
        <td>
            {% if record.separated_materials.description %}
                <p>{{ record.separated_materials.description }}</p>
            {% endif %}
            {% for link in record.separated_materials.links %}
                <p><a href="{{ link.href }}">{{ link.text }}</a></p>
            {% endfor %}
        </td>
    </tr>
{% endif %}

{% if record.held_by %}
    <tr>
        <th scope="row">{{ 'held_by'|as_label }}</th>
        <td>
        {% if record.held_by_url %}
            <a href="{{ record.held_by_url }}">{{ record.held_by }}</a>
        {% else %}
            {{ record.held_by }}
        {% endif %}
        </td>
    </tr>
{% endif %}

{% if record.former_department_reference %}
    <tr>
        <th scope="row">{{ 'former_department_reference'|as_label }}</th>
        <td>{{ record.former_department_reference }}</td>
    </tr>
{% endif %}

{% if record.former_pro_reference %}
    <tr>
        <th scope="row">{{ 'former_pro_reference'|as_label }}</th>
        <td>{{ record.former_pro_reference }}</td>
    </tr>
{% endif %}

 {% if record.location_of_originals %}
    <tr>
        <th scope="row">{{ 'location_of_originals'|as_label }}</th>
        <td>
            {{ record.location_of_originals }}
        </td>
    </tr>
{% endif %}

{% if record.legal_status %}
    <tr>
        <th scope="row">{{ 'legal_status'|as_label }}</th>
        <td>{{ record.legal_status }}</td>
    </tr>
{% endif %}

{% if record.language %}
    <tr>
        <th scope="row">{{ 'language'|as_label }}</th>
        <td>
        {% for item in record.language %}
            <p>{{ item }}</p>
        {% endfor %}
        </td>
    </tr>
{% endif %}

{% if record.map_designation %}
    <tr>
        <th scope="row">{{ 'map_designation'|as_label }}</th>
        <<td>{{ record.map_designation }}</td>
    </tr>
{% endif %}

{% if record.creator %}
    <tr>
        <th scope="row">{{ 'creator'|as_label }}</th>
        <td>
        {% for item in record.creator %}
            <p>{{ item }}</p>
        {% endfor %}
        </td>
    </tr>
{% endif %}

{% if record.physical_description %}
    <tr>
        <th scope="row">{{ 'physical_description'|as_label }}</th>
        <td>{{ record.physical_description }}</td>
    </tr>
{% endif %}

{% if record.restrictions_on_use %}
    <tr>
        <th scope="row">{{ 'restrictions_on_use'|as_label }}</th>
        <td>{{ record.restrictions_on_use }}</td>
    </tr>
{% endif %}

{% if record.dimensions %}
    <tr>
        <th scope="row">{{ 'dimensions'|as_label }}</th>
        <td>{{ record.dimensions }}</td>
    </tr>
{% endif %}

{% if record.access_condition %}
    <tr>
        <th scope="row">{{ 'access_condition'|as_label }}</th>
        <td>{{ record.access_condition }}</td>
    </tr>
{% endif %}

{% if record.immediate_source_of_acquisition %}
    <tr>
        <th scope="row">{{ 'immediate_source_of_acquisition'|as_label }}</th>
        <td>
        {% for item in record.immediate_source_of_acquisition %}
            <p>{{ item }}</p>
        {% endfor %}
        </td>
    </tr>
{% endif %}

{% if record.map_scale %}
    <tr>
        <th scope="row">{{ 'map_scale'|as_label }}</th>
        <td>{{ record.map_scale }}</td>
    </tr>
{% endif %}

{% if record.physical_condition %}
    <tr>
        <th scope="row">{{ 'physical_condition'|as_label }}</th>
        <td>{{ record.physical_condition }}</td>
    </tr>
{% endif %}

{% if record.closure_status %}
    <tr>
        <th scope="row">{{ 'closure'|as_label }}</th>
        <td>{{ record.closure_status }}</td>
    </tr>
{% endif %}

{% if record.custodial_history %}
    <tr>
        <th scope="row">{{ 'custodial_history'|as_label }}</th>
        <td>{{ record.custodial_history }}</td>
    </tr>
{% endif %}

{% if record.accumulation_dates %}
    <tr>
        <th scope="row">{{ 'accumulation_dates'|as_label }}</th>
        <td>{{ record.accumulation_dates }}</td>
    </tr>
{% endif %}

{% if record.accruals %}
    <tr>
        <th scope="row">{{ 'accruals'|as_label }}</th>
        <td>{{ record.accruals }}</td>
    </tr>
{% endif %}

{% if record.unpublished_finding_aids %}
    <tr>
        <th scope="row">{{ 'unpublished_finding_aids'|as_label }}</th>
        <td>
            {% for item in record.unpublished_finding_aids %}
                <p>{{ item }}</p>
            {% endfor %}
        </td>
    </tr>
{% endif %} 

{% if record.appraisal_information %}
    <tr>
        <th scope="row">{{ 'appraisal_information'|as_label }}</th>
        <td>{{ record.appraisal_information }}</td>
    </tr>
{% endif %}

{% if record.administrative_background %}
    <tr>
        <th scope="row">{{ 'administrative_background'|as_label }}</th>
        <td>{{ record.administrative_background }}</td>
    </tr>
{% endif %}

{% if record.copies_information %}
    <tr>
        <th scope="row">{{ 'copies_information'|as_label }}</th>
        <td>
            {% for item in record.copies_information %}
                <p>{{ item }}</p>
            {% endfor %}
        </td>
    </tr>
{% endif %}

{% if record.publication_note %}
    <tr>
        <th scope="row">{{ 'publication_note'|as_label }}</th>
        <td>
            {% for item in record.publication_note %}
                <p>{{ item }}</p>
            {% endfor %}
        </td>
    </tr>
{% endif %}

{% if record.record_opening %}
    <tr>
        <th scope="row">{{ 'record_opening'|as_label }}</th>
        <td>{{ record.record_opening }}</td>
    </tr>
{% endif %}
