{% load records_tags %}

<div class="record-details">
    <table class="record-details__table">
        <tbody>
            {% if record.reference_number %}
                <tr>
                    <th scope="row">{{ 'reference_number'|as_label }}</th>
                    <td id="analytics-record-reference">{{ record.reference_number }}</td>
                </tr>
            {% endif %}
            {% if record.date_created %}
                <tr>
                    <th scope="row">{{ 'date_created'|as_label }}</th>
                    <td>{{ record.date_created }}</td>
                </tr>
            {% endif %}
            {% if record.description %}
                <tr>
                    <th scope="row">{{ 'description'|as_label }}</th>
                    <td class="xslt_patches">{{ record.description }}</td>
                </tr>
            {% endif %}
            {% if record.related_materials %}
                <tr>
                    <th scope="row">{{ 'related_materials'|as_label }}</th>
                    <td>
                        {% for related_material in record.related_materials %}
                            {% if related_material.description %}
                                <p>{{related_material.description}}</p>
                            {% endif %}
                            {% if related_material.links %}
                                <ul>
                                    {% for link in related_material.links %}
                                        <li><a href="{{ link.href }}">{{ link.text }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% if record.held_by %}
                <tr>
                    <th scope="row">{{ 'held_by'|as_label }}</th>
                    <td>{{ record.held_by }}</td>
                </tr>
            {% endif %}
            {% if record.legal_status %}
                <tr>
                    <th scope="row">{{ 'legal_status'|as_label }}</th>
                    <td>{{ record.legal_status }}</td>
                </tr>
            {% endif %}
            {% if record.closure_status %}
                <tr>
                    <th scope="row">{{ 'closure'|as_label }}</th>
                    <td>{{ record.closure_status }}</td>
                </tr>
            {% endif %}
            {% if record.access_condition %}
                <tr>
                    <th scope="row">{{ 'access_condition'|as_label }}</th>
                    <td>{{ record.access_condition }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
