{% extends "base_page.html" %}

{% load static i18n wagtailcore_tags wagtailmetadata_tags wagtailimages_tags %}

{% block breadcrumb %}
{% endblock %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div class="search-hero">
        <div class="tna-container">
            <div class="tna-column tna-column--full">
                <div class="search-hero__container">
                    <h1 class="tna-heading-xl search-hero__heading">Explore UK community history</h1>
                    <form action="/search/catalogue" method="GET" class="search-hero__form" id="analytics-search-landing-hero">
                        <label for="id_q" class="search-hero__label">
                            <span class="sr-only">Enter search term.</span> Our Heritage, Our Stories brings together community and archive collections in one place.<br>
                            Search by keyword, person, or location, or hit search.
                        </label>
                        {{ form.q.errors }}
                        {{ form.q }}
                        <input type="submit" value="Search" class="search-hero__form-submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="tna-section interactive-choice">
        <div class="tna-container">
            <div class="tna-column tna-column--full">
                <h2 class="tna-heading tna-heading--l">
                    Use interactive tools to explore community collections
                </h2>
                <div class="block-featuredarticles">
                    <div class="featured-articles">
                        <ul class="card-group--list-style-none" data-card-position="0">
                            
                            {% include "includes/home-page-card.html" with vis_view_url=map_view_url vis_view_img="/static/images/ohos-homepage-maps.jpg" vis_view_label="Map" vis_view_desc="Find community history for places of interest to you across the UK and beyond." %}
                            
                            {% include "includes/home-page-card.html" with vis_view_url=timeline_view_url vis_view_img="/static/images/ohos-homepage-timeline.jpg" vis_view_label="Timeline" vis_view_desc="See how community history ranges across different time periods." %}
                            
                            {% include "includes/home-page-card.html" with vis_view_url=tag_view_url vis_view_img="/static/images/ohos-homepage-tags.jpg" vis_view_label=" Related tags" vis_view_desc="Use AI-generated tags to uncover connections to people, places and organisations of the past." %}

                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

<!--graph ql banner -->
<div class="tna-container">

    <div class="tna-column tna-column--width-1-5 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny graph-banner-icon">
        <img src ="/static/images/graph-ql-icon.jpg" alt="graphQL icon">
    </div>
    <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny graph-banner">
        <h3 class="tna-heading tna-heading--l">
            <a href="">Query the data</a>
        </h3>
        <p>If you’re familiar with knowledge graphs you can use GraphQL to query the data directly.
        </p>
    </div>

</div>
<!--end graph ql banner -->

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'scripts/home_page.js' %}"></script>
{% endblock %}
