{% extends "base_page.html" %}

{% load static i18n wagtailcore_tags wagtailmetadata_tags wagtailimages_tags %}

{% block breadcrumb %}
{% endblock %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% include "includes/generic-intro.html" with title=page.title intro=page.intro %}
    <div class="tna-container pt-2">
        <div class="tna-column tna-column--full">
            {% for item in page.body %}
                {% if item.value.paragraph or item.value.text %}
                    {{item}}
                {% else %}
                    {% image item.value.page.specific.teaser_image fill-626x383 as teaser_image %}
                    <div class="col-sm-12 col-md-6">
                        <div class="topic-explore">
                            <a href="{{ item.value.page.url }}"><img src="{{ teaser_image.url }}" alt="{{ item.value.heading }} image" width="100%"/></a>
                            <div class="explore-cta">
                                <a href="{{ item.value.page.url }}"><p>{{ item.value.heading }}</p></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'scripts/home_page.js' %}"></script>
{% endblock %}
