{% extends "base_page.html" %}


{% load static %}
{% load i18n %}
{% block breadcrumb %}
{% endblock %}
{% block body_class %}template-homepage{% endblock %}
{% load wagtailcore_tags %}
{% load wagtailmetadata_tags %}
{% load wagtailimages_tags %}
{% block meta_tag %}
    {% meta_tags %}
{% endblock %}
{% block content %}

    {% include 'includes/generic-intro.html' %}
    <div class="container pt-2">
        <div class="row">
            {% for item in page.body %}
                {% if item.value.paragraph or item.value.text %}
                    {{item}}
                {% else %}
                    {% image item.value.page.specific.teaser_image fill-626x383 as teaser_image %}
                    <div class="col-sm-12 col-md-6">
                        <div class="topic-explore">
                            <a href="{{ item.value.page.url }}"><img src="{{ teaser_image.url }}" alt="{{ item.value.heading }} image" width="100%"/></a>
                            <div class="explore-cta">
                                <a href="{{ item.value.page.url }}"><p>{{ item.value.heading }}</p></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if page.featured_story %}
    <div class="container">
        <h2 class="extra-padding">Stories from the collection</h2>
        <div class="featured-story">
            {% if page.featured_story.hero_image %}
                <a href="{% pageurl page.featured_story %}" class="featured-story__image-link" tabindex="-1" aria-hidden="true" data-component-name="Featured story: {{ page.featured_story.title }}" data-link-type="Image" {% if page.featured_story.first_published_at.date > page.new_label_end_date.date %}data-label = "New"{%endif%}>
                    <picture>
                        {% image page.featured_story.teaser_image fill-500x400-c100 as hero %}
                        <source media="(max-width: 768px)" srcset="{{ hero.url }}">
                        {% image page.featured_story.teaser_image fill-500x500-c100 as hero %}
                        <source media="(max-width: 991px)" srcset="{{ hero.url }}">
                        {% image page.featured_story.teaser_image fill-1000x600-c100 as hero %}
                        <source media="(max-width: 1200px)" srcset="{{ hero.url }}">

                        {% if page.featured_story.hero_image_decorative %}
                            <img src="{{ hero.url }}" alt="" />
                        {% else %}
                            <img src="{{ hero.url }}" alt="{{page.featured_story.hero_image_alt_text}}" />
                        {% endif %}
                    </picture>
                </a>
            {% endif %}
            
            <div class="featured-story__description">
                <h2 class="featured-story__heading">
                    <small>{% trans "Spotlight on" %}</small>
                    {{ page.featured_story.title }}
                    {% if page.featured_story.first_published_at.date > page.new_label_end_date.date %}
                        <span aria-describedby="article-desc" role="link">NEW</span>
                    {% endif %}
                </h2>

                <p id ="article-desc" class="aria-desc">This is a link to a new story about {{ page.featured_story.title }}</p>

                <p>{{ page.featured_story.sub_heading }}</p>
                <a class="tna-button--dark" href="{% pageurl page.featured_story %}" data-component-name="Featured story: {{ page.featured_story.title }}" data-link-type="Button" {% if page.featured_story.first_published_at.date > page.new_label_end_date.date %}data-label = "New"{%endif%}>Read</a>
            </div>
        </div>
    </div>
    {% endif %}

    {% if page.featured_pages %}
    <div class="container">
        {% include_block page.featured_pages %}
    </div>
    {% endif %}

    <div class="cta-banner-survey no-dots">
        <div class="container py-3">
            <div class="row justify-content-md-center text-center">
                <div class="col-sm-12 col-lg-12">
                    <a class="tna-button--dark" href="/stories/" rel="noopener noreferrer" target="_blank">Explore stories from the collection</a>
                </div>
            </div>
        </div>
    </div>

    <!--new survey element-->
    <!--
    <div class="cta-banner-survey">
        <div class="container py-3">
            <div class="row justify-content-md-center text-center">

                <div class="col-sm-12 col-lg-12">
                    <div class="survey-outline">
                    <p>How would you rate this page?</p>
                    <a class="tna-button--dark response-btn" href="https://www.smartsurvey.co.uk/s/SY13JD/" rel="noopener noreferrer" target="_blank">Very helpful</a>
                    <a class="tna-button--dark response-btn" href="https://www.smartsurvey.co.uk/s/SY13JD/" rel="noopener noreferrer" target="_blank">Could be better</a>
                    <p><a href="https://www.nationalarchives.gov.uk/contact-us/your-views/" target="_blank">Leave a comment</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    -->

</div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'scripts/home_page.js' %}"></script>
{% endblock %}