{% extends 'base_page.html' %}

{% load static wagtailmetadata_tags wagtailimages_tags wagtailcore_tags i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="tna-heading">Password required</h1>
                <p>
                    You need a password to access this page.
                </p>
                <form action="{{ action_url }}" method="POST" class="tna-form password-form">
                    {% csrf_token %}

                    {{ form.non_field_errors }}

                    <div class="password-form__password">
                        {{ form.password.errors }}
                        <label class="password-form__label" for="id_password">Password</label>
                        <input class="password-form__text" type="password" name="password" required id="id_password" placeholder="Your password">
                    </div>

                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    <input class="tna-button--dark password-form__submit" type="submit" value="View page" />
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function switchPasswordVisibility(event) {
            var x = document.getElementById("id_password");
            if (event.currentTarget.checked) {
                x.type = "text";
            } else {
                x.type = "password";
            }
            x.focus();
        }
        
        var showHidePasswordLabel = document.createElement("label");
        showHidePasswordLabel.classList.add("password-form__show-hide-label");
        
        var showHidePasswordLabelText = document.createElement("span");
        showHidePasswordLabelText.classList.add("password-form__show-hide-text");
        showHidePasswordLabelText.innerText = "Show password"

        var showHidePasswordCheckbox = document.createElement("input");
        showHidePasswordCheckbox.classList.add("password-form__show-hide-checkbox");
        showHidePasswordCheckbox.setAttribute("type", "checkbox");
        showHidePasswordCheckbox.addEventListener("change", switchPasswordVisibility);
        
        var formPasswordContainer = document.querySelector(".password-form__password");
        showHidePasswordLabel.appendChild(showHidePasswordCheckbox);
        showHidePasswordLabel.appendChild(showHidePasswordLabelText);
        formPasswordContainer.appendChild(showHidePasswordLabel);
    </script>
{% endblock content %}

