.DS_Store
.coveragerc
.devcontainer
.editorconfig
.env
.env.example
.environment
.git
.github
.gitignore
.platform
.platform.app.yaml
.prettierrc.json
.venv
.vscode
Dockerfile
README.md
babel.config.json
database_dumps
docker-compose.yml
docs
fabfile.py
gunicorn.conf.py
lint-requirements.txt
media
mkdocs.yml
node_modules
platformsh-cli
setup.cfg