# Coding formatting to be discussed
# The rules below are examples only

root = true

[*.py]
indent_style = space
indent_size = 4

[*.scss]
indent_style = space
indent_size = 4

[*.js]
indent_style = space
indent_size = 4

[{package.json}]
indent_style = space
indent_size = 4