# environment file
.env

# sqlite databases
*.sqlite3

# Python cache files
__pycache__
.mypy_cache
*.pyc

# macOS desktop services store.
.DS_Store

# Database backups
/db/

# Editor configuration files
*.code-workspace
.idea/
.vscode/

# Node
/node_modules/

# coverage.py
.coverage

/coverage/

# built docs
/site/

# local config
config/settings/local.py

# NVM/NPM
.npm
.nvm

coverage.xml