{
    "extends": [
        "stylelint-config-standard-scss"
    ],
    "plugins": [
        "stylelint-selector-bem-pattern"
    ],
    "rules": {
        "at-rule-empty-line-before": null,
        "block-no-empty": null,
        "declaration-empty-line-before": null,
        "property-no-vendor-prefix": null,
        "value-keyword-case": null,
        "scss/dollar-variable-empty-line-before": null,
        "scss/double-slash-comment-empty-line-before": null,
        "selector-class-pattern": null,
        "plugin/selector-bem-pattern": {
            "preset": "bem"
        }
    }
}
