{
  "extends": ["stylelint-config-standard-scss"],
  "plugins": ["stylelint-selector-bem-pattern"],
  "ignoreFiles": [
    "templates/static/css/**/*.css",
    "templates/static/cookie-consent/**/*.css",
    "sass/tna-toolkit/**/*.scss"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "block-no-empty": null,
    "declaration-empty-line-before": null,
    "property-no-vendor-prefix": null,
    "value-no-vendor-prefix": null,
    "value-keyword-case": null,
    "scss/dollar-variable-empty-line-before": null,
    "scss/double-slash-comment-empty-line-before": null,
    "selector-class-pattern": null,
    "media-feature-range-notation": null,
    "plugin/selector-bem-pattern": {
      "preset": "bem"
    },
    "scss/at-extend-no-missing-placeholder": null,
    "scss/dollar-variable-pattern": null,
    "selector-id-pattern": null
  }
}
