services:
  app:
    build:
      context: .
      args:
        IMAGE: ghcr.io/nationalarchives/tna-python-django-root
        IMAGE_TAG: 0
    volumes:
      - ./:/app
      - media:/media
    depends_on:
      - db
      - redis
    ports:
      - 8000:8080
    environment:
      - RUNTIME=develop
      - ENVIRONMENT_NAME=local
      - DJANGO_SETTINGS_MODULE=config.settings.develop
      - SECRET_KEY=abc123
      - ALLOWED_HOSTS=localhost,host.docker.internal
      - DEBUG=True
      - DATABASE_HOST=db
      - DATABASE_NAME=postgres
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
      - DJANGO_SUPERUSER_PASSWORD=admin
      - DJANGO_SUPERUSER_USERNAME=admin
      - DJANGO_SUPERUSER_EMAIL=admin@tna.dev
      - WAGTAILADMIN_BASE_URL=http://localhost:8000
      - WAGTAILAPI_BASE_URL=http://host.docker.internal:8000
      - WAGTAILAPI_IMAGES_BASE_URL=https://localhost
      - WAGTAILAPI_MEDIA_BASE_URL=https://localhost
      - WAGTAIL_HEADLESS_PREVIEW_URL=https://localhost/preview/
      - REDIS_URL=redis://redis:6379/0
    env_file:
      - path: .env
        required: false
      

  db:
    image: postgres:16.0
    environment:
      - POSTGRES_PASSWORD=postgres

  redis:
    image: redis:latest

  dev:
    image: ghcr.io/nationalarchives/tna-python-dev:preview
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.test
      - DATABASE_HOST=db
      - DATABASE_NAME=test
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./:/app
      - ./dev:/home/app/.local/bin/tasks
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - media:/media
      - ~/.aws:/home/app/.aws

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 8001:8000

volumes:
  media:
