services:
  app:
    build:
      context: .
      args:
        IMAGE: ghcr.io/nationalarchives/tna-python-dev
        IMAGE_TAG: latest
    depends_on:
      - db
      - redis
    ports:
      - 8000:8080
    environment:
      - ENVIRONMENT_NAME=local
      - DJANGO_SETTINGS_MODULE=config.settings.develop
      - SECRET_KEY=abc123
      - ALLOWED_HOSTS=localhost,host.docker.internal,wagtail.localhost
      - DEBUG=True
      - DATABASE_HOST=db
      - DATABASE_NAME=postgres
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
      - DJANGO_SUPERUSER_PASSWORD=admin
      - DJANGO_SUPERUSER_USERNAME=admin
      - DJANGO_SUPERUSER_EMAIL=admin@tna.dev
      - WAGTAILADMIN_BASE_URL=http://localhost:8000
      - WAGTAILAPI_BASE_URL=http://host.docker.internal:8000
      - WAGTAILAPI_IMAGES_BASE_URL=https://localhost
      - WAGTAILAPI_MEDIA_BASE_URL=https://localhost
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - ./:/app
      - media:/media
    healthcheck:
      start_period: 10s
      start_interval: 2s

  db:
    image: postgres:16.0
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:latest

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 8001:8000

volumes:
  media:
  pgdata:
