services:
  app:
    build:
      context: .
      args:
        IMAGE: ghcr.io/nationalarchives/tna-python-django-root
        IMAGE_TAG: preview
    volumes:
      - ./:/app
      - media:/media
    depends_on:
      - db
      - redis
    ports:
      - 8000:8080
    env_file:
      - .env
    environment:
      - RUNTIME=develop
      - ENVIRONMENT_NAME=local
      - DJANGO_SETTINGS_MODULE=config.settings.develop
      - SECRET_KEY=abc123
      - ALLOWED_HOSTS=localhost,host.docker.internal
      - DEBUG=True
      - DATABASE_HOST=db
      - DATABASE_NAME=postgres
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
      - DJANGO_SUPERUSER_PASSWORD=admin
      - DJANGO_SUPERUSER_USERNAME=admin
      - DJANGO_SUPERUSER_EMAIL=admin@tna.dev
      - WAGTAILADMIN_BASE_URL=http://localhost:8000
      - WAGTAILAPI_BASE_URL=http://host.docker.internal:8000
      - WAGTAIL_HEADLESS_PREVIEW_URL=http://localhost:65535/preview/
      - REDIS_URL=redis://redis:6379/0

  db:
    image: postgres:16.0
    environment:
      - POSTGRES_PASSWORD=postgres

  redis:
    image: redis:latest

  adminer:
    image: adminer
    restart: always
    ports:
      - 8002:8080

  dev:
    image: ghcr.io/nationalarchives/tna-python-dev:preview
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.test
      - PLATFORMSH_CLI_TOKEN=${PLATFORMSH_CLI_TOKEN}
      - PLATFORM_PROJECT_ID=rasrzs7pi6sd4
      - DATABASE_HOST=db
      - DATABASE_NAME=test
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./:/app
      - ./dev:/home/app/.local/bin/tasks
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - media:/media

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 8001:8000

volumes:
  media:
