[tool.poetry]
name = "Etna"
version = "25.01.06.44"
description = ""
authors = ["James Biggs <james.biggs@nationalarchives.gov.uk>"]

[tool.poetry.dependencies]
Django = "~5.1"
django-allauth = "~0.62"
django-birdbath = "~2.0"
django-redis = "~5.4"
django-taggit = "~5.0"
eventbrite = "~3.3"
gunicorn = "~23.0"
nh3 = "~0.2"
platformshconfig = "~2.4"
psycopg2-binary = "~2.9"
pyquery = "~2.0"
python = "^3.12"
python-magic = "~0.4"
sentry-sdk = "~2.17"
wagtail = "~6.3"
wagtail-font-awesome-svg = "~1.0"
wagtail-generic-chooser = "~0.6"
wagtailmedia = "~0.15"
wagtail-metadata = "~5.0"
wagtail-headless-preview = "0.8.0"
whitenoise = "~6.8"

# TODO: Make `optional = true` when moving to AWS (for Docker)
[tool.poetry.group.dev]
optional = false

[tool.poetry.group.dev.dependencies]
coverage = "~7.6"
django-debug-toolbar = "~4.4"
django-extensions = "~3.2"
ipdb = "~0.13"
mkdocs-material = "~9.5"
pymdown-extensions = "~10.12"
responses = "~0.25"
wagtail-factories = "~4.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
exclude = '''
/(
  | \.eggs
  | \.git
  | \.mypy_cache
  | \.venv
  | __pycache__
  | _build
  | build
  | docs
  | venv
  | node_modules
  | migrations
)/
'''
