$environment: "development" !default;

:root {
    @if $environment == "development" {
        --w-color-primary: #195900;
        --w-color-primary-200: #103800;
    }
    @if $environment == "staging" {
        --w-color-primary: #890000;
        --w-color-primary-200: #530000;
    }
}