:root {
    @if $environment == "production" {
        --w-color-primary: #195900;
        --w-color-primary-200: #103800;
    }
    @if $environment == "development" {
        --w-color-primary: red;
        --w-color-primary-200: red;
    }
}