{% extends 'base_page.html' %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailmetadata_tags whatson_tags %}

{% block html_class %}tna-template--pink-accent{% endblock %}

{% block header %}
    {% include 'includes/header.html' with classes="tna-header--off-black" %}
{% endblock %}

{# Breadcrumb is included inside the event_hero component #}
{% block breadcrumb %}
{% endblock %}

{% block content %}
    <article>
        {% include "includes/event_hero.html" with title=page.title image=page.lead_image event_type=page.event_type access_descriptor=page.primary_access_type %}

        <div class="event-details-banner">
            <div class="tna-container tna-container--align-center tna-!--padding-vertical-s">
                <div class="tna-column tna-column--flex-1 tna-column--container">
                    <div class="event-meta event-meta--inline">
                        <ul class="event-meta__list event-meta__list">
                            {% if page.start_date %}
                                <li class="event-meta__item">
                                    <i class="fa-regular fa-calendar event-meta__icon"></i>

                                    <div class="event-meta__details">
                                        <p>{{ page.start_date|date:"l j F, H:i" }}</p>
                                    </div>
                                </li>
                            {% endif %}
                            {% if page.price_range %}
                                <li class="event-meta__item">
                                    <i class="fa-solid fa-ticket event-meta__icon"></i>

                                    <div class="event-meta__details">
                                        {{ page.price_range }}
                                    </div>
                                </li>
                            {% endif %}
                            <li class="event-meta__item">
                                <i class="fa-solid fa-location-dot event-meta__icon"></i>

                                <div class="event-meta__details">
                                    {% if page.venue_type == "in_person" and page.venue_address %}
                                        {% if page.venue_website %}
                                            <a class="event-details-banner__link" href="{{ page.venue_website }}">
                                        {% endif %}
                                                <address class="event-details-banner__address">{{ page.venue_address|process_address|richtext }}</address>
                                        {% if page.venue_website %}
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <p>{{ page.get_venue_type_display }}</p>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tna-column tna-column--full-small tna-column--full-tiny">
                    <a href="/" class="tna-button tna-button--dark">
                        Book now

                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="tna-container">
            <div class="tna-column tna-column--width-3-4 tna-column--full-small tna-column--full-tiny">
                <div class="tna-section">
                    <div class="tna-scene-setter tna-scene-setter--small">
                        {{ page.intro|richtext }}
                    </div>
                </div>
            </div>
        </div>

        <div class="tna-container tna-container--reverse-desktop">
            <div class="tna-column tna-column--width-1-3 tna-column--full-small tna-column--full-tiny">
                <div class="event-meta">
                    <h2 class="tna-heading-m">Booking information</h2>

                    <ul class="event-meta__list">
                        {% if page.start_date %}
                            <li class="event-meta__item">
                                <h3 class="event-meta__title">
                                    <i class="fa-regular fa-calendar event-meta__icon"></i>

                                    Dates
                                </h3>

                                <ul class="event-meta__details">
                                    {% for session in page.sessions.all %}
                                        <li>
                                            {{ session.start|date:"l j F, H:i" }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        <li class="event-meta__item">
                            <h3 class="event-meta__title">
                                <i class="fa-solid fa-location-dot event-meta__icon"></i>

                                Location
                            </h3>

                            <div class="event-meta__details">
                                {% if page.venue_type != "in_person" %} 
                                    <p>{{ page.get_venue_type_display }}</p>
                                {% endif %}

                                {% if page.venue_space_name %}
                                    <p>{{ page.venue_space_name }}</p>
                                {% endif %}

                                {% if page.venue_address %}
                                    <address>{{ page.venue_address|richtext }}</address>
                                {% endif %}

                                {% if page.venue_website %}
                                    <p>
                                        <a class="event-meta__link" href="{{ page.venue_website }}">
                                            <span class="event-meta__link-text">Get directions</span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                        </li>
                        {% if page.registration_info %}
                            <li class="event-meta__item">
                                <h3 class="event-meta__title">
                                    <i class="fa-solid fa-ticket event-meta__icon"></i>

                                    Ticketing
                                </h3>

                                <div class="event-meta__details">
                                    {{ page.registration_info|richtext }}
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny">
                {% if page.description %}
                    <h2 class="tna-heading-l">About this {{ page.event_type|lower }}</h2>
                    {{ page.description|richtext }}
                {% endif %}

                {% if page.target_audience %}
                    <h2 class="tna-heading-l">Who it's for</h2>
                    {{ page.target_audience|richtext }}
                {% endif %}

                {% if page.useful_info %}
                    <aside class="tna-aside tna-background--accent-light">
                        <h2 class="tna-heading-l">Need to know</h2>
                        {{ page.useful_info|richtext }}
                    </aside>
                {% endif %}

                {# Hosts and speakers #}
                {% with page.hosts.all as hosts and page.speakers.all as speakers %}
                    {% if hosts or speakers %}
                        <h2 class="tna-heading-l">Your host{{ hosts|pluralize }} and speaker{{ speakers|pluralize }}</h2>

                        {% if hosts %}
                            {% with plural=hosts|pluralize %}
                                {% include "components/people.html" with people=page.hosts title="Host"|add:plural %}
                            {% endwith %}
                        {% endif %}

                        {% if speakers %}
                            {% with plural=speakers|pluralize %}
                                {% include "components/people.html" with people=page.speakers title="Speaker"|add:plural %}
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </article>

    {% if page.related_events %}
        <div class="event-card-listing tna-!--margin-top-xl">
            <div class="tna-container tna-container--full-width-mobile">
                <div class="tna-column tna-column--full">
                    <hgroup class="event-card-listing__heading-area">
                        <h2 class="tna-heading-l event-card-listing__heading">Before you go</h2>
                    </hgroup>

                    <ul class="event-card-listing__list">
                        {% for event in page.related_events %}
                            <li class="event-card-listing__item">
                            {% image event.teaser_image fill-720x448 as event_img %}
                            {% include "../components/card.html" with title=event.short_title href=event.url headingLevel="3" headingSize="l" htmlElement="article" imageSrc=event_img.url imageAlt=event_image.width imageWidth=event_img.width imageHeight=event_img.height date=event.start_date|date:"jS F Y" cost="From £16" venue_type=event.get_venue_type_display body=event.teaser_text horizontal=True event=True highlight="Sold out" highlight_color="yellow" event_type=event.event_type access_descriptor=event.primary_access_type classes="tna-card--event tna-card--horizontal-thirds" %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
