{% extends 'base_page.html' %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block html_class %}tna-template--pink-accent{% endblock %}

{# Breadcrumb is included inside the header area #}
{% block breadcrumb %}
{% endblock %}

{% block content %}
    <div class="meta-details-banner">
        <div class="tna-container tna-container--align-center tna-container--space-between">
            <div class="tna-column">
                <div class="event-meta event-meta--inline">
                    <ul class="event-meta__list event-meta__list">
                        {% if page.start_date %}
                            <li class="event-meta__item">
                                <i class="fa-regular fa-calendar event-meta__icon"></i>

                                <div class="event-meta__details">
                                    <p>
                                        {{ page.start_date|date:"l j" }}

                                        {% if page.end_date %}
                                            - {{ page.end_date|date:"l j" }}
                                        {% endif %}
                                    </p>
                                </div>
                            </li>
                        {% endif %}
                        <li class="event-meta__item">
                            <i class="fa-solid fa-ticket event-meta__icon"></i>

                            <div class="event-meta__details">
                                <p>{{ page.price_range }}</p>
                            </div>
                        </li>
                        <li class="event-meta__item">
                            <i class="fa-solid fa-location-dot event-meta__icon"></i> 

                            <div class="event-meta__details">
                                <p>{{ page.venue_type }}</p>

                                {% comment %} TODO: we don't have a short version of the address/location field yet so this is a placeholder {% endcomment %}
                                {% if page.short_location %}
                                    <address>
                                        {{ page.short_location }}
                                    </address>
                                {% endif %}
                            </div>
                        </li>
                        {% if page.audience %}
                            <li class="event-meta__item">
                                <i class="fa-solid fa-user-group event-meta__icon"></i>

                                <div class="event-meta__details">
                                    <p>{{ page.audience }}</p>
                                </div>
                            </li>
                        {% endif %}
                        {% if page.dwell_time %}
                            <li class="event-meta__item">
                                <i class="fa-solid fa-clock event-meta__icon"></i>

                                <div class="event-meta__details">
                                {{ page.dwell_time }}
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}