{% extends 'base_page.html' %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block html_class %}{% endblock %}

{# Breadcrumb is included inside the header area #}
{% block breadcrumb %}
{% endblock %}

{% block content %}
    {% include "includes/exhibition_hero.html" with title=page.title subtitle=page.subtitle image=page.hero_image colour_theme=page.hero_text_colour %}

    {% include "includes/meta-banner.html" %}

    {% if page.need_to_know %}
    {% include "includes/useful-info.html" with content=page.need_to_know cta=page.need_to_know_cta url=page.need_to_know_url image=page.need_to_know_image %}
{% endif %}
{% endblock %}
