{% extends 'base_page.html' %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block html_class %}tna-template--pink-accent{% endblock %}

{# Breadcrumb is included inside the header area #}
{% block breadcrumb %}
{% endblock %}

{% block content %}

  <div class="full-width-header full-width-header--pink">

    {% comment %} Area for hero component {% endcomment %}

  </div>

  <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-introduction">
          <div class="tna-introduction__content">
              Looking at some of the most famous witch trials in history, Marion Gibson discusses her new book, Witchcraft: A History in Thirteen Trials.
          </div>
      </div>
  </div>

  <div class="generic-intro{% if classes %} {{ classes }}{% endif %}">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        <h1 class="tna-heading tna-heading--xl tna-!--margin-top-l">
          This is a test title
        </h1>
        <div class="generic-intro__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
      </div>
    </div>
  </div>

  <div class="tna-container tna-container--offset-top tna-container--full-width-mobile event-card-listing">
    <div class="tna-column tna-column--full">

      <hgroup class="event-card-listing__heading-area">
        <h2 class="tna-heading tna-heading--l event-card-listing__heading">Before you go</h2>
      </hgroup>

      <ul class="event-card-listing__list">
        {% for event in page.events %}
          <li class="event-card-listing__item">
            {% image event.teaser_image fill-720x448 as event_img %}
            {% include "../components/card.html" with title=event.short_title href=event.url headingLevel="3" headingSize="l" htmlElement="article" imageSrc=event_img.url imageAlt=event_image.width imageWidth=event_img.width imageHeight=event_img.height date=event.start_date|date:"jS F Y" cost="From £16" venue_type=event.get_venue_type_display body=event.teaser_text horizontal=True event=True highlight="Sold out" highlight_color="yellow" event_type=event.event_type access_descriptor=event.primary_access_type classes="tna-card--event tna-card--horizontal-thirds" %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
