{% load static %}

<div class="feedback-response-option__container">
    {% include "django/forms/widgets/input.html" %}
    <label class="feedback-response-option__label" data-option-label="{{ widget.label }}" data-option-sentiment="{{ widget.sentiment }}" for="id_{{ widget.name }}_{{ widget.index }}">
        {% if widget.icon %}
            <img class="thumb-image" src="{% static widget.icon %}" alt="">
        {% endif %}
        <span class="label-text">{{ widget.label }}</span>
    </label>
</div>