{% with id=widget.attrs.id %}

    <div{% if id %} id="{{ id }}" class="row justify-content-center"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>
        {% for group, options, index in widget.optgroups %}
            {% for option in options %}
                <div class="feedback-response-option col-md-6">
                    {% include option.template_name with widget=option %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

{% endwith %}
