{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load datalayer_tags sections_tags %}

{% block extra_gtm_js %}
{{ page | datalayer_data:request.user | json_script:"datalayer-data" }}

<script>
    dataLayer = [JSON.parse(document.getElementById('datalayer-data').textContent)];
</script>
{% endblock extra_gtm_js %}

{% block content %}
    {% include 'includes/generic-intro.html' %}
    {% include 'includes/hero-img.html' %}
    {% jumplinks page %}

    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}

    {% include 'includes/key-facts--author.html' %}
{% endblock %}
