{% extends 'base_page.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load sections_tags %}

{% block content %}
    {% include 'includes/generic-intro.html' %}
    {% include 'includes/hero-img.html' %}
    {% jumplinks page %}

    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}

    {% comment %}
        NOTE: TO BE REFINED BY FE
    {% endcomment %}
    {% if page.similar_items %}
        <h3>Similar insights</h3>
        <ol>
            {% for item in page.similar_items %}
                <li><a href="{% pageurl item %}">{{ item }}</a></li>
            {% endfor %}
        </ol>
    {% endif %}

    {% comment %}
        NOTE: TO BE REFINED BY FE
    {% endcomment %}
    {% if page.latest_items %}
        <h3>More insights</h3>
        <ol>
            {% for item in page.latest_items %}
                <li><a href="{% pageurl item %}">{{ item }}</a></li>
            {% endfor %}
        </ol>
    {% endif %}

{% endblock %}

{% block extra_js %}
     <script src="{% static 'scripts/insights.js' %}"></script>
 {% endblock %}
