{% extends 'base.html' %}

{% block analytics_json %}
    {% include 'includes/insights-analytics-json.html' %}
{% endblock %}

{% load wagtailcore_tags %}

{% block content %}
    {% include 'includes/generic-intro.html' %}

    <div class="container mt-4" data-container-name="{{ page.title }}">
        <ul class="card-group--list-style-none">
            {% for insights_page in insights_pages %}
                {% with page=insights_page.specific %}
                    {% include 'includes/card-group-secondary-nav.html' %}
                {% endwith %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}
