{% extends 'base_page.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load sections_tags %}

{% block content %}
    {% include 'includes/generic-intro.html' %}
    {% include 'includes/hero-img.html' %}
    {% jumplinks page %}

    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
    {# Check if there are tags #}
    {% if page.tags.count %}
        <h1>Tags:</h1>
        {% for tag in page.tags.all %}
            {# Loop through all the existing tags #}
            <a href="{{ self.get_parent.url }}?tag={{ tag.slug }}">{{ tag }}</a><br />
        {% endfor %}
    {% endif %}

{% endblock %}

{% block extra_js %}
     <script src="{% static 'scripts/insights.js' %}"></script>
 {% endblock %}
