{# By overriding the wagtailmedia template here we can remove the additional upload tabs. #}
{# When Torchbox fix the issue with RichText fields, this file can be deleted.            #}

{% load i18n %}
{% trans "Choose a media item" as  choose_str %}
{% include "wagtailadmin/shared/header.html" with title=choose_str tabbed=1 merged=1 icon="media" %}

<div>
    <section id="search" class="{% if not uploadforms.audio.errors and not uploadforms.video.errors %}active {% endif %}nice-padding">
        <form class="media-search search-bar" action="{% url 'wagtailmedia:chooser' %}" method="GET" novalidate id="analytics-chooser">
            <ul class="fields">
                {% for field in searchform %}
                    <li>
                        {% include "wagtailadmin/shared/field.html" with field=field %}
                    </li>
                {% endfor %}
                {% if collections %}
                    {% include "wagtailadmin/shared/collection_chooser.html" %}
                {% endif %}
                {% if popular_tags %}
                    <li class="taglist">
                        <h3 class="tna-heading-l">{% trans 'Popular tags' %}</h3>
                        {% for tag in popular_tags %}
                            <a class="suggested-tag tag" href="{% url 'wagtailmedia:index' %}?tag={{ tag.name|urlencode }}">{{ tag.name }}</a>
                        {% endfor %}
                    </li>
                {% endif %}
            </ul>
        </form>
        <div id="search-results" class="listing media">
            {% include "wagtailmedia/chooser/results.html" %}
        </div>
    </section>
</div>
