{% with id=widget.attrs.id %}
    <div{% if id %} id="{{ id }}"{% endif %} class="search-filters__widget {{ widget.attrs.class }}">
        <ul class="search-filters__widget-list">
            {% for group, options, index in widget.optgroups %}
                {% for option in options %}
                    <li class="search-filters__widget-list-item ohos-checkbox-container">
                        {% include option.template_name with widget=option %}
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endwith %}
