{% load search_tags %}

{% with id=widget.attrs.id %}
    <div{% if id %} id="{{ id }}"{% endif %} class="search-filters__widget {{ widget.attrs.class }}">
        <ul class="search-filters__widget-list">
            {% for group, options, index in widget.optgroups %}
                {% for option in options %}
                    {% if group %}
                        {# write nested level checkbox of 1 level of hierarchy parent-child #}
                        {% if not option.value|is_see_all %}
                            {# skip See all checkbox value #}
                            {% if forloop.first %}
                                <li class="search-filters__widget-list-item ohos-checkbox-container">
                                    {% include option.template_name with widget=option %}
                                    <ul>
                            {% else %}
                                <li class="search-filters__widget-list-item ohos-checkbox-container">
                                    {% include option.template_name with widget=option %}
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if forloop.last %}
                                </ul>
                            </li>
                        {% endif %}
                        {% if option.value|is_see_all %}
                            {# see all checkbox value as link #}
                            <a href="{% see_all_url option.value %}" aria-label='See more'>{{ option.label }}</a>
                        {% endif %}
                    {% else %}
                        {# write orphan or no level or no hierarchy checkbox #}
                        <li class="search-filters__widget-list-item ohos-checkbox-container">
                            {% include option.template_name with widget=option %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endwith %}
