{% if field.field.choices and field.field.choices_updated %}
    <div class="search-filters__section">
        <fieldset>
            <legend><h4 class="tna-heading-s search-filters__section-heading">{{ field.label }}</h4></legend>
            <div>
                {{ field.errors }}
                {{ field }}
            </div>
            {% if field.more_filter_options_available %}
                {% if search_tab == searchtabs.CATALOGUE.value %}
                    <a href="{% url 'search-catalogue-long-filter-chooser' field_name=field.name %}?{{ request.GET.urlencode }}"  aria-label='See more'>See more</a>
                {% endif %}
            {% endif %}
        </fieldset>
    </div>
{% else %}
    {{ field.as_hidden }}
{% endif %}
