{% for field in hidden_fields %}
    {% if field == "q" %}
        <input type="hidden" name="q" value="{{form.q.value}}" id="id_q_{{suffix}}">
    {% elif field == "group" %}
       <input type="hidden" name="group" value="{{form.group.value}}" id="id_group_{{suffix}}">
    {% elif field == "sort_by" %}
       <input type="hidden" name="sort_by" value="{{form.sort_by.value}}" id="id_sort_by_{{suffix}}">
    {% elif field == "sort_order" %}
        <input type="hidden" name="sort_order" value="{{form.sort_order.value}}" id="id_sort_order_{{suffix}}">
    {% elif field == "per_page" %}
        <input type="hidden" name="per_page" value="{{form.per_page.value}}" id="id_per_page_{{suffix}}">
    {% elif field == "display" %}
        <input type="hidden" name="display" value="{{form.display.value}}" id="id_display_{{suffix}}">
    {% endif %}
{% endfor %}
