<div class="quote">
    <div class="container">
        <img class="quote__icon" src="/static/images/fontawesome-svgs/quote-icon.svg" alt="" />
        <h3 class="sr-only">{{ value.heading }}</h3>

        {% if value.attribution %}
            <figure>
                <blockquote class="quote__container">
                    <p class="quote__text">{{ value.quote }}</p>
                </blockquote>
                <figcaption class="quote__citation">
                    <cite>{{ value.attribution }}</cite>
                </figcaption>
            </figure>
        {% else %}
            <blockquote class="quote__container">
                <p class="quote__text">{{ value.quote }}</p>
            </blockquote>
        {% endif %}
    </div>
</div>
