{% extends 'base_page.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block breadcrumb %}{% endblock %}
{% block content %}
    {% include 'includes/breadcrumb.html' %}
    <article>
        <header class="tna-container tna-container--centred tna-section tna-author">
            {% if page.image %}
            <div class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--full-tiny tna-column--order-3 tna-column--order-1-tiny">
                {% image page.image fill-500x500 as author_img %}
                <div class="tna-author__image">
                    <img src="{{ author_img.url }}" alt="{{ author_img.alt }}" width="500" height="500">
                </div>
            </div>
            {% endif %}
            <div class="tna-column tna-column--flex-1 tna-column--full-tiny tna-column--order-2">
                <h1 class="tna-heading tna-heading--xl">
                    {{ page.title }}
                </h1>
                {% if page.role %}
                {{ page.role|richtext }}
                {% endif %}
            </div>
        </header>
        <hr>
        <section class="tna-container tna-container--centred tna-section tna-!--margin-bottom-m">
            <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny">
                <h2 class="tna-heading tna-heading--l">About the author</h2>
                {{ page.summary | richtext }}
            </div>
        </section>
        {% if page.authored_focused_articles %}
        <aside class="tna-background--accent-light tna-!--margin-bottom-l">
            <div class="tna-container">
                <div class="tna-column tna-column--full">
                    <h2 class="related-content__heading">{{page.title}}'s articles and blogs</h2>
                </div>
                <ul class="card-group--list-style-none">
                    {% for item in page.authored_focused_articles %}
                        {% include 'includes/card-group-secondary-nav.html' with link_page=item heading="More stories" card_type="Featured" show_type_label=True %}
                    {% endfor %}
                </ul>
            </div>
        </aside>
        {% endif %}
    </article>
{% endblock %}
