{% extends 'base_page.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block breadcrumb %}{% endblock %}
{% block content %}
    {% include 'includes/generic-intro.html' with breadcrumb=True title=page.title intro=page.role %}
    {% image page.image fill-1440x500-c100 as author_img %}
    <img src="{{ author_img.url }}" alt="{{ author_img.alt }}" class="hero-img" />
    <div class="article-container container">
        <div class="article-container__main">
            {{ page.summary | richtext }}
        </div>
    </div>

    <div class="related-content related-content--borderless">
        <div class="container">
            {% if page.authored_focused_articles %}
                <h2 class="related-content__heading">{{page.title}}'s articles and blogs</h2>

                <ul class="card-group--list-style-none">
                    {% for item in page.authored_focused_articles %}
                        {% include 'includes/card-group-secondary-nav.html' with link_page=item heading="More stories" card_type="Featured" show_type_label=True %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/article.js' %}"></script>
 {% endblock %}
