{% extends 'base_page.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block breadcrumb %}{% endblock %}
{% block content %}
    {% include 'includes/generic-intro.html' with breadcrumb=True title=page.title intro=page.role %}

    <div class="container mt-4" data-container-name="{{ page.title }}">
        <h2>Discover all authors</h2>
        <ul class="card-group--list-style-none">
            {% for author_page in page.author_pages %}
                
                <li class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card-group-secondary-nav">
                        <a
                            href="{{ author_page.url }}"
                            class="card-group-secondary-nav__image-link"
                            data-card-type="card-group-secondary-nav"
                            data-link-type="Card image"
                            data-card-title="{{ author_page.title }}"
                            aria-labelledby="article-desc{{ author_page.id }}{% if instance_id %}-{{ instance_id }}{% endif %}"
                            {% if forloop.counter %}
                                data-card-position="{{ forloop.counter0 }}"
                            {% endif %}
                        >   
                            {% image author_page.image fill-320x320 as author_img %}
                            <div class="card-group-secondary-nav__image">
                                <picture>
                                    <source media="(min-width: 1200px)" srcset="{{ author_img.url }}">
                                    <img src="{{ author_img.url }}" alt="" class="card-group-secondary-nav__image-fallback">
                                </picture>
                            </div>
                        </a>
                        <div class="card-group-secondary-nav__body">
                            <h3 class="card-group-secondary-nav__heading">
                                <a
                                    href="{{ author_page.url }}"
                                    class="card-group-secondary-nav__title-link"
                                    data-card-type="card-group-secondary-nav"
                                    data-link-type="Card text"
                                    data-card-title="{{ author_page.title }}"
                                    {% if forloop.counter %}
                                        data-card-position="{{ forloop.counter0 }}"
                                    {% endif %}
                                    >{{ author_page.title }}</a>
                            </h3>
                            <p id="article-desc{{ link_page.id }}{% if instance_id %}-{{ instance_id }}{% endif %}" class="aria-desc-card">
                                Read about {{ author_page.title }}
                            </p>
                            <p class="card-group-secondary-nav__paragraph">{{ author_page.role }}</p>
                        </div>
                    </div>
                </li>

            {% endfor %}
        </ul>
    </div>

{% endblock %}