{% load wagtailcore_tags wagtailimages_tags %}


<div class="research-resources">
    {% if value.category.icon %}
        {% image value.category.icon fill-65x65 class="research-resources__icon"%}
    {% endif %}
    <p class="research-resources__icon-label" role="presentation" aria-hidden="true">
        {{ value.category.name }}
    </p>

    <h3 class="research-resources__heading">
        {{ value.heading }}
        <span class="sr-only">{{ value.heading }}</span>
    </h3>

    {% if value.summary %}
        <p class="research-resources__description">
            {{ value.summary|richtext }}
        </p>
    {% endif %}

    {% if value.link_list %}
        <dl class="research-resources__list">
            {% for item in value.link_list %}
                <div class="research-resources__list-item">
                    <dt>
                        <h4 class="research-resources__link-heading">
                            <a class="research-resources__link" href="{{ item.url }}">
                                {{ item.heading }}
                            </a>
                        </h4>
                    </dt>
                    {% if item.summary %}
                        <dd class="research-resources__link-text">
                            {{ item.summary }}
                        </dd>
                    {% endif %}
                </div>
            {% endfor %}
        </dl>
    {% endif %}
</div>
