{% load static i18n wagtailcore_tags %}

<div class="feedback tna-!--margin-top-l">
    <div class="container py-3 feedback__container">
        <div class="row justify-content-md-center text-center feedback__content">
            <div class="col-sm-12">
                <form
                    class="feedback__form"
                    id="feedback-form"
                    action="{% url 'feedback:submit' prompt.public_id prompt.live_revision_id %}"
                    method="post"
                    data-feedback-form
                >
                    {{ form.as_div }}
                </form>

                <form
                    class="feedback__form feedback__form--comment"
                    id="feedback-comment-form"
                    action="{% url 'feedback:comment_submit' prompt.public_id prompt.live_revision_id %}"
                    method="post"
                    data-feedback-form-comment
                >
                    {{ comment_form.as_div }}

                    <button type="submit" class="feedback__form-submit tna-button--dark" data-feedback-form-submit>Submit</button>
                    <button class="feedback__form-close" aria-label="Close feedback form" data-feedback-form-close>
                        {% include "includes/icon.html" with name="x-mark" classname="feedback__form-close-icon" %}
                    </button>
                </form>

                <div class="feedback__form feedback__success" id="feedback-success">
                    <h3 class="tna-heading-m feedback__success-heading">
                        {{ prompt.thank_you_heading }}
                    </h3>

                    {% if prompt.thank_you_message %}
                        <div class="feedback__success-message">
                            {{ prompt.thank_you_message|richtext }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
const form = document.getElementById("feedback-form");
const commentForm = document.getElementById("feedback-comment-form");
const successContent = document.getElementById("feedback-success");
const closeButton = document.querySelector("button[data-feedback-form-close]");
let submitted = false;
let comment_submitted = false;

function showSuccessContent() {
    successContent.style.display = "block";
    window.location.hash = successContent.id;
}

// submit via the get API instead
form.onsubmit = function (e) {
    e.preventDefault();

    if(submitted){
        // Avoid multiple posts
        return;
    }

    const response_value = e.submitter.value;
    if(!response_value){
        // Avoid submissions without a response value
        return;
    }

    // Set a flag to avoid multiple posts
    submitted = true;

    // Gather data for posting
    const body = new FormData(form);
    // Add the value from the submit button that was used
    body.set("response", response_value);
    // Ensure the view responds with JSON
    body.set("is_ajax", "true");

    fetch(
        form.getAttribute("action"),
        {
            method: "post",
            body: body,
        }
    )
    .then((response) => response.json())
    .then((data) => {
        form.remove();
        if(data["comment_prompt_text"]) {
            commentForm.querySelector("label").innerHTML = data["comment_prompt_text"];
            commentForm.querySelector("input[name='submission']").value = data["id"];
            commentForm.querySelector("input[name='signature']").value = data["signature"];
            commentForm.style.display = "block";
            window.location.hash = commentForm.id;
        }
        else {
            showSuccessContent();
        }
    })
    .catch((error) => {
        console.error("Error:", error);
    });
};

// submit comments via the get API
commentForm.onsubmit = function (e) {
    e.preventDefault();

    if(comment_submitted){
        // Avoid multiple posts
        return;
    }

    // Set a flag to avoid multiple posts
    comment_submitted = true;

    // Gather data for posting
    const body = new FormData(commentForm);
    // Ensure the view responds with JSON
    body.set("is_ajax", "true");

    fetch(
        commentForm.getAttribute("action"),
        {
            method: "post",
            body: body,
        }
    )
    .then((response) => response.json())
    .then((data) => {
        commentForm.remove();
        showSuccessContent();
    })
    .catch((error) => {
        console.error("Error:", error);
    });
};

closeButton.onclick = function (e) {
    commentForm.remove();
    showSuccessContent();
};

</script>
