{% load wagtailimages_tags %}

<h2 class="tna-heading tna-heading--l">{{ value.heading }}</h2>
<p>{{ value.sub_heading }}</p>
<div class="row">
    <ul class="card-group--list-style-none" data-container-name="promoted-pages" id="analytics-promoted-pages">
        {% for promoted_item in value.promoted_items %}

        {% image promoted_item.teaser_image fill-288x172 as teaser_image_small %}
        {% image promoted_item.teaser_image fill-328x196 as teaser_image_medium %}
        {% image promoted_item.teaser_image fill-348x208 as teaser_image_large %}
        {% image promoted_item.teaser_image fill-508x304 as teaser_image_extra_large %}

        {% comment %}
        Source copied from templates/includes/card-group-secondary-nav.html

        Modified slightly to support data from a streamfield.

        This is not intended to be production-ready code.

        To discuss an approach to allow for reusability going forward.
        {% endcomment %}

        <li class="col-sm-12 col-md-6 col-lg-4 mb-3">
            <div class="card-group-secondary-nav">
                <a href="{{ promoted_item.url }}" 
                class="card-group-secondary-nav__image-link" 
                data-card-type="card-group-secondary-nav" 
                data-card-title="{{ promoted_item.title }}" 
                aria-labelledby="card-group-secondary-nav__desc{{ promoted_item.id }}{% if instance_id %}-{{ instance_id }}{% endif %}"
                tabindex="-1">
                    <div class="card-group-secondary-nav__image">
                        <picture>
                            <source media="(max-width: 768px)" srcset="{{ teaser_image_extra_large.url }}">
                            <source media="(max-width: 991px)" srcset="{{ teaser_image_medium.url }}">
                            <source media="(max-width: 1199px)" srcset="{{ teaser_image_small.url }}">
                            <source media="(min-width: 1200px)" srcset="{{ teaser_image_large.url }}">
                            <img src="{{ teaser_image_small.url }}" alt="{{ image.title }}" class="card-group-secondary-nav__image-fallback">
                        </picture>
                    </div>
                </a>
                <div class="card-group-secondary-nav__body">
                    <h3 class="tna-heading card-group-secondary-nav__heading">
                        <a href="{{ promoted_item.url }}" 
                        class="card-group-secondary-nav__title-link" 
                        data-card-type="card-group-secondary-nav" 
                        data-card-title="{{ promoted_item.title }}"
                        id="card-group-secondary-nav__desc{{ promoted_item.id }}{% if instance_id %}-{{ instance_id }}{% endif %}">
                            {{ promoted_item.title }}
                        </a>
                    </h3>
                    <p class="card-group-secondary-nav__paragraph">{{ promoted_item.description }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>