{% extends 'base-images.html' %}

{% load records_tags static %}

{% block content %}

{{ images.has_other_pages }}

    {% with images_count=images.count %}
        <div class="image-viewer" data-container-name="image-viewer" id="analytics-image-viewer">
            <div class="image-viewer__header">
                <div class="image-viewer__reference">
                    <h1 class="tna-heading-xl">{{ images.has_other_pages }}<strong>{{ page.reference_number }}</strong> <span>- Image {{ index|add:'1' }} of {{ images_count }}</span></h1>
                </div>
                <nav class="image-viewer__navigation" aria-label="Explore this record">

                    {% comment %}

                    Development note:

                    Where there are multiple images associated with a record the 'nav > ul > li > a' pattern would be used.
                    Where there is one record there be a single link rather than two links within a list 'nav a' as below

                    <a href="#">Record details</a>

                    {% endcomment %}

                    <ul>
                        <li><a href="{% url 'image-browse' page.iaid %}">All {{ images_count }} images</a></li>
                        <li><a href="{% record_url page %}">Record details</a></li>
                    </ul>
                </nav>
            </div>
            <div class="image-viewer__viewer" id="js-image-viewer" role="region" aria-label="Image viewer"></div>

            {% comment %}
                This noscript tag is used to provide a static image
                to users should JavaScript be unavailable for any reason.
            {% endcomment %}

            <noscript>
                <img src="{% url 'image-serve' location=image.location %}"
                     alt="CAB 23/78 - Image {{ index|add:'1' }} of {{ images_count }}">
            </noscript>

            <div class="image-viewer__footer">
                <div class="image-viewer__toolbar" id="js-viewer-toolbar">
                    <button id="zoom-in" aria-controls="js-image-viewer" data-image-viewer-controls="Zoom in">Zoom in</button>
                    <button id="zoom-out" aria-controls="js-image-viewer" data-image-viewer-controls="Zoom out">Zoom out</button>
                    <button id="home" aria-controls="js-image-viewer" data-image-viewer-controls="Reset">Reset</button>
                    <button id="full-page" aria-controls="js-image-viewer" data-image-viewer-controls="Full screen">Full screen</button>
                </div>

                {% if next_image or previous_image %}
                    <nav class="image-viewer__pagination" aria-label="Pagination">
                        <ul>
                            {% if previous_image %}
                                <li><a href="{% url 'image-viewer' page.iaid previous_image.sort %}">Previous</a></li>
                            {% endif %}
                            {% if next_image %}
                                <li><a href="{% url 'image-viewer' page.iaid next_image.sort %}">Next</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </div>
    {% endwith %}

    {% if images.has_other_pages %}
        <ul class="pagination">
            {% if images.has_previous %}
                <li><a href="?page={{ images.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in images.paginator.page_range %}
                {% if images.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if images.has_next %}
                    <li><a href="?page={{ images.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
    </main>

{% endblock %}

{% block extra_js %}

    {% url 'image-serve' location=image.location as image_url %}

    {{ image_url | json_script:"image_source" }}
    <script type="application/javascript">
        var image_source = JSON.parse(document.getElementById('image_source').textContent);
    </script>

    <script src="{% static 'scripts/image_viewer.js' %}"></script>

{% endblock %}
