{% extends 'base-images.html' %}
{% load static %}

{% block content %}
    {% with images_count=images|length %}
    <div class="image-browse">
        <div class="image-browse__header">
            <div class="image-browse__reference_and_count">
                <h1><strong>{{ page.reference_number }}</strong>
                    <span>- {{ images_count }} images</span>
                </h1>
            </div>
            <div class="image-browse__details_navigation">
                <a href="{% url 'details-page-human-readable' page.reference_number %}">View catalogue details</a>
            </div>
        </div>
        <ul class="image-browse__listing">
            {% for image in images %}
                <li style="background-image:url({% url 'image-serve' location=image.location %})">
                    <a href="{% url 'image-viewer' page.iaid image.location %}">
                        <span>Image {{ forloop.counter }} of {{ images_count }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endwith %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/image_browse.js' %}"></script>
{% endblock %}
