{% extends 'base-images.html' %}

{% load static datalayer_tags records_tags %}

{% block extra_gtm_js %}
    {% image_browse_datalayer as datalayer %}
    {{ datalayer | json_script:"datalayer" }}
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push(JSON.parse(document.getElementById('datalayer').textContent));
    </script>
{% endblock extra_gtm_js %}

{% block content %}
    <div class="image-browse">
        <div class="image-browse__header">
            <div class="image-browse__reference_and_count">
                <h1 class="tna-heading tna-heading--xl">{{ page.reference_number }}
                    <span>- {{ images_count }} images</span>
                </h1>
            </div>
            <div class="image-browse__details_navigation">
                <a href="{% record_url page %}">Record details</a>
            </div>
        </div>
        <ul class="image-browse__listing">
            {% for image in images %}
                <li style="background-image:url({{ image.thumbnail_url }})">
                    <a href="{% url 'image-viewer' page.iaid image.sort %}">
                        <span>Image {{ images.start_index|add:forloop.counter0 }} of {{ images_count }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if images.has_other_pages %}
        <nav class="pagination" aria-label="Results pagination" data-container-name="Pagination" id="analytics-pagination">
            <ul class="pagination__list">
                {% if images.has_previous %}
                    <li class="pagination__list-item">
                        <a class="pagination__page-chevron-previous" href="?page={{ images.previous_page_number }}"></a>
                        <span class="sr-only" data-link="Previous page">Previous page</span>
                    </li>
                {% else %}
                    <li class="pagination__list-item">
                        <span class="pagination__page-chevron-previous--disabled"></span>
                    </li>
                {% endif %}
                <li class="pagination__list-pages" aria-label="Page numbers">
                    <ol>
                {% for i in images.paginator.page_range %}
                        {% if images.number == i %}
                            <li class="pagination__list-item">
                                <a class="pagination__page-link-current" href="#" aria-label="Current page, Page {{ i }}" aria-current="true" data-link="{{ i }}"><span class="sr-only">Current page </span>{{ i }}</a>
                            </li>
                        {% else %}
                            <li class="pagination__list-item"><a class="pagination__page-link" href="?page={{ i }}" aria-label="Go to page {{ i }}"  data-link="{{ i }}"><span class="sr-only">Page </span>{{ i }}</a>
                            </li>
                        {% endif %}
                {% endfor %}
                    </ol>
                </li>
                {% if images.has_next %}
                    <li class="pagination__list-item">
                        <a class="pagination__page-chevron-next" href="?page={{ images.next_page_number }}" data-link="Next page"><span class="sr-only">Next page</span></a>
                    </li>
                {% else %}
                    <li class="pagination__list-item">
                        <span class="pagination__page-chevron-next--disabled"></span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/image_browse.js' %}"></script>
{% endblock %}
