{% extends "base.html" %}

{% load static datalayer_tags records_tags wagtailcore_tags sections_tags wagtailmetadata_tags %}

{% block html_class %}tna-template--light-theme tna-template--blue-accent{% endblock %}

{% block extra_gtm_js %}
    {% render_gtm_datalayer record %}
{% endblock extra_gtm_js %}

{% block content %}
    <div class="tna-container">
        <div class="tna-column">
            {% include "includes/records/record-title.html" %}
            {% include "includes/records/hierarchy-global.html" %}
        </div>
    </div>

    <div class="tna-container">
        <div class="tna-column tna-column--width-1-4">
            <nav class="jumplinks">
                <h2 class="tna-heading-l jumplinks__heading u-margin-s">On this page</h2>

                <ol class="jumplinks__list">
                    <li class="jumplinks__list-item">
                        <a class="jumplink" href="#record-description" data-component-name="Desktop in page navigation" data-link-type="Jump links" data-position="0" data-link="Description and record details">
                            Description and record details
                        </a>
                    </li>
                
                    <li class="jumplinks__list-item">
                        <a class="jumplink" href="#record-viewer" data-component-name="Desktop in page navigation" data-link-type="Jump links" data-position="1" data-link="Record viewer">
                            Record viewer
                        </a>
                    </li>
                
                    <li class="jumplinks__list-item">
                        <a class="jumplink" href="#related-records" data-component-name="Desktop in page navigation" data-link-type="Jump links" data-position="2" data-link="Series">
                            Series
                        </a>
                    </li>
                
                    <li class="jumplinks__list-item">
                        <a class="jumplink" href="#related-content" data-component-name="Desktop in page navigation" data-link-type="Jump links" data-position="3" data-link="Related records">
                            From the website
                        </a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="record-details tna-column tna-column--width-3-4 tna-column--full-small tna-column--full-tiny">
            <h2 id="record-description" class="tna-heading-l">Description and record details</h2>

            <div class="record-details__content">
                <table class="record-details__table">
                    <tbody>
                        {% include "includes/records/record-details.html" %}            
                    </tbody>
                </table>
            </div>

            {% if iiif_manifest_url %}
                <h2 class="heading heading--two" id="record-viewer">
                    Record
                </h2>

                <div class="uv" id="uv" data-js-iiif-viewer-manifest-url="{{ iiif_manifest_url }}">Loading</div>
            {% endif %}

            {% comment %}  
                Hardcoded version below for testing purposes while data isn't available
                {% if record.hierarchy %}
                    {% if record.hierarchy|length > 2 %}
                        <h2 class="tna-heading-l">This record is in the series</h2>

                        {% include "includes/records/record-series-panel.html" %}
                    {% endif %}
                {% endif %} 
            {% endcomment %}

            <h2 class="heading tna-heading-l" id="record-series">This record is in the series</h2>

            <div class="series-panel">
                {% include "includes/icon.html" with name="diagram-folder" classname="series-panel__icon" %}

                <div class="series-panel__container">
                    <h3 class="tna-heading-l series-panel__heading">
                        <span class="series-panel__reference">KV2</span>
                        KV 2 - The Security Service: Personal (PF Series) Files
                    </h3>

                    <p>See the series level description for more information about this record.</p>
                    
                    <a class="series-panel__link" href="{% record_url record.hierarchy.1 %}" data-link-type="Link" data-link="View series description" data-component-name="Series link">View series description</a>
                </div>
            </div>
        </div>
    </div>

    {% comment %} TODO: Replace with non-hardcoded component-ised version once BE in place {% endcomment %}
    <div class="section tna-!--margin-top-l">
        <div class="tna-container record-links">
            <div class="tna-column">
                <h2 class="heading tna-heading-l" id="related-records">Records from the same series</h2>
            </div>
            <ul class="card-group--list-style-none">
                <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-l">
                    <div class="record-links__item record-links__item--card">
                        <div class="record-links__item__text">
                            <p class="record-links__item__reference"><span class="sr-only">Link to record </span>IN THE CATALOGUE: WO 208/3324/115</p>
                            <h2 class="tna-heading-l record-links__item__title">
                                <a href="/">Escape/Evasion Reports: Code MI9/SPG: 2722</a>
                            </h2>
                            <p class="record-links__item__dates">1944</p>
                        </div>
                    </div>
                </li>
                <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-l">
                    <div class="record-links__item record-links__item--card">
                        <div class="record-links__item__text">
                            <p class="record-links__item__reference"><span class="sr-only">Link to record </span>IN THE CATALOGUE: WO 208/3324/115</p>
                            <h2 class="tna-heading-l record-links__item__title">
                                <a href="/">Escape/Evasion Reports: Code MI9/SPG: 2722</a>
                            </h2>
                            <p class="record-links__item__dates">1944</p>
                        </div>
                    </div>
                </li>
                <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-l">
                    <div class="record-links__item record-links__item--card">
                        <div class="record-links__item__text">
                            <p class="record-links__item__reference"><span class="sr-only">Link to record </span>IN THE CATALOGUE: WO 208/3324/115</p>
                            <h2 class="tna-heading-l record-links__item__title">
                                <a href="/">Escape/Evasion Reports: Code MI9/SPG: 2722</a>
                            </h2>
                            <p class="record-links__item__dates">1944</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {% comment %} TODO: Replace with non-hardcoded component-ised version once BE in place {% endcomment %}
    <div class="section section--padding tna-!--margin-top-l tna-background-accent-light">
        <div class="tna-container">
            <div class="tna-column">
                <h2 class="heading tna-heading-l" id="related-content">Related website content</h2>
            </div>
            <ul class="card-group--list-style-none">
                <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-l">
                    {% include "../components/card.html" with horizontal=true title='Great Escapes' href='#' imageSrc=card_image.url imageWidth=800 imageHeight=450 text='Find out more about our new exhibition exploring both iconic and under-told stories of prisoners of war and civilian internees during the Second World War.' headingSize="s" headingLevel=3 label=link_page.is_newly_published|yesno:"New," index=forloop.counter0 heading=heading supertitle='Exhibition' %}
                </li>
                <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-l">
                    {% include "../components/card.html" with horizontal=true title='Judy, the only dog registered as a prisoner of war' href='#' imageSrc=card_image.url imageWidth=800 imageHeight=450 text='Judys remarkable story is one of capture, survival and courage, and offers a unique tale of internment during the war.' headingSize="s" headingLevel=3 label=link_page.is_newly_published|yesno:"New," index=forloop.counter0 heading=heading supertitle='Story of' %}
                </li>
                <li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-top-l">
                    {% include "../components/card.html" with horizontal=true title='Escaping Colditz' href='#' imageSrc=card_image.url imageWidth=800 imageHeight=450 text='Discover how Allied prisoners of war survived and daringly tried to escape this seemingly secure fortification.' headingSize="s" headingLevel=3 label=link_page.is_newly_published|yesno:"New," index=forloop.counter0 heading='Highlights Gallery' supertitle='Highlights Gallery' %}
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/details.js' %}"></script>

    {% if iiif_manifest_url %}
        <script src="{% static 'uv/UV.js' %}"></script>
        <script src="{% static 'scripts/iiif_viewer.js' %}"></script>
    {% endif %}
{% endblock %}
