{% extends "base.html" %}

{% load static datalayer_tags records_tags wagtailcore_tags sections_tags wagtailmetadata_tags %}

{% block html_class %}tna-template--light-theme tna-template--blue-accent{% endblock %}

{% block extra_gtm_js %}
    {% render_gtm_datalayer record %}
{% endblock extra_gtm_js %}

{% block content %}

    <div class="tna-container">
        <div class="tna-column">
            {% include "includes/records/record-title.html" %}
            {% include "includes/records/hierarchy-global.html" %}
        </div>
    </div>

    <div class="tna-container">
        <div class="tna-column tna-column--width-1-4">
            <nav class="jumplinks">
                <h2 class="tna-heading-l jumplinks__heading u-margin-s">On this page</h2>

                <ol class="jumplinks__list">
                    <li class="jumplinks__list-item">
                        <a class="jumplink" href="#h2.background" data-component-name="Desktop in page navigation" data-link-type="Jump links" data-position="0" data-link="Description and record details">
                            Description and record details
                        </a>
                    </li>
                
                    <li class="jumplinks__list-item">
                        <a class="jumplink" href="#h2.votes-for-women" data-component-name="Desktop in page navigation" data-link-type="Jump links" data-position="1" data-link="Record viewer">
                            Record viewer
                        </a>
                    </li>
                
                    <li class="jumplinks__list-item">
                        <a class="jumplink" href="#h2.the-representation-of-the-people-act" data-component-name="Desktop in page navigation" data-link-type="Jump links" data-position="2" data-link="Series">
                            Series
                        </a>
                    </li>
                
                    <li class="jumplinks__list-item">
                        <a class="jumplink" href="#h2.read-more" data-component-name="Desktop in page navigation" data-link-type="Jump links" data-position="3" data-link="Related records">
                            Related records
                        </a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="record-details tna-column tna-column--width-3-4 tna-column--full-small tna-column--full-tiny">
            <h2 id="record-details-heading" class="tna-heading-l">Description and record details</h2>

            <div class="record-details__content">
                <table class="record-details__table">
                    <tbody>
                        {% include "includes/records/record-details.html" %}            
                    </tbody>
                </table>
            </div>

            {% if iiif_manifest_url %}
                <h2 class="heading heading--two">
                    Record
                </h2>

                <div class="uv" id="uv" data-js-iiif-viewer-manifest-url="{{ iiif_manifest_url }}">Loading</div>
            {% endif %}

            {% comment %} {% if record.hierarchy %}
                {% if record.hierarchy|length > 2 %}
                    <h2 class="tna-heading-l">This record is in the series</h2>

                    {% include "includes/records/record-series-panel.html" %}
                {% endif %}
            {% endif %} {% endcomment %}

            <h2 class="heading tna-heading-l">This record is in the series</h2>

            <div class="series-panel">
                {% include "includes/icon.html" with name="diagram-folder" classname="series-panel__icon" %}

                <div class="series-panel__container">
                    <h3 class="tna-heading-l series-panel__heading">
                        <span class="series-panel__reference">KV2</span>
                        KV 2 - The Security Service: Personal (PF Series) Files
                    </h3>

                    <p>See the series level description for more information about this record.</p>
                    
                    <a class="series-panel__link" href="{% record_url record.hierarchy.1 %}" data-link-type="Link" data-link="View series description" data-component-name="Series link">View series description</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/details.js' %}"></script>

    {% if iiif_manifest_url %}
        <script src="{% static 'uv/UV.js' %}"></script>
        <script src="{% static 'scripts/iiif_viewer.js' %}"></script>
    {% endif %}
{% endblock %}
