{% extends "base.html" %}

{% load static %}
{% load datalayer_tags %}

{% block extra_gtm_js %}
{{ page | datalayer_data:request.user | json_script:"datalayer-data" }}

<script>
    dataLayer = [JSON.parse(document.getElementById('datalayer-data').textContent)];
</script>
{% endblock extra_gtm_js %}

{% block content %}

    {% include "includes/records/hierarchy-local.html" %}

    <div class="row no-gutters">

        <div class="col-xl-3 order-xl-2 specific-border-bottom-lg specific-sticky specific-bg-grey-5">
              {% include "includes/records/hierarchy-global.html" %}
        </div>

        <div class="col-xl-9 order-xl-1 specific-padding-bottom-lg">
            {% include "includes/records/record-title.html" %}
            <div class="container">
                {% include "includes/records/key-facts.html" %}

                <h2>How to view this record</h2>

                {% include "includes/records/image-viewer-panel.html" %}

                {% include "includes/records/record-access-options.html" %}

                <h2>Description and record details</h2>

                {% include "includes/records/record-details.html" %}

                <h2>Topics covered in this record</h2>

                {% include "includes/records/taxonomy-tags.html" %}
            </div>
        </div>
    </div>

{% endblock %}
