{% extends "base.html" %}

{% load static datalayer_tags records_tags %}

{% block extra_gtm_js %}
    {% render_gtm_datalayer record %}
{% endblock extra_gtm_js %}
{% block breadcrumb %}
{% endblock %}

{% block content %}

    {% include "includes/records/record-cta-panel.html" %}

    <div class="container">

        {% include "includes/records/record_creator_description.html" %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/details.js' %}"></script>
{% endblock %}
