{% extends "base.html" %}

{% load static %}
{% load datalayer_tags %}

{% block content %}
    {% include "includes/generic-intro.html" with title="Several records share this reference" only %}

    <div class="disambiguation-explanation">
        <div class="container">
            <h2 class="disambiguation-explanation__subheading">Several records share the
                reference {{ queried_reference_number }}. </h2>
            <p>Very occasionally (less than 1% of the time) a record shares its catalogue reference with other records
                in the catalogue, usually with its own sub-records. This is the case with
                reference {{ queried_reference_number }}.</p>
            <p class="mb-0">Its associated records are listed below.</p>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <h2 class="sr-only">Associated records</h2>

            <ul class="card-group--list-style-none" data-container-name="associated-records"
                id="analytics-associated-records">

                {% for record in record_results_page %}
                    {% include 'includes/card-group-record-summary-no-image.html' with url=record.non_reference_number_url %}
                {% endfor %}

            </ul>
        </div>
    </div>

    <nav class="pagination" role="navigation" aria-label="Records pagination" data-container-name="Pagination"
         id="analytics-disambiguation-pagination">
        {% if record_results_page.has_other_pages %}
            <ul class="pagination__list">
                {% if record_results_page.has_previous %}
                    <li class="pagination__list-item">
                        <a class="pagination__page-chevron-previous" href="?page={{ record_results_page.previous_page_number }}"><span
                                class="sr-only" data-link="Previous page">Previous page</span></a>
                    </li>
                {% else %}
                    <li class="pagination__list-item">
                        <span class="pagination__page-chevron-previous--disabled"></span>
                    </li>
                {% endif %}
                <li class="pagination__list-pages" aria-label="Page numbers">
                    <ol>
                        {% for i in record_results_page.paginator.page_range %}
                            {% if record_results_page.number == i %}
                                <li class="pagination__list-item">
                                    <a class="pagination__page-link-current" href="?page={{ i }}"
                                       aria-label="Current page, Page {{ i }}"
                                       aria-current="true" data-link="{{ i }}"><span
                                            class="sr-only">Current page </span>{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="pagination__list-item"><a class="pagination__page-link" href="?page={{ i }}"
                                                                     aria-label="Go to page {{ i }}"
                                                                     data-link="{{ i }}"><span
                                        class="sr-only">Page </span>{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </li>
                {% if record_results_page.has_next %}
                    <li class="pagination__list-item">
                        <a class="pagination__page-chevron-next" href="?page={{ record_results_page.next_page_number }}"
                           data-link="Next page"><span class="sr-only">Next page</span></a>
                    </li>
                {% else %}
                    <li class="pagination__list-item">
                        <span class="pagination__page-chevron-next--disabled"></span>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>

    <script>        
        window.dataLayer = window.dataLayer || [];
        {% for record in record_results_page %}
            window.dataLayer.push({
                "event": "disambiguation-page",
                "data-link": "{{ record.summary_title }}",
                "search-bucket": "{% if record.held_by %}{{ record.held_by }}{% else %}None{% endif %}", // can get archive that holds it but not bucket
                "data-position": "{{ forloop.counter }}"
            });
        {% endfor %}
    </script>

{% endblock content %}
