{% extends "base.html" %}

{% load static %}
{% load datalayer_tags %}
{% load records_tags %}

{% block extra_gtm_js %}
    {% render_gtm_datalayer record %}
{% endblock extra_gtm_js %}

{% block content %}

    <div class="container">

        {% include "includes/records/record_creator_description.html" %}

        {% include "includes/records/record_creator_collections.html" %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/details.js' %}"></script>
{% endblock %}
