<div class="alert-message--medium">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <strong class="alert-message__label">ALERT</strong>
                    <p class="alert-message__description">This is a medium severity alert. Here is some extra text to show what a detailed alert would look like. <a class="alert-message__link" href="#">Find out more.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>