{% load wagtailcore_tags %}
<div class="beta-banner" aria-label="About The National Archives' beta">

         <div class="beta-banner__standfirst">
         {{ settings.core.SiteSettings.beta_banner_standfirst }}
         </div>
        <div class="beta-banner__text">
            {{ settings.core.SiteSettings.beta_banner_text|richtext }}
        </div>
        <div class="beta-banner__options">
            <a class="beta-banner__link" href="{{ settings.core.SiteSettings.beta_banner_link }}">Find out more</a>
        </div>

</div>
