{% load wagtailcore_tags %}
<div class="beta-banner">
    <div class="tna-container">
        <div class="tna-column">
            <div class="beta-banner__standfirst">
                {{ settings.core.SiteSettings.beta_banner_standfirst }}
            </div>
            <div class="beta-banner__text">
                {{ settings.core.SiteSettings.beta_banner_text|richtext }}
            </div>
            <div class="beta-banner__options">
                <a class="beta-banner__link" href="{{ settings.core.SiteSettings.beta_banner_link }}" rel="noopener noreferrer" target="_blank">
                    {{ settings.core.SiteSettings.beta_banner_link_text }}
                </a>
            </div>
        </div>
    </div>
</div>
