<div class="beta-banner" aria-label="About The National Archives' beta">
    <p class="beta-banner__text beta-banner__text--large">What is beta.nationalarchives.gov.uk?</p>
    <p class="beta-banner__text">
        This beta site contains new services and features currently in development. Many of these features are works in 
        progress and are being updated regularly.  You can help us improve them by providing feedback as you use the site.
    </p>
    <a class="beta-banner__link" href="/">Find out more</a>
</div>