<div class="blog-embed">
    <img class="blog-embed__icon" src="/static/images/fontawesome-svgs/comment-white.svg" alt="">
    <p class="blog-embed__icon-label" role="presentation" aria-hidden="true">
        Blog
    </p>

    <h3 class="blog-embed__heading">
        <span class="sr-only">Blog.</span>
        Paying for the privilege: a new Shakespeare discovery
    </h3>

    <p class="blog-embed__date">
        Published on <time datetime="2016-04-23">Saturday 23 April 2016</time>
    </p>

    <div class="blog-embed__image-container">
        <img class="blog-embed__image" src="https://via.placeholder.com/690x260" alt="Summary in Signet Office Docquet Book of licence to the Lord Chamberlain’s Men (including Shakespeare) and fee charged (catalogue reference: SO 3/2)">
    </div>

    <!--  Paragraphs to be placed in a for loop  -->
    <p class="blog-embed__text">
        One third of a pound does not go far today – it’s not even a small child’s pocket money. But in 1603, it helped Shakespeare secure his future.
    </p>

    <a class="tna-button--dark" href="https://blog.nationalarchives.gov.uk/paying-privilege-new-shakespeare-discovery/">Read the full blog</a>
</div>
