<div class="blogs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="records-title">Blogs and Podcasts</h2>
            </div>
        </div>
        <div class ="row">

            <div class="col-md-4 card">
                <a href=""><img src="../media/blog-one.png" alt="" /></a>
                <h3><a href="">Conserving Shakespeare's will</a>
                </h3>
                <span>by Nicola Fleming</span>
                <p>Monday 4th April 2016</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>

            <div class="col-md-4 card">
                <a href=""><img src="../media/blog-two.png" alt="" /></a>
                <h3><a href="">A tourist's guide to Shakespeare's London</a>
                </h3>
                <span>by David Thomas</span>
                <p>Thursday 12th May 2016</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="col-md-4 card">
                <a href=""><img src="../media/blog-three.png" alt="" /></a>
                <h3><a href="">Shakespeare's will: a new interpretation</a>
                </h3>
                <span>by Amada Bevan</span>
                <p>Tuesday 15th April 2016</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>


        </div>
    </div>
</div>