{% if self.get_ancestors|length > 1 %}
<div class="tna-breadcrumbs__wrapper">
    <div class="tna-breadcrumbs tna-container">
        <nav class="tna-column tna-column--full" aria-label="Breadcrumb">
            <ol class="tna-breadcrumbs__list">
                <li class="tna-breadcrumbs__item">
                    <a href="/" class="tna-breadcrumbs__link" data-component-name="Breadcrumb" data-link-type="Breadcrumb link" data-link="Home">
                        Home
                    </a>
                </li>
                {% for p in self.get_ancestors %}
                    {% if  p.depth > 2 %}
                        <li class="tna-breadcrumbs__item">
                            <a href="{{ p.url }}" class="tna-breadcrumbs__link" data-component-name="Breadcrumb" data-link-type="Breadcrumb link" data-link="{{ p.title }}">
                                {{ p.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </div>
</div>
{% endif %}
