<div class="breadcrumb-content govuk-breadcrumbs--collapse-on-mobile">
  <nav aria-label="Breadcrumb">
    {% if self.get_ancestors|length > 1 %}
        <ul class="breadcrumb govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item"><a href="/"> Home></a></li>
            {% for p in self.get_ancestors %}
                {% if p.is_root == False %}
                    <li class="govuk-breadcrumbs__list-item"><a href="{{ p.url }}"  aria-current="page">{{ p.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
  </nav>
</div>