<div class="callout">
    <div class="container">
        <h3 class="sr-only">Legal cases relating to Shakespeare</h3>
        <p class="callout__standfirst">
            Whilst the registry record of Shakespeare’s birth is held in Stratford-upon-Avon and his November 28th 1582 marriage bond to Anne Hathaway is now in Worcestershire Record Office, a series of important records of his life are held at The National Archives, including pleadings and depositions in three lawsuits in the Court of Requests involving Shakespeare.
        </p>

        <!-- Links to be conditionally rendered -->
        <dl class="callout__list">
            <div class="callout__list-item">
                <dt>
                    <h4 class="callout__link-heading">
                        <a class="callout__link" href="http://discovery.nationalarchives.gov.uk/details/r/C5904894">
                            The case of Belott versus Mountjoy
                        </a>
                    </h4>
                </dt>
                <dd class="callout__link-text">
                    This concerns a marriage dowry and contains Shakespeare’s signed deposition. The documents pinpoint his residence in 1604.                            </dd>
            </div>
            <div class="callout__list-item">
                <dt>
                    <h4 class="callout__link-heading">
                        <a class="callout__link" href="http://discovery.nationalarchives.gov.uk/details/r/C2677795">
                            The case of Keysar versus Burbage and others
                        </a>
                    </h4>
                </dt>
                <dd class="callout__link-text">
                    This describes the King’s Men acting company’s involvement in the Blackfriars Playhouse.
                </dd>
            </div>
            <div class="callout__list-item">
                <dt>
                    <h4 class="callout__link-heading">
                        <a class="callout__link" href="http://discovery.nationalarchives.gov.uk/details/r/C5904893">
                            The case of Witter versus Heminges and Condell
                        </a>
                    </h4>
                </dt>
                <dd class="callout__link-text">
                    This describes the way in which the shares in the syndicate that leased the Globe playhouse were distributed.                            </dd>
            </div>
        </dl>
    </div>
</div>
