<li class="col-sm-12 col-md-6 col-lg-4 mb-3">
    <div class="card-group-secondary-nav">
        <a href='{{ promoted_page.url }}' class="card-group-secondary-nav__link">
            <div class="card-group-secondary-nav__body">
                <h3 class="tna-card__heading">{{ promoted_page.title }}</h3>
                <p>{{ promoted_page.introduction }}</p>
            </div>
            <div class="card-group-secondary-nav__image">
                <picture>
                    <source media="(max-width: 768px)" srcset="https://via.placeholder.com/543x325.png?text=Placeholder">
                    <source media="(max-width: 991px)" srcset="https://via.placeholder.com/328x196.png?text=Placeholder">
                    <source media="(max-width: 1199px)" srcset="https://via.placeholder.com/288x172.png?text=Placeholder">
                    <source media="(min-width: 1200px)" srcset="https://via.placeholder.com/348x208.png?text=Placeholder">
                    <img src="https://via.placeholder.com/288x172.png?text=Placeholder" alt="Placeholder alt text" class="card-group-secondary-nav__image-fallback">
                </picture>
            </div>
        </a>
    </div>
</li>
