<li class="card-group-promo--dark">
    <h2 class="card-group-promo__heading">Heading</h2>

    <div class="card-group-promo__card">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4">
                <a href="/" tabindex="-1">
                    <picture>
                        <source media="(max-width: 576px)" srcset="https://via.placeholder.com/513x413.png?text=Placeholder">
                        <source media="(max-width: 768px)" srcset="https://via.placeholder.com/478x385.png?text=Placeholder">
                        <source media="(max-width: 991px)" srcset="https://via.placeholder.com/314x253.png?text=Placeholder">
                        <source media="(max-width: 1199px)" srcset="https://via.placeholder.com/357x288.png?text=Placeholder">
                        <source media="(min-width: 1200px)" srcset="https://via.placeholder.com/340x274.png?text=Placeholder">
                        <img src="https://via.placeholder.com/314x253.png?text=Placeholder"
                             alt="Placeholder alt text."
                             class="card-group-promo__card-image">
                    </picture>
                </a>
            </div>
            <div class="col-md-6 col-lg-7 col-xl-8">
                <h3 class="card-group-promo__card-heading"><a href="/">Heading</a></h3>
                <p>Description.</p>
            </div>
        </div>
    </div>
</li>