{% load records_tags %}
{% load wagtailimages_tags %}

<li class="col-sm-12 col-md-6 col-lg-4">
    <div class="card-group-record-summary">
        <a href="{% if url %}{{ url }}{% else %}{% record_url record is_editorial=True %}{% endif %}" class="card-group-record-summary__link" data-card-type="card-group-record-summary-no-image" data-card-title="{% firstof description_override|safe record.summary_title %}"{% if FEATURE_RECORD_LINKS_GO_TO_DISCOVERY %} target="_blank"{% endif %}>
            <p class="card-group-record-summary__heading">
                {% if record.reference_number %}
                    <span class="sr-only">
                        {{ record.reference_number }} -
                    </span>
                {% endif %}
                {# default_if_none for those template calls that do not share description_override #}
                {% firstof description_override|default_if_none:""|safe record.summary_title|striptags %}
                {% if FEATURE_RECORD_LINKS_GO_TO_DISCOVERY %}<span class="sr-only">(link opens in a new window)</span>{% endif %}
            </p>
        </a>
    </div>
</li>
