{% load wagtailimages_tags %}

{% image link_page.teaser_image fill-288x172 as teaser_image_small %}
{% image link_page.teaser_image fill-328x196 as teaser_image_medium %}
{% image link_page.teaser_image fill-348x208 as teaser_image_large %}
{% image link_page.teaser_image fill-508x304 as teaser_image_extra_large %}

<li class="col-sm-12 col-md-6 col-lg-4 mb-3">
    <div class="card-group-secondary-nav">
        <a
            href="{{ link_page.url }}"
            class="card-group-secondary-nav__image-link"
            data-card-type="card-group-secondary-nav"
            data-component-name="{{ card_type }} card: {% if heading %}{{ heading }}{% else %}{{ page.title }}{% endif %}"
            data-link-type="Card image"
            data-card-title="{{ link_page.title }}"
            {% if link_page.is_newly_published %}
                data-label="New"
            {% endif %}
            aria-labelledby="article-desc{{ link_page.id }}{% if instance_id %}-{{ instance_id }}{% endif %}"
            {% if forloop.counter %}
                data-card-position="{{ forloop.counter0 }}"
            {% endif %}
        >
            <div class="card-group-secondary-nav__image">
                <picture>
                    <source media="(max-width: 768px)" srcset="{{ teaser_image_extra_large.url }}">
                    <source media="(max-width: 991px)" srcset="{{ teaser_image_medium.url }}">
                    <source media="(max-width: 1199px)" srcset="{{ teaser_image_small.url }}">
                    <source media="(min-width: 1200px)" srcset="{{ teaser_image_large.url }}">
                    <img src="{{ teaser_image_extra_large.url }}" alt="" class="card-group-secondary-nav__image-fallback">
                </picture>
            </div>
        </a>
        <div class="card-group-secondary-nav__body">
            {% if show_type_label and link_page.type_label %}
                <p class="card-group-secondary-nav__title-label">{{ link_page.type_label }}</p>
            {% endif %}
            <h3 class="card-group-secondary-nav__heading">
                <a
                    href="{{ link_page.url }}"
                    class="card-group-secondary-nav__title-link"
                    data-card-type="card-group-secondary-nav"
                    data-component-name="{{ card_type }} card: {% if heading %}{{ heading }}{% else %}{{ page.title }}{% endif %}"
                    data-link-type="Card text"
                    data-card-title="{{ link_page.title }}"
                    {% if link_page.is_newly_published %}
                    data-label="New"
                    {% endif %}
                    {% if forloop.counter %}
                        data-card-position="{{ forloop.counter0 }}"
                    {% endif %}
                    >{{ link_page.title }}</a>
                {% if link_page.is_newly_published %}
                <span>NEW</span>
                {% endif %}
            </h3>
            <p id="article-desc{{ link_page.id }}{% if instance_id %}-{{ instance_id }}{% endif %}" class="aria-desc-card">
                Read about {{ link_page.title }}
            </p>
            <p class="card-group-secondary-nav__paragraph">{{ link_page.teaser_text }}</p>
        </div>
    </div>
</li>
