{% load wagtailimages_tags %}

{% image page.teaser_image fill-288x172 as teaser_image_small %}
{% image page.teaser_image fill-328x196 as teaser_image_medium %}
{% image page.teaser_image fill-348x208 as teaser_image_large %}
{% image page.teaser_image fill-543x325 as teaser_image_extra_large %}

<li class="col-sm-12 col-md-6 col-lg-4 mb-3">
    <div class="card-group-secondary-nav">
        <a href='{{ child.url }}' class="card-group-secondary-nav__link">
            <div class="card-group-secondary-nav__body">
                <h3 class="tna-card__heading">
                    {# Visible on screen but hidden from assistive technology #}
                    <span aria-hidden="true">{{ page.title }} ({{ page.start_year }} - {{ page.end_year }})</span>
                    {# Available to assistive technology #}
                    <span class="sr-only">{{ child.title }}. Covering years <time datetime="{{ page.start_year }}">{{ page.start_year }}</time> to <time datetime="{{ page.end_year }}">{{ page.end_year }}</time>.</span>
                </h3>
                <p>{{child.introduction}}</p>
            </div>
            <div class="card-group-secondary-nav__image">
                <picture>
                    <source media="(max-width: 768px)" srcset="{{ teaser_image_extra_large.url }}">
                    <source media="(max-width: 991px)" srcset="{{ teaser_image_medium.url }}">
                    <source media="(max-width: 1199px)" srcset="{{ teaser_image_small.url }}">
                    <source media="(min-width: 1200px)" srcset="{{ teaser_image_large.url }}">
                    <img src="{{ teaser_image_small.url }}" alt="{{ image.title }}" class="card-group-secondary-nav__image-fallback">
                </picture>
            </div>
        </a>
    </div>
</li>
