<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card-group-record-summary">
        <a href="{% url 'details-page-machine-readable' iaid=record.iaid %}" class="card-group-record-summary__link">
            <h4>{{ page.title }}</h4>
            <figure>
                <div class="card-group-record-summary__image">
                    <picture>
                        <source media="(max-width: 768px)" srcset="https://via.placeholder.com/543x549.png?text=Placeholder">
                        <source media="(max-width: 991px)" srcset="https://via.placeholder.com/328x322.png?text=Placeholder">
                        <source media="(max-width: 1199px)" srcset="https://via.placeholder.com/288x292.png?text=Placeholder">
                        <source media="(min-width: 1200px)" srcset="https://via.placeholder.com/348x352.png?text=Placeholder">
                        <img src="https://via.placeholder.com/543x549.png?text=Placeholder" alt="Record Alt" class="card-group-record-summary__image-fallback">
                    </picture>
                </div>
                <div class="card-group-record-summary__body">
                    <figcaption>{{ record.description }}</figcaption>
                </div>
            </figure>
        </a>
    </div>
</div>
