{% load wagtailimages_tags %}

{% image page.teaser_image fill-446x273 as teaser_image_small %}
{% image page.teaser_image fill-492x301 as teaser_image_medium %}
{% image page.teaser_image fill-508x311 as teaser_image_large %}
{% image page.teaser_image fill-626x383 as teaser_image_extra_large %}

<li class="card-group-promo--green">
    <h2 class="tna-heading-l card-group-promo__heading">{{ heading }}</h2>

    <div class="card-group-promo__card">
        <div class="row">
            <div class="col-md-12 col-lg-7 col-xl-6">
                <picture>
                    <source media="(max-width: 576px)" srcset="{{ teaser_image_small.url }}">
                    <source media="(max-width: 768px)" srcset="{{ teaser_image_small.url }}">
                    <source media="(max-width: 991px)" srcset="{{ teaser_image_extra_large.url }}">
                    <source media="(max-width: 1199px)" srcset="{{ teaser_image_medium.url }}">
                    <source media="(min-width: 1200px)" srcset="{{ teaser_image_large.url }}">
                    <img src="{{ teaser_image_extra_large.url }}"
                         alt=""
                         class="card-group-promo__card-image">
                </picture>
            </div>
            <div class="col-md-12 col-lg-5 col-xl-6">
                <h3 class="tna-heading-m card-group-promo__card-heading"><a href="{{ page.url }}" data-card-type="card-group-promo" data-card-title="{{ page.title }}">{{ page.title }}</a></h3>
                <p class="card-group-promo__card-paragraph">{{ page.introduction }}</p>
            </div>
        </div>
    </div>
</li>
