{% load wagtailimages_tags %}

{% image page.teaser_image fill-288x172 as teaser_image_small %}
{% image page.teaser_image fill-328x196 as teaser_image_medium %}
{% image page.teaser_image fill-348x208 as teaser_image_large %}
{% image page.teaser_image fill-508x304 as teaser_image_extra_large %}

<li class="col-sm-12 col-md-6 col-lg-4 mb-3">
    <div class="card-group-secondary-nav">
        <a
            href='{{ page.url }}'
            class="card-group-secondary-nav__image-link"
            data-card-type="card-group-secondary-nav"
            {% if value.block.meta.label or heading %}
                data-component-name="{% if value.block.meta.label %}{{ value.block.meta.label }}: {{ heading }}{% else %}{{ heading }}{% endif %}"
            {% endif %}
            data-link-type="Card image"
            data-card-title="{{ page.title }}"
            {% if page.is_newly_published %}
                data-label="New"
            {%endif%}
            aria-hidden="true"
            tabindex="-1"
        >
            <div class="card-group-secondary-nav__image">
                <picture>
                    <source media="(max-width: 768px)" srcset="{{ teaser_image_extra_large.url }}">
                    <source media="(max-width: 991px)" srcset="{{ teaser_image_medium.url }}">
                    <source media="(max-width: 1199px)" srcset="{{ teaser_image_small.url }}">
                    <source media="(min-width: 1200px)" srcset="{{ teaser_image_large.url }}">
                    <img src="{{ teaser_image_extra_large.url }}" alt="" class="card-group-secondary-nav__image-fallback">
                </picture>
            </div>
        </a>
        <div class="card-group-secondary-nav__body">
            {% if page.title_label %}
                <p class="card-group-secondary-nav__title-label">{{ page.title_label }}</p>
            {% endif %}
            <h3 class="card-group-secondary-nav__heading">
                <a
                    href='{{ page.url }}'
                    class="card-group-secondary-nav__title-link"
                    data-card-type="card-group-secondary-nav"
                    aria-describedby="article-desc{{ page.id }}{% if instance_id %}-{{ instance_id }}{% endif %}"
                    {% if value.block.meta.label or heading %}
                    data-component-name="{% if value.block.meta.label %}{{ value.block.meta.label }}: {{ heading }}{% else %}{{ heading }}{% endif %}"
                    {% endif %}
                    data-link-type="Card text"
                    data-card-title="{{ page.title }}"
                    {% if page.is_newly_published %}
                    data-label="New"
                    {%endif%}
                    >{{ page.title }}</a>
                {% if page.is_newly_published %}
                <span>NEW</span>
                {% endif %}
            </h3>
            <p id ="article-desc{{ page.id }}{% if instance_id %}-{{ instance_id }}{% endif %}" class="aria-desc-card">This is a link to a story about {{ page.title }}</p>
            <p class="card-group-secondary-nav__paragraph">{{ page.teaser_text }}</p>
        </div>
    </div>
</li>
