<div class="content-block--bordered">
    <div class="container">
        <div class="content-block__text">
            <p class="mb-0">
                Shakespeare’s will itself is a matter of debate. The last will and testament helps us to learn about Shakespeare at the end of his life, providing us with minute details about his final wishes. The source evidence in this lesson shows that he was a man of considerable wealth by the time he died, and that most of it was left to his eldest daughter, Susanna Hall. The will also provides us with three of only six surviving samples of his signature.                        </p>
        </div>
    </div>
</div>
