{% load wagtailcore_tags %}
<div class="content-warning {% if classes %}{{ classes }}{% endif %}" aria-label="Content warning">
    {% include "includes/icon.html" with name="content-warning" classname="content-warning__icon" %}
    <div class="content-warning__content">
        {% if custom_warning_text %}
            {{ custom_warning_text | richtext }}
        {% else %}
            <p>This article contains content that some people may find offensive.</p>
        {% endif %}
    </div>
</div>
