<div class="disambiguation-explanation">
    <div class="container">
        <p class="disambiguation-explanation__introductory-sentence">Several records share the reference {{ reference }}. </p>
        <p>Very occasionally, less than 1% of the time, a record shares its catalogue reference with other records in the catalogue, usually with its own sub-records. This is the case with reference {{reference}}.</p>
        {# Last paragraph should always have no margin bottom #}
        <p class="mb-0">Its associated records are listed below.</p>
    </div>
</div>
