<script>
    // This variable needs to be included in the head element before the GTM script tag
    dataLayer = [{
        'contentGroup1': "TNA catalogue", // The name of the content group - [Always has a value]
        'customDimension1': 'offsite', // This is the reader type (options are 'offsite', 'onsite_public', 'onsite_staff', 'subscription')
        'customDimension2': '', // This is the user type and is private beta specific - the user ID for participants. Left blank in this example because format unknown.
        'customDimension3': '', // This is the Wagtail page name
    }]
</script>
