{% load wagtailimages_tags wagtailcore_tags i18n %}

<!--TODO: Boilerplate HTML added. This is not the final product, work to be done by FE dev-->
<div class="container mt-4" data-container-name="{{ highlight_gallery.title }}">
    <h2>Explore records about <a href='{% pageurl highlight_gallery %}'>{{highlight_gallery.title}}</a></h2>
    <ul class="card-group--list-style-none">
        {% for item in page.featured_highlight_gallery_items %}
            {% with highlight=item.image %}
                {% image highlight fill-288x172 as teaser_image_small %}
                {% image highlight fill-328x196 as teaser_image_medium %}
                {% image highlight fill-348x208 as teaser_image_large %}
                {% image highlight fill-508x304 as teaser_image_extra_large %}
                
                <li class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card-group-secondary-nav">
                        <a href='{% pageurl highlight_gallery %}#highlight-{{ forloop.counter }}' class="card-group-secondary-nav__image-link" data-card-title="{{ highlight.title }}">
                            <div class="card-group-secondary-nav__image">
                                <picture>
                                    <source media="(max-width: 768px)" srcset="{{ teaser_image_extra_large.url }}">
                                    <source media="(max-width: 991px)" srcset="{{ teaser_image_medium.url }}">
                                    <source media="(max-width: 1199px)" srcset="{{ teaser_image_small.url }}">
                                    <source media="(min-width: 1200px)" srcset="{{ teaser_image_large.url }}">
                                    <img src="{{ teaser_image_extra_large.url }}" alt="" class="card-group-secondary-nav__image-fallback">
                                </picture>
                            </div>
                        </a>
                        <div class="card-group-secondary-nav__body">
                                <h3 class="card-group-secondary-nav__heading">
                                    <a href='{% pageurl highlight_gallery %}#highlight-{{ forloop.counter }}' class="card-group-secondary-nav__title-link">{{ highlight.title }}</a>
                                </h3>
                            <p id ="article-desc" class="aria-desc-card">This is a link to a story about {{ highlight.title }}</p>
                        </div>
                    </div>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
</div>