{% load static feedback_tags %}

<div class="tna-container">
    <div class="tna-column tna-column--full">
        {% render_feedback_prompt %}
    </div>
</div>

<footer class="tna-footer">
    <div class="tna-container">
        <nav class="tna-footer__legal tna-column tna-column--full" aria-label="General site links">
            <ul class="tna-footer__legal-items tna-ul tna-ul--plain">
                <li class="tna-footer__legal-item">
                    <a href="https://www.nationalarchives.gov.uk/help/web-accessibility/" class="tna-footer__legal-item-link">
                        Accessibility statement
                    </a>
                </li>
                <li class="tna-footer__legal-item">
                    <a href="https://www.nationalarchives.gov.uk/about/freedom-of-information/" class="tna-footer__legal-item-link">
                        Freedom of information
                    </a>
                </li>
                <li class="tna-footer__legal-item">
                    <a href="https://www.nationalarchives.gov.uk/legal/" class="tna-footer__legal-item-link">
                        Terms and conditions
                    </a>
                </li>
                <li class="tna-footer__legal-item">
                    <a href="https://www.nationalarchives.gov.uk/legal/privacy.htm" class="tna-footer__legal-item-link">
                        Privacy policy
                    </a>
                </li>
                <li class="tna-footer__legal-item">
                    <a href="https://www.nationalarchives.gov.uk/legal/cookies/" class="tna-footer__legal-item-link">
                        Cookies
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
