{% load static  menu_tags %}

<footer class="tna-footer">

    <div class="tna-footer__heading tna-bg--dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="h2">The National Archives</h2>
                    <p>Kew, Richmond TW9 4DU</p>
                </div>
            </div>
        </div>
    </div>

    {% comment %}
        Example footer flat menus - modify as required.
        Depends on flat menus being configured with the appropriate "handles";
        "footer_menu_column_one", "footer_menu_column_two", etc.
    {% endcomment %}
    <div class='tna-footer__block--menus tna-bg--dark'>
        {% flat_menu 'footer_menu_column_one' max_levels=1 %}
        {% flat_menu 'footer_menu_column_two' max_levels=1 %}
        {% flat_menu 'footer_menu_column_three' max_levels=1 %}
        {% flat_menu 'footer_menu_column_four' max_levels=1 %}
    </div>

    <div class="tna-footer__base tna-bg--dark pb-3">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-1 text-center">
                    <img src="{% static 'images/logo-ogl.png' %}" alt="Open Government License logo" id="ogl-logo">
                </div>
                <div class="col-md-8 text-center">
                    <p>
                        All content is available under the
                        <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/"
                           title="External website - opens in a new window" target="_blank" rel="noopener noreferrer">
                            Open Government Licence v3.0</a>, except where otherwise stated
                    </p>
                </div>
                <div class="col-md-1 text-center">
                    <a title="External website - opens in a new window" href="http://gov.uk/" target="_blank"
                       rel="noopener noreferrer">
                        <img alt="GOV.UK logo" src="{% static 'images/logo-gov-uk.png' %}">
                        <span class="sr-only">Opens a new window</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>