{% load wagtailcore_tags %}
<div class="generic-intro{% if classes %} {{ classes }}{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% block breadcrumb %}
                {% include 'includes/breadcrumb.html' %}
                {% endblock %}
                <h1 class="generic-intro__title">
                    {{ title }}
                </h1>
                {% if intro %}
                    <div class="generic-intro__paragraph">
                        {{ intro|richtext }}
                    </div>
                {% endif %}
                {% if display_content_warning %}    
                    {% include "includes/content-warning.html" with custom_warning_text=custom_warning_text classes=classes %} 
                {% endif %}
            </div>
        </div>
    </div>
</div>
