{% load wagtailcore_tags %}
{% if breadcrumb %}
<div class="tna-breadcrumb-wrapper">
    <div class="tna-container">
        <div class="tna-column">
            {% include 'components/breadcrumb.html' %}
        </div>
    </div>
</div>
{% endif %}
<div class="generic-intro{% if classes %} {{ classes }}{% endif %}">
    <div class="tna-container">
        <div class="tna-column tna-column--full">
            <h1 class="tna-heading-xl tna-!--margin-top-l">
                {{ title }}
            </h1>
            {% if intro %}
            {{ intro|richtext }}
            {% endif %}
            {% if custom_warning_text %}    
                {% include "includes/content-warning.html" with custom_warning_text=custom_warning_text classes=classes %} 
            {% endif %}
        </div>
    </div>
</div>
