{% load static %}
<a href="#maincontent" class="skip-to-content-link sr-only sr-only-focusable">Skip to main content</a>
<header class="tna-header">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="/">
                    <img src="{% static 'images/tna-blk-logo-beta.svg' %}" class="img-fluid tna-header__logo--beta"
                         alt="The National Archives" width="143" height="90.375">
                </a>
            </div>
        </div>
    </div>
</header>
