{% load wagtailimages_tags wagtailcore_tags %}

{% if hero_image %}
<div class="hero-image__container">
    <!-- <div class="tna-container">
        <div class="tna-column tna-column--full"> -->
            <div class="tna-hero">
                <figure class="tna-hero__figure tna-hero__figure--smaller">
                    {% if caption %}
                    <figcaption class="tna-hero__caption">
                        <details class="tna-hero__details">
                            <summary class="tna-hero__details-summary">
                                <span class="tna-hero__details-summary-icon">I</span>mage caption
                            </summary>
                            <div class="tna-hero__information">
                                {{ caption|richtext }}
                            </div>
                        </details>
                    </figcaption>{% endif %}
                    <picture class="tna-hero__image">
                        {% image hero_image fill-390x320-c100 as mobile_jpeg_img %}
                        <source srcset="{{ mobile_jpeg_img.url }}"
                                media="(max-width: 48em)"
                                width="390"
                                height="320"
                                type="image/jpeg"/>
                        {% image hero_image fill-1440x500-c100 as full_img %}
                        <img src="{{ full_img.url }}" alt="{{ hero_image.alt_text }}" class="tna-hero__image" width="1440" height="810">
                    </picture>
                </figure>
            </div>
        <!-- </div>
    </div> -->
</div>
{% endif %}
