{% load wagtailimages_tags wagtailcore_tags i18n %}
<section class="highlight-gallery-teaser tna-!--margin-vertical-l tna-!--padding-vertical-m">
    <div class="container">
        <h2 class="tna-heading-l tna-heading--no-link-arrow highlight-gallery-teaser__title">
            {% trans "Explore records about" %} <a class="highlight-gallery-teaser__title-link"
        href="{% pageurl page %}" 
        data-component-name="Featured card: {% trans "Explore records about" %} {% trans title %}"
        data-link-type="Link"
        data-link="{% trans title %}">{% trans title %}</a>
        </h2>
        <ul class="card-grid card-grid__quint card-grid--list">
            {% for card in cards %}
                <li class="highlight-gallery-teaser__card">
                    <a href="{% pageurl card.page %}#highlight{{ forloop.counter0 }}"
                    data-card-position="{{ forloop.counter0 }}"
                    class="highlight-gallery-teaser__link"
                    data-card-title="{{ card.image.title }}"
                    data-link-type="Card image"
                    data-component-name="Featured card: {% trans "Explore records about" %} {% trans title %}">
                        {% image card.image fill-168x1448-c100 format-webp as mobile_webp_image %}
                        <source media="(max-width: 390px)"
                                srcset="{{ mobile_webp_image.url }}"
                                type="image/webp"/>
                        {% image card.image fill-300x222-c100 format-webp as desktop_webp_image %}
                        <source srcset="{{ desktop_webp_image.url }}" type="image/webp"/>
                        {% image card.image fill-168x1448-c100 as mobile_img %}
                        <source srcset="{{ mobile_img.url }}" media="(max-width: 390px)"/>
                        {% image card.image fill-300x222-c100 as base_img %}
                        <img src="{{ base_img.url }}"
                            height="{{ base_img.height }}"
                            width="{{ base_img.width }}"
                            class="highlight-gallery-teaser__image"
                            alt="{{ card.alt_text }}"/>
                    </a>
                    <div class="highlight-gallery-teaser__content">
                        <h3 class="tna-heading-m highlight-gallery-teaser__text">
                            <a class="highlight-gallery-teaser__link"
                            href="{% pageurl card.page %}#highlight{{ forloop.counter0 }}"
                            data-card-position="{{ forloop.counter0 }}"
                            data-link-type="Card text"
                            data-card-title="{{ card.image.title }}"
                            data-component-name="Featured card: {% trans "Explore records about" %} {% trans title %}"
                            >{{ card.image.title }}</a>
                        </h3>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
