{% load wagtailimages_tags wagtailcore_tags %}
<header class="tna-hero">
    <figure class="tna-hero__figure">
        <!-- {% if caption %}
        <figcaption class="tna-hero__caption">
            <details class="tna-hero__details">
                <summary class="tna-hero__details-summary">
                    <span class="tna-hero__details-summary-icon">I</span>mage caption
                </summary>
                <div class="tna-hero__information">
                    {{ caption|richtext }}
                </div>
            </details>
        </figcaption>{% endif %} -->
        {% image background_image min-1440x810 as full_img %}
        <img src="{{ full_img.url }}" alt="{{ hero_image.alt_text }}" class="tna-hero__image" width="1440" height="810">
        <div class="tna-container tna-hero__inner">
            <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-hero__content">
                <div class="tna-hero__content-inner">
                    <h1 class="tna-heading-xl tna-hero__heading">
                        {{ title }}
                    </h1>
                    {{ intro|richtext }}
                </div>
            </div>
        </div>
    </figure>
</header>
