{% load wagtailimages_tags wagtailcore_tags records_tags %}
<section class="highlight-gallery tna-!--margin-top-l tna-background-contrast"
         data-container-name="topic-explorer"
         id="analytics-topic-explorer">
         <div class="container">
            {% for highlight in highlights %}
                <div class="highlight-gallery__wrapper u-margin-m">
                    <div class="highlight-gallery__item">
                        <div class="highlight-gallery__content">
                            <h2 class="tna-heading-l highlight-gallery__heading">{{ highlight.image.title }}</h2>
                            <div class="highlight-gallery__intro">
                                {% if highlight.image.record_dates %}<p>Date: {{ highlight.image.record_dates }}</p>{% endif %}
                                {% if highlight.image.record %}
                                    <p>
                                        Catalogue reference: <a class="highlight-gallery__link" href="{% record_url highlight.image.record is_editorial=True %}"><span class="sr-only">View the record </span>{{ highlight.image.record.reference_number|default:"N/A" }} <span class="sr-only"> in the catalogue</span></a>
                                    </p>
                                </div>
                            {% endif %}
                            <div class="highlight-gallery__richtext">{{ highlight.image.description|richtext }}</div>
                            {% if highlight.image.record %}
                                <a class="highlight-gallery__link" href="{% record_url highlight.image.record is_editorial=True %}" data-component-name="Highlight Gallery: {{ page.title }}" data-link-type="Link" data-position="{{ forloop.counter0 }}" data-link="View record details">View record details {% include "static/images/fontawesome-svgs/chevron-right.svg" %}</a>
                            {% endif %}
                        </div>
                        <div id="highlight{{ forloop.counter0 }}" class="highlight-gallery__image-container">
                            <picture>
                                {% image highlight.image original format-webp as webp_img %}
                                <source srcset="{{ webp_img.url }}" type="image/webp" />
                                {% image highlight.image original as base_img %}
                                <img src="{{ base_img.url }}"
                                    height="{{ base_img.height }}"
                                    width="{{ base_img.width }}"
                                    class="highlight-gallery__image"
                                    alt="{{ highlight.alt_text }}"/>
                            </picture>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
</section>
