{% load static wagtailimages_tags wagtailcore_tags %}
<div class="transcription">
        <div class="row">
            <div class="transcription__preview hidden">
                {% with gallery_length=page.image_gallery.all|length %}
                    <p class="transcription__image-counter">Image 1 of {{ gallery_length }}</p>
                    <picture>
                        {% with first_gallery_item=page.image_gallery.all.0 %}
                            {% image first_gallery_item.image fill-1100x700 format-webp as image_webp %}
                            <source srcset="{{ image_webp.url }}"
                                    type="image/webp"
                                    {% if first_gallery_item.alt_text %}alt="{{ first_gallery_item.alt_text }}"{% endif %}/>
                            {% image first_gallery_item.image fill-1100x700 as image_png %}
                            <source srcset="{{ image_png.url }}"
                                    type="image/png"
                                    {% if first_gallery_item.alt_text %}alt="{{ first_gallery_item.alt_text }}"{% endif %}/>
                            {% image first_gallery_item.image fill-1100x700 as base_img %}
                            <img width="1100"
                                 height="700"
                                 src="{{ base_img.url }}"
                                 {% if first_gallery_item.alt_text %}alt="{{ first_gallery_item.alt_text }}"{% endif %}/>
                        {% endwith %}
                    </picture>
                    {% include "static/images/icons/dashed-line.svg" with classes="" %}
                    <button id="showButton" class="transcription__open">View images and transcripts</button>
                </div>
            </div>
            <!--start of transcript element-->
            {% for item in page.image_gallery.all %}
                <div id="item-{{ forloop.counter }}">
                    <p class="transcription__image-counter">Image {{ forloop.counter }} of {{ gallery_length }}</p>
                    <div class="transcription__content">
                        <picture>
                            {% image item.image fill-890x800 format-webp as image_webp %}
                            <source srcset="{{ image_webp.url }}"
                                    type="image/webp"
                                    {% if item.alt_text %}alt="{{ item.alt_text }}"{% endif %}/>
                            {% image item.image fill-890x800 format-png as image_png %}
                            <source srcset="{{ image_png.url }}"
                                    type="image/png"
                                    {% if item.alt_text %}alt="{{ item.alt_text }}"{% endif %}/>
                            {% image item.image fill-890x800 as base_img %}
                            <img width="890"
                            height="800"
                                 src="{{ base_img.url }}"
                                 {% if item.alt_text %}alt="{{ item.alt_text }}"{% endif %}/>
                        </picture>
                        {# non-JS version #}
                        <div class="transcription__text">
                            <h2>{% firstof item.transcription_header "Transcription" %}</h2>
                            <p>{{ item.transcription_text|richtext }}</p>
                            {% if item.translation_text %}
                                <h2>{% firstof item.translation_header "Translation" %}</h2>
                                <p>{{ item.translation_text|richtext }}</p>
                            {% endif %}
                        </div>
                        {# JS version #}
                        <div>
                            <div role="tablist"
                                 aria-labelledby="tablist-1-{{ forloop.counter }}"
                                 class="hidden">
                                <button id="tab-1-{{ forloop.counter }}"
                                        class="tabset"
                                        type="button"
                                        role="tab"
                                        aria-selected="true"
                                        aria-controls="tabpanel-1-{{ forloop.counter }}">
                                    <span class="focus">{% firstof item.transcription_header "Transcription" %}</span>
                                </button>
                                {% if item.translation_text %}
                                    <button id="tab-2-{{ forloop.counter }}"
                                            type="button"
                                            role="tab"
                                            aria-selected="false"
                                            aria-controls="tabpanel-2-{{ forloop.counter }}"
                                            tabindex="-1">
                                        <span class="focus">{% firstof item.translation_header "Translation" %}</span>
                                    </button>
                                </div>
                            {% endif %}
                            <div id="tabpanel-1-{{ forloop.counter }}"
                                 role="tabpanel"
                                 tabindex="0"
                                 aria-labelledby="tab-1-{{ forloop.counter }}"
                                 class="hidden"
                                 >
                                <p>{{ item.transcription_text|richtext }}</p>
                            </div>
                            {% if item.translation_text %}
                                <div id="tabpanel-2-{{ forloop.counter }}"
                                     role="tabpanel"
                                     tabindex="0"
                                     aria-labelledby="tab-2-{{ forloop.counter }}"
                                     class="hidden">
                                    <p>{{ item.translation_text|richtext }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
    <button class="transcription__close hidden" id="closeButton" type="button">
        Close
        {% include "static/images/fontawesome-svgs/x-mark.svg" %}
    </button>
</div>
<!--end of transcript element-->
