{% load static wagtailimages_tags wagtailcore_tags records_tags %}
<div class="transcription u-margin-xs" data-image-gallery>
    {% if page.gallery_heading %}
        <h2 class="tna-heading-l tna-!--margin-bottom-m transcription__gallery-heading">{{ page.gallery_heading }}</h2>
    {% endif %}
    <div class="transcription__preview hidden">
        <div class="transcription__container">
            {% with gallery_length=gallery|length %}
                <p class="transcription__image-counter">Image 1 of {{ gallery_length }}</p>
                <picture>
                    {% with first_gallery_item=gallery.0 %}
                        {% image first_gallery_item.image max-1024x1024 format-webp as image_webp %}
                        <source srcset="{{ image_webp.url }}"
                                type="image/webp"
                                {% if first_gallery_item.alt_text %}alt="{{ first_gallery_item.alt_text }}"{% endif %}/>
                        {% image first_gallery_item.image max-1024x1024 as image_png %}
                        <source srcset="{{ image_png.url }}"
                                type="image/png"
                                {% if first_gallery_item.alt_text %}alt="{{ first_gallery_item.alt_text }}"{% endif %}/>
                        {% image first_gallery_item.image max-1024x1024 as base_img %}
                        <img 
                             src="{{ base_img.url }}"
                             height="{{ base_img.height }}"
                             width="{{ base_img.width }}"
                             class="transcription__image transcription__image--preview"
                             {% if first_gallery_item.alt_text %}alt="{{ first_gallery_item.alt_text }}"{% endif %}/>
                    {% endwith %}
                </picture>
                <button id="showButton" data-image-gallery-open class="transcription__open" aria-expanded="false" 
                data-component-name="Image gallery"
                data-link-type="Button"
                data-link="View image{{ gallery_length|pluralize }}{% if has_text %} and transcript{{ gallery_length|pluralize }}{% endif %}">
                    View {{ gallery_length }} image{{ gallery_length|pluralize }}
                    {% if has_text %}and transcript{{ gallery_length|pluralize }}{% endif %}
                </button>
            </div>
        </div>
        <!--start of transcript element-->
        {% for item in gallery %}
            <div id="item-{{ forloop.counter }}">
                <p class="transcription__image-counter">Image {{ forloop.counter }} of {{ gallery_length }}</p>
                <div class="transcription__content {% if not item.image.transcription and not item.image.translation %}transcription__content--full-width{% endif %}">
                    <figure aria-labelledby="item-{{ forloop.counter }}-caption">
                        <picture class="transcription__figure-image">
                            {% image item.image max-1024x1024 format-webp as image_webp %}
                            <source srcset="{{ image_webp.url }}"
                                    type="image/webp"
                                    {% if item.alt_text %}alt="{{ item.alt_text }}"{% endif %}/>
                            {% image item.image max-1024x1024 format-png as image_png %}
                            <source srcset="{{ image_png.url }}"
                                    type="image/png"
                                    {% if item.alt_text %}alt="{{ item.alt_text }}"{% endif %}/>
                            {% image item.image max-1024x1024 as base_img %}
                            <img src="{{ base_img.url }}"
                                 class="transcription__image"
                                 loading="lazy"
                                 height="{{ base_img.height }}"
                                 width="{{ base_img.width }}"
                                 {% if item.alt_text %}alt="{{ item.alt_text }}"{% endif %}/>
                        </picture>
                        <figcaption class="transcription__caption"
                                    id="item-{{ forloop.counter }}-caption">
                            {{ item.caption|richtext }}
                            {% if item.image.record %}
                                Image library ref: <a href="{% record_url item.image.record %}">{{ item.image.record }}</a>
                            {% endif %}
                    </figcaption>
                </figure>
                {# non-JS version #}
                {% if item.image.transcription or item.image.translation %}
                    <div class="transcription__text">
                        {% if item.image.transcription %}
                            <h2 class="tna-heading-l">{{ item.image.get_transcription_heading_display }}</h2>
                            {{ item.image.transcription|richtext }}
                        {% endif %}
                        {% if item.image.translation %}
                            <h2 class="tna-heading-l">{{ item.image.get_translation_heading_display }}</h2>
                            {{ item.image.translation|richtext }}
                        {% endif %}
                    </div>
                {% endif %}
                {# JS version #}
                {% if item.image.transcription or item.image.translation %}
                    <div>
                        <div role="tablist"
                             class="transcription__tablist hidden">
                            {% if item.image.transcription %}
                                <button id="tab-1-{{ forloop.counter }}"
                                        class="transcription__tab"
                                        type="button"
                                        role="tab"
                                        aria-selected="true"
                                        aria-controls="tabpanel-1-{{ forloop.counter }}"
                                        data-component-name="Image gallery"
                                        data-link-type="Tab"
                                        data-link="{{ item.image.get_transcription_heading_display }}"
                                        data-transcription-tab>
                                    {{ item.image.get_transcription_heading_display }}
                                </button>
                            {% endif %}
                            {% if item.image.translation %}
                                <button id="tab-2-{{ forloop.counter }}"
                                        class="transcription__tab"
                                        type="button"
                                        role="tab"
                                        aria-selected="false"
                                        aria-controls="tabpanel-2-{{ forloop.counter }}"
                                        tabindex="-1"
                                        data-component-name="Image gallery"
                                        data-link-type="Tab"
                                        data-link="{{ item.image.get_translation_heading_display }}"
                                        data-translation-tab>
                                    {{ item.image.get_translation_heading_display }}
                                </button>
                            {% endif %}
                        </div>
                        {% if item.image.transcription %}
                            <div id="tabpanel-1-{{ forloop.counter }}"
                                 role="tabpanel"
                                 tabindex="0"
                                 aria-labelledby="tab-1-{{ forloop.counter }}"
                                 class="transcription__tabpanel hidden">
                                {{ item.image.transcription|richtext }}
                            </div>
                        {% endif %}
                        {% if item.image.translation %}
                            <div id="tabpanel-2-{{ forloop.counter }}"
                                 role="tabpanel"
                                 tabindex="0"
                                 aria-labelledby="tab-2-{{ forloop.counter }}"
                                 class="transcription__tabpanel hidden">
                                {{ item.image.translation|richtext }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endwith %}
<button class="transcription__close hidden" id="closeButton" 
type="button"
data-component-name="Image gallery"
data-link-type="Button"
data-link="Close images{% if has_text %} and transcripts{% endif %}"
data-image-gallery-close>
    Close images
    {% if has_text %}and transcripts{% endif %}
    
    {% include "includes/icon.html" with name="x-mark" classname="transcription__icon" %}
</button>
</div>
<!--end of transcript element-->
