{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

<div class="interested">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="records-title">You may be interested in</h2>
            </div>
        </div>
        <div class ="row">
            {% if page.topic %}
                <div class="col-md-6 card">
                    <a href="{% pageurl page.topic %}"><img src ="{{ page.topic.teaser_image.url }}" alt=""/></a>
                    <h2><a href="{% pageurl page.topic %}">{{page.topic.title}}</a></h2>
                </div>
            {% endif %}

            {% if page.time_period %}
                <div class="col-md-6 card">
                    <a href="{% pageurl page.time_period %}"><img src ="{{ page.time_period.teaser_image.url }}" alt=""/></a>
                    <h2><a href="{% pageurl page.time_period %}">{{page.time_period.title}}</a></h2>
                </div>
            {% endif %}
        </div>
    </div>
</div>