<div class="interested">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p class="records-title">You may be interested in</p>
            </div>
        </div>
        <div class ="row">
            <div class="col-md-6 card">
                <a href=""><img src ="../media/interested-one.png" alt="" /></a>
                <h2>British state and citizens</h2>
            </div>

            <div class="col-md-6 card">
                <a href=""><img src ="../media/interested-two.png" alt="" /></a>
                <h2>Postwar (1945-2000)</h2>
            </div>


        </div>
    </div>
</div>