{% if sections %}
    <nav class="jumplinks">
        <h2 class="tna-heading-l jumplinks__heading u-margin-s">On this page</h2>
        <ol class="jumplinks__list">
            {% for section in sections %}
                <li class="jumplinks__list-item">
                    <a 
                        class="jumplink" 
                        href="#{{ section.heading_id }}"
                        data-component-name="Desktop in page navigation"
                        data-link-type="Jump links"
                        data-position="{{ forloop.counter0 }}"
                        data-link="{{ section.heading_text }}"
                    >
                        {{ section.heading_text }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endif %}
