{% if sections %}
    <nav class="jumplinks">
        <div class="container">
            <h2 class="jumplinks__heading">On this page</h2>
            <ol class="jumplinks__list">
                {% for section in sections %}
                    <li class="jumplinks__list-item">
                        <a 
                            class="jumplink" 
                            href="#{{ section.heading_id }}"
                            data_component_name="Desktop in page navigation"
                            data_link_type="Header no. {{ forloop.counter0 }}"
                            data_link="{{ section.heading_text }}"
                        >
                            {{ section.heading_text }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </nav>
{% endif %}
