<div class="key-facts__author">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="key-facts__author-image-container">
                <!-- Image to be conditionally rendered if an image is given e.g. a profile picture or the insights badge -->
                {% include 'includes/insights-badge.html' %}
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="key-facts__author-info">
                    <h3 class="key-facts__author-info-heading">Curated by The National Archives' Editorial Board</h3>
                    <p class="key-facts__author-info-text">This content was curated by a team of editors and Principal Records Specialists with expertise in The National Archives' records relating to Shakespeare.</p>
                </div>
            </div>
        </div>
    </div>
</div>
