<div class="login-status" role="region" aria-labelledby="authentication_link">
    {% if request.user.is_authenticated %}
        <a href="https://tna-account-management-poc.torchbox.dev/" class="login-status__link">My account</a>
        <a href="{% url 'account_logout' %}" class="login-status__link" id="authentication_link">Logout</a>
    {% else %}
        <a href="{% url 'account_login' %}" class="login-status__link" id="authentication_link">Login</a>
        <a href="{% url 'account_register' %}" class="login-status__link">Register</a>
    {% endif %}
</div>
