<div class="login-status" role="region" aria-labelledby="authentication_link">
    {% if request.user.is_authenticated %}
        {% if MY_ACCOUNT_URL %}
            <a href="{{ MY_ACCOUNT_URL }}" class="login-status__link">My account</a>
        {% endif %}
        <a href="{% url 'account_logout' %}" class="login-status__link" id="authentication_link">Logout</a>
    {% else %}
        <a href="{% url 'account_login' %}" class="login-status__link" id="authentication_link">Login</a>
        {% if REGISTER_URL %}
            <a href="{{ REGISTER_URL }}" class="login-status__link">Register</a>
        {% endif %}
    {% endif %}
</div>
