{% load static %}

<div class="media-embed" style="background-image: url({% static 'images/media-embed-bg.png' %})" data-container-name="media-embed-video" id="analytics-media-embed-video">
    <div class="media-embed__overlay"></div>
    <div class="container">
        <div class="media-embed__content-panel">
            <div class="media-embed__icon" style="background-image: url({% static 'images/fontawesome-svgs/video-white.svg' %})"></div>
            <p class="media-embed__icon-label" role="presentation" aria-hidden="true">
                Video
            </p>

            <h3 class="media-embed__heading u-margin-xs">
                <span class="sr-only">Video.</span>
                Lorem Ipsum Dolor Sit Amet
            </h3>

            <p class="media-embed__date">
                <time datetime="2016-09-13">Tuesday 13 September 2016</time>
            </p>

            <p class="media-embed__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Suspendisse faucibus interdum posuere lorem ipsum. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Condimentum
                id venenatis a condimentum. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit.
            </p>

            <div class="media-embed__video-container">
                <video class="media-embed__video" controls="">
                    <source src="" type="video/mp4">
                    <p>Your browser doesn't support HTML5 video. Here is a <a href="">link to the video</a>
                        instead.</p>
                </video>
            </div>

            <div class="media-embed__transcript">
                <h4 class="media-embed__transcript-heading">Transcript</h4>
                <div class="media-embed__transcript-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Suspendisse faucibus interdum posuere lorem ipsum. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse.
                        Condimentum id venenatis a condimentum. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Sit amet mauris
                        commodo quis imperdiet massa tincidunt nunc pulvinar. Tincidunt arcu non sodales neque sodales. Non enim praesent elementum
                        facilisis. A condimentum vitae sapien pellentesque habitant morbi. Erat velit scelerisque in dictum non consectetur a erat. Sit amet
                        facilisis magna etiam tempor orci eu lobortis elementum. Nunc mattis enim ut tellus elementum sagittis. Faucibus nisl tincidunt
                        eget nullam.
                    </p>
                    <p>
                        Amet est placerat in egestas erat imperdiet. Sed felis eget velit aliquet sagittis id consectetur. Sit amet mattis vulputate enim nulla
                        aliquet. Cursus sit amet dictum sit amet justo. Leo a diam sollicitudin tempor id eu nisl nunc. Lacus suspendisse faucibus interdum
                        posuere lorem. Augue ut lectus arcu bibendum. Sit amet nisl purus in mollis nunc sed id. In cursus turpis massa tincidunt dui ut ornare.
                        Praesent tristique magna sit amet purus gravida quis blandit.
                    </p>
                    <p>
                        Mauris nunc congue nisi vitae suscipit tellus. Lacinia at quis risus sed vulputate. Interdum velit euismod in pellentesque. Velit dignissim
                        sodales ut eu sem integer vitae. Purus in massa tempor nec feugiat nisl pretium. Ipsum dolor sit amet consectetur adipiscing elit
                        ut aliquam purus. Urna et pharetra pharetra massa massa ultricies. Tortor id aliquet lectus proin nibh nisl. Velit sed ullamcorper morbi
                        tincidunt ornare massa eget egestas. Urna cursus eget nunc scelerisque viverra mauris in aliquam sem. Aliquet enim tortor at auctor
                        urna. Commodo viverra maecenas accumsan lacus vel facilisis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
