{% load static i18n wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

<div class="meta-details-banner">
    <div class="tna-container tna-container--align-center tna-!--padding-vertical-s">
        <div class="tna-column tna-column--flex-1 tna-column--container">
            <div class="event-meta event-meta--inline">
                <ul class="event-meta__list event-meta__list">
                    {% if page.start_date %}
                        <li class="event-meta__item">
                            <i class="fa-regular fa-calendar event-meta__icon"></i>

                            <div class="event-meta__details">
                                <p>
                                    {{ page.start_date|date:"l j" }}

                                    {% if page.end_date %}
                                        - {{ page.end_date|date:"l j" }}
                                    {% endif %}
                                </p>
                            </div>
                        </li>
                    {% endif %}
                    <li class="event-meta__item">
                        <i class="fa-solid fa-ticket event-meta__icon"></i>

                        <div class="event-meta__details">
                            {% if page.price_range %}
                                <p>{{ page.price_range }}</p>
                            {% elif page.min_price %}
                                <p>
                                    {{ page.min_price }}
                                    
                                    {% if page.max_price %}
                                        - {{ page.max_price }}
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                    </li>
                    <li class="event-meta__item">
                        <i class="fa-solid fa-location-dot event-meta__icon"></i>

                        <div class="event-meta__details">
                            {% comment %} Check for venue type or location depending on event or exhibition page {% endcomment %}
                            {% if page.get_venue_type_display %}
                                <p>{{ page.get_venue_type_display }}</p>
                            {% endif %}
                            
                            {% if page.location %}
                                <p>{{ page.location }}</p>
                            {% endif %}
                        </div>
                    </li>
                    {% if page.audience %}
                        <li class="event-meta__item">
                            <i class="fa-solid fa-user-group event-meta__icon"></i>

                            <div class="event-meta__details">
                                <p>{{ page.audience }}</p>
                            </div>
                        </li>
                    {% endif %}
                    {% if page.dwell_time %}
                        <li class="event-meta__item">
                            <i class="fa-solid fa-clock event-meta__icon"></i>

                            <div class="event-meta__details">
                            {{ page.dwell_time }}
                            </div>
                        </li>
                    {% endif %}
                    {% if page.registration_info %}
                        <li class="event-meta__item">
                            <i class="fa-solid fa-ticket event-meta__icon"></i>

                            <div class="event-meta__details">
                                {{ page.registration_info|richtext }}
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% if cta %}
            <div class="tna-column tna-column--full-small tna-column--full-tiny">
                <a href="/" class="tna-button tna-button--dark">
                    Book now

                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        {% endif %}
    </div>
</div>