<div class="meta-details-banner">
    <div class="tna-container tna-container--align-center tna-container--space-between">
        <div class="tna-column tna-column--width-3-4 tna-column--container">
            <div class="event-meta event-meta--inline">
                <ul class="event-meta__list event-meta__list">
                    {% if page.start_date %}
                        <li class="event-meta__item">
                            <i class="fa-regular fa-calendar event-meta__icon"></i>

                            <div class="event-meta__details">
                            <p>{{ page.start_date|date:"l j F, H:i" }}</p>
                            </div>
                        </li>
                    {% endif %}
                    {% if page.venue_type %}
                        <li class="event-meta__item">
                            <i class="fa-solid fa-location-dot event-meta__icon"></i>

                            <div class="event-meta__details">
                            <p>{{ page.venue_type }}</p>

                            {% if page.venue_address %}
                                <address>
                                {{ page.venue_address }}
                                </address>
                            {% endif %}
                            </div>
                        </li>
                    {% endif %}
                    {% if page.registration_info %}
                        <li class="event-meta__item">
                            <i class="fa-solid fa-ticket event-meta__icon"></i>

                            <div class="event-meta__details">
                                {{ page.registration_info|richtext }}
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="tna-column tna-column--width-1-4 tna-column--full-small tna-column--full-tiny">
            <a href="/" class="tna-button tna-button--dark meta-details-banner__cta">
                Book now

                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>