{# for now I am splitting these out as this depends on how the data is recieved from the back-end #}
<ul class="meta">
    {% if date %}
        <li class="meta__item">
            <i class="fa-solid fa-calendar"></i>
            {{ date }}
        </li>
    {% endif %}
    {% if cost %}
        <li class="meta__item">
            <i class="fa-solid fa-ticket"></i>
            {{ cost }}
        </li>
    {% endif %}
    {% if venue_type %}
        <li class="meta__item">
            <i class="fa-solid fa-location-dot"></i>
            {{ venue_type }}
        </li>
    {% endif %}
</ul>

{% comment %}
    {# we may want a more re-usable solution where meta data is supplied as a list in the future #}
    {% for item in meta %}
    <li class="tna-card__meta-item">
        {% if item.icon %}
        <i class="fa-solid fa-{{ item.icon }}"></i>
        {% endif %}
        {{ item.text }}
    </li>
    {% endfor %}
{% endcomment %}
