<div class="more-records">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p class="records-title">Browse more records</p>
            </div>
        </div>
        <div class="row card-elements">
            <div class="col-md col-sm-6">
                <div class="card">
                    <img src="/media/more-records.png" alt="image of more records" />
                    <p><a href="#">Certificate of London tax commissioners showing Shakespeare.</a></p>
                </div>
            </div>

            <div class="col-md col-sm-6">
                <div class="card">
                    <img src="/media/more-records-2.png" alt="image of more records" />
                    <p><a href="#">Pipe Roll entry of Shakespeare's tax debits.</a></p>
                </div>
            </div>

            <div class="col-md col-sm-6">
                <div class="card">
                    <img src="/media/more-records-3.png" alt="image of more records" />
                    <p><a href="#">Subsidy accounts for 1598-9 showing Shakespear as a defaulter.</a></p>
                </div>
            </div>

            <div class="col-md col-sm-6">
                <div class="card">
                    <img src="/media/more-records-4.png" alt="image of more records" />
                    <p><a href="#">Inquestion Post Mortem of Thomas Brend showing Shakespeare.</a></p>
                </div>
            </div>

            <div class="col-md col-sm-6">
                <div class="card">
                    <img src="/media/more-records-5.png" alt="image of more records" />
                    <p><a href="#">Court of Common Plea, notes of fines, record of agreement.</a></p>
                </div>
            </div>




        </div>

    </div>
</div>