{% load static feedback_tags %}

<div class="tna-section tna-background--accent">
    <div class="tna-container">
        <div class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny">
            <img src="https://picsum.photos/id/357/800/600">
        </div>
        <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny">
            <h2 class="tna-heading tna-heading--l">
            About Our Heritage, Our Stories
            </h2>
            <p>The Our Heritage, Our Stories (OHOS) project responds to this urgent challenge by bringing together researchers in digital humanities, archives, history, linguistics, and computer science, from the Universities of Glasgow and Manchester, with world-leading archive and digital infrastructure development at The National Archives (TNA), the project's lead IRO.</p>
            <div class="tna-button-group">
                <a href="#" class="tna-button">Find out more</a>
            </div>
        </div>
    </div>
</div>
