<nav class="pagination" role="navigation" aria-label="Results pagination">
    <ul class="pagination__list">
        <li class="pagination__list-item">
            <a class="pagination__page-chevron-previous" href="#"><span class="sr-only">Previous page</span></a>
        </li>
        <li class="pagination__list-pages" aria-label="Page numbers">
            <ol>
                <li class="pagination__list-item">
                    <a class="pagination__page-link-current" href="#" aria-label="Current page, Page 1"
                       aria-current="true">1</a>
                </li>
                
                <li class="pagination__list-item">
                    <a class="pagination__page-link" href="#" aria-label="Go to page 2"><span
                                class="sr-only">Page </span>2</a>
                </li>
            </ol>
        </li>
        <li class="pagination__list-item">
            <a class="pagination__page-chevron-next" href="#"><span class="sr-only">Next page</span></a>
        </li>
    </ul>
</nav>
