<div class="generic-intro">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-sm-12">
                <p class="story-title">Why this record matters</p>
                <p>Date: <b>1616</b><br>
                Catalogue ref: <b>PROB 1/4 (1)</b></p>

                <p class="generic-intro__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>

                <p>Read more <span>+</span></p>


            </div>
        </div>
        <div class="row d-flex justify-content-center record-buttons">

            <div class=" col-sm-12 col-md-3">
                <a class="tna-button--yellow" href="" rel="noopener noreferrer">View record details</a>
            </div>
            <div class="col-sm-12 col-md-3"><a class="tna-button--yellow" href="" rel="noopener noreferrer">Use this image</a></div>
            <div class="col-sm-12 col-md-3"><a class="tna-button--yellow" href="" rel="noopener noreferrer">Buy an art print</a></div>


        </div>
    </div>
</div>