{% load static %}

{% static "images/fontawesome-svgs/search-white.svg" as icon_bg %}

<div class="record-embed-no-image" data-container-name="record-embed-no-image" id="analytics-record-embed-no-image">
    <div class="container">
        <div class="record-embed-no-image__icon" style="background-image: url('{{ icon_bg }}');"></div>
        <p class="record-embed-no-image__icon-label" role="presentation" aria-hidden="true">
            Discover our records
        </p>
        <h3 class="tna-heading record-embed-no-image__heading">
            <span class="sr-only">Discover our records.</span>
            Shakespeare and James I
        </h3>
        <p class="record-embed-no-image__text--inline">
            Reference: LC 2/4/5    </p>
        <p class="record-embed-no-image__text--inline">
            Date created: <time datetime="1958">1958</time>
        </p>
        <p class="record-embed-no-image__text">
            Other documents at The National Archives reveal the growing status and prestige of Shakespeare, as, for example, the 1604 Progress of James I through the city of London, which mentions a grant of cloth to Shakespeare.
        </p>
        <!-- Buttons to be placed in a for loop in case there are more than one e.g. view in the catalogue and read more in our blog -->
        <a class="tna-button--dark" href="http://discovery.nationalarchives.gov.uk/details/r/C213527" data-link="View in the catalogue">View in the catalogue</a>

    </div>
</div>
