<article class="record-embed">
    <div class="record-embed__image-container">
        <div class="container">
            <h3 class="record-embed__heading no-margin-top">The face of Shakespeare</h3>
        </div>
        <figure>
            <img class="record-embed__image" src="https://via.placeholder.com/400x550" alt="A portrait of Shakespeare">
            <figcaption>
                <a class="record-embed__image-viewer-link" href="">
                    Open in our image viewer
                </a>
            </figcaption>
        </figure>
    </div>
    <div class="record-embed__description">
        <div class="container">
            <p class="record-embed__text">Reference: PRO 30/25/205</p>
            <p class="record-embed__text">
                Date created: <time datetime="1958">1958</time>
            </p>

            <div class="record-embed__text">
                <p>The portrait shows a balding man, dark haired, rather askew of eye, and wearing a white lace collar of a type familiar to anyone who has read anything about William Shakespeare. The image itself is quite easily explained. It is a pencil copy, made in the 19th century by an antiquarian and archivist, of a 17th century portrait. But is this an image of Shakespeare, and why is it in the collections of The National Archives at all?</p>
                <p>The expert among whose papers it was found was Rawdon Lubbock Brown who, as you may have read in a blog earlier this year, was among the staff of the then-Public Record Office… but in Venice.</p>
            </div>

            <span class="record-embed__button"><a class="tna-button-secondary--no-underline" href="http://discovery.nationalarchives.gov.uk/details/r/C3604789">View in the catalogue</a></span>
            <span class="record-embed__button"><a class="tna-button-secondary--no-underline" href="https://blog.nationalarchives.gov.uk/face-william-shakespeare/">Read more in our blog</a></span>
        </div>
    </div>
</article>
