<div class="explore-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h1 class="explore-intro__title">
                    Record revealed
                </h1>
                <h2 class="explore-intro__title">
                    A letter by the women workers at Fords of Dagenham
                </h2>

                <p class="explore-intro__paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
                </p>
            </div>
            <div class="col-4 explore-intro__image">
                <img src="/media/dagnham-letter.png" alt="image of letter by the women workers at Fords of Dagenham" />
            </div>

        </div>
    </div>
</div>