{% load i18n wagtailimages_tags wagtailcore_tags records_tags %}

{% if link_page.live or request.is_preview %}
    <div class="container">
        <div class="featured-record-article featured-record-article--standalone"
            data-container-name="featured-record-article">
            {% if link_page.teaser_image %}
                <a href="{% pageurl link_page %}" data-component-name="Featured record article" data-link-type="Image" data-link="{{ link_page.title }}">
                    <span class="sr-only">{{ link_page.title }}</span>
                    <picture>
                        {% image link_page.teaser_image fill-626x486-c100 as mobile_img %}
                        <source media="(max-width: 1024px)" srcset="{{ mobile_img.url }}"/>
                        {% image link_page.teaser_image fill-395x330-c100 as desktop_img %}
                        <source media="(min-width: 1025px)" srcset="{{ desktop_img.url }}"/>
                        <img class="featured-record-article__image"
                            height="{{ mobile_img.height }}"
                            width="{{ mobile_img.width }}"
                            src="{{ mobile_img.url }}"
                            alt=""/>
                    </picture>
                </a>
            {% endif %}
            <div class="featured-record-article__container">
                {% if link_page.has_custom_type_label %}
                    <p class="featured-record-article__meta u-margin-xxs">{{ link_page.type_label }}</p>
                {% endif %}
                <a href="{% pageurl link_page %}" class="featured-record-article__link" data-component-name="Featured record article" data-link-type="Banner title" data-link="{{ link_page.title }}">
                    <h3 class="tna-heading-m featured-record-article__title u-margin-xs">{{ link_page.title }}</h3>
                </a>
                {% if link_page.date_text %}
                    <p class="featured-record-article__date u-margin-xs">{{ link_page.date_text }}</p>
                {% endif %}
                {% if link_page.teaser_text %}
                    <p class="featured-record-article__text">{{ link_page.teaser_text }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
