{% load static wagtailimages_tags wagtailcore_tags %}
<div class="explore-intro">
    <div class="tna-container">
        <div class="tna-column tna-column--width-3-4 tna-column--full-small tna-column--full-tiny">
            <hgroup class="tna-hgroup-xl tna-!--margin-top-l">
                <p class="tna-hgroup__supertitle">Record revealed</p>
                <h1 class="tna-hgroup__title">
                    {{ page.title }}
                </h1>
            </hgroup>
            <div class="explore-intro__paragraph{% if display_content_warning %} explore-intro__paragraph--short{% endif %} tna-!--margin-vertical-m">{{ page.intro|richtext }}</div>
            {% if display_content_warning %}    
                {% include "includes/content-warning.html" with custom_warning_text=custom_warning_text %} 
            {% endif %}
        </div>
        <div class="tna-column tna-column--width-1-4 explore-intro__image-container">
            {% if page.intro_image %}
                {% image page.intro_image fill-390x390 as intro_image %}
                <img height=390 width=390 src="{{ intro_image.url }}" alt="" class="explore-intro__image" />
            {% endif %}
        </div>
    </div>
</div>
