<li class="col-sm-12 col-md-6 col-lg-4 mb-3">
    <div class="card-group-secondary-nav">
        <a href="/" class="card-group-secondary-nav__link">
            <div class="card-group-secondary-nav__image">
                <picture>
                    <source media="(max-width: 768px)" srcset="/images/collection-explorer/topics_cards/543/design-registers.png">
                    <source media="(max-width: 991px)" srcset="/images/collection-explorer/topics_cards/328/design-registers.png">
                    <source media="(max-width: 1199px)" srcset="/images/collection-explorer/topics_cards/288/design-registers.png">
                    <source media="(min-width: 1200px)" srcset="/images/collection-explorer/topics_cards/348/design-registers.png">
                    <img src="/images/collection-explorer/topics_cards/543/design-registers.png" alt="" role="presentation" class="card-group-secondary-nav__image-fallback">
                </picture>
            </div>
            <div class="card-group-secondary-nav__body">
                <h3 class="card-group-secondary-nav__heading">Event - ‘Before Shakespeare’ at The National Archives</h3>
                <p class="card-group-secondary-nav__paragraph"><time datetime="2018-08-01">Wednesday 1 August 2018</time></p>
                <p class="card-group-secondary-nav__paragraph">In this talk, the project team will ask the fundamental question, ‘what is a playhouse?’, and explore surviving documents that tell us what we know about these spaces, and rethink the builders, managers, and audiences who brought them into being.</p>

                <!-- Price will be conditionally rendered if it's needed e.g. for an event ticket price -->
                <p class="card-group-secondary-nav__paragraph">Price - £4</p>
            </div>
        </a>
    </div>
</li>
