{% load static wagtailimages_tags wagtailcore_tags %}
<div class="tna-section">
    <nav class="tna-index-grid" aria-label="{{ title|default:'You may be interested in' }}">
        <div class="tna-container">
            <div class="tna-column tna-column--full">
                <h2 class="tna-heading-l tna-index-grid__heading">{{ title|default:'You may be interested in' }}</h2>
            </div>
        </div>
        <ul class="tna-index-grid__items tna-container">
            {% if topic %}
            <li class="tna-index-grid__item-wrapper tna-column tna-column--width-1-2 tna-column--full-tiny">
                <a href="{% pageurl topic %}" class="tna-index-grid__item" title="{{ topic.title }}" data-component-name="Navigation card: {{ title|default:'You may be interested in' }}" data-link-type="Card image" data-card-position="0" data-card-title="{{ topic.title }}">
                    {% image topic.specific.teaser_image fill-540x350 as teaser_image %}
                    <img src="{{ teaser_image.url }}" class="tna-index-grid__item-image" width="540" height="350" alt="" />
                    <span class="tna-index-grid__item-content">
                        <span class="tna-index-grid__item-title">{{ topic.title }}</span>
                    </span>
                </a>
            </li>
            {% endif %}
            {% if time_period %}
            <li class="tna-index-grid__item-wrapper tna-column tna-column--width-1-2 tna-column--full-tiny">
                <a href="{% pageurl time_period %}" class="tna-index-grid__item" title="{{ time_period.title }}" data-component-name="Navigation card: {{ title|default:'You may be interested in' }}" data-link-type="Card image" data-card-position="1" data-card-title="{{ time_period.title }}">
                    {% image time_period.specific.teaser_image fill-540x350 as teaser_image %}
                    <img src="{{ teaser_image.url }}" class="tna-index-grid__item-image" width="540" height="350" alt="" />
                    <span class="tna-index-grid__item-content">
                        <span class="tna-index-grid__item-title">{{ time_period.title }}</span>
                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
