{% comment %}
    NOTE: Order of the tag types is Location, Person, Organisation, Miscellaneous, Date
{% endcomment %}

<div class="record-details__related-tags">
    <h3>Related tags</h3>

    <dl class="record-details__related-tags-list">
        <dt>Locations:</dt>
        {% include 'includes/tags-wiki.html' with tag=record.enrichment_loc css_extn_style="location" %}

        <dt>People:</dt>
        {% include 'includes/tags-wiki.html' with tag=record.enrichment_per css_extn_style="person" %}

        <dt>Organisations:</dt>
        {% include 'includes/tags-wiki.html' with tag=record.enrichment_org css_extn_style="organisation" %}

        <dt>Miscellaneous:</dt>
        {% include 'includes/tags-wiki.html' with tag=record.enrichment_misc css_extn_style="misc" %}

        <dt>Date:</dt>
        {% include 'includes/tags-wiki.html' with tag=record.enrichment_date css_extn_style="other" %}
    </dl>
</div>
