{% load wagtailcore_tags wagtailimages_tags %}
<section class="related-highlight-cards">
    <div class="body-container">
        <h2 class="related-highlight-cards__title">{{ title }} highlights in pictures</h2>
        <div class="card-grid card-grid__trio">
            {% for card in cards %}
                <div class="related-highlight-cards__card">
                    <a href="{{ card.url }}" aria-labelledby="related-highlight-card-title-{{ forloop.counter }}">
                        <picture>
                        {% image card.teaser_image fill-374x370-c100 format-webp as mobile_webp_image %}
                        <source media="(max-width: 370px)"
                                srcset="{{ mobile_webp_image.url }}"
                                type="image/webp"/>
                        {% image card.teaser_image fill-374x370-c100 format-webp as desktop_webp_image %}
                        <source srcset="{{ desktop_webp_image.url }}"
                                type="image/webp"/>
                        {% image card.teaser_image fill-374x370-c100 as mobile_img %}
                        <source srcset="{{ mobile_img.url }}" media="(max-width: 370px)"/>
                        {% image card.teaser_image fill-374x370-c100 as base_img %}
                        <img src="{{ base_img.url }}"
                            height="{{ base_img.height }}"
                            width="{{ base_img.width }}"
                            class="related-highlight-cards__image"
                            alt=""/>
                        </picture>
                    </a>
                    <div class="related-highlight-cards__content">
                        <h3 class="related-highlight-cards__card-title" id="related-highlight-card-title-{{ forloop.counter }}">
                            <a href="{{ card.url }}" class="related-highlight-cards__card-title-link">{{ card.title }}</a>
                        </h3>
                        <p class="related-highlight-cards__text">{{ card.highlight_image_count }} images</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
