{% load static %}

<div class="research-resources" data-container-name="research-resources" id="analytics-research-resources">
    <div class="container">
        <div class="research-resources__icon" style="background-image: url('/static/images/fontawesome-svgs/book-open-white.svg');"></div>
        <p class="research-resources__icon-label" role="presentation" aria-hidden="true">
            Research
        </p>

        <h3 class="tna-heading research-resources__heading">
            Research resources
            <span class="sr-only">Research</span>
        </h3>

        <p class="research-resources__description">
            These research resources may be a helpful way to continue your exploration of Shakespeare.
        </p>

        <dl class="research-resources__list">
            <div class="research-resources__list-item">
                <dt>
                    <h4 class="tna-heading research-resources__link-heading">
                        <a class="research-resources__link" href="https://www.nationalarchives.gov.uk/education/resources/tudor-entertainment/" data-link="0: Tudor Entertainment">
                            Tudor Entertainment
                        </a>
                    </h4>
                </dt>
                <dd class="research-resources__link-text">
                    What was the effect of the early playhouses?
                </dd>
            </div>
            <div class="research-resources__list-item">
                <dt>
                    <h4 class="tna-heading research-resources__link-heading">
                        <a class="research-resources__link" href="https://www.nationalarchives.gov.uk/education/resources/james-i/" data-link="1: James I">
                            James I
                        </a>
                    </h4>
                </dt>
                <dd class="research-resources__link-text">
                    What were the key areas of dispute?
                </dd>
            </div>
        </dl>
    </div>
</div>
