<!--existing block-->
<div class="container">
    <p class="records-title">Browse more records</p>
    <div class="featured-insight">

        <div class="featured-insight__image">
            <picture>

                <source media="(max-width: 480px)" srcset=../media/festival.png">
                <source media="(max-width: 640px)" srcset="../media/festival.png">
                <source media="(max-width: 768px)" srcset="../media/festival.png">
                <source media="(max-width: 991px)" srcset="../media/festival.png">
                <source media="(max-width: 1200px)" srcset="../media/festival.png">
                <img src="../media/festival.png" alt="" style="width:100%;"/>

            </picture>
        </div>


        <div class="featured-insight__description">
            <h2 class="featured-insight__heading">
                <small>Spotlight on</small>
                The Festival of Britain
            </h2>
            <p>The National Archives has a wealth of documents, photographs and art work collected during the planning and running of the influential 1951 Festival of Britain.</p>
            <a class="tna-button--dark" href="">Read</a>
        </div>
    </div>
</div>
