
{% if tag %}
    {% if label %}
        <dt>{{ label }}:</dt>
    {% endif %}

    {% for item in tag|slice:":5" %}
        <dd>
            <div class="ohos-tag-container">
                <div class="ohos-tag ohos-tag--{{ css_extn_style }}">
                    <div class="ohos-tag__inner">{{ item.value }}</div>
                    {% if item.url %}
                        <div class="wikidata-container">
                            <a href="{{ item.url }}" target="_blank" class="ohos-tag__link" data-js-wikidata-url="{{ item.url }}">
                                Wikidata
                                <i aria-hidden="true" class="ohos-tag__link-icon fa-solid fa-external-link"></i>
                            </a>

                            <div class="wikidata" data-js-wikidata-overlay="{{ item.url }}" data-js-wikidata-tag-type-label="{{ label }}"></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </dd>
    {% endfor %}
{% endif %}
