{% comment %}
    Tags are part of the search results cards. We don't have the data to display for the
    cards yet, but mark up and styles have been created ahead of integration. These will
    be shown conditionally when digital community content is displayed
{% endcomment %}

<ul class="search-results__tags-list">
    <li>
        <span class="ohos-tag ohos-tag--location">
            <span class="ohos-tag__inner">Location</span>
        </span>
    </li>

    <li>
        <span class="ohos-tag ohos-tag--person">
            <span class="ohos-tag__inner">Person</span>
        </span>
    </li>

    <li>
        <span class="ohos-tag ohos-tag--organisation">
            <span class="ohos-tag__inner">Organisation</span>
        </span>
    </li>

    <li>
        <span class="ohos-tag ohos-tag--misc">
            <span class="ohos-tag__inner">Miscellaneous</span>
        </span>
    </li>

    <li>
        <span class="ohos-tag ohos-tag--other">
            <span class="ohos-tag__inner">Other</span>
        </span>
    </li>
</ul>
