{% comment %}
    NOTE: Order of the tag types is Location, Person, Organisation, Miscellaneous
{% endcomment %}
{% if record.has_enrichment %}
    <ul class="search-results__tags-list">
        {% if record.enrichment_loc.0.value %} 
            <li>
                <span class="ohos-tag ohos-tag--location">
                    <span class="ohos-tag__inner">{{ record.enrichment_loc.0.value }}</span>
                </span>
            </li>
        {% endif %}

        {% if record.enrichment_per.0.value %} 
            <li>
                <span class="ohos-tag ohos-tag--person">
                    <span class="ohos-tag__inner">{{ record.enrichment_per.0.value }}</span>
                </span>
            </li>
        {% endif %}

        {% if record.enrichment_org.0.value %} 
            <li>
                <span class="ohos-tag ohos-tag--organisation">
                    <span class="ohos-tag__inner">{{ record.enrichment_org.0.value }}</span>
                </span>
            </li>
        {% endif %}

        {% if record.enrichment_misc.0.value %} 
            <li>
                <span class="ohos-tag ohos-tag--misc">
                    <span class="ohos-tag__inner">{{ record.enrichment_misc.0.value }}</span>
                </span>
            </li>
        {% endif %}
    </ul>
{% endif %}