{% load wagtailimages_tags wagtailcore_tags %}

<div class="tna-container">
    <div class="tna-useful-info {% if image %}tna-useful-info--with-image{% endif %}">
        <div class="tna-useful-info__content">
            <h2 class="tna-heading-l">Need to know</h2>

            {{ content|richtext }}

            {% if cta and url %}
                <a href="{{ url }}" class="tna-useful-info__cta tna-button tna-button--dark">{{cta }}</a>
            {% endif %}
        </div>
        {% if image %}
            <div class="tna-useful-info__image">
                {% image image fill-768x550 class="tna-useful-info__image" %}
            </div>
        {% endif %}
    </div>
</div>
