{% load wagtailcore_tags %}

{% if active_filters %}
  <h2 class="sr-only">Selected filters</h2>
  <ul class="tna-filters tna-ul tna-ul--plain">
    {% for active_filter in active_filters %}
      <li class="tna-filters__item tna-filters__item--active">
        <a href="{{ active_filter.remove_filter_url }}" class="tna-filters__link" aria-label="Remove {{ active_filter.label }} from search">
	  {{ active_filter.label }}
	  <i class="fa-solid fa-xmark"></i>
        </a>
      </li>
    {% endfor %}
    <li class="tna-filters__item tna-filters__item--clear-all">
      <a href="{% pageurl page %}" class="tna-filters__link tna-filters__link--clear-all">
        Clear filters
        <i class="fa-solid fa-rotate-right"></i>
      </a>
    </li>
  </ul>
{% endif %}
