{# Everything inside this include is loaded on the fly when the js updates the filters #}
{% load wagtailimages_tags %}


{# Results count, filters and 'no results' message when filters are applied - in this case above the featured card #}
{% if active_filters %}
    <div class="listing-info">
        <div class="tna-container">
            <div class="tna-column tna-column--full">
                {# Total events *with* the featured card included, as per the designs #}
                <h2 class="tna-heading-m">{{ total_results_with_featured }} result{{ total_results_with_featured|pluralize }}</h2>
                {% include "includes/whats-on-active-filters.html" %}
                {% if total_results_with_featured == 0 %}
                    <p>There are no events that match your filters. Please try a different combination</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{% comment %}
If there is a featured event (and no filters applied) then this should appear to overlap the pink background of the filters above.
This extra space has to be a separate div here rather than bottom padding on the filters because the filters are not live-reloaded by the js, so we can't rely on the page context vars to be updated.
{% endcomment %}
{% if page.featured_event and show_featured_event and not active_filters %}
    <div class="featured-card-background"></div>
{% endif %}

<div class="tna-container tna-container--full-width-mobile event-card-listing">
    <div class="tna-column tna-column--full">

        {# Featured event #}
        {% if page.featured_event and show_featured_event %}
            {% image page.featured_event.teaser_image fill-1190x600 as featured_img %}

            {# If there are active filters then the card is not offset - the classes argument is the only difference between these two includes #}
            {% if active_filters %}
                {% include "../components/featured_card.html" with title=page.featured_event.title href=page.featured_event.url headingLevel="2" headingSize="l" htmlElement="article" imageSrc=featured_img.url imageAlt="featured card image alt" imageWidth=featured_img.width imageHeight=featured_img.height date=page.featured_event.date_time_range cost=page.featured_event.price_range venue_type=page.featured_event.get_venue_type_display event_type=page.featured_event.event_type access_descriptor=page.featured_event.primary_access_type %}
            {% else %}
                {% include "../components/featured_card.html" with classes="featured-card--offset-top" title=page.featured_event.title href=page.featured_event.url headingLevel="2" headingSize="l" htmlElement="article" imageSrc=featured_img.url imageAlt="featured card image alt" imageWidth=featured_img.width imageHeight=featured_img.height date=page.featured_event.date_time_range cost=page.featured_event.price_range venue_type=page.featured_event.get_venue_type_display event_type=page.featured_event.event_type access_descriptor=page.featured_event.primary_access_type %}
            {% endif %}
        {% endif %}

        {# If there are no active filters the heading and results count sit below the featured event card #}
        {% if not active_filters %}
            <hgroup class="event-card-listing__heading-area">
            <h2 class="tna-heading tna-heading--l event-card-listing__heading">All events</h2>
            {# This shows the total events *without* the featured card included, as per the designs #}
            <p class="event-card-listing__summary">Showing {{ events|length }} events</p>
            </hgroup>
        {% endif %}

        <ul class="event-card-listing__list">
            {% if events %}
                {% for event in events %}
                <li class="event-card-listing__item">
                    {% image event.teaser_image fill-720x448 as event_img %}
                    {% include "../components/card.html" with title=event.short_title href=event.url headingLevel="2" headingSize="l" htmlElement="article" imageSrc=event_img.url imageAlt=event_image.width imageWidth=event_img.width imageHeight=event_img.height date=event.date_time_range cost=event.price_range venue_type=event.get_venue_type_display body=event.teaser_text horizontal=True event=True highlight="Sold out" highlight_color="yellow" event_type=event.event_type access_descriptor=event.primary_access_type classes="tna-card--event tna-card--horizontal-thirds" index=forloop.counter0 heading=heading %}
                </li>
                {% endfor %}
            {% else %}
                {% if not show_featured_event and not active_filters %}
                    {# There are literally no events in the database. Hopefully this is unlikely. #}
                    <div class="listing-info">
                        <p>There are no upcoming events.</p>
                    </div>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>
