{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}{% trans "Site tree" %}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% versioned_static 'core/css/admin_tree_explorer.css' %}">
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title=_("Site tree") icon="list-ul" %}

    <div class="nice-padding">
        <div class="tree-explorer__controls">
            <button type="button" class="button button-secondary" data-tree-action="expand-all">{% trans "Expand all" %}</button>
            <button type="button" class="button button-secondary" data-tree-action="collapse-all">{% trans "Collapse all" %}</button>
        </div>

        {% if debug %}
            <p class="help-block help-info">
                Cache: {{ tree_cache_status }} | Data load: {{ tree_data_time_ms|floatformat:2 }}ms | Key: {{ tree_cache_key }}
            </p>
        {% endif %}

        <ul class="tree-explorer__list" role="tree">
            {% for node in tree_nodes %}
                {% include "wagtailadmin/pages/includes/tree_explorer_node.html" with node=node level=1 %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% versioned_static 'core/js/admin_tree_explorer.js' %}"></script>
{% endblock %}
