{% load i18n static wagtailimages_tags wagtailcore_tags %}
{% if value.page.live or request.is_preview %}
    <div class="featured-record-article"
         data-container-name="featured-record-article">
        {% if value.page.teaser_image %}
            <a href="{% pageurl value.page %}">
                <span class="sr-only">{{ value.page.title }}</span>
                <picture>
                    {% image value.page.teaser_image fill-626x486-c100 as mobile_img %}
                    <source media="(max-width: 1024px)" srcset="{{ mobile_img.url }}"/>
                    {% image value.page.teaser_image fill-390x303-c100 as desktop_img %}
                    <source media="(min-width: 1025px)" srcset="{{ desktop_img.url }}"/>
                    <img class="featured-record-article__image"
                         height="{{ mobile_img.height }}"
                         width="{{ mobile_img.width }}"
                         src="{{ mobile_img.url }}"
                         alt=""/>
                </picture>
            </a>
        {% endif %}

        <div class="featured-record-article__container">
            <p class="featured-record-article__meta u-margin-xxs">{% trans "Record Revealed" %}</p>
            <a href="{% pageurl value.page %}" class="featured-record-article__link" data-component-name="{{ value.block.meta.label }}" data-link-type="Banner title" data-link="{{ value.page.title }}">
                <h3 class="featured-record-article__title u-margin-xs">{{ value.page.title }}</h3>
            </a>
            {% if value.page.date_text %}<p class="featured-record-article__date u-margin-xs">{{ value.page.date_text }}</p>{% endif %}
            {% if page.teaser_text %}<p class="featured-record-article__text">{{ value.page.teaser_text }}</p>{% endif %}
        </div>
    </div>
{% endif %}
