{% load i18n static wagtailimages_tags wagtailcore_tags %}

{% if value.page.live or request.is_preview %}
    <div class="featured-record-article u-margin-l container" data-container-name="featured-record-article">
        <div class="featured-record-article__container">
            <div class="featured-record-article__image-text">
                {% if value.page.teaser_image %}
                    <a href="{% pageurl value.page %}">
                        <picture class="featured-record-article__image">
                            {% image value.page.teaser_image fill-390x176 as teaser_image %}
                            <source media="(max-width: 991px)" srcset="{{ teaser_image.url }}">
                            {% image value.page.teaser_image fill-217x133 as teaser_image %}
                            <source media="(min-width: 992px)" srcset="{{ teaser_image.url }}">
                            <img src="{{ teaser_image.url }}" alt="">
                        </picture>
                    </a>
                {% endif %}

                <div class="featured-record-article__text">
                    <h3 class="featured-record-article__standfirst">
                        <a href="{% pageurl value.page %}">
                            <span class="featured-record-article__standfirst__prefix">{% trans "Record Revealed" %}</span><span class="sr-only">:</span>
                            <span class="featured-record-article__standfirst__title">{{ value.page.title }}</span>
                        </a>
                    </h3>

                    {% if value.page.date_text %}
                        <p class="featured-record-article__date">{{ value.page.date_text }}</p>
                    {% endif %}

                    <p class="featured-record-article__teaser">{{ value.page.teaser_text }}</p>

                </div>
            </div>
        </div>
    </div>
{% endif %}
