{% load wagtailimages_tags wagtailcore_tags %}
{% image value.image width-600 as block_image %}
{% if value.image %}
    {% if value.caption %}
        <figure>
            <picture>
                <img src="{{block_image.url}}" alt="{{value.alt_text}}" />
            </picture>
            <figcaption>{{value.caption|richtext}}</figcaption>
        </figure>
    {% else %}

        {% if value.decorative %}
            <img src="{{block_image.url}}" alt=""/>
        {% else %}
            <img src="{{block_image.url}}" alt="{{value.alt_text}}"/>
        {% endif %}

    {% endif %}
{% endif %}
