{% load wagtailimages_tags wagtailcore_tags %}
{% image value.image width-600 as block_image %}

{% if value.image %}
    <figure class="image-block" data-module="data-imageblock">
        <picture>
            {% image value.image max-832x591 format-webp as desktop_img %}
            <source media="(min-width: 760px)" srcset="{{ desktop_img.url }}"/>
            {% image value.image max-832x591 as desktop_image %}
            <source media="(min-width: 760px)" srcset="{{ desktop_img.url }}"/>
            {% if value.is_portrait %}
                {% image value.image max-265x390 format-webp as mobile_img %}
                <source media="(max-width: 759px)" srcset="{{ mobile_img.url }}"/>
                {% image value.image max-265x390 as mobile_img %}
                <source media="(max-width: 759px)" srcset="{{ mobile_img.url }}"/>
            {% else %}
                {% image value.image max-390x265 format-webp as mobile_img %}
                <source media="(max-width: 759px)" srcset="{{ mobile_img.url }}"/>
                {% image value.image max-390x265 as mobile_img %}
                <source media="(max-width: 759px)" srcset="{{ mobile_img.url }}"/>
            {% endif %}
            {% if value.caption %}
                <img class="image-block__image{% if value.is_portrait %} image-block__image--portrait{% endif %}" width={{ mobile_img.width }} height={{ mobile_img.height }} src="{{ mobile_img.url }}" alt="{{ value.alt_text }}" />
            {% else %}
                <img class="image-block__image" width={{ mobile_img.width }} height={{ mobile_img.height }} src="{{ mobile_img.url }}" alt="{{ value.alt_text }}" />
            {% endif %}
            {% if value.image.transcription or value.image.translation %}
                <button data-js-transcript id="{{ heading_id }}-transcription" type="button" aria-label="read transcript" class="image-block__transcript">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path fill="#FC0" d="M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41Z"/></svg>
                    Transcript
                </button>
            {% endif %}
        </picture>

        {% if value.image.transcription or value.image.translation %}
            <div data-js-transcript-tablist data-controlled-by="{{ heading_id }}-transcription" class="image-block__transcription">
            {# non-JS version #}
            {% if value.image.transcription or value.image.translation %}
                <div class="transcription__text">
                    {% if value.image.transcription %}
                        <h2 class="tna-heading-l">{{ value.image.get_transcription_heading_display }}</h2>
                        {{ value.image.transcription|richtext }}
                    {% endif %}
                    {% if value.image.translation %}
                        <h2 class="tna-heading-l">{{ value.image.get_translation_heading_display }}</h2>
                        {{ value.image.translation|richtext }}
                    {% endif %}
                </div>
            {% endif %}
            {# JS version #}
                <div>
                    <div role="tablist" class="transcription__tablist hidden">
                        {% if value.image.transcription %}
                            <button id="{{ heading_id }}-tab-1"
                                    class="transcription__tab"
                                    type="button"
                                    role="tab"
                                    aria-selected="true"
                                    aria-controls="{{ heading_id }}-tabpanel-1"
                                    data-component-name="Image gallery"
                                    data-link-type="Tab"
                                    data-link="{{ value.image.get_transcription_heading_display }}"
                                    data-transcription-tab>
                                {{ value.image.get_transcription_heading_display }}
                            </button>
                        {% endif %}
                        {% if value.image.translation %}
                            <button id="{{ heading_id }}-tab-2"
                                    class="transcription__tab"
                                    type="button"
                                    role="tab"
                                    aria-selected="false"
                                    aria-controls="{{ heading_id }}-tabpanel-2"
                                    tabindex="-1"
                                    data-component-name="Image gallery"
                                    data-link-type="Tab"
                                    data-link="{{ value.image.get_translation_heading_display }}"
                                    data-translation-tab>
                                {{ value.image.get_translation_heading_display }}
                            </button>
                        {% endif %}
                    </div>
                    {% if value.image.transcription %}
                        <div id="{{ heading_id }}-tabpanel-1"
                                role="tabpanel"
                                tabindex="0"
                                aria-labelledby="{{ heading_id }}-tab-1"
                                class="transcription__tabpanel">
                            {{ value.image.transcription|richtext }}
                        </div>
                    {% endif %}
                    {% if value.image.translation %}
                        <div id="{{ heading_id }}-tabpanel-2"
                                role="tabpanel"
                                tabindex="0"
                                aria-labelledby="{{ heading_id }}-tab-2"
                                class="transcription__tabpanel">
                            {{ value.image.translation|richtext }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if value.caption %}
            <figcaption class="image-block__caption">
                {{ value.caption|richtext }}
            </figcaption>
        {% endif %}
    </figure>
{% endif %}
    