{% load wagtailcore_tags wagtailimages_tags %}
{% comment %}
    This template requires refinement by FE. Note 'card-group--no-flex' and 'card-group-promo__card' classes have been
    used below because they are used in explorer.js for tracking purposes.
{% endcomment %}
<div class="related-highlight-cards">
    <div class="tna-container">
        {% if value.heading %}
            <div class="tna-column tna-column--full">
                <h2 class="tna-heading tna-heading--l">
                    {{ value.heading }}
                </h2>
            </div>
        {% endif %}
        {% for link_page in link_pages %}
            <div class="tna-column tna-column--flex-1 tna-column--full-tiny" data-container-name="more-ways-to-explore" id="analytics-more-ways-to-explore">
                <div class="related-highlight-cards__card">
                    <a href="{% pageurl link_page %}" aria-labelledby="related-highlight-card-title-{{ forloop.counter }}" data-component-name="Navigation card: {% if value.heading %}{{ value.heading }}{% else %}{{ page.title }}{% endif %}" data-link-type="Card image" data-card-position="{{ forloop.counter0 }}" data-card-title="{{ link_page.title }}" tabindex="-1">
                        {% image link_page.teaser_image fill-540x350 as teaser_image %}
                        <img height="350"
                            width="540"
                            src="{{ teaser_image.url }}"
                            class="related-highlight-cards__image"
                            alt="" />
                    </a>
                    <div class="related-highlight-cards__content">
                        <p class="related-highlight-cards__card-title" id="related-highlight-card-title-{{ forloop.counter }}">
                            <a href="{% pageurl link_page %}" class="related-highlight-cards__card-title-link"  data-component-name="Navigation card: {% if value.heading %}{{ value.heading }}{% else %}{{ page.title }}{% endif %}" data-link-type="Card text" data-card-position="{{ forloop.counter0 }}" data-card-title="{{ link_page.title }}">
                                {{ link_page.title }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>