{% load wagtailcore_tags %}

{% for alert in alerts %}
<div class="alert-message--{{ alert.alert_level }}" data-container-name="alert-message-{{ alert.alert_level }}" id="analytics-alert-{{ alert.alert_level }}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert-message__label" data-alert-title="{{ alert.title }}">{{ alert.title }}</div>
                <div class="alert-message__description" data-alert-message="{{ alert.message|striptags }}">{{ alert.message|richtext }}</div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
