{% extends "base.html" %}

{% load i18n datalayer_tags wagtailcore_tags feedback_tags %}

{% block title %}{% trans "Share your feedback" %}{% endblock %}

{% block extra_gtm_js %}
    {% render_gtm_datalayer view %}
{% endblock extra_gtm_js %}

{% block breadcrumb %}{% endblock %}

{% block content %}
    <h1>{% trans "Share your feedback" %}</h1>

    <form class="feedback-form" method="post">
        <h2 class="feedback-form__heading">
            <span class="feedback-form__heading__subtitle">{% trans "On the previous page:" %}</span>
            {{ prompt.text }}
        </h2>

        {{ form.as_div }}

        <div class="feedback-form__footer">
            <button class="tna-button--dark" type="submit">
                {% trans "Submit feedback" %}
            </button>
        </div>
    </form>
{% endblock %}
