<div class="date-input" id="{{ widget.attrs.id }}">
  {% for subwidget in widget.subwidgets %}
    {% comment %} <div style="display:inline-block"> {% endcomment %}
    <div>
      <label class="input__label d__block" for="{{ subwidget.attrs.id }}" style="display:block">{{ subwidget.label }}</label>
      <label class="input__label d__block" for="{{ subwidget.attrs.id }}">{{ subwidget.label }}</label>
      {% include subwidget.template_name with widget=subwidget %}
    </div>
  {% endfor %}
</div>
