{% extends "wagtailadmin/shared/email_base.html" %}

{%- set subject = "The National Archives: Password Reset" -%}

{%- set panel = dict(
  title="Password reset request",
  body="<p>Please ignore this email if you did not request this change.</p>"
) -%}

{%- set username_line = "" -%}
{% if user.USERNAME_FIELD != "email" %}
{%- set username_line = "<p>Your username: <strong>" ~ (user.get_username() | e) ~ "</strong></p>" -%}
{% endif %}

{%- set content = username_line ~ "<p>To change your password, use the button below.</p>" -%}

{%- set cta_buttons = [("Reset your password", reset_url)] -%}

{%- set signoff = "<p>If you have any further issues, please contact the Digital Services Content Design Team.</p>" -%}
