{% extends "layouts/email.html" %}

{%- set subject = "The National Archives: Password Reset (Two-Factor Authentication)" -%}

{%- set panel = dict(
  title="Security update required",
  body="<p>Your Two-Factor Authentication (2FA) devices have been removed.</p><p>You must reset your password before signing in again.</p>"
) -%}

{% set content %}
  {% if reason %}
    <p>Reason: <strong>{{ reason | e }}</strong></p>
  {% endif %}

  {% if user.USERNAME_FIELD != "email" %}
    <p>Your username: <strong>{{ user.get_username() | e }}</strong></p>
  {% endif %}

  <p>To reset your password, use the button below.</p>
{% endset %}

{%- set ctaButtons = [{"text": "Reset your password", "href": reset_url}] -%}

{%- set signoff = "<p>If you have any further issues, please contact the Digital Services Content Design Team.</p>" -%}
