.accordion {
    $root: &;

    &.is-open {
        #{$root}__icon {
            transform: rotate(180deg);
        }

        #{$root}__button {
            margin-bottom: 10px;
        }

        #{$root}__content {
            display: block;
        }
    }

    &.is-closed {
        #{$root}__content {
            display: none;
        }
    }

    &__button {
        width: 100%;

        display: flex;
        align-items: center;

        text-decoration: none;

        background: none;

        border: 0;
        transition: color 0.2s ease;

        &:hover {
            cursor: pointer;
        }
    }

    &__icon {
        transition: transform 0.2s ease;
    }

    &__content {
        margin-top: 15px;
        margin-bottom: 10px;
    }
}
