.alert-message {

    padding: 0.5em;

    &--high {
        @extend .alert-message;
        background-color: $color__pink;
    }

    &--medium {
        @extend .alert-message;
        background-color: $color__yellow;
    }

    &--low {
        @extend .alert-message;
        background-color: $color__grey-4;
    }

    &__label {
        display: inline-block;
        background-color: $color__white;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        margin-right: 0.4em;
    }

    &__description {
        margin-bottom: 0;
        display: inline-block;
    }

    &__link {
        color: $color__link-hover;
    }
}