.alert-message {
    padding: 0.5rem;

    &--high {
        @extend .alert-message;
        background-color: $color__pastel-pink;
    }

    &--medium {
        @extend .alert-message;
        background-color: $color__cream;
    }

    &--low {
        @extend .alert-message;
        background-color: $color__grey-500;
    }

    &__label {
        display: inline-block;
        background-color: $color__white;
        padding: 0.2rem 0.4rem;
        margin-right: 0.4rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__description {
        margin-bottom: 0;
        display: inline-block;

        a {
            color: $color__link-hover;
        }

        p {
            margin-bottom: 0;
        }
    }
}
