.archive-collections {
    h3 {
        margin: 1.5rem 0 1rem;

        font-family: $font__supria-sans;
        font-size: 1.4rem;
    }

    &__container {
        max-height: 15rem;
        margin: 0 0 4rem;
        padding: 1rem;

        overflow: auto;

        background: $color__cream;

        border: 0.125rem solid $color__yellow;
    }

    &__list {
        margin: 0;
    }
}
