.archive-description {
    margin: 6.5rem 0 3rem;

    &__address {
        margin-bottom: 0;
    }

    &__url {
        font-size: 1.6rem;
        margin: 0;
    }

    &__contact {
        padding: 2rem;
        font-family: $font__open-sans;
        background: $color__grey-200;
        border: 0.125rem solid $color__grey-400;

        h2 {
            margin: 0 0 1rem;
        }

        p {
            font-weight: normal;
            margin-bottom: 0.25rem;
        }

        ul {
            li {
                font-family: $font__open-sans;
            }
        }
    }

    &__container {
        margin: 2rem 0;
    }
}
