 .article-container {
     display: grid;
     display: -ms-grid;
     grid-template-columns: repeat(4, 1fr);
     -ms-grid-columns: 1fr 1fr 1fr 1fr;

     &__sidebar {
         grid-column-start: span 1;
         -ms-grid-column-span: 1;
         -ms-grid-row: 1;
         -ms-grid-column: 1;
         padding: 0 1rem;
     }




             &__main {
                 grid-column-start: span 3;
                 -ms-grid-column-span: 3;
                 -ms-grid-row: 1;
                 -ms-grid-column: 2;
                 padding: 0 2rem;


                 @media (max-width: $screen__md) {
                     grid-column-start: span 4;
                     -ms-grid-column-span: 4;
                     -ms-grid-row: 1;
                     -ms-grid-column: 1;
                     width: 100%;
                 }

                 @media (max-width: $screen__sm) {
                     padding: 0 1rem;
                 }
             }
         }