@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";

.tna-author {
    align-items: center;

    h2.tna-chip {
        margin-top: 1rem;
    }

    p {
        margin-bottom: 0.5rem;
    }

    &__image {
        margin: 0 auto;

        overflow: hidden;
        border-radius: 100%;

        img {
            width: 100%;
            height: 100%;
        }

        @include media.on-tiny {
            max-width: 15rem;
            margin-bottom: 3rem;
        }

        &--small {
            max-width: 5rem;
            margin: 1.5rem 0;
        }
    }

    &--summary {
        margin-top: 2rem;

        text-align: left;

        @include colour.colour-border("keyline", 1px, dashed, top);

        @include media.on-mobile {
            padding-top: 2rem;
            padding-bottom: 2rem;

            @include colour.colour-border("keyline", 1px, dashed, bottom);
        }
    }
}
