.author-info {
    margin-left: 1rem;
    margin-top: 2rem;

    &__label {
        text-transform: uppercase;
        font-family: $font__roboto;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }

    &__image {
        width: 80%;
        border-radius: 50%;
    }

    &__text {
        margin-top: 1rem;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-family: $font__supria-sans;
        padding-left: 1rem;
        @media (max-width: $screen__md) {
            font-size: 2.5rem;
        }
    }

    &__title a {
        color: $color__black;
    }

    &__paragraph {
        color: $color__grey-600;
    }
}
