.beta-banner {
  background-color: $color__cream;
  padding: 1rem 3rem;

  &__standfirst {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    background: none;
    border: none;
    text-decoration: underline;
    padding-left: 0;
    text-align: left;
    color: $color__link-blue;

    &:hover {
      cursor: pointer;
      text-decoration: none;
    }

    &:focus {
      outline: 0.3125rem solid $color__navy;
      outline-offset: 0.125rem;
    }
  }

  @media only screen and (max-width: $screen__sm) {
    &__options {
      flex-direction: column;
      align-items: flex-start;
    }

    &__link {
      padding: 1rem 0;
    }

    &__button {
      padding: 1rem 0;
    }
  }
}
