.blogs {
  background:#fbf8e9;

  .records-title {
    font-size:1.3em;
    font-weight: bold;
    padding: 1.3em 0;
  }

  h3 {
    border-bottom:0.125rem solid #26262a;
    a {
      color:black;
    }
  }

  .card {

      img {border-left:10px solid #fdd60c;width:100%;}

  }
}