.blog-embed {
    text-align: center;
    margin: 0 0 2rem;
    padding: 2rem 0;

    &__icon {
        background-color: $color__navy;
        border-radius: 50%;
        margin: 0 auto 1rem;
        padding: 1rem;
        width: 5rem;
        height: 5rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 3rem;
    }

    &__icon-label {
        text-transform: uppercase;
        font-family: $font__roboto;
        font-weight: bold;
        font-size: 0.9rem;
    }

    &__heading {
        font-size: 2rem;
        font-weight: 400;
    }

    &__image {
        width: 100%;
    }

    &__list {
        list-style: none;
        padding-left: 0;
    }

    &__list-item {
        background-color: $color__navy;
        margin-bottom: 1rem;
        padding: 1rem;
        border-left: 1.25rem solid $color__navy;
        text-align: left;
    }

    &__link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $color__white;
        }
    }

    &__date {
        font-size: 1.2rem;
    }

    &__text {
        font-size: 1.2rem;
        text-align: left;
        margin-top: 1rem;
    }

    &__link-heading {
        font-size: 1.625rem;
    }

    &__link-heading,
    &__link-text {
        color: $color__white;
    }
}
