.breadcrumb-content {
   background-color: $color__yellow_2;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 10px;
}
ul.breadcrumb li+li:before {
  padding: 6px;
  color: black;
  content: ">";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}