.breadcrumb-content {
    background-color: white;
    display: inline-block;
    padding: 0.1rem 1rem 0rem;

    .generic-intro & {
        padding: 0;
    }
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;

    .generic-intro & {
        padding: 0;
        padding-top: 2rem;
    }
}
ul.breadcrumb li {
    @include font-size(xs);
    display: inline;
    font-family: "Open Sans", sans-serif;
}

ul.breadcrumb li a {
    color: black;
    text-decoration: underline;
}
ul.breadcrumb li a:hover {
    text-decoration: none;
}

.breadcrumb__separator {
    @include font-size(xs);
    padding: 2px;
    color: black;
}

//hide the first child - The National Archives - now handled by python logic
/*
.breadcrumb li:nth-child(2) {
  display:none;
}
*/

//media query to truncate list on mobile : example : https://design-system.service.gov.uk/components/breadcrumbs/collapse-mobile/index.html
@media (max-width: 768px) {
    .govuk-breadcrumbs--collapse-on-mobile .govuk-breadcrumbs__list-item {
        display: none;
    }
    .govuk-breadcrumbs--collapse-on-mobile
        .govuk-breadcrumbs__list-item:first-child,
    .govuk-breadcrumbs--collapse-on-mobile
        .govuk-breadcrumbs__list-item:last-child {
        display: inline-block;
    }

    .govuk-breadcrumbs--collapse-on-mobile
        .govuk-breadcrumbs__list-item:before {
        top: 6px;
        margin: 0;
    }
    .govuk-breadcrumbs--collapse-on-mobile .govuk-breadcrumbs__list {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
    }
}
