.breadcrumb-content {
   background-color: white;
   display: inline-block;
  padding: 0.1rem 1rem 0rem;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
ul.breadcrumb li+li:before {
  padding: 2px;
  color: black;
  content: ">";
}
ul.breadcrumb li a {
  color: black;
  text-decoration: underline;
}
ul.breadcrumb li a:hover {

  text-decoration: none;
}