/* stylelint-disable -- This will become redundant when the new frontend is added */
.tna-button {
    // text-decoration: none;
    // background-color: $color__navy !important;
    // color: $color__white;
    // border: 0;
    // padding: 1rem 1.3rem;
    // font-weight: bold;
    // margin: 0.5rem 0;
    // border: none;

    &__target-blank-label {
        display: block;

        font-size: 0.7rem;
    }

    &:hover {
        // background-color: $color__white;
        // color: $color__grey-700;
        // outline: 0.1875rem solid $color__grey-700;
        // outline-offset: 0.125rem;
    }

    // &:focus {
    //     outline: 0.312rem solid $color__navy;
    //     outline-offset: 0.125rem;
    // }

    // &--full-width {
    //     width: 100%;
    // }
}

.tna-button--dark,
.tna-button--dark:visited {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;

    display: inline-block;

    color: $color__white;
    font-weight: bold;
    text-decoration: none;

    background-color: $color__black;

    border: none;
    outline: 0.1875rem solid $color__black;

    &:hover {
        color: $color__grey-700;

        background-color: $color__white;

        outline: 0.1875rem solid $color__grey-700;
    }

    // &:focus {
    //     outline: 0.312rem solid $color__navy;
    //     outline-offset: 0.125rem;
    // }
}

// stylelint-disable no-descending-specificity
.tna-button--yellow,
.tna-button--yellow:visited {
    @extend .tna-button--dark;
    color: $color__grey-700;

    background-color: $color__yellow;

    outline: 0.1875rem solid $color__yellow;

    &:hover {
        color: $color__white;

        background-color: $color__grey-700;

        outline: 0.1875rem solid $color__grey-700;
    }

    &:focus {
        outline: 0.312rem solid $color__navy;
        outline-offset: 0.125rem;
    }
}
// stylelint-able no-descending-specificity

.tna-button--row-item {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.response-btn {
    margin-right: 1em;
}

.thumb-image {
    width: 25px;
    height: 25px;
    // margin-left:1em;
    margin-right: 0.5em;

    display: inline-block;
}
