.tna-button {
  text-decoration: none;
  background-color: $color__link !important;
  color: $color__white;
  border: 0;
  padding: 1rem;
  margin: 0.5rem;
}

.tna-button--dark, .tna-button--dark:visited {
  display: inline-block;
  text-decoration: none;
  background-color: $color__dark;
  color: $color__white;
  outline: 0.1875rem solid $color__dark;
  padding: 1rem;
  margin: 0.5rem;

  &:hover {
    background-color: $color__white;
    color: $color__dark;
    outline: 0.1875rem solid $color__dark;
  }

  &:focus {
    outline: 0.312rem solid $color__blue_4;
    outline-offset: 0.125rem;
    z-index: 999;
  }
}
