/* stylelint-disable -- This will become redundant when the new frontend is added */
.card-group {
    width: 100%;
    padding-left: 0;

    display: flex;
    flex-wrap: wrap;

    &--list-style-none {
        @extend .card-group;
        list-style: none;
    }

    &--no-flex {
        @extend .card-group;
        display: block;
        flex-wrap: unset;
    }

    &-secondary-nav {
        width: 100%;

        display: inline-block;

        &__image-link {
            @extend .tna-card__link;
            @include explorer-link;
        }

        &__title-label {
            margin-top: 1.05rem;
            margin-bottom: 0;

            color: $color__grey-700;
            font-family: $font__roboto-mono;
            font-size: 0.875rem;
            text-transform: uppercase;

            @media only screen and (min-width: #{$screen__md + 1px}) {
                font-size: 0.9rem;
            }
        }

        &__title-link {
            display: inline;

            color: $color__black;
            font-family: $font__body;
            font-size: 1.125rem;
            font-weight: $font-weight-bold;
            text-decoration-thickness: 1px;

            @media only screen and (min-width: #{$screen__md + 1px}) {
                font-size: 1.25rem;
            }

            &:hover,
            &:active {
                color: $color__navy;
            }

            &:visited {
                color: $color__black;
            }

            &:focus {
                outline-offset: 0.2rem;
            }
        }

        &__heading {
            margin-top: 0.3rem;
            margin-bottom: 0.5rem;

            display: block;

            span {
                margin-left: 1px;
                padding: 2px 3px 0;

                display: inline-block;

                color: white;
                font-size: 0.8rem;
                vertical-align: middle;

                background: green;
            }
        }

        &__image {
            // @extend .tna-card__image;

            &-fallback {
                width: 100%;
            }
        }

        &__body {
            color: $color__grey-700;
            // padding-left: 0.28rem;
            // padding-right: 0.28rem;
            // padding-top: 0.28rem;
        }

        &__span {
            display: block;
        }

        @media only screen and (min-width: #{$screen__lg + 1px}) {
            display: block;
        }
    }

    &-record-summary {
        width: 100%;
        margin-bottom: 2rem;

        display: inline-block;

        list-style: none;

        &__image {
            margin-top: 0.7rem;
            // @extend .tna-card__image;
            border: 0.0625rem solid $color__black;

            &-fallback {
                width: 100%;
            }

            &:hover {
                outline: 0.313rem solid $color__black;
            }
        }

        &__link {
            @extend .tna-card__link;
            margin-left: 0.5rem;

            display: inline-block;

            color: $color__navy;
            text-decoration: underline;

            &:active {
                color: $color__navy;
            }

            &:hover {
                color: $color__navy;
                text-decoration: none;
            }

            &:focus {
                outline-offset: 0.2rem;
            }
        }

        &__heading {
            display: inline;

            font-size: 1.3rem;
            font-weight: 700;
        }
    }

    &-promo {
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;

        list-style: none;

        &--green {
            @extend .card-group-promo;
            padding: 1rem 2rem;

            color: $color__black;

            background-color: $color__pastel-green;

            a,
            hr {
                color: $color__black;
            }
        }

        &--dark {
            @extend .card-group-promo;
            padding: 1rem 2rem;

            color: $color__white;

            background-color: $color__grey-700;

            a,
            hr {
                color: $color__white;
            }
        }

        &__card {
            &-image {
                width: 100%;
                margin-top: 1rem;
                margin-bottom: 1rem;

                display: block;
            }

            &-heading {
                font-size: 1.5rem;
                font-weight: 800;
            }

            &-paragraph {
                margin-bottom: 1rem;
            }

            &-list {
                margin-bottom: 1rem;
                padding-left: 1rem;

                &-item {
                    list-style-type: "- ";
                }
            }

            &-link {
                display: block;
            }
        }

        &__heading {
            margin: 0;
        }
    }
}

.aria-desc-card {
    display: none;
}
