.card-grid {
    @extend .row;
    display: grid;
    grid-gap: 40px;
    margin: 20px 0;
    
    &--duo {
        @media (min-width: map-get($grid-breakpoints, "md")) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &--quad {
        @media (min-width: map-get($grid-breakpoints, "sm")) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: map-get($grid-breakpoints, "lg")) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__title {
        font-size: $h2-font-size;
        font-weight: $font-weight-normal;
        padding: 0.5rem 0;
    }
}