.card-group {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
  &--list-style-none {
    @extend .card-group;
    list-style: none;
  }

  &--no-flex {
    @extend .card-group;
    display: block;
    flex-wrap: unset;
  }

  &-secondary-nav {
    display: inline-block;
    width: 100%;
    &__link {
      @extend .tna-card__link;
      @include explorer-link;
      display: table;
    }

    &__image {
      @extend .tna-card__image;
      border: 0.0625rem solid $color__black;
      display: table-header-group;
      &-fallback {
        width: 100%;
      }
    }

    &__body {
      display: table-footer-group;
    }

    &__heading, &__paragraph {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }

    @media only screen and (min-width: $screen__lg) {
      display: block;
    }
  }

  &-record-summary {
    list-style: none;
    display: inline-block;
    width: 100%;
    &__image {
      @extend .tna-card__image;
      border: 0.0625rem solid $color__black;
      &-fallback {
        width: 100%;
      }
    }

    &__link {
      @extend .tna-card__link;
      @include explorer-link;

      text-decoration: none;
    }

    &__body {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      margin-top: 1rem;
      text-decoration: underline;
    }

    &__heading {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
      text-decoration: underline;
    }
  }

  &-promo {
    list-style: none;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    &--green {
      @extend .card-group-promo;
      background-color: $color__green;
      color: $color__black;
      padding: 1rem 2rem;

      a, hr {
        color: $color__black;
      }

    }

    &--dark {
      @extend .card-group-promo;
      background-color: $color__dark;
      color: $color__white;
      padding: 1rem 2rem;

      a, hr {
        color: $color__white;
      }
    }

    &__card {
      &-image {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: block;
      }

      &-heading {
        font-weight: 800;
        font-size: 1.5rem;
      }

      &-paragraph {
        margin-bottom: 1rem;
      }

      &-list {
        padding-left: 1rem;
        margin-bottom: 1rem;
        &-item {
            list-style-type: '- ';
        }
      }

      &-link {
        display: block;
      }
    }

    &__heading {
      margin: 0;
    }
  }
}
