.card-grid {
    @extend .row;
    display: grid;

    &--list {
        // A modifier to normalise the grid for list items.
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__duo {
        grid-gap: 1rem;
        margin: 1rem 0;

        @media (min-width: map-get($grid-breakpoints, "md")) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__trio {
        grid-gap: 1.5rem;
        row-gap: 1.875rem;
        padding: 0 1rem 1rem;

        @media (min-width: map-get($grid-breakpoints, "sm")) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 3rem;
        }

        @media (min-width: map-get($grid-breakpoints, "md")) {
            grid-template-columns: repeat(3, 1fr);
        }

        &--large-gaps {
            grid-gap: 3.625rem;

            @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
                grid-gap: 1.875em;
            }
        }
    }

    &__quad {
        grid-gap: 40px;
        margin: 20px 0;

        @media (min-width: map-get($grid-breakpoints, "sm")) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: map-get($grid-breakpoints, "lg")) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__quint {
        gap: 14px;
        grid-template-columns: repeat(2, 1fr);

        @media (min-width: map-get($grid-breakpoints, "md")) {
            gap: 42px;
        }

        @media (min-width: map-get($grid-breakpoints, "lg")) {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    &__title {
        font-size: $h2-font-size;
        font-weight: $font-weight-normal;
        padding: 0.5rem 0;
    }
}
