.content-warning {
    background-color: $color__cream;
    border-left: 4px solid #fc0;
    padding: 1.5rem 1.75rem;

    @media screen and (min-width: #{$screen__sm + 1px}) {
        display: flex;
        padding: 1.25rem 2rem;
        margin-top: 2rem;
    }

    @media screen and (min-width: #{$screen__md + 1px}) {
        margin-bottom: 3rem;
    }

    &--normalise-margin {
        // normalise full-wdith mobile display
        margin-left: -15px;
        margin-right: -15px;
    }

    &--normalise-article-margin {
        @media screen and (max-width: $screen__sm) {
            margin-left: -32px;
            margin-right: -32px;
        }
    }

    &--short {
        @media screen and (min-width: #{$screen__md + 1px}) {
            margin-bottom: 1.25rem;
        }
    }

    &__content {
        p {
            @include font-size(xs);
            color: $color__black;
            margin-bottom: 0;
        }
    }

    &__icon {
        display: none;
        color: $color__grey-800;
        width: 34px;
        height: 34px;
        flex-basis: 34px;
        min-width: 34px;
        margin-right: 18px;

        @media (min-width: #{$screen__sm + 1px}) {
            display: block;
        }
    }
}
