.content-block {
  margin: 2rem 0;
  padding: 2rem 0;

  &__heading {
    font-size: 2rem;
    font-weight: 400;
  }

  &__text {
    font-size: 1.3rem;
  }

  &--bordered {
    border-top: 0.3125rem solid $color__grey-4;
    border-bottom: 0.3125rem solid $color__grey-4;
    padding: 2rem 0;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }
}
