/* stylelint-disable -- This will become redundant when the new frontend is added */
#ds-cookie-consent-banner {
    .container {
        .row {
            display: block;
            flex-wrap: nowrap;
        }

        .cookie_head {
            font-family: $font__roboto !important;
        }

        .button {
            font-family: $font__open-sans !important;

            &:hover {
                cursor: pointer;
            }
        }

        #btn_preferences {
            padding: 0.5rem;

            color: $color__white;

            &:hover {
                transition: none;
            }
        }
    }
}
