.cta-banner-newsletter {
    &__heading {
        margin-top: 0;

        font-size: 1.55rem;
        font-weight: 400;
        @media only screen and (max-width: $screen__md) {
            font-size: 1.4rem;
        }
    }

    &__heading,
    &__description {
        margin-bottom: 0.5rem;
    }

    &__icon {
        @media only screen and (max-width: $screen__lg) {
            display: none;
        }
        height: 3.75rem;
    }
}
