@use "sass:math";
@use "@nationalarchives/frontend/nationalarchives/variables/grid";
@use "@nationalarchives/frontend/nationalarchives/tools/media";

.event-hero {
    display: flex;
    flex-direction: column;

    background-color: $color__maroon;

    &__info-wrapper {
        padding-bottom: 1.5rem;
    }

    &__image-wrapper {
        position: relative;
    }

    &__title {
        color: $color--white;
    }

    &__image {
        width: 100%;
        height: auto;

        @include media.on-larger-than-mobile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @include media.on-larger-than-mobile {
        flex-direction: row;
        justify-content: flex-end;

        &__info-wrapper {
            width: 50%;
            // allows the text to fill half the width that a tna-container wrapper would create
            max-width: math.div(grid.$largest-container-width, 2);
            padding-bottom: 7.812rem;
        }

        &__image-wrapper {
            width: 50%;
            min-height: 560px;
            flex-basis: 50%;
        }

        &__picture {
            position: absolute;
            inset: 0;
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
