@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";

.event-details-banner {
  &__cta {
    margin: 0;
    display: block;

    @include media.on-larger-than-mobile {
      background-color: colour.brand-colour("pastel-pink");
      margin: 1rem 0;
    }
  }
}