@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/variables/grid" as gridVars;
@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.event-meta {
    $root: &;
    margin-bottom: gridVars.$gutter-width;

    @include media.on-larger-than-mobile {
        margin-bottom: 0;
        padding-left: gridVars.$gutter-width;
        border-left: 1px solid colour.brand-colour("light-grey");
    }

    &--inline {
        padding: 1rem 0;

        align-self: center;

        display: none;

        line-height: 1;
        border-left: 0;

        @include media.on-larger-than-mobile {
            display: block;
        }
    }

    &__list {
        margin: 1rem 0;
        padding: 0;

        list-style: none;

        #{$root}--inline & {
            margin: 0;

            display: inline-flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 1.5rem;
        }
    }

    &__item {
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;

        #{$root}--inline & {
            margin: 0;
            padding: 0;

            display: inline-flex;
            align-items: flex-start;

            @include media.on-medium {
                align-items: center;
                flex: 1 0 100%;
            }

            @include media.on-large {
                align-items: center;
                flex: 1 0 auto;
            }
        }
    }

    &__title {
        @include typography.detail-font-small;
        margin-bottom: 1rem;

        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.25rem;
    }

    &__icon {
        @include typography.font-size(16);
        @include colour.colour-font("accent-background");
        flex: 0 0 auto;

        margin-right: 0.5rem;
    }

    &__details {
        @include colour.colour-font("font-light");
        margin: 0;
        padding: 0;

        font-size: 1rem;

        list-style: none;

        .meta-details-banner & {
            @include typography.detail-font-small;
            color: $color__black;
            text-transform: none;
        }
    }

    &__link,
    &__link:visited {
        @include colour.colour-font("font-dark");
        display: flex;
        align-items: center;
        gap: 4px;

        font-size: 1rem;
        text-decoration: none;
    }
}
