@use "@nationalarchives/frontend/nationalarchives/tools/media";

.event-card-listing {
    &__heading-area {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 3rem;
        border-top: 1px solid $color__grey-300;
        margin-bottom: 1.5rem;

        @include media.on-larger-than-mobile {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 3rem;
        }
    }

    &__heading {
        margin-bottom: 0;

        @include media.on-larger-than-mobile {
            font-size: 1.875rem;
        }
    }

    &__summary {
        color: $color__grey-600;
        font-size: 1rem;
        margin-top: 0;

        @include media.on-larger-than-mobile {
            font-size: 1.25rem;
        }
    }

    &__list {
        background-color: $color--white;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        padding-bottom: 2.5rem;

        @include media.on-larger-than-mobile {
            border-bottom: 1px solid $color__grey-300;
            margin-bottom: 2.5rem;
        }
    }
}
