@use "@nationalarchives/frontend/nationalarchives/tools/media";

.event-details-banner {
  background-color: $color__pastel-pink;

  &__cta {
    margin: 0; 

    &--mobile {
      display: flex;
    }

    &--desktop {
      display: none;
    }

    @include media.on-larger-than-mobile {
      margin: 1rem 0;

      &--mobile {
        display: none;
      }

      &--desktop {
        display: flex;
      }
    }
  }
}