.explore-intro {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $color__white;
  color: $color__black;

  h1 {

    font-size:1.4rem;
  }

  h2 {
    margin-bottom:1em;
  }

  a {
    color: $color__black;
  }

  &__image {
    @media (max-width: $screen__md) {
      display:none ;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5rem;
    font-family: $font__supria-sans;
    @media (max-width: $screen__md) {
      font-size: 2.5rem;
    }

    &-prefix {
      display: block;
      @media (max-width: $screen__md) {
        font-size: 1.25rem;
        line-height: 1.3rem;
      }
      font-size: 2rem;
      line-height: 0.3rem;
      margin-top: 1rem;
    }
  }

  &__paragraph {
    margin-bottom: 0.5rem;
  }
}