@use "@nationalarchives/frontend/nationalarchives/tools/media";

.explore-intro {
    $root: &;
    padding-top: 1rem;

    overflow: hidden; // cut off image when browser is narrow

    color: $color__black;

    background-color: $color__white;

    &__image-container {
        align-self: flex-end;

        display: flex;
    }

    &__image {
        width: auto;
        max-width: 390px; // match wagtail image rendition width
        height: auto;
        max-height: 390px; // match wagtail image rendition height

        display: block;

        @include media.on-mobile {
            display: none;
        }
    }

    &__title {
        @include font-size(xxxl);
        margin-top: 0;
        margin-bottom: 0;

        font-family: $font__supria-sans;
        font-weight: $font-weight-bold;
        line-height: 1.2;

        &--meta {
            @include font-size(xxl);
            font-weight: $font-weight-normal;
        }
    }

    &__paragraph {
        @include font-size(m);
        line-height: 1.5;

        @media (min-width: #{$screen__md + 1px}) {
            @include font-size(xl);
        }

        &--short {
            margin-bottom: 0;
        }
    }
}
