.explore-intro {
    $root: &;
    padding-top: 1rem;
    background-color: $color__white;
    color: $color__black;
    overflow: hidden; // cut off image when browser is narrow

    &__image-container {
        display: flex;
        align-self: flex-end;
    }

    &__image {
        display: block;
        max-width: 390px; // match wagtail image rendition width
        max-height: 390px; // match wagtail image rendition height
        height: auto;
        width: auto;

        @media (max-width: $screen__lg) {
            display: none;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2.5rem;
        font-family: $font__supria-sans;

        @media (max-width: $screen__md) {
            font-size: 2.5rem;
        }

        &--meta {
            font-size: 1.4rem;
        }
    }

    &__paragraph {
        margin-bottom: 1rem;
        font-size: 1.313rem;

        @media (max-width: $screen__md) {
            padding-bottom: 1.5em;
        }

        &--short {
            padding-bottom: 0;
        }
    }
}
