.featured-link {
    border: 1px solid $color__grey-300;
    border-top: 0.25rem solid $color__yellow;
    margin: 3rem 0;

    &__container {
        @media screen and (min-width: #{$screen__lg + 1px}) {
            display: flex;
        }
    }

    &__heading {
        @include font-size(l);
        color: $color__black;
        font-family: $font__body;
        font-weight: $font-weight-bold;

        @media screen and (min-width: #{$screen__lg + 1px}) {
            @include font-size(xl);
        }
    }

    &__heading-link {
        color: $color__black;
        text-decoration-thickness: 1px;

        &:hover {
            color: $color__navy;
            text-decoration: none;
        }

        &:visited {
            color: $color__black;
        }

        &::after {
            display: none !important;
        }
    }

    &__heading-link-icon {
        margin-left: 0.5rem;

        display: inline-block;
    }

    &__image {
        align-self: stretch;

        picture {
            height: 100%;

            object-fit: cover;
        }

        @media screen and (min-width: #{$screen__lg + 1px}) {
            flex: 0 0 33.33%;
        }
    }

    &__img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 330px; // prevent image getting huge on smaller viewports

        @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
            max-height: 390px;
        }
    }

    &__content {
        color: $color__grey-700;
        padding: 1.5rem;
    }

    &__metadata-item {
        color: $color__grey-700;
        margin-bottom: 0.75rem;

        @media screen and (min-width: #{$screen__lg + 1px}) {
            display: inline-flex;
            margin: 0;

            &:not(:last-child) {
                &::after {
                    content: "–";
                    color: $color__grey-700;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 0.25rem;
                    position: relative;
                }
            }
        }
    }
}
