@use "@nationalarchives/frontend/nationalarchives/tools/media";

.featured-card {
    margin-bottom: 2.25rem;

    position: relative;

    color: $color__black;
    text-decoration: none;

    @include media.on-larger-than-mobile {
        margin-bottom: 4.375rem;
    }

    &--offset-top {
        @include media.on-larger-than-mobile {
            margin-top: -9rem;
        }
    }

    &__pick {
        margin: 0;
        padding: 0 0.4rem;

        display: inline-block;

        position: absolute;
        top: 1rem;
        left: 1rem;

        color: $color__white;
        font-family: $font__roboto-mono;
        font-size: 0.875rem;
        text-transform: uppercase;

        background-color: $color__maroon;
    }

    &__tag-wrapper {
        margin-top: -1.25rem;
        padding: 1rem 1.25rem 0 1.5rem;

        display: inline-block;

        background-color: $color__white;

        @include media.on-larger-than-mobile {
            padding: 0;

            top: auto;
        }
    }

    &__text-wrapper {
        padding: 0 1.25rem 0 1.5rem;

        @include media.on-larger-than-mobile {
            padding: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__info {
        background-color: $color__white;

        @include media.on-larger-than-mobile {
            width: 66%;
            padding: 1.875rem 1.5rem 1.25rem;

            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    &__heading {
        margin-top: 0;
        margin-bottom: 0.75rem;

        @include media.on-larger-than-mobile {
            font-size: 1.875rem;
        }
    }

    &__heading-link {
        &:visited {
            color: $color__black;
        }

        &::after {
            display: none !important;
        }
    }
}

// This styles an empty div that sits above the featured card, and creates the illusion
// that it overlaps the filters (full-width-header) above.
.featured-card-background {
    @include media.on-larger-than-mobile {
        width: 100%;
        height: 12rem;

        background-color: $color__pastel-pink;
    }
}
