.featured-insight {
    display: flex;
    margin-bottom: 4rem;

    &__image {
        width: 50%;

        figure {
            margin-bottom: 0;
        }
    }

    &__description {
        background-color: #FFCC00;
        padding: 2rem 4rem 2rem 2rem;
        width: 50%;
        height: 100%;

        p {
            margin-top: 2rem;
        }
    }

    &__heading {
        border-bottom: 2px solid $color__dark;

        small {
            display: block;
            font-size: 1.2rem;
        }
    }

    @media (max-width: $screen__md) {
        display: block;
        &__description, &__image{
            width: 100%;
        }
        &__image {
            height: 21.875rem;
        }
    }
}