.featured-records {
    margin-bottom: 2rem;

    &__heading {
        margin-bottom: 0;
        padding: 1rem 0 1rem 1rem;

        color: $color__grey-700;
        font-family: $font__supria-sans;
        font-size: 2rem;
        font-weight: 400;

        background-color: $color__yellow;
    }

    &__content {
        padding: 1rem;

        border: 3px solid $color__grey-400;
        border-top: none;
    }

    &__standfirst {
        color: $color__grey-700;
        font-family: $font__supria-sans;
        font-size: 1.4rem;
    }

    &__list {
        padding-left: 0;

        list-style: none;
    }

    &__list-item {
        margin-bottom: 1rem;
        padding: 1rem;

        background-color: $color__grey-700;
        border-left: 1.25rem solid $color__yellow;
    }

    &__list-item-description {
        margin-top: 0.5rem;
        margin-bottom: 0;

        color: $color__white;
    }

    &__link {
        width: 100%;

        display: inline-block;

        color: $color__white !important;
        text-decoration: underline;
        transition: none;

        &:hover {
            color: $color__white;
            text-decoration: none;
        }

        &:focus {
            outline: 0.313rem solid $color__blue;
            outline-offset: 0.25rem;
        }
    }

    &__link-heading {
        margin-top: 0;
        margin-bottom: 0;

        font-family: $font__supria-sans;
        font-size: 1.625rem;
    }
}
