.featured-insight {
    display: flex;
    margin-bottom: 4rem;

    &__image-link {
        display: inline-block;
        width: 50%;
        z-index: 998;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        figure {
            margin-bottom: 0;
        }

        &:hover {
            outline: 0.3125rem solid $color__dark;
        }
    }

    &__description {
        background-color: #FFCC00;
        padding: 2rem 4rem 2rem 2rem;
        width: 50%;

        p {
            margin-top: 2rem;
        }
    }

    &__heading {
        border-bottom: 0.125rem solid $color__dark;

        small {
            display: block;
            font-size: 1.2rem;
        }

        span {
            background:green;
            font-size: 0.8rem;
            color:white;
            padding:3px 3px 0px 3px;
        }
    }

    @media only screen and (max-width: $screen__md) {
        display: block;
        &__description, &__image-link {
            width: 100%;
        }
        &__image-link {
            img {
                width: 100%;
            }
        }
    }

    // IE11 styles
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        &__image-link {
            display: none;
        }

        &__description {
            width: 100%;
        }
    }
}