.feedback {
    &__form {
        max-width: 50rem;
        margin: 0 auto;
        padding: 2rem;

        display: block;

        position: relative;

        border: 1px solid $color__black;

        legend {
            @include font-size(l);
            margin-bottom: 1rem;

            font-weight: $font-weight-bold;
        }

        &--comment {
            display: none;
        }

        &--success {
            padding: 1rem 0 2rem;

            border: none;
        }
    }

    &__response-button {
        // width: 100%;
        &:hover {
            cursor: pointer;
        }
    }

    &__form-submit {
        &:hover {
            cursor: pointer;
        }
    }

    &__form-close {
        width: 2.75rem;
        height: 2.75rem;

        display: block;

        position: absolute;
        top: 0;
        right: 0;

        background-color: transparent;

        border: 1px solid transparent;

        &:hover {
            cursor: pointer;
        }
    }

    &__form-close-icon {
        width: 1.5rem;
        height: 1.75rem;

        color: inherit;
    }

    &__success-heading {
        @include font-size(xl);
        margin-top: 0;

        font-weight: $font-weight-bold;
    }

    &__success {
        display: none;
    }
}

#id_comment {
    width: 100%;
}
