.etna-footer {
    background: white !important;
    color: black !important;

    /* AJ to address as part of workflow streamlining piece */
    &__body {
        .etna-footer__list-item {
            margin-bottom: 0.25rem;
        }

        &-heading {
            font-size: 1.16rem;
        }
    }

    &__social-media-links {
        font-size: 0.85rem;

        .etna-footer__social-media-icon {
            height: 2.187rem;
            padding: 0.5rem;
            box-sizing: content-box;
        }
    }

    &__heading {
        // provides visual boundary in high contrast mode
        border-top: 1px solid transparent;

        &-main-title {
            font-size: 1.6rem;
        }
    }

    img {
        display: inline-block;
    }
}
