.tna-footer {
    &__body {
        .tna-footer__list-item {
            margin-bottom: 0.25rem;
        }
        &-heading {
            font-size: 1.16rem;
        }
    }

    &__social-media-links {
        font-size: 0.85rem;

        .tna-footer__social-media-icon {
            height: 2.187rem;
            padding: 0.5rem;
            box-sizing: content-box;
        }
    }

    &__heading {
        // provides visual boundary in high contrast mode
        border-top: 1px solid transparent;

        &-main-title {
            font-size: 1.6rem;
        }
    }
}
