// stylelint-disable no-descending-specificity
.tna-form {
    &--error {
        .tna-form__error-summary {
            padding: 1rem 2rem;
            background-color: $color__error;
            color: $color__white;
            margin-bottom: 2rem;

            h2 {
                font-size: 1.3rem;
                font-weight: bold;
            }

            a {
                color: $color__white;
            }
        }

        .tna-form__error-messages {
            padding: 0.625rem 0;
            list-style-type: none;
            font-weight: bold;
            color: $color__error;
            margin: 0;

            li {
                display: inline-block;
                margin-right: 0.5rem;
            }
        }
    }

    fieldset {
        margin-bottom: 0.6rem;
    }

    legend {
        font-size: 1.6rem;
        margin: 0 0 0.6rem;
        width: auto;
    }

    label {
        width: 100%;
        font-weight: bold;
        font-size: 1.1rem;
    }

    &__row {
        max-width: 100%;
        margin-bottom: 1.6rem;

        &::before,
        &::after {
            display: table;
            content: " ";
            clear: both;
        }

        input[type="color"],
        input[type="email"],
        input[type="number"],
        input[type="tel"],
        input[type="text"],
        input[type="date"],
        input[type="url"],
        input[type="password"],
        select,
        textarea {
            width: 100%;
            max-width: 30rem;
            min-width: 13.75rem;
            border: $default__border;
            padding: 0.5rem;
            text-indent: 0.312rem;

            &:disabled {
                background: $color__grey-300;
            }

            &:read-only {
                background: $color__grey-300;
            }

            &:focus {
                @include focus-default;
                outline-offset: 0.125rem;
            }
        }

        &--error {
            input[type="color"],
            input[type="email"],
            input[type="number"],
            input[type="tel"],
            input[type="text"],
            input[type="date"],
            input[type="url"],
            input[type="password"],
            select,
            textarea {
                border-color: $color__error;
            }
        }

        select {
            height: 2.4rem;
            -webkit-border-radius: 0;
            border: 0;
            outline: $default__border;
            outline-offset: -0.0625rem;
        }
    }

    &__checkbox {
        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
        }

        label {
            position: relative;
            display: inline-block;
            padding-left: 2rem;
        }

        label::before,
        label::after {
            position: absolute;
            content: "";
            display: inline-block;
        }

        label::before {
            height: 1.5rem;
            width: 1.5rem;
            border: $default__border;
            left: 0;
            top: 0.125rem;
        }

        label::after {
            height: 0.4375rem;
            width: 0.8125rem;
            border-left: $default__border;
            border-bottom: $default__border;
            transform: rotate(-45deg);
            left: 0.375rem;
            top: 0.5625rem;
        }

        input[type="checkbox"] + label::after {
            content: none;
        }

        input[type="checkbox"]:checked + label::after {
            content: "";
        }

        input[type="checkbox"]:focus + label::before {
            @include focus-default;
        }
    }

    &__radio {
        input[type="radio"] {
            position: absolute;
            opacity: 0;
        }

        label {
            position: relative;
            display: inline-block;
            padding-left: 2rem;
        }

        label::before,
        label::after {
            position: absolute;
            content: "";
            display: inline-block;
        }

        label::before {
            height: 1.5rem;
            width: 1.5rem;
            border: $default__border;
            border-radius: 50%;
            left: 0;
            top: 0.125rem;
        }

        label::after {
            height: 0.75rem;
            width: 0.75rem;
            background-color: $dark;
            border-radius: 50%;
            left: 0.375rem;
            top: 0.5rem;
        }

        input[type="radio"] + label::after {
            content: none;
        }

        input[type="radio"]:checked + label::after {
            content: "";
        }

        input[type="radio"]:focus + label::before {
            @include focus-default;
        }
    }

    &__optional {
        font-size: 0.9rem;
        color: $color__grey-mid-dark;
    }
}
// stylelint-enable no-descending-specificity
