/* stylelint-disable -- This will become redundant when the new frontend is added */
.generic-intro {
    color: $color__black;
    // padding-top: 1rem;
    background-color: $color__white;

    a {
        color: $color__black;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;

        font-family: $font__supria-sans;
        font-size: 4rem;
        // background: green;

        @media (max-width: $screen__md) {
            font-size: 2.5rem;
        }

        &-prefix {
            margin-top: 1rem;

            display: block;

            font-size: 2rem;
            line-height: 0.3rem;
            @media (max-width: $screen__md) {
                font-size: 1.25rem;
                line-height: 1.3rem;
            }
        }
    }

    &__meta {
        padding-bottom: 1.875rem;

        color: $color__white;

        background-color: $color__grey-700;

        &-list {
            margin-bottom: 0;
        }

        &-item {
            display: inline-block;

            color: $color__grey-200;

            &:not(:last-of-type) {
                margin-right: 1.25rem;
            }
        }
    }

    &__paragraph {
        margin-bottom: 0.5rem;

        font-size: 1.125rem; // one off font size (18px)

        @media only screen and (min-width: #{$screen__lg + 1px}) {
            font-size: 1.313rem; // one off font size (21px)
        }

        .template-focused-article & {
            margin-top: 2.875rem;

            font-size: $font-size-base;

            @media (min-width: #{$screen__md + 1px}) {
                margin-top: 4.625rem;

                font-size: 1.313rem;
            }
        }
    }

    // Styles for Focused Article templates
    .template-focused-article & {
        background-color: $color__grey-700;

        &__title {
            margin-bottom: 1rem;

            color: $color__white;
            line-height: 122%;
            @extend .col-md-9;
            @extend .row;
        }
    }

    &__meta-item a {
        color: $color__white;
    }

    &--dark .generic-intro__paragraph {
        margin-top: 0;
        margin-bottom: 0;

        color: $color__white;

        background-color: $color__grey-700;
        @extend .col-md-9;
        @extend .row;

        p:last-of-type {
            margin-bottom: 1.5rem;
        }
    }
}
