.header {
  background-color: $color__yellow_2;
  display: flex;
  flex-wrap: wrap;
  &__logo {

      &-holder {
          padding: 1rem;

          @media screen and (max-width: $screen__sm) {
              padding-left: 0.1rem;
              padding-right: 0.1rem;
              padding-bottom: 0.5rem;
              padding-top: 0.5rem;
          }
      }

      &-link {
          align-self: center;
          margin-left: 1rem;
          display: block;
          &:hover {
              outline: 5px solid $color__grey-8;
          }
          &:focus {
              outline-color: $color__black;
          }
      }
      &-image {
          width: 100px;
          height: 100px;

          @media screen and (max-width: $screen__sm) {
              width: 50px;
              height: 50px;
          }
      }
  }
  &__nav {
      margin-left: auto;
      align-items: flex-end;

      &-list {
          display: flex;
          align-items: flex-end;
          flex-wrap: wrap;
          height: 100%;

          @media only screen and (min-width: $screen__md) {
              width: 32rem;
          }

          @media only screen and (max-width: $screen__md) {
              padding-left: 0;
          }

          margin-bottom: 0;
          justify-content: space-around; // IE11 only supports space-around and space-between.
          &-item {
              list-style: none;
              height: 3rem;
              display: block;

              @media only screen and (max-width: $screen__md) {
                  margin-right: 1rem;
              }

              @media only screen and (max-width: 35rem) {
                  margin-right: 0.25rem;
              }

              &-link {
                  display: block;
                  color: $color__black;
                  padding: 7px;
                  height: 100%;
                  text-decoration: none;
                  font-family: $font__supria-sans;
                  font-weight: normal;
                  transition: all .1s;
                  &:visited {
                      color: $color__black;
                  }

                  &:hover, &[aria-current=true], &:focus {
                      background-color: $color__white;
                      color: $color__black;
                  }

                  &:focus {
                      outline-color: $color__black;
                  }

                  &-search {
                      width: 3rem;
                      background-image: url('/static/images/icons/search-black.svg');
                      background-repeat: no-repeat;
                      background-position-x: center;
                      background-position-y: 0.4rem;
                      background-size: 1.5rem;

                      &:hover, &[aria-current=true], &:focus {
                          background-color: $color__grey-1;
                      }
                  }
              }
          }
      }
  }
}
