.header {
  $root: &;
  background-color: $color__yellow;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    &-holder {
      display: inline-block;
      padding: 1rem;
      padding-bottom: 1.5rem;
      @media only screen and (max-width: $screen__md) {
        vertical-align: top;
      }
      @media screen and (max-width: $screen__sm) {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
      }
    }

    &-link {
      align-self: center;
      margin-left: 1rem;
      display: inline-block;
      &:hover {
        outline: 0.3125rem solid $color__grey-700;
      }
      &:focus {
        outline-color: $color__black;
      }
    }
    &-image {
      height: 6.25rem;

      @media screen and (max-width: $screen__sm) {
        height: 4.6875rem;
      }
    }
  }

  &__mobile-icons {
    display: inline-block;
    float: right;
    position: relative;
    //top:4rem;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__nav {
    margin-left: auto;
    align-items: flex-end;
    z-index: 2;
    display: none;

    &.active {
      display: block;
    }

    @media only screen and (max-width: $screen__md) {
      text-align: right;
    }

    @media only screen and (min-width: $screen__md) {
      display: block;
    }

    &-list {
      padding-left: 0;

      @media only screen and (min-width: $screen__md) {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        padding-left: 2.5rem;
      }

      height: 100%;
      margin-bottom: 0;
      justify-content: space-around; // IE11 only supports space-around and space-between.
      &-item {
        list-style: none;
        @media only screen and (min-width: $screen__md) {
          height: 3rem;
        }
        @media only screen and (min-width: 480px) {
          text-indent: 0.7em;
        }
        display: block;

        &[data-id='menu-show-hide-button'] {
          display: inline-block;
          position: relative;

          // IE11 styles
          @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
            bottom: -6px;
          }
        }

        &[data-isSearch='false'] {
          background-color: $color__yellow;
          font-size: 1.2rem;
          text-decoration: underline;
          border-bottom: 0.0625rem solid $color__grey-400;

          @media only screen and (min-width: $screen__md) {
            text-decoration: none;
            font-size: 1rem;
            border: 0;
            margin: 0 0.3125rem;
          }

          @media only screen and (max-width: $screen__md) {
            background-color: $color__white;
          }
        }

        &-link {
          display: block;
          color: $color__black;
          padding: 0.4375rem 1rem;
          height: 100%;
          text-decoration: none;
          font-family: $font__supria-sans;
          font-weight: normal;
          transition: all 0.1s;
          &:visited {
            color: $color__black;
          }

          @media only screen and (max-width: $screen__md) {
            text-align: left;
            &:hover,
            &[aria-current='true'],
            &:focus {
              background-color: $color__grey-100;
              color: $color__black;
            }
          }

          @media only screen and (min-width: $screen__md) {
            &:hover,
            &[aria-current='true'],
            &:focus {
              background-color: $color__white;
              color: $color__black;
            }
          }

          &:focus {
            outline-color: $color__black;
          }

          &-search {
            color: $color__white;
            height: 3rem;
            //background-color: #26262a;
            background-image: url(/static/images/icons/search-black.svg);
            background-repeat: no-repeat;
            background-position-x: 0.5rem;
            background-position-y: 0.6rem;
            padding-left: 2.25rem;
            padding-right: 0.75rem;
            background-size: 1.5rem;
            display: inline-block;

            &:visited {
              color: $color__white;
            }

            &:hover,
            &[aria-current='true'],
            &:focus {
              color: $color__black;
              background-color: $color__grey-100;
              background-image: url('/static/images/icons/search-black.svg');
            }
          }
        }
      }
    }
  }

  // this is currently unused
  //   &__show-hide-button {
  //     display: inline-block;
  //     background-color: $color__grey-800;
  //     margin-right: 0.3rem;
  //     width: 3rem;
  //     height: 3rem;
  //     color: $color__white;
  //     border: 0;
  //     margin-left: auto;
  //     cursor: pointer;
  //     background-image: url("/static/images/icons/hamburger-white.svg");
  //     background-repeat: no-repeat;
  //     background-position-x: center;
  //     background-position-y: 0.6rem;
  //     background-size: 1.5rem;

  //     &[aria-expanded="true"],
  //     &:hover,
  //     &:focus {
  //       background-color: $color__grey-100;
  //       background-image: url("/static/images/icons/hamburger-black.svg");
  //       color: #000;
  //     }
  //     &:focus {
  //       outline: 5px solid $color__black;
  //     }
  //   }

  &__overlay-button {
    position: absolute;
    right: 0em;
    top: 110px;
    padding: 23px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;

    @media only screen and (max-width: 481px) {
      top: 85px;
    }

    @media only screen and (max-width: 390px) {
      top: 105px;
    }

    @media only screen and (min-width: $screen__md) {
      display: none;
    }
  }

  &__overlay-input {
    // using opacity instead of display: none allows the input to be toggled by keyboards
    opacity: 0;
    /*
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    */
    // give label focus style when input is focussed
    &:focus ~ #{$root}__overlay-button {
      outline: 0.313rem solid $color__black;
    }

    &:checked ~ #{$root}__nav {
      display: block;
    }

    &:checked ~ #{$root}__overlay-button {
      &:hover #{$root}__overlay-icon,
      #{$root}__overlay-icon {
        background: transparent;
      }
      #{$root}__overlay-icon {
        &:before {
          transform: rotate(45deg) translate(7px, 7px);
          opacity: 1;
        }
        &:after {
          transform: rotate(-45deg) translate(7px, -7px);
        }
      }
    }

    @media only screen and (min-width: $screen__md) {
      display: none;
    }
  }

  &__overlay-icon {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: black;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;

    &:before {
      top: -10px;
      visibility: visible;
    }

    &:after {
      top: 10px;
    }

    &:before,
    &:after {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: black;
      position: absolute;
      content: '';
      transition: all 0.2s ease-in-out;
    }
  }
}

.no-js {
  .header {
    &__nav-list-item {
      @media only screen and (max-width: $screen__md) {
        background-color: $color__white;
        text-align: center;
        border-bottom: 0.0625rem solid $color__grey-400;
        &-link-search {
          width: 100%;
          background-position-x: 45%;
          background-position-y: 0.6rem;
          text-decoration: underline;
          color: $color__black;
          font-size: 1.2rem;
          background-color: #ffffff;
          background-image: url(/static/images/icons/search-black.svg);
          &:hover {
            background-color: $color__grey-100;
          }
          @media only screen and (max-width: 41.25rem) {
            background-position-x: 42.5%;
          }
          @media only screen and (max-width: $screen__sm) {
            background-position-x: 40%;
          }
        }
      }
    }
  }
}

//css navigation menu : reusing : https://codepen.io/danhearn/pen/XprGrJ
body {
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
