.hero-image {
    width: 100%;

    &__image {
        width: 100%;
        height: auto;
        max-height: 650px;
        object-fit: cover;
    }

    &__figcaption {
        background-color: $color__grey-300;
        padding: 1rem;
        border-bottom: 0.1875rem solid $color__grey-400;

        p {
            margin-bottom: 0;
        }
    }

    .template-focused-article & {
        &__container {
            background: linear-gradient(
                to top,
                $color__white 0%,
                $color__white 50%,
                $color__grey-700 50%,
                $color__grey-700 100%
            );
        }
    }

    @media (min-width: #{$screen__md + 1px}) {
        .template-focused-article & {
            &__container {
                position: relative;
            }

            &__figure,
            &__picture {
                // Added container as an @include due to @extend selectors may not be used across media queries
                @include make-container;
                @include make-container-max-widths;
                position: relative;
                margin: 0 auto;
                display: block;
            }

            &__figure {
                .hero-image__picture {
                    padding: 0;
                }
            }
        }
    }
}
