.hierarchy-local {
    text-align: center;
    border-top: 3px solid $color__grey-800;
    padding: 1.5rem 0;

    &__nav-item {
        margin: 0;

        &-link {
            display: block;
            word-break: break-all;
        }
    }

    &__nav-link {
        display: block;
    }

    &__nav-indicator {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 auto 1rem;

        &--left {
            background: url($fa_chevron_left) no-repeat;
        }

        &--up {
            background: url($fa_chevron_up) no-repeat;
        }

        &--right {
            background: url($fa_chevron_right) no-repeat;
        }
    }

    &__nav-label {
        display: none;

        @media only screen and (min-width: #{$screen__lg + 1px}) {
            display: inline;
        }
    }
}
