.hierarchy-local {
  text-align: center;
  border-top: 3px solid $color__grey-5;
  padding: 1.5rem 0;


  &__nav-item {
    margin: 0;

    a {
      display: block;
    }
  }

  &__nav-indicator {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto 1rem;

    &--left {
      background: url($fa_chevron_left) no-repeat;
    }

    &--up {
      background: url($fa_chevron_up) no-repeat;
    }

    &--right {
      background: url($fa_chevron_right) no-repeat;
    }
  }


  &__nav-label, &__nav-link {
    display: none;

    @media only screen and (min-width: $screen__lg) {
      display: inline;
    }
  }
}