.highlight-cards {
    background-color: $color__yellow_6;
    $root: &;
    font-family: $font__supria-sans;

    &__link {
        text-decoration: none !important;
        color: $color__grey-6;

        &:visited {
            color: inherit; 
        }
    }

    &__title {
        font-size: 1.875rem;
        font-weight: $font-weight-normal;   
        line-height: 2.83rem;
        letter-spacing: 0em;
    }
    
    &__card_title {
        font-size: 1rem;
        font-weight: $font-weight-bold;
        padding: 0.5rem 0;
        text-decoration: underline;
        font-size: 1rem;
        line-height: 1.3rem;
        margin-top: 12px 0;
        padding: 0;
        line-height: 1.938rem;        
    }

    &__description {
        font-family: $font__open-sans;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.313rem;
        letter-spacing: 0;
        margin-bottom: 0;
    }

    &__card {
        &--highlight {
            grid-column: span 1;
            grid-row: span 2;
            
            #{$root}__card_title {
                margin-top: 1.5rem;
                font-size: 1.313rem;
            }

            @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
                grid-column: span 2;
                grid-row: span 2;
            }

        }

        &--normal {
            grid-column: span 1;
            grid-row: span 1;
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
    }
}