.highlight-intro {
    margin-bottom: 2rem;

    position: relative;

    background: $color__grey-800;

    &__image {
        width: 100%;
        height: auto;
        max-height: 650px;
        object-fit: cover;
    }

    &__standout-container {
        padding: 0;

        position: relative;

        // mimics left & right padding of body-container to match page content
        @media screen and (min-width: #{$screen__lg + 1px}) {
            padding: 0 9%;
        }
    }

    &__standout {
        height: auto;
        padding: 28px 0 36px;

        position: relative;
        left: 0;

        color: $color__white;

        background: $color__grey-dark;

        // tablet and up
        @media screen and (min-width: #{$screen__lg + 1px}) {
            width: 46rem;
            padding-right: 1.5rem;
            padding-left: 1.5rem;

            position: absolute;
            bottom: 3.25rem;

            color: $color__black;

            background: $color__white;
        }
    }

    &__title {
        margin: 0;
        padding-bottom: 0.75rem;

        font-family: $font__supria-sans;
        font-weight: $font-weight-bold;
        line-height: 1.33;
        @include font-size(xxxl);

        @media screen and (min-width: #{$screen__lg + 1px}) {
            line-height: 1.22;
        }
    }

    &__intro {
        margin: 0;
        padding: 0;

        font-family: $font__open-sans;
        font-size: 1rem;
        line-height: 1.5;

        @media screen and (min-width: #{$screen__lg + 1px}) {
            @include font-size(xl);
            line-height: 1.71;
        }

        p {
            // this removes the global margin-bottom for paragraphs
            margin-bottom: 0;
        }
    }
}
