.highlight-intro {
    margin-bottom: 2rem;
    position: relative;
    background: $color__grey-800;

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__standout-container {
        padding: 0;
        position: relative;

        // mimics left & right padding of body-container to match page content
        @media screen  and (min-width: $screen__lg) {
            padding: 0 9%;
        }
    }

    &__standout {
        position: relative;
        height: auto;
        background: $color__grey-dark;
        left: 0;
        color: $color__white;
        padding: 28px 0 36px;

        // tablet and up
        @media screen and (min-width: $screen__lg) {
            width: 46rem;
            position: absolute;
            bottom: 3.25rem;
            background: $color__white;
            color: $color__black;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    &__title {
        font-family: $font__supria-sans;
        @include font-size(xxxl);
        font-weight: $font-weight-bold;
        line-height: 1.33;
        padding-bottom: 0.75rem;
        margin: 0;

        @media screen and (min-width: $screen__lg) {
            line-height: 1.22;
        }
    }

    &__intro {
        font-size: 1rem;
        font-family: $font__open-sans;
        line-height: 1.5;
        padding: 0;
        margin: 0;

        @media screen and (min-width: $screen__lg) {
            @include font-size(xl);
            line-height: 1.71;
        }

        @supports (-webkit-line-clamp: 2) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: inline-block;
            -webkit-box-orient: vertical;

            @media screen and (min-width: $screen__lg) {
                -webkit-line-clamp: 2;
                display: -webkit-box;
            }

            @media screen and (min-width: $screen__xl) {
                -webkit-line-clamp: 3;
            }

            @media screen and (min-width: 85rem) { // 1360px
                display: inline-block;
                text-overflow: unset;
                overflow: visible;
            }
        }

        p {
            // this removes the global margin-bottom for paragraphs
            margin-bottom: 0;
        }
    }
}