.image-block {
    $root: &;
    background-color: $color__grey-200;

    // Removes parent margin to ensure it's flush with viewport edge
    margin-left: -30px;
    margin-right: -30px;

    @media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    &__image {
        display: block;
        width: 100%;
        max-height: 590px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;

        &--portrait {
            width: auto;
            
            @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
                padding: 21px 0 21px 0;
            }
        }
    }

    &__caption {
        @include font-size("xs");
        background-color: $color__white;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $color__grey-300;

        @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
            border-bottom: none;
        }

        // Overides global typography styles
        p {
            @include font-size(xs);
            padding: 18px 36px 18px 36px;
            margin-bottom: 0;

            @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
                border-bottom: 1px solid $color__grey-300;
                margin: 18px auto 18px auto;
                padding: 0 18px 18px 18px;
                width: 80%;
            }
        }
    }
}