@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

.image-block {
    $root: &;
    @include spacing.space-above;
    background-color: $color__grey-200;

    picture {
        position: relative;
        display: block;
    }

    // Removes parent margin to ensure it's flush with viewport edge
    margin-left: -24px;
    margin-right: -24px;

    @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    &__image {
        display: block;
        width: 100%;
        max-height: 590px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        object-fit: contain;

        &--portrait {
            width: auto;

            @media screen and (min-width: map-get($grid-breakpoints, "md")) {
                padding: 21px 0 21px 0;
            }
        }
    }

    &__caption {
        @include font-size("xs");
        background-color: $color__white;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $color__grey-300;

        @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
            border-bottom: none;
        }

        // Overides global typography styles
        p {
            @include font-size(xs);
            padding: 18px 36px 18px 36px;
            margin-bottom: 0;

            @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
                border-bottom: 1px solid $color__grey-300;
                margin: 18px auto 18px auto;
                padding: 0 18px 18px 18px;
                width: 80%;
            }
        }
    }

    &__transcript {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color__black, 0.8);
        color: $color__white;
        border: 0;
        padding: 0.25rem 0.75rem 0.25rem 0.5rem;
        cursor: pointer;
        font-size: 0.875rem;

        &[aria-expanded="true"] {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__transcription {
        @include colour.contrast;
        padding: 2rem 2.5rem;

        &.hidden {
            display: none;
        }

        .transcription__text.hidden {
            display: none;
        }

        .transcription__tablist {
            .transcription__tab {
                font-size: 1rem;
                font-weight: 700;

                &[aria-selected="false"] {
                    color: $color__grey-500;
                }
            }

            &.hidden {
                display: none;
            }
        }

        .transcription__tabpanel {
            margin-top: 1.5rem;

            overflow: hidden;

            &.hidden {
                display: none;
            }
        }

        p:last-child {
            margin-bottom: 0;
        }
    }
}
