.image-browse {
    background-color: $color__black;
    color: $color__white;
    padding-bottom: 2rem;
    min-height: 100vh;

    &__header {
        display: flex;
        justify-content: space-between;
        background-color: $color__black;
    }

    &__reference_and_count {
        h1 {
            font-size: 1.3rem;
            margin-left: 1.3rem;
            margin-bottom: 1.3rem;

            span {
                display: inline-block;
            }
        }
    }

    &__details_navigation {
        background-color: $color__pastel-green;
        padding: 1.3rem 2rem;

        a {
            color: $color__black;

            &:visited,
            &:hover,
            &:active {
                color: $color__black;
            }
        }
    }

    &__listing {
        padding: 0.313rem;
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 50vw;
        grid-gap: 1vw;

        @media screen and (min-width: #{$screen__sm + 1px}) {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 33vw;
        }

        @media screen and (min-width: #{$screen__md + 1px}) {
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 25vw;
        }

        @media screen and (min-width: #{$screen__lg + 1px}) {
            grid-template-columns: repeat(5, 1fr);
            grid-auto-rows: 20vw;
        }

        li {
            background-size: cover;
            background-repeat: no-repeat;
        }

        // stylelint-disable no-descending-specificity
        a {
            display: block;
            width: 100%;
            height: 100%;
            color: $color__white;
            text-decoration: underline;

            span {
                display: inline-block;
                padding: 1rem;
                background-color: $color__navy;
                text-decoration: underline;
            }

            &:visited {
                span {
                    background-color: $color__black;
                }
            }

            &:hover,
            &:focus {
                outline: 0.313rem solid $color__focus-outline-dark-bg;
                outline-offset: 0.125rem;
            }
        }
        // stylelint-enable no-descending-specificity
    }
}
