.image-viewer-panel {
    width: 100%;
    margin-top: 1rem;
    padding: 2.5rem 0 0;

    text-align: center;

    background-color: $color__grey-700;

    figure {
        margin: 0;

        img {
            height: 25rem;
            margin: 0 auto;

            display: block;

            @media only screen and (max-width: $screen__md) {
                width: 100%;
                height: auto;
            }
        }
    }

    &__text-link {
        padding: 2rem 1rem 2rem 2.5rem;

        display: inline-block;

        color: $color__white;
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        vertical-align: top;

        background: url($fa_search_plus) no-repeat center left;
        background-size: 1.75rem;

        &:visited {
            color: $color__white;
        }

        &:focus {
            outline: 0.313rem solid $color__focus-outline-dark-bg;
        }

        &:hover {
            color: $color__white;
            text-decoration: none;
        }
    }

    &__image-link:hover,
    &__image-link:focus {
        img {
            outline: 0.313rem solid $color__focus-outline-dark-bg;
        }
    }
}
