.insights-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &__sidebar {
        grid-column-start: span 1;
        padding: 0 1rem;
    }

    &__main {
        grid-column-start: span 3;
        padding: 0 2rem;

        @media (max-width: 767px) {
            grid-column-start: span 4;

            .specific-insights-width {
                width: 100%;
            }
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: $font__supria-sans;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 2rem;
    }
}