.interested {


  .records-title {
    font-size:1.3em;
    font-weight: bold;
    padding: 1.3em 0;
  }

  .card {

    img {
      width:100%;
    }

    h2 {
      text-align: center;
      padding:2em;
      color:white;
      background:#333439;
      font-size:1.5em;
      margin-top:0;

    }

    a {
      color:white;
    }
  }


}