@use "@nationalarchives/frontend/nationalarchives/tools/media";

.jumplinks {
    max-height: 100vh;
    position: sticky;
    top: 0;
    padding: 2rem 0 0;
    overflow: auto visible;
    -ms-overflow-style: none; /* Hide jumplinks scrollbar on Internet Explorer 10+ and Edge */
    scrollbar-width: none; /* Hide jumplinks scrollbar on Firefox */

    &::-webkit-scrollbar {
        display: none; /* Hide jumplinks scrollbar on Safari and Chrome */
    }

    &__heading {
        @include font-size(xl);
        font-family: $font__body;
        font-weight: 700;
        margin: 0;
    }

    &__list {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        list-style: none;
    }

    &__list-item {
        padding: 0.375rem 0;

        a {
            display: block;

            &,
            &:link,
            &:visited {
                color: $color__link;
            }
        }

        &::marker {
            font-size: 1.5rem;
        }
    }

    &__list-item.active {
        a {
            outline: 0.3125rem solid $color__yellow;
            outline-offset: 0.125rem;
            // text-decoration: none;

            &:focus {
                outline-color: $color__navy;
            }
        }
    }

    @include media.on-mobile {
        display: none;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        overflow-y: hidden;
        height: 100%;
    }
}
