.jumplinks {
  position: sticky;
  top: 0;
  padding: 2.5rem 0 0 1rem;

  &__heading {
    font-size: 2rem;
    font-family: $font__supria-sans;
  }

  &__list {
    padding-left: 0;
    list-style-type: disc;
  }

  &__list-item {
    padding: 1rem 0;

    a {
      color: #26262a;
    }

    &::marker {
      font-size: 1.5rem;
    }
  }

  &__list-item.active {
      color: #FFCC00;

    a {
      outline: 0.1875rem solid #FFCC00;
      outline-offset: .25rem;
      text-decoration: none;
    }
  }
  
  @media (max-width: 767px) {
    display: none;
  }
}
