/* stylelint-disable -- This will become redundant when the new frontend is added */
.key-facts {
    margin: 2rem 0 3rem;

    &__list {
        list-style-type: none;

        padding: 0;

        li {
            margin-bottom: 1rem;

            @media only screen and (min-width: #{$screen__lg + 1px}) {
                margin-bottom: 0.3rem;
            }

            span {
                display: block;

                @media only screen and (min-width: #{$screen__lg + 1px}) {
                    width: 10rem;

                    display: inline-block;
                }
            }
        }
    }

    &__link {
        padding-left: 2.5rem;

        background: url($fa_chevron_down) no-repeat;
        background-size: 1.25rem;
        @extend .link--bold;
    }
}
