.key-facts {
  margin: 2rem 0 3rem;

  &__list {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 1rem;

      @media only screen and (min-width: $screen__lg) {
        margin-bottom: 0.3rem;
      }

      span {
        display: block;

        @media only screen and (min-width: $screen__lg) {
          display: inline-block;
          width: 10rem;
        }
      }
    }
  }

  &__link {
    background: url($fa_chevron_down) no-repeat;
    background-size: 1.25rem;
    padding-left: 2.5rem;
  }
}