.login-status {
    padding: 0.5rem 1rem;

    display: none; // Temporarily hidden - check with Simon W when to remove this

    text-align: right;
    border-bottom: 0.06rem dotted $color__grey-400;

    &__link {
        font-weight: bold;

        &:visited {
            color: $color__link;
        }
    }
}
