.login-status {
    border-bottom: 0.06rem dotted $color__grey-400;
    text-align: right;
    padding: 0.5rem 1rem;

    &__link {
        font-weight: bold;

        &:visited {
            color: $color__link;
        }
    }
}
