.maintenance {
    margin: 3rem 20rem;
    padding: 2rem;

    text-align: center;

    background-color: $color__yellow;

    border-radius: 1rem;

    @media only screen and (max-width: $screen__xl) {
        margin: 3rem 12rem;
    }

    @media only screen and (max-width: $screen__lg) {
        margin: 3rem 7rem;
    }

    @media only screen and (max-width: $screen__md) {
        margin: 3rem 5rem;
    }

    @media only screen and (width <= 37.5rem) {
        margin: 3rem 2rem;
    }

    @media only screen and (max-width: $screen__sm) {
        margin: 3rem 1rem;
    }

    &__heading {
        padding: 2rem;

        @media only screen and (max-width: $screen__md) {
            padding: 1rem;
        }

        @media only screen and (max-width: $screen__sm) {
            font-size: 2rem;
        }
    }

    &__text {
        font-size: 1.5rem;

        &--small {
            font-size: 1.25rem;
        }

        a {
            color: $color__grey-700;
        }
    }

    &__logo-image {
        width: 18rem;
        height: 18rem;
        padding: 2rem;

        @media only screen and (max-width: $screen__sm) {
            width: 15rem;
            height: 15rem;
        }

        @media only screen and (width <= 21.875rem) {
            width: 13rem;
            height: 13rem;
        }
    }
}
