.media-embed {
  background-size: cover;
  min-height: 37.5rem;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);

  &__overlay {
    background-color: $color__black;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  &__content-panel {
    padding: 3rem 3rem 0 3rem;
    position: relative;
    text-align: center;
    z-index: 999;
  }

  &__icon {
    background-color: $color__blue_3;
    border-radius: 50%;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  &__icon-label {
    text-transform: uppercase;
    font-family: $font__roboto;
    font-weight: bold;
    font-size: 0.9rem;
  }

  &__heading {
    font-size: 2rem;
  }

  &__date {
    font-family: $font__roboto;
    letter-spacing: -0.0125rem;
    font-weight: bold;
  }

  &__description {
    font-size: 1.1rem;
  }

  &__audio-container {
    margin-right: -3rem;
    margin-left: -3rem;
  }

  &__video {
    width: 100%;
  }

  &__transcript {
    background-color: $color__grey-2;
    margin-top: 2rem;
    padding: 2rem;
  }

  &__transcript-heading, &__transcript-text {
    color: $color__white;
    text-align: left;
  }
}

.media-embed__icon-label, .media-embed__heading, .media-embed__description, .media-embed__date {
  color: $color__white;
}
