.card {
  $root: &;
  position: relative;
  display: flex;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $color__grey-700;
    color: $color__white;
    outline: 0.3125rem solid $color__grey-700;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: $white;
    width: 100%;

    &--dark {
      background: $color__black;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-position: center;
  }

  &__link {
    color: $color__white;
  }

  &__link-text {
    color: $color__white;
    @include font-size('xl');
    font-family: $font__open-sans;
    padding: 28px;
  }

  &__text {
    color: $color__white;
    margin-bottom: 0;
  }
}
