.pagination {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

    @media only screen and (max-width: $screen__sm) {
        margin: 0;
    }

    // background-color: $color__grey-700;

    &__list {
        text-align: center;
        list-style-type: none;
        // padding-left: 0;
        min-height: 3.125rem;

        display: flex;
        justify-content: start;
        margin: auto;
        margin-bottom: 2em;
        width: 65%;

        &-pages {
            padding: 0;

            ol {
                padding: 0;
                list-style-type: none;

                @media only screen and (max-width: $screen__md) {
                    /*
                    li {
                        display:none;
                    }
                    li:nth-child(-n+2) {
                        display:inline-block;
                    }
                    */
                }
            }
        }

        &-item {
            display: inline-block;
            min-height: 3.125rem;

            &:first-child {
                margin-left: 0;
                margin-right: auto;
            }

            &:last-child {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

    &__page {
        &-link,
        &-link-current {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 3.125rem;
            height: 3.125rem;
            background: #26262a;
            margin: 0.3em;

            color: white;

            @media only screen and (max-width: $screen__md) {
                margin: 0.3em;
            }
        }

        &-link:visited,
        &-link:hover {
            color: white;
        }

        &-link-current {
            background: #fc0;
            color: black;
        }

        &-chevron-next,
        &-chevron-previous {
            height: 100%;
            display: block;
            margin-top: 1.16em;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40%;

            @media only screen and (max-width: $screen__md) {
                display: none;
            }
        }

        &-chevron-next {
            // background-image: url($fa_chevron_right);
            &:hover,
            &:focus {
                // background-image: url($fa_chevron_right_white);
                outline-color: $color__focus-outline-light-bg;
                outline-offset: 0.125rem;
            }

            &:focus {
                box-shadow: -0.6rem 0 $color__white;
            }

            &--disabled {
                // background-color: $color__yellow;
                // background-image: url($fa_chevron_right_disabled);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 40%;
                width: 3.125rem;
                height: 100%;
                display: flex;
                justify-content: center;

                @media only screen and (max-width: $screen__md) {
                    display: none;
                }

                &:hover,
                &:focus {
                    // background-image: url($fa_chevron_right_disabled);
                    outline-color: transparent;
                    outline-offset: 0;
                }
            }
        }

        &-chevron-previous {
            // background-image: url($fa_chevron_left);
            // &:hover, &:focus {
            // background-image: url($fa_chevron_left_white);
            // outline-color: $color__focus-outline-light-bg;
            // outline-offset: 0.125rem;
        }

        &:focus {
            box-shadow: 0.6rem 0 $color__white;
        }

        &--disabled {
            // background-color: $color__yellow;
            // background-image: url($fa_chevron_left_disabled);
            // background-repeat: no-repeat;
            background-position: center;
            background-size: 40%;
            width: 3.125rem;
            height: 100%;
            display: flex;
            justify-content: center;

            &:hover,
            &:focus {
                // background-image: url($fa_chevron_left_disabled);
                outline-color: transparent;
                outline-offset: 0;
            }
        }
    }

    &-link-current {
        font-weight: bold;
    }

    &-link,
    &-link-current {
        margin-top: 0;

        @media only screen and (min-width: #{$screen__md + 1px}) {
            width: 2.5rem;
            height: 1.875rem;
            margin-top: 0.5rem;
        }
    }

    &-link,
    &-link:visited {
        color: $color__white;
    }

    &-link-current,
    &-link-current:focus,
    &-link-current:visited,
    &-link:hover,
    &-link:focus {
        background-color: $color__white;
        color: $color__black;
        font-weight: bold;
        outline-color: $color__focus-outline-dark-bg;
    }
}

.pagination__page-chevron-previous--disabled {
    display: block;
    margin-top: 1.16em;
    @media only screen and (max-width: $screen__md) {
        display: none;
    }
}
// }
