
.pagination {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

    @media only screen and (max-width: $screen__sm) {
        margin: 0;
    }

    //background-color: $color__dark;

    &__list {
        text-align: center;
        list-style-type: none;
        padding-left: 0;
        min-height: 3.125rem;

        display: flex;
        justify-content: start;
        margin-bottom: 2em;

        &-pages {
            padding: 0;

            ol {
                padding: 0;
                list-style-type: none;
            }
        }

        &-item {
            display: inline-block;
            min-height: 3.125rem;

            &:first-child {
                margin-left: 0;
                margin-right: auto;
            }

            &:last-child {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

    &__page {
        &-chevron-next, &-chevron-previous, &-link, &-link-current {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 3.125rem;
            height: 3.125rem;
            background: #26262a;

            color: white;
        }

        &-link-current {
            background: #ffcc00;
        }

        &-chevron-next, &-chevron-previous {
            height: 100%;
        }

        &-chevron-next, &-chevron-previous {
            //background-color: $color__yellow_2;

            &:hover, &:focus {
                background-color: $color__dark;
            }

            background-repeat: no-repeat;
            background-position: center;
            background-size: 40%;
        }

        &-chevron-next {
           // background-image: url($fa_chevron_right);
            &:hover, &:focus {
                //background-image: url($fa_chevron_right_white);
                outline-color: $color__focus-blue-outline-light-bg;
                outline-offset: 0.125rem;
            }

            &:focus {
                box-shadow: -.6rem 0 $color__white;
            }

            &--disabled {
                //background-color: $color__yellow_2;
                //background-image: url($fa_chevron_right_disabled);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 40%;
                width: 3.125rem;
                height: 100%;
                display: flex;
                justify-content: center;

                &:hover, &:focus {
                   // background-image: url($fa_chevron_right_disabled);
                    outline-color: transparent;
                    outline-offset: 0;
                }
            }
        }

        &-chevron-previous {

            //background-image: url($fa_chevron_left);
            //&:hover, &:focus {
                //background-image: url($fa_chevron_left_white);
                //outline-color: $color__focus-blue-outline-light-bg;
                //outline-offset: 0.125rem;
            }

            &:focus {
                box-shadow: .6rem 0 $color__white;
            }

            &--disabled {
                //background-color: $color__yellow_2;
                //background-image: url($fa_chevron_left_disabled);
                //background-repeat: no-repeat;
                background-position: center;
                background-size: 40%;
                width: 3.125rem;
                height: 100%;
                display: flex;
                justify-content: center;

                &:hover, &:focus {
                    //background-image: url($fa_chevron_left_disabled);
                    outline-color: transparent;
                    outline-offset: 0;
                }
            }
        }

        &-link-current {
            font-weight: bold;
        }

        &-link, &-link-current {
            margin-top: 0;

            @media only screen and (min-width: $screen__md) {
                width: 2.5rem;
                height: 1.875rem;
                margin-top: .5rem;
            }
        }

        &-link, &-link:visited {
            color: $color__white;
        }

        &-link-current, &-link-current:focus, &-link-current:visited, &-link:hover, &-link:focus {
            background-color: $color__white;
            color: $color__black;
            font-weight: bold;
            outline-color: $color__focus-blue-outline-dark-bg;
        }
    }
//}