.password-form {
  &__label {

  }

  &__text {

  }

  &__show {

  }

  &__submit {
    margin-top: 1rem;
    font-size: 1rem;
    font-family: $font__open-sans;
    font-weight: 700;
    line-height: 1.5rem;
  }
}