.password-form {
    &__label {
        margin-top: 1rem;

        display: block;

        font-family: $font__open-sans;
        font-size: 0.7rem;
        line-height: 1rem;
    }

    &__text {
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        padding: 0.2rem 0.5rem;

        display: inline-block;

        font-family: $font__open-sans;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        vertical-align: middle;
    }

    &__show-hide-label {
        padding: 0.5rem 1rem;

        display: inline-flex;
        justify-content: center;

        line-height: 1;
        vertical-align: middle;

        border: 1px solid #000;

        cursor: pointer;
        accent-color: #000;

        .tna-form & {
            width: auto;
        }

        &:hover {
            color: #fff;

            background-color: #000;
            accent-color: #fff;
        }

        &:checked {
        }
    }

    &__show-hide-text {
        font-size: 1rem;
    }

    &__show-hide-checkbox {
        margin-right: 0.5rem;

        display: inline-block;

        &:focus,
        &:active {
            outline: none;
        }
    }

    &__submit {
        margin-top: 1rem;

        font-family: $font__open-sans;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5rem;
    }
}
