.quote {
    width: calc((4rem + 30px) + 100%);
    margin-right: calc((2rem + 15px) * -1);
    margin-left: calc((2rem + 15px) * -1);

    @media only screen and (min-width: #{$screen__md + 1px}) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    &__container {
        max-width: 100%;
        margin-top: 1rem; // ideally this would be managed on the element preceeding, but not for now
        padding: 2rem;

        text-align: center;
        border-top: $default__border;
        border-bottom: $default__border;

        @media only screen and (min-width: #{$screen__lg + 1px}) {
            margin-top: 2rem; // ideally this would be managed on the element preceeding, but not for now
            padding: 3rem;
        }
    }

    &__text {
        @include font-size(m);
        color: $color--black;
        font-family: $font__open-sans;
        font-weight: 700;

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__citation {
        @include font-size(xs);
        color: $color__grey-800;

        cite {
            font-style: normal;
        }
    }

    &__figure {
        margin-bottom: 0;
    }
}
