.quote {
  position: relative;
  background-color: $color__grey-5;
  padding: 2rem;
  margin: 4rem 0;

  &__icon {
    position: absolute;
    top: 0.625rem;
    height: 3.125rem;
    width: 3.125rem;
  }

  &__text {
    font-family: $font__roboto;
    font-size: 2rem;
    font-style: italic;
  }

  &__citation {
    cite {
      font-style: normal;
    }
  }

  &--no-citation {
    blockquote, p {
      margin-bottom: 0;
    }
  }
}
