@use "@nationalarchives/frontend/nationalarchives/tools/colour";

.record-details {
    padding: 2rem 0 0;

    &__table {
        width: 100%;
        margin: 3rem 0 5rem;

        th,
        td {
            padding: 0.5em 0;
            vertical-align: top;
        }

        th {
            font-weight: bold;
        }
    }
}
