.record-links {
    &__wrapper {
        margin-bottom: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: #{$screen__lg + 1px}) {
            padding-right: 10%;
            padding-left: 10%;
        }
    }

    &__list {
        width: 100%;
        margin-bottom: 0;
        padding-left: 0;

        list-style: none;
        border-top: 0.3rem solid $color__yellow;
    }

    &__item {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;

        display: block;
        align-items: center;

        border: 1px solid $color__grey-300;
        border-top: 0;

        @media (min-width: #{$screen__lg + 1px}) {
            display: flex;
        }

        &__thumbnail {
            width: 7.5rem;
            height: 7.5rem;
            margin-bottom: 1rem;
            margin-left: 2rem;
            flex-shrink: 0;

            @media (min-width: #{$screen__lg + 1px}) {
                margin-bottom: 0;
            }
        }

        &__thumbnail-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__text {
            padding-right: 2rem;
            padding-left: 2rem;
            flex: 100%;
        }

        &__title {
            margin: 5px 0;

            color: $color__black;
            font-family: $font__roboto-mono;
            font-size: 1.1rem;
            font-weight: 700;
            font-style: normal;
            text-decoration-line: underline;
        }

        &__title a {
            color: inherit;
            text-decoration: none;
        }

        &__title a:hover,
        &__title a:focus {
            color: #004c7e;
        }

        &__title a:focus {
            outline: 0.312rem solid #004c7e;
        }

        &__dates {
            margin: 0;

            color: #747474;
            font-size: 0.9rem;
        }

        &__reference {
            margin: 0;

            color: #004c7e;
            font-family: $font__roboto-mono;
            font-size: 0.9rem;
            font-weight: 400;
        }
    }
}
