.series-panel {
    position: relative;
    border: 3px solid $color__yellow;
    margin: 0 0 3rem;
    background: $color__yellow;
    padding: 0;

    @media screen and (min-width: #{$screen__lg + 1px}) {
        padding: 0 0 0 3.5rem;
    }

    &__icon {
        display: none;
        height: 35px;
        width: 35px;
        position: absolute;
        top: 11px;
        left: 12px;

        @media screen and (min-width: #{$screen__lg + 1px}) {
            display: block;
        }
    }

    &__container {
        background: $color__white;
        // adds a visual separating border in high contrast mode
        border-left: 2px solid transparent;
        overflow: auto;
        padding: 1rem;
    }

    &__heading {
        overflow: auto;
        margin: 0 0 0.5rem;
        font-family: $font__supria-sans;
        font-weight: normal;
    }

    &__reference {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 0.5rem;
        display: block;
    }

    &__link {
        color: $color__link-blue;
        font-family: $font__supria-sans;
        font-size: 1.2rem;

        &:visited {
            color: $color__link-blue;
        }
    }
}
