.record-title {
  padding: 2rem 0;

  &__description {
    font-family: $font__supria-sans;
    font-size: 1.25rem;
    margin: 0;
    @media (max-width: $screen__md) {
      font-size: 1.1rem;
    }
  }

  &__heading {
    font-family: $font__supria-sans;
    font-size: 2.4rem;
    @media (max-width: $screen__md) {
      font-size: 2rem;
    }
  }
}
