.record-creator-collections {

  h3 {
    font-family: supria-sans-condensed, sans-serif;
    margin: 1.5rem 0 1rem;
    font-size: 1.4rem;
    font-weight: normal;
  }

  &__table-container {
    display: block;
    margin: 0 0 4rem;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  &__table {
    margin: 1rem 0;
    width: 100%;
    border: 2px solid $color__yellow;

      th, td {
        padding: 1rem;
        border: 1px solid $color__yellow;
      }
  }

  &__list {
    margin: 0;
  }

}
