.details-related-records {
    margin-bottom: 4rem;

    &__list {
        list-style: none;
        padding-left: 0;

        li {
            background-color: $color__grey-800;
            margin-bottom: 1rem;
            padding: 1rem;
            border-left: 1.25rem solid $color__navy;

            a {
                text-decoration: underline;
                color: $color__navy;
                display: inline-block;

                &:hover {
                    text-decoration: none;
                }

                &:focus {
                    outline: 0.313rem solid $color__navy;
                    outline-offset: 0.25rem;
                }
            }
        }
    }
}
