.record-access {
    margin-bottom: 5rem;
    padding: 1rem 2rem;

    color: $color__black;

    background-color: $color__grey-800;

    summary {
        margin-bottom: 1rem;

        color: $color__link;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        &:focus {
            outline: 0.312rem solid $color__link;
            outline-offset: 0.125rem;
        }
    }

    &__list {
        margin-top: 1rem;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
        }
    }

    &__button {
        margin: 0.5rem;
        padding: 1rem;

        display: inline-block;

        color: $color__white;
        text-decoration: none;

        background-color: $color__link;

        border: 0;

        &:first-of-type {
            margin-left: 0;
        }

        &:visited {
            color: $color__white;
        }

        &:hover {
            background: $color__card-hover;
        }

        &:focus {
            background: $color__black;

            outline-offset: 0.2rem;
        }

        &:hover,
        &:focus {
            color: $color__white;
        }
    }
}
