.record-embed-no-image {
    margin: 0 0 2rem;
    padding: 2rem 0;

    text-align: center;

    &__icon {
        width: 5rem;
        height: 5rem;
        margin: 0 auto 1rem;
        padding: 1rem;

        background-color: $color__navy;
        background-size: 3rem;
        background-repeat: no-repeat;

        border-radius: 50%;
        background-position: center;
    }

    &__icon-label {
        font-family: $font__roboto;
        font-size: 0.9rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__heading {
        font-size: 2rem;
        font-weight: 400;
    }

    &__list {
        padding-left: 0;

        list-style: none;
    }

    &__list-item {
        margin-bottom: 1rem;
        padding: 1rem;

        text-align: left;

        background-color: $color__navy;
        border-left: 1.25rem solid $color__navy;
    }

    &__link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $color__white;
        }
    }

    &__text {
        font-size: 1.2rem;
        text-align: left;

        &--inline {
            margin: 0 1rem 1rem;

            display: inline-block;

            font-size: 1.2rem;
        }
    }

    &__link-heading {
        font-size: 1.625rem;
    }

    &__link-heading,
    &__link-text {
        color: $color__white;
    }
}
