.cta-primary-panel {
    display: block;
    justify-content: space-between;
    font-family: $font__roboto;
    font-size: 1rem;
    padding: 0 0.5rem;
    margin: 0.75rem 0 0;

    @media screen and (min-width: $screen__sm) {
        margin: 0.5rem 0 1.5rem;
    }

    &__link {
        display: inline-flex;
        padding: 0.5rem 0.5rem 0.25rem 1rem;
        font-family: $font__supria-sans;
        font-size: 1.1rem;
        text-align: center;
        margin: 0;
        position: relative;

        @media screen and (min-width: $screen__lg) {
            margin: 0 0.5rem 0.5rem 0;
        }

        &--secondary {
            padding: 0.5rem 1rem;
            text-decoration: none;

            &:link {
                color: $color__link;
            }
            &:visited {
                color: $color__link;
            }
            &:focus {
                @include focus-default;
            }
            &:hover {
                color: $color__link;
                background-color: $color__grey-500;
            }
            &:active {
                color: $color__link;
                background-color: $color__grey-500;
            }
        }

        &--primary {
            background: $color__link url($fa_chevron_down_white) no-repeat 15px;
            background-size: 15px;
            color: $color__white;
            text-decoration: none;

            &:link {
                color: $color__white;
            }
            &:visited {
                color: $color__white;
            }
            &:focus {
                @include focus-default;
                outline: 5px solid $color__grey-700;
            }
            &:hover {
                color: $color__white;
                background-color: $color__grey-700;
            }
            &:active {
                color: $color__white;
                background-color: $color__white;
            }
        }
    }

    &__link-icon {
        margin: 0.25rem 0.5rem 0 0;
    }

    .open {
        background: #1a67a2 url($fa_chevron_up_white) no-repeat 15px;
        background-size: 15px;
    }
}

.cta-secondary-panel {
    text-align: left;
    background: $color__grey-100;
    padding: 2rem 0;
    border-bottom: 2px dotted $color__grey-500;

    &__heading {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        font-family: $font__supria-sans;
    }

    &__text {
    }

    &__link {
        border-bottom: 5px solid $color__yellow;
        display: inline-block;
        font-size: 1.1rem;
        padding: 0.25rem 0;
        margin: 1rem 1rem 1rem 0;
        text-decoration: none;
        font-family: supria-sans-condensed, sans-serif;
        color: $color__link;

        &:hover {
            color: $color__black;
        }
    }
}
