.series-panel {
    margin: 0 0 3rem;
    padding: 0;

    position: relative;

    background: $color__yellow;

    border: 3px solid $color__yellow;

    @media screen and (min-width: #{$screen__lg + 1px}) {
        padding: 0 0 0 3.5rem;
    }

    &__icon {
        width: 35px;
        height: 35px;

        display: none;

        position: absolute;
        top: 11px;
        left: 12px;

        @media screen and (min-width: #{$screen__lg + 1px}) {
            display: block;
        }
    }

    &__container {
        padding: 1rem;

        overflow: auto;

        background: $color__white;
        // adds a visual separating border in high contrast mode
        border-left: 2px solid transparent;
    }

    &__heading {
        margin: 0 0 0.5rem;

        overflow: auto;

        font-family: $font__supria-sans;
        font-weight: normal;
    }

    &__reference {
        margin-bottom: 0.5rem;

        display: block;

        font-size: 1rem;
        font-weight: normal;
    }

    &__link {
        color: $color__link-blue;
        font-family: $font__supria-sans;
        font-size: 1.2rem;

        &:visited {
            color: $color__link-blue;
        }
    }
}
