.record-embed {
    &__image-container {
        padding: 2rem 0;

        text-align: center;

        background-color: $color__black;
    }

    &__heading {
        margin-bottom: 2rem;
        padding-bottom: 0.625rem;

        font-size: 2rem;
        font-weight: 400;
        text-align: left;
        border-bottom: 0.3125rem solid $color__grey-500;
    }

    &__image {
        max-width: 25rem;
    }

    &__button {
        margin: 0 1rem 1rem 0;

        display: inline-block;
    }

    &__description {
        padding: 2rem 0;

        background-color: $color__grey-800;
    }

    &__image-viewer-link,
    &__image-viewer-link:visited {
        padding: 2rem 1rem 2rem 2.5rem;

        display: inline-block;

        color: $color__white;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        vertical-align: top;

        background: url($fa_search_plus) no-repeat center left;
        background-size: 1.75rem;
        transition: none;
    }

    &__image-viewer-link:hover {
        color: $color__white !important;
    }
}

.record-embed__text,
.record-embed__text--roboto-mono {
    font-size: 1.2rem;
}

.record-embed__text,
a.record-embed__text:visited,
.record-embed__heading {
    color: $color__white;
}

.no-margin-top {
    margin-top: 0;
}

.tna-button-secondary--no-underline {
    min-width: 1.625rem;
    padding: 0.5rem 0.9rem;

    display: inline-block;

    color: $color__black !important;
    text-align: center;
    text-decoration: none;

    background-color: $color__white !important;

    border: 0.125rem solid $color__white;

    &:hover {
        color: $color__white !important;

        background-color: $color__black !important;

        border: 0.125rem solid $color__black;
    }
}

@media only screen and (max-width: $screen__md) {
    .record-embed__image {
        width: 20rem;
    }
}
