.record-creator-description {
    margin: 3.5rem 0 3rem;

    &__address {
        font-family: sans-serif;
        font-weight: normal;
        margin-bottom: 0;
        font-size: 1.4rem;
    }

    &__container {
        margin: 3rem 0 2rem;
    }

    &__table {
        width: 100%;
        margin: 1rem 0 5rem;

        th,
        td {
            padding: 0.75em;
            vertical-align: top;
        }

        tr:nth-child(odd) {
            background-color: $color__grey-200;
        }

        th {
            font-weight: bold;
        }
    }

    &__paragraph {
        &--margin-sm {
            margin: 0 0 0.75rem;
        }
    }
}
