/* stylelint-disable -- This will become redundant when the new frontend is added */
.record-matters {
    padding-bottom: 1rem;

    color: $color__black;

    background-color: $color__white;

    @media (max-width: $screen__md) {
        width: 80%;
        margin: 0 auto;
    }

    .hidden {
        display: none;
    }

    &__plain-button {
        padding: 0.25rem;

        font-weight: $font-weight-bold;

        background: none;

        border: none;
        outline: inherit;

        cursor: pointer;
        font: inherit;

        &:visited {
            outline: 0.1875rem solid $color__yellow;
        }

        &:hover {
            outline: 0.1875rem solid $color__grey-700;
        }

        &:focus {
            outline: 0.312rem solid $color__navy;
            outline-offset: 0.125rem;
        }
    }

    &__svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0.5rem;

        display: inline-block;
    }

    &__content {
        padding-bottom: 2rem;

        display: flex;
        flex-direction: column;
    }

    &__text {
        margin-bottom: 0;

        &--link {
            color: $color__black;
        }

        &--bold {
            font-weight: bold;
        }
    }

    &__buttons {
        margin-top: 1rem;

        display: flex;
        // grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;

        text-align: center;

        @media (max-width: $screen__md) {
            // grid-template-columns: 1fr;
            // grid-gap: 0;
            display: block;
        }
    }
}
