.series-panel {
    @include colour.colour-background("accent-background-light");
    @include colour.colour-border("accent-background-light", 3px, solid);
    position: relative;
    margin: 2rem 0 3rem;
    padding: 0;

    @media screen and (min-width: #{$screen__lg + 1px}) {
        padding: 0 0 0 3.5rem;
    }

    &__icon {
        display: none;
        height: 25px;
        width: 25px;
        position: absolute;
        top: 11px;
        left: 15px;
        color: $color__grey-600;

        @media screen and (min-width: #{$screen__lg + 1px}) {
            display: block;
        }
    }

    &__container {
        background: $color__white;
        // adds a visual separating border in high contrast mode
        border-left: 2px solid transparent;
        overflow: auto;
        padding: 1rem;
    }

    &__heading {
        overflow: auto;
        margin: 0 0 0.5rem;
        font-family: $font__supria-sans;
        font-weight: normal;
    }

    &__reference {
        font-family: $font__mono;
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 0.5rem;
        display: block;
    }

    &__link {
        font-family: $font__body;
        color: $color__black;
        font-weight: normal;
        text-decoration: underline;

        &:visited {
            color: $color__black;
        }
    }
}
