.related-content {
    border-top: 2px dotted $color__grey-500;
    padding: 1rem 0;
    margin-top: 2rem;

    &__heading {
        @include font-size(xxl);
        font-family: $font__supria-sans;
        font-weight: 400;
        padding: 1rem 0;
    }

    &--borderless {
        border-top: none;
    }
}
