.related-highlight-cards {
    $root: &;
    margin-bottom: 1rem;

    // Deprecated

    &__title {
        margin: 0 0 1.5rem;

        color: $color__black;
        font-family: $font__supria-sans;
        font-size: 1.875rem;
    }

    &__card-title {
        margin: 0 0 0.5rem;

        color: $color__white;
        font-family: $font__body;
        font-size: 1.25rem;
        font-weight: 400;

        a {
            color: inherit;
        }

        @media only screen and (min-width: #{$screen__md + 1px}) {
            font-size: 1.3rem;
        }

        // Deprecated

        // &--small {
        //     @include font-size("xl");
        //     font-weight: $font-weight-bold;
        //     padding: 0.5rem 0;
        // }
    }

    &__card-title-link {
        color: $color__white;

        text-decoration-thickness: 1px;

        &:hover {
            color: $color__white;
        }

        &:focus {
            color: $color__blue;
            text-decoration: none;

            outline-color: $color__blue;
        }

        &:visited {
            color: $color__white;

            &:hover {
                color: $color__white;
            }

            &:focus {
                color: $color__blue;
                text-decoration: none;

                outline-color: $color__blue;
            }
        }
    }

    &__card {
        background-color: $color__black;
    }

    &__content {
        padding: 1.75rem;

        color: $color__grey-500;
    }

    &__text {
        margin: 0;

        color: $color__grey-500;
        font-size: 1rem;
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
