.related-content {
    margin-top: 2rem;
    padding: 1rem 0;
    border-top: 2px dotted $color__grey-500;

    &__heading {
        @include font-size(xxl);
        padding: 1rem 0;

        font-family: $font__supria-sans;
        font-weight: 400;
    }

    &--borderless {
        border-top: none;
    }
}
