.related-highlight-cards {
    $root: &;
    margin-bottom: 72px;

    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        margin-bottom: 96px;
    }



    &__title {
        @include font-size("xxl");
        margin: 0;
        padding: 3rem 0 1.5rem 0;

        @media (min-width: map-get($grid-breakpoints, "md")) {
            padding: 4.5rem 0 3rem 0;
        }

        &--small {
            @include font-size("xl");
            font-weight: $font-weight-bold;
            padding: 0.5rem 0;
        }
    }

    &__card {
        background-color: $color__grey-6;

        text-decoration: none !important;
    }

    &__content {
        margin: 1.75rem;
        color: $color__white;
    }

    &__text {
        @include font-size("s");
        color: $color__grey-7;
        margin: 0;
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}