.results-options {
  background-color: $color__green;
  padding: 1em;

  &__count {
    margin-bottom: 0;
  }

  &__select {
    padding: 0.2rem;
    border-radius: 0;

    @media only screen and (max-width: 575px) {
      margin-top: 1em;
    }

    &:focus {
      outline: 0.313rem solid $color__focus-blue-outline-light-bg;
    }
  }

  &__submit {
    @extend .tna-button;
    cursor: pointer;
    &:focus {
      outline: 0.313rem solid $color__focus-blue-outline-light-bg;
    }
  }

  &__loading-message {
    padding: 1rem;
    margin-top: 1rem;
    text-align: left;
    background-color: $color__green;
  }

  &__failure-message {
    padding: 1rem;
    margin-top: 1rem;
    text-align: left;
    background-color: $color__alert;
  }
}
