.results-options {
  background-color: $color__green;
  padding: 1rem;

  &__count {
    margin-bottom: 0;
  }

  &__sort {
    @media only screen and (min-width: $screen__sm) {
     text-align: right;
    }
  }

  &__select {
    padding: 0.2rem;
    border-radius: 0;

    @media only screen and (max-width: $screen__sm) {
      margin-top: 1rem;
    }

    &:focus {
      outline: 0.313rem solid $color__focus-blue-outline-light-bg;
    }
  }

  &__submit {
    @extend .tna-button--dark;
    border: none;
    cursor: pointer;
    &:focus {
      outline: 0.313rem solid $color__focus-blue-outline-light-bg;
    }
    padding: 0.5rem;
    margin-left: 0;
    @media only screen and (max-width: $screen__md) {
      margin-left: 0.3rem;
    }
    margin-top: 0.5rem;
  }

  &__loading-message {
    padding: 1rem;
    margin-top: 1rem;
    text-align: left;
    background-color: $color__green;
  }

  &__failure-message {
    padding: 1rem;
    margin-top: 1rem;
    text-align: left;
    background-color: $color__alert;
  }
}
