.research-resources {
  text-align: center;
  margin: 2rem 0;
  padding: 2rem 0;

  &__icon {
    background-color: $color__blue_3;
    border-radius: 50%;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  &__icon-label {
    text-transform: uppercase;
    font-family: $font__roboto;
    font-weight: bold;
    font-size: 0.9rem;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 400;
  }

  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__list-item {
    background-color: $color__blue_3;
    margin-bottom: 1rem;
    padding: 1rem;
    border-left: 1.25rem solid $color__blue_4;
    text-align: left;
  }

  &__link {
    text-decoration: none;
    transition: none;

    &:hover {
      text-decoration: underline;
      color: $color__white;
    }

    &:focus {
      outline: 0.313rem solid $color__white;
      outline-offset: .25rem;
    }
  }

  &__link-heading {
    margin-top: 0;
    font-size: 1.625rem;
  }

  &__link, &__link-text {
    color: $color__white !important;
  }
}
