.js {
  .section-wrapper {
    .container {
      overflow: hidden;
    }
    .section-separator {
      &__heading {
        font-size: 3rem;
        font-weight: 500;
        font-family: $font__supria-sans;
        color: $color__dark;
        padding-top: 2rem;
        display: inline-block;
        background: transparent;

        @media screen and (max-width: $screen__md) {
          display: block;
          font-size: 2rem;
          border-bottom: 0.25rem solid $color__grey-4;
          background: url($fa_chevron_down) no-repeat right bottom/2rem;
          padding-right: 3rem;
          &:hover {
            cursor: pointer;
          }
          &:focus {
            outline: 0.3125rem solid $color__blue_4;
          }

          &[aria-expanded="true"] {
            background: url($fa_chevron_up) no-repeat right bottom/2rem;
          }
        }
      }
    }
  }
}
