.section-image {
    margin-bottom: 2rem;

    img {
        width: 100%;
    }

    figure,
    p {
        margin-bottom: 0;
    }

    figure {
        text-align: center;
    }

    figcaption {
        @include font-size(xs);
        display: inline-block;
        padding: 1rem;
        border-bottom: 1px solid $color__grey-400;
    }
}
