// tna-useful-info component - 'Good to know' information from event page

.useful-info {
    $useful-info-root: &;
    margin-top: 3rem;

    display: flex;
    flex-direction: column-reverse;

    @include media.on-larger-than-mobile {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    &__content {
        padding: 2rem;

        color: $color__text;

        background-color: colour.brand-colour("light-grey");

        @include media.on-larger-than-mobile {
            padding: 3rem;

            #{$useful-info-root}--with-image & {
                flex: 0 0 calc(50% - 3rem);

                padding: 3rem 8rem 3rem 3rem;
            }
        }
    }

    &__image {
        object-fit: cover;

        @include media.on-larger-than-mobile {
            flex: 0 0 calc(50% - 3rem);

            margin-top: -3rem;
            margin-left: -5rem;

            overflow: hidden;
        }
    }

    &__cta {
        margin-top: 2rem;
    }
}
