.u {
    // Margin utility, values defined in design system and coverted to rem
    // https://www.figma.com/file/uo8YY98lLws8E1HEfpdn5X/TNA-Etna---Design-system?type=design&node-id=157%3A3851&t=eIC3zAqGHEUxjDXH-1

    &-margin {
        &-xxs {
            margin-bottom: 0.5rem; // 8px
        }

        &-xs {
            margin-bottom: 0.75rem; // 12px
        }

        &-s {
            margin-bottom: 1.5rem; // 24px
        }

        &-m {
            margin-bottom: 3rem; // 48px
        }

        &-l {
            margin-bottom: 3rem; // 48px

            @media only screen and (min-width: $screen__md) {
                margin-bottom: 4.563rem; // 72px
            }
        }

        &-xl {
            margin-bottom: 3rem; // 48px

            @media only screen and (min-width: $screen__md) {
                margin-bottom: 4.563rem; // 96px
            }
        }
    }
}
