.u {
  &-margin {
    &-xxs {
      margin-bottom: 8px;
    }

    &-xs {
      margin-bottom: 12px;
    }

    &-s {
      margin-bottom: 24px;
    }

    &-m {
      margin-bottom: 48px;
    }

    &-l {
      margin-bottom: 48px;

      @media only screen and (min-width: $screen__md) {
        margin-bottom: 72px;
      }
    }

    &-xl {
      margin-bottom: 48px;

      @media only screen and (min-width: $screen__md) {
        margin-bottom: 96px;
      }
    }
  }
}
