// This stylesheet has been added in response to a launch date request
// from the data team to patch some issues which are present in the data

// This is intended for only padding and block levelling items. WE SHOULD
// BE VERY MINDFUL OF Success Criterion 1.3.1 when working here and not
// introduce anything that is to make up for a lack of information or
// relationships that should be present in the HTML.

.xslt_patches {
    [altrender="doctype"] {
        display: none;
    }

    span {
        margin-bottom: 1rem;

        display: block;
    }
}
