.highlight-gallery-teaser {
    $root: &;
    padding-bottom: 3rem;
    background-color: $color__yellow_6;

    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        padding-bottom: 82px;
    }

    &__title {
        @include font-size("xxl");
        margin: 0;
        padding: 3rem 0 1.5rem 0;
        
        @media (min-width: map-get($grid-breakpoints, "md")) {
            padding: 5.18rem 0 2.75rem 0;
        }

        &::after {
            content: "";
            display: block;
            background-image: url(/static/images/fontawesome-svgs/chevron-right.svg);
            background-repeat: no-repeat;
            display: inline-block;
            top: -50%;
            width: 0.75rem;
            height: 1.25rem;
            margin-left: 0.5rem;
        }
    }
    
    &__title-link {
        color: $color__grey-6;

        &:visited{
            color: $color__grey-8;
        }
    }

    &__link {
        text-decoration-color: $color__white;
    }

    &__card {
        background-color: $color__grey-6;
        text-decoration: none !important;
        font-family: $font__supria-sans;
        list-style: none;
    }

    &__content {
        margin: 1.25rem;
        color: $color__white;
    }

    &__text {
        @include font-size("s");
        line-height: 21px;
        color: $color__grey-7;
        margin: 0;
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}