.explore-cta {
  background: #26262a;
  height:200px;

    p {
      color: white;
      text-align:center;
      padding-top:15%;
      font-size:1.3em;
    }

}

.survey-outline {
  //background:red;
  border:solid 1px #26262a;
  padding-top:1em;
  max-width:430px;
  margin:auto;
}


.response-btn {
  margin-right:1em;
}