.explore-cta {
    height: 150px;

    background: #26262a;
    @media only screen and (width <= 768px) {
        margin-bottom: 20px;
    }

    p {
        padding-top: 10%;

        color: white;
        font-size: 1.3em;
        text-align: center;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }
}

.survey-outline {
    max-width: 430px;
    margin: auto;
    padding-top: 1em;
    // background:red;
    border: solid 1px #26262a;
}

.response-btn {
    margin-right: 1em;
}

.extra-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.no-dots {
    border-top: 0;
}
