.related-article-cards {
    $root: &;
    margin-bottom: 72px;
    margin-top: 1.25rem;
    font-family: $font__supria-sans;

    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        margin-bottom: 96px;
    }
        

    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        margin-bottom: 96px;
    }
    
    &__title {
        @include font-size("xl");
        font-weight: $font-weight-bold;
        margin: 0;
        line-height: 2rem;
    }

    &__card {
        text-decoration: none !important;
        color: $color__black;
        margin-bottom: none;

        &:hover {
            outline: 0.3125rem solid $color__dark;
        }

        &:visited {
            color: inherit; 
        }
    }

    &__content {
        margin-top: 1.75rem;
    }

    &__text {
        @include font-size("s");
        line-height: 1.5rem;
        margin: 0;
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
