.related-article-cards {
  $root: &;
  margin: 1rem 0;
  font-family: $font__body;

  &__title-label {
    color: $color__grey-700;
    font-family: $font__roboto-mono;
    // TODO: update global font sizes to match new style guide
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.875rem;

    @media only screen and (min-width: $screen__md) {
      font-size: 0.9rem;
    }
  }

  &__title {
    font-size: 1.125rem;
    font-family: $font__body;
    font-weight: $font-weight-bold;
    margin: 0 0 0.5rem 0;
    line-height: 2rem;
  }

  &__title-link {
    color: $color__black;

    &:visited,
    &:active,
    &:hover {
      color: $color__black;
    }
  }

  &__content {
    margin-top: 1rem;
  }

  &__text {
    font-size: 1rem;
    color: $color__grey-700;
    font-family: $font__body;
    line-height: 1.5rem;
    margin: 0;
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
