{% extends "base.html" %}

{% load humanize %}
{% load search_tags %}
{% load static %}

{% block content %}
        {{ form.non_field_errors }}

        {%  with type='Catalogue'%}
            {% include './blocks/search_results_hero.html' %}
        {% endwith  %}

        {% include './blocks/catalogue_search_buckets.html' %}
        {% comment %} TODO make this text an editable field {% endcomment %}
        <p class="search-results__explainer--desktop">This page displays a summary of catalogue and non-catalogue content that matches your search.</p>
        <p class="search-results__explainer--mobile">Catalogue and non-catalogue content that matches your search.</p>
        {% include './blocks/search_sort_and_view_options.html' %}

        <div class="catalogue-search-grid" data-id="catalogue-search-grid">
            <div class="catalogue-search-grid__sidebar" data-id="catalogue-search-sidebar">
                {% include './blocks/search_filters.html' %}
            </div>
            <div class="catalogue-search-grid__results">
                {% include './blocks/search_results.html' %}
            </div>
        </div>

        {% if page.paginator.count %}
            {% include './blocks/search_pagination.html' %}
        {% endif %}

        <div>
            {{ form.group.errors }}
            {{ form.group.as_hidden }}
        </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/catalogue_search.js' %}"></script>
{% endblock %}
