{% extends "base.html" %}

{% load humanize search_tags static %}

{% block breadcrumb %}
{% endblock %}
{% block content %}


    <div class="tna-container">
        <div class="tna-column tna-column--full">
            <h1 class="tna-heading-xl tna-!--margin-top-l tna-!--margin-bottom-s">Select filters to apply to your results</h1>
        </div>
    </div>

    <form method="get" action="{% url url_name %}" data-id="long-filter-form" id="analytics-long-filter-form" data-long-filters>

        <div class="tna-container">
            <div class="tna-column tna-column--full">
                <div class="long-filters__options">
                    <input type="submit" value="Apply filters" class="search-filters__submit">
                    <a href="{% long_filter_cancel field_name=field_name %}" data-link-type="Search Link" data-link="Cancel and return to results">Cancel and return to results</a>
                </div>
            </div>
        </div>

        <div class="tna-container" data-id="long-filters-container">
            <div class="tna-column tna-column--width-1-3 tna-column--full-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-s" data-id="long-filters-search-container"></div>

            <div class="tna-column tna-column--width-2-3 tna-column--full-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-s">
                <fieldset data-id="long-filters-fieldset">
                    <legend class="sr-only" data-id="long-filters-legend">Filters</legend>
                    <ul class="long-filters__filters-list" data-id="long-filters-list" data-long-filters-list>
                        {% for option in bound_field %}
                            <li class="long-filters__filters-list-item ohos-checkbox-container" data-class="long-filters-list-item" data-long-filters-item>{{ option }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
            </div>

            <div class="tna-column tna-column--full">
                {% render_fields_as_hidden form long_filter=True %}

                <div class="long-filters__submit-section">
                    <input type="submit" value="Apply filters" class="search-filters__submit">
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/catalogue_search.js' %}"></script>
{% endblock %}
