{% extends "base.html" %}

{% load humanize datalayer_tags search_tags static %}

{% comment %} prepend number of search results to page title {% endcomment %}
{% block prepend_title %}
    {{ paginator.count|intcomma }}
{% endblock %}

{% block extra_gtm_js %}
    {% render_gtm_datalayer view %}
{% endblock extra_gtm_js %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
    {{ form.non_field_errors }}

    {% with search_tab=searchtabs.WEBSITE.value %}
        {% include './blocks/search_results_hero.html' %}

        {% if not paginator.count %}
            {# No results were found when searching only with the 'q' param value #}
            {% include './blocks/no_results_website.html' %}
        {% else %}
            <p class="search-results__explainer--mobile">Results from our website.</p>

            {% include './blocks/search_sort_and_view_options.html' %}

            <div class="catalogue-search-grid" data-id="catalogue-search-grid">
                <div class="catalogue-search-grid__sidebar" data-id="catalogue-search-sidebar">
                    {% include './blocks/search_filters.html' %}
                </div>
                <div class="catalogue-search-grid__results">

                    {{ selected_filters_count|json_script:"selected_filters_count" }}
                    <script>
                        $noOfFilters = JSON.parse(document.getElementById('selected_filters_count').textContent);
                        let $buttonHtml= "Filters <span class='filter-indicator'>"+ $noOfFilters +"</span>";
                    </script>

                    <div class="search-results">

                        <div class="search-results__metadata">

                            {% if paginator.count %}
                                <p id="search-results-title" class="search-results__metadata-count">
                                    Showing
                                    {{ page.start_index }}-{{ page.end_index }}
                                    (of {{ paginator.count|intcomma }}) result{{ paginator.count|pluralize}}
                                    for "{{ form.q.value|default:'*' }}"
                                    in <span id="analytics-current-bucket" data-current-bucket="Website results">Website results</span>
                                </p>
                            {% endif %}

                            {% include 'search/blocks/search_results__selected-filters.html' %}

                            {% if form.errors or not paginator.count %}
                                {% include 'search/blocks/no_results_catalogue_website.html' %}
                            {% endif %}

                        </div>

                        {% if page.object_list %}
                            <h2 class="sr-only">Results</h2>

                            <ul class="search-results__list{% if form.cleaned_data.display == "grid" %}--grid{% endif %}" id="analytics-results-list">
                                {% for obj in page %}
                                    {% if form.cleaned_data.display == "grid" %}
                                        {% include 'search/blocks/native_website_result--grid.html' with result=obj.specific %}
                                    {% else %}
                                        {% include 'search/blocks/native_website_result.html' with result=obj.specific %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                </div>
            </div>

            {% if paginator.count %}
                {% include './blocks/search_pagination.html' %}
            {% endif %}

            <div>
                {{ form.group.errors }}
                {{ form.group.as_hidden }}
            </div>
        {% endif %}

    {% endwith %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'scripts/catalogue_search.js' %}"></script>
{% endblock %}
