{% extends "base.html" %}
{% load alert_tags datalayer_tags search_tags humanize %}

{% block extra_gtm_js %}
    {% render_gtm_datalayer view %}
{% endblock extra_gtm_js %}
{% block breadcrumb %}
{% endblock %}
{% block content %}

{% include './blocks/search_landing_hero.html' %}

    {% comment %} <div class="search-landing-buckets">
        <div class="tna-container">
            <div class="tna-column tna-column--full">
                <h2 class="tna-heading-l search-landing-buckets__heading">
                    See all records from the catalogue
                </h2>  
            </div>
        </div>
        {% include './blocks/search_landing_buckets.html'%}
    </div> {% endcomment %}
{% endblock %}
