{% extends "base.html" %}

{% load humanize datalayer_tags search_tags static %}

{% block html_class %}tna-template--light-theme tna-template--blue-accent{% endblock %}

{% comment %} prepend number of search results to page title {% endcomment %}
{% block prepend_title %}
    {% with count=page.paginator.count %}
        {% if count > 0 %}
            {{ count|intcomma }}
        {% else %}
            0
        {% endif %}
    {% endwith %}
{% endblock %}

{% block extra_gtm_js %}
    {% render_gtm_datalayer view %}
{% endblock extra_gtm_js %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
        {{ form.non_field_errors }}

        {% with search_tab=searchtabs.WEBSITE.value %}
            {% include './blocks/search_results_hero.html' %}

            {% if not buckets_contain_results %}
                {# No results were found when searching only with the 'q' param value #}
                {% include './blocks/no_results.html' %}
            {% else %}
                {% include './blocks/catalogue_search_buckets.html' %}

                {% if not buckets.current.result_count %}
                    {% include './blocks/no_results.html' %}
                {% else %}
                    <p class="search-results__explainer--mobile">Results from our website.</p>

                    {% include './blocks/search_sort_and_view_options.html' %}

                    <div class="catalogue-search-grid" data-id="catalogue-search-grid">
                        <div class="catalogue-search-grid__sidebar" data-id="catalogue-search-sidebar">
                            {% include './blocks/search_filters.html' %}
                        </div>
                        <div class="catalogue-search-grid__results">
                            {% include './blocks/search_results.html' %}
                        </div>
                    </div>

                    {% if page.paginator.count %}
                        {% include './blocks/search_pagination.html' %}
                    {% endif %}

                    <div>
                        {{ form.group.errors }}
                        {{ form.group.as_hidden }}
                    </div>
                {% endif %}
            {% endif %}
        
        {% endwith %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'scripts/catalogue_search.js' %}"></script>
{% endblock %}
