{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load records_tags %}

<div class="featured-record u-margin-l container" data-container-name="featured-record">
    <div class="featured-record__container">
        <div class="featured-record__image-text">
            {% if value.image %}
                <picture class="featured-record__image">
                    {% image value.image.image fill-390x176 as teaser_image %}
                    <source media="(max-width: 991px)" srcset="{{ teaser_image.url }}">
                    {% image value.image.image fill-217x133 as teaser_image %}
                    <source media="(min-width: 992px)" srcset="{{ teaser_image.url }}">
                    <img src="{{ teaser_image.url }}" {% if value.decorative %}alt=""{% else %}alt="{{ value.alt_text }}"{% endif %}>
                </picture>
            {% endif %}

            <div class="featured-record__text">
                <h3 class="featured-record__standfirst">{{ value.title }}</h3>
                {% if value.record.reference_number %}
                    <div class="featured-record__metadata">
                        <p class="featured-record__reference">{{ 'reference_number'|as_label }}: {{ value.record.reference_number }}</p>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="featured-record__action">
            <a class="featured-record__button tna-button--yellow" href="{% record_url value.record is_editorial=True %}" data-component-name="{{ value.block.meta.label }}" data-link-type="Button" data-link="View in the catalogue"{% if FEATURE_RECORD_LINKS_GO_TO_DISCOVERY %} target="_blank"{% endif %}>Visit <span class="sr-only">{{ value.record.summary_title }}</span> the record{% if FEATURE_RECORD_LINKS_GO_TO_DISCOVERY %} <span class="sr-only">(link opens in a new window)</span>{% endif %}</a>
        </div>
    </div>
</div>
