{% load wagtailcore_tags wagtailimages_tags static %}


{# This template has been developed based on includes/blog-embed.html #}

{# as the category heading and icon are from the block's category field. #}

{# The description field is richtext and can contain repeating <p> tags. #}
{# The outer "-embed__text" <p> tag should probably be changed to a <div> #}

{# All field in the block are currently required fields. If any become optional at a later date, #}
{# the relevant items should be wrapped in {% if %}{% endif %} statements. #}


<div class="featured-link" data-container-name="featured-link">
    <div class="featured-link__container">
        <div class="featured-link__image">
            {% with value.image as image %}
                {% if image %}
                    <picture>
                        {% image image.image fill-626x486-c100 as mobile_img %}
                        <source media="(max-width: 1024px)" srcset="{{ mobile_img.url }}"/>
                        {% image image.image fill-395x330-c100 as desktop_img %}
                        <source media="(min-width: 1025px)" srcset="{{ desktop_img.url }}"/>
                        <img class="featured-link__img"
                            height="{{ mobile_img.height }}"
                            width="{{ mobile_img.width }}"
                            src="{{ mobile_img.url }}"
                            alt="{{ image.alt_text }}"/>
                    </picture>
                {% endif %}
            {% endwith %}
        </div>
        <div class="featured-link__content">
            <{{ heading_level }} class="tna-heading-l featured-link__heading u-margin-xs">
                {% if value.target_blank %}
                    <a class="featured-link__heading-link" href="{{ value.url }}" data-component-name="{{ value.block.meta.label }}: {{ value.category }}" data-link-type="Banner title" data-link="{{ value.title }}" data-category="{{ value.category }}" target="_blank">
                        {{ value.title }}

                        {% include "includes/icon.html" with name="external-link" classname="featured-link__heading-link-icon" %}
                        <span class="sr-only">(Opens in a new tab)</span>
                    </a>
                {% else %}
                    <a class="featured-link__heading-link" href="{{ value.url }}" data-component-name="{{ value.block.meta.label }}: {{ value.category }}" data-link-type="Banner title" data-link="{{ value.title }}" data-category="{{ value.category }}">{{ value.title }}</a>
                {% endif %}
                
            </{{ heading_level }}>

            {% if value.author or value.publication_date or value.duration %}
                <div class="featured-link__metadata u-margin-xs">
                    {% if value.author %}
                        <p class="featured-link__metadata-item">
                            By {{ value.author }}
                        </p>
                    {% endif %}

                    {% if value.publication_date %}
                        <p class="featured-link__metadata-item">
                            {{ value.publication_date }}
                        </p>
                    {% endif %}

                    {% if value.duration %}
                        <p class="featured-link__text featured-link__metadata-item">
                            {{ value.duration }}
                        </p>
                    {% endif %}
                </div>
            {% endif %}

            <div class="featured-link__text">
                {{ value.description|richtext }}
            </div>
        </div>
    </div>
</div>
