{% load wagtailimages_tags wagtailcore_tags %}

<div class="featured-collection">
    <div class="tna-column tna-column--full">
        <h2 class="tna-heading-l">{{ value.heading }}</h2>
        <p class="mb-4">{{ value.description }}</p>
    </div>
    </div>

    <ul class="card-group--list-style-none">
        {% for item in value.items %}
            {% include 'includes/card-group-secondary-nav.html' with heading=value.heading link_page=item.specific card_type="Featured" show_type_label=True supertitle=item.specific.type_label %}
        {% endfor %}
    </ul>
