{% load records_tags %}
<div class="featured-records">
    <div class="container">
        <{{ heading_level }} class="featured-records__heading">Record details</{{ heading_level }}>

        <div class="featured-records__content">
            {% if value.introduction %}
                <p class="featured-records__standfirst">
                    {{ value.introduction }}
                </p>
            {% endif %}

            <ul class="featured-records__list" data-container-name="featured-records">
                {% for item in value.items %}
                    <li class="featured-records__list-item">
                        <h4 class="featured-records__link-heading">
                            <a class="featured-records__link" href="{% record_url item.record is_editorial=True %}" data-component-name="{{ value.block.meta.label }}" data-link-type="Links" data-position="{{ forloop.counter0 }}" data-link="{{ item.title }}"{% if FEATURE_RECORD_LINKS_GO_TO_DISCOVERY %} target="_blank"{% endif %}>
                                {{ item.title }}
                                {% if FEATURE_RECORD_LINKS_GO_TO_DISCOVERY %} <span class="sr-only">(link opens in a new window)</span>{% endif %}
                            </a>
                        </h4>
                        <p class="featured-records__list-item-description">{{ item.record.summary_title }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>