{% load wagtailcore_tags wagtailimages_tags i18n %}
<section class="promoted-pages body-container body-container--short{% if bg %} promoted-pages--bg{% endif %} tna-!--margin-vertical-l tna-!--padding-vertical-m">
    <div class="tna-container">




        <div class="tna-column tna-column--full">
            <h2 class="tna-heading-l">{% trans value.heading %}</h2>
            <ul class="card-grid card-grid__trio card-grid--list promoted-pages__cards"
                data-container-name="promoted-pages"
                id="analytics-promoted-pages">
                {% for promoted_item in value.promoted_items %}
                    <li class="promoted-pages__card tna-!--margin-top-m">
                        <a data-component-name="Featured card: {% trans value.heading %}" data-link-type="Card image" data-card-position="{{ forloop.counter0 }}" data-card-title="{{ promoted_item.title }}" href="{{ promoted_item.url }}"
                        tabindex="-1">
                            <picture>
                                {% image promoted_item.teaser_image fill-350x229-c100 format-webp as mobile_webp_image %}
                                <source media="(max-width: 390px)"
                                        srcset="{{ mobile_webp_image.url }}"
                                        type="image/webp"/>
                                {% image promoted_item.teaser_image fill-370x229-c100 format-webp as desktop_webp_image %}
                                <source srcset="{{ desktop_webp_image.url }}" type="image/webp"/>
                                {% image promoted_item.teaser_image fill-350x229-c100 as mobile_img %}
                                <source srcset="{{ mobile_img.url }}" media="(max-width: 390px)"/>
                                {% image promoted_item.teaser_image fill-370x229-c100 as base_img %}
                                <img src="{{ base_img.url }}"
                                    height="{{ base_img.height }}"
                                    width="{{ base_img.width }}"
                                    class="promoted-pages__image"
                                    alt="{% if promoted_item.teaser_image.alt_text %}{{ promoted_item.teaser_image.alt_text }}{% endif %}"/>
                            </picture>
                        </a>
                        <h3 class="tna-heading-m promoted-pages__title">
                            <a data-component-name="Featured card: {% trans value.heading %}" data-link-type="Card text" data-card-position="{{ forloop.counter0 }}" data-card-title="{{ promoted_item.title }}" class="promoted-pages__title-link" href="{{ promoted_item.url }}">
                                {{ promoted_item.title }}
                            </a>
                        </h3>
                        {% if promoted_item.author %}
                            <p class="promoted-pages__text promoted-pages__text--gap">
                                By {{ promoted_item.author }}{% if promoted_item.publication_date %} &ndash; {{ promoted_item.publication_date }}{% endif %}
                            </p>
                        {% elif promoted_item.publication_date %}
                            <p class="promoted-pages__text promoted-pages__text--gap">
                                {{ promoted_item.publication_date }}
                            </p>
                        {% endif %}
                        <p class="promoted-pages__text">{{ promoted_item.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
