{% load wagtailcore_tags static %}

{# This template has been developed based on includes/research-resources.html #}

<div class="related-resources" data-container-name="related-resources">
    <div class="container">
        {% if value.summary %}
        <div class="related-resources__description">
            {{ value.summary|richtext }}
        </div>
        {% endif %}

        {% if value.promoted_items %}
        <ul class="related-resources__list">
            {% for item in value.promoted_items %}
            <li class="related-resources__list-item">
                <h3 class="tna-heading-m related-resources__link-heading">
                    <a class="related-resources__link" href="{{ item.url }}" data-component-name="{{value.block.meta.label}}: {{ value.heading }}" data-link-type="{{value.block.meta.label}}" data-link="{{ item.title }}" data-position="{{ forloop.counter0 }}">
                        {{ item.title }}
                    </a>
                </h3>
                {% if item.description %}
                <div class="related-resources__link-text">
                    {{ item.description }}
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>