{% load wagtailimages_tags %}

{% image value.teaser_image fill-288x172 as teaser_image_small %}
{% image value.teaser_image fill-328x196 as teaser_image_medium %}
{% image value.teaser_image fill-348x208 as teaser_image_large %}
{% image value.teaser_image fill-543x325 as teaser_image_extra_large %}

<li class="tna-column tna-column--width-1-3 tna-column--width-1-2-medium tna-column--width-1-2-small tna-column--full-tiny mb-3">
    <div class="card-group-secondary-nav">
        <a href="{{ value.url }}" 
        class="card-group-secondary-nav__image-link" 
        data-card-title="{{ value.title }}" 
        data-card-type="card-group-secondary-nav"
        aria-labelledby="card-group-secondary-nav__desc{{ value.id }}{% if instance_id %}-{{ instance_id }}{% endif %}"
        tabindex="-1"
        >
            <div class="card-group-secondary-nav__image">
                <picture>
                    <source media="(max-width: 768px)" srcset="{{ teaser_image_extra_large.url }}">
                    <source media="(max-width: 991px)" srcset="{{ teaser_image_medium.url }}">
                    <source media="(max-width: 1199px)" srcset="{{ teaser_image_small.url }}">
                    <source media="(min-width: 1200px)" srcset="{{ teaser_image_large.url }}">
                    <img src="{{ teaser_image_medium.url }}" alt="" class="card-group-secondary-nav__image-fallback">
                </picture>
            </div>
        </a>
            <div class="card-group-secondary-nav__body">
                <{{ heading_level }} class="tna-heading-l card-group-secondary-nav__heading">
                    <a href="{{ value.url }}" 
                    class="card-group-secondary-nav__title-link" 
                    data-card-title="{{ value.title }}" 
                    data-card-type="card-group-secondary-nav"
                    id="card-group-secondary-nav__desc{{ value.id }}{% if instance_id %}-{{ instance_id }}{% endif %}">
                        {{ value.title }}
                    </a>
                </{{ heading_level }}>
                <span class="card-group-secondary-nav__span">{{ value.description|linebreaks }}</span>
            </div>
    </div>
</li>
