{% load wagtailcore_tags %}

<div class="section-wrapper" data-section-level="{{ content_level }}">
            <{{ heading_level }} id="{{ heading_id }}" class="tna-heading-l section-separator__heading">
                <span class="section-separator__heading-text">
                    {{ value.heading }}
                </span>
                <span class="section-separator__heading-chevron"></span>
            </{{ heading_level }}>
    <div class="section-content tna-!--margin-top-m" data-controlled-by="{{ heading_id }}">
        {% for block in value.content %}
            {% include_block block %}
        {% endfor %}
    </div>
</div>
