{% load wagtailimages_tags wagtailcore_tags %}
{% if value.image %}
    <div class="blog-embed__image-container">
        {% if value.caption %}
        <figure>
        {% endif %}
            <picture>
                {% image value.image fill-800x500 as teaser_image %}
                <source media="(max-width: 480px)" srcset="{{ teaser_image.url }}">
                {% image value.image fill-800x500 as teaser_image %}
                <source media="(max-width: 640px)" srcset="{{ teaser_image.url }}">
                {% image value.image fill-800x450 as teaser_image %}
                <source media="(max-width: 768px)" srcset="{{ teaser_image.url }}">
                {% image value.image fill-800x350 as teaser_image %}
                <source media="(max-width: 991px)" srcset="{{ teaser_image.url }}">
                {% image value.image fill-800x350 as teaser_image %}
                <source media="(max-width: 1199px)" srcset="{{ teaser_image.url }}">
                {% image value.image fill-800x300 as teaser_image %}
                <source media="(max-width: 1200px)" srcset="{{ teaser_image.url }}">
                {% image value.image fill-800x300 as teaser_image %}

                {% if value.decorative %}
                <img src="{{ teaser_image.url }}" alt="" class="blog-embed__image" />
                {% else %}
                <img src="{{ teaser_image.url }}" alt="{{ value.alt_text }}" class="blog-embed__image" />
                {% endif %}
            </picture>
        {% if value.caption %}
        <figcaption>{{value.caption|richtext}}</figcaption>
        </figure>
        {% endif %}
    </div>
{% endif %}