{% extends 'wagtailadmin/notifications/base.html' %}
{%- set page_title = revision.content_object.get_admin_display_title() -%}
{% set editor_name = editor.get_full_name() or editor.get_username() %}
{%- set edit_path = url_for('wagtailadmin_pages:edit', revision.content_object.id) -%}
{%- set edit_url = base_url ~ edit_path -%}

{%- set subject = "The National Archives: Comments Updated on " ~ page_title -%}

{%- set panel = {
  "title": "New comments",
  "headingLevel": 1,
  "headingSize": "l",
  "body": "<p>" ~ editor_name ~ " has updated comments on <strong>" ~ page_title ~ "</strong>.</p>"
} -%}

{%- set content -%}
  {% if new_comments %}
    <h3>New comments</h3>
    <ul>
      {% for comment in new_comments %}
        <li>{{ comment.text }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if resolved_comments %}
    <h3>Resolved comments</h3>
    <ul>
      {% for comment in resolved_comments %}
        <li>{{ comment.text }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if deleted_comments %}
    <h3>Deleted comments</h3>
    <ul>
      {% for comment in deleted_comments %}
        <li>{{ comment.text }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if replied_comments %}
    <h3>New replies</h3>
    <ul>
      {% for thread in replied_comments %}
        <li>
          New replies to: {{ thread.comment.text }}
          <ul>
            {% for reply in thread.replies %}
              <li>{{ reply.text }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{%- endset -%}

{%- set cta_buttons = [
  {
    "text": "Edit page",
    "href": edit_url
  }
] -%}

{%- set signoff = "<p>If you have any issues, please contact the Digital Services Content Design Team.</p>" -%}

{% block content %}
{%- include "layouts/email.html" -%}
{% endblock %}
