{% extends 'base_page.html' %}

{% load static %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailmetadata_tags %}
{% block meta_tag %}
  {% meta_tags %}
{% endblock %}
{% block content %}
    {% include "includes/generic-intro.html" with title=page.title intro=page.intro %}
    <div class="container">
        <h2 class="sr-only">{% trans "Each collection insight takes an in-depth look into a group of the records we hold." %}</h2>
    </div>

    {% if page.featured_article %}
    <div class="container">
        <div class="featured-article">
            {% if page.featured_article.specific.teaser_image %}
                <a href="{% pageurl page.featured_article %}" class="featured-article__image-link" tabindex="-1" aria-hidden="true" data-component-name="Featured Article: {{ page.featured_article.title }}" data-link-type="Image" {% if page.featured_article.specific.is_newly_published %}data-label="New"{%endif%}>
                    <picture>
                        {% image page.featured_article.specific.teaser_image fill-500x400-c100 as teaser %}
                        <source media="(max-width: 768px)" srcset="{{ teaser.url }}">
                        {% image page.featured_article.specific.teaser_image fill-500x500-c100 as teaser %}
                        <source media="(max-width: 991px)" srcset="{{ teaser.url }}">
                        {% image page.featured_article.specific.teaser_image fill-1000x600-c100 as teaser %}
                        <source media="(max-width: 1200px)" srcset="{{ teaser.url }}">

                        <img src="{{ teaser.url }}" alt="" />
                    </picture>
                </a>
            {% endif %}

            <div class="featured-article__description">
                <h2 class="featured-article__heading">
                    <small>{{ page.featured_article.title_label }}</small>
                    {{ page.featured_article.title }}
                    {% if page.featured_article.specific.is_newly_published %}
                        <span aria-describedby="article-desc">NEW</span>
                    {% endif %}
                </h2>

                <p id ="article-desc" class="aria-desc">This is a link to a new story about {{ page.featured_article.title }}</p>

                <p>{{ page.featured_article.specific.teaser_text }}</p>
                <a class="tna-button--dark" href="{% pageurl page.featured_article %}" data-component-name="Featured Article: {{ page.featured_article.title }}" data-link-type="Button" data-link="Read" {% if page.featured_article.specific.is_newly_published %}data-label="New"{%endif%}>Read about {{ page.featured_article.title }}</a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        {% include_block page.featured_pages %}
    </div>

    <div class="container mt-4" data-container-name="{{ page.title }}">
        <h2>Discover all stories</h2>
        <p>Browse and explore the human stories behind The National Archives’ collection.</p>
        <ul class="card-group--list-style-none">

            {% for article_page in article_pages %}

                {% with page=article_page.specific %}
                    {% comment %} instance id adds a unique id to stories if they're included twice on the page {% endcomment %}
                    {% include 'includes/card-group-secondary-nav.html' with heading="Discover all stories" instance_id=forloop.counter %}
                {% endwith %}

            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/article_index_page.js' %}"></script>
{% endblock %}
