{% extends 'base_page.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load sections_tags %}
{% load wagtailmetadata_tags %}
{% block meta_tag %}
  {% meta_tags %}
{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block content %}
    {% include 'includes/generic-intro.html' with breadcrumb=True title=page.title intro=page.intro %}
    {% include 'includes/hero-img.html' with hero_image=page.hero_image caption=page.hero_image_caption %}

    <div class="article-container container">
        <div class="article-container__sidebar">
            {% jumplinks page %}
        </div>

        <div class="article-container__main">
            {% if page.display_content_warning %}
                {% include "includes/content-warning.html" with custom_warning_text=page.custom_warning_text classes="content-warning--short content-warning--normalise-article-margin" %}
            {% endif %}
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>

    <div class="related-content">
        <div class="container">
            {% if page.similar_items %}
                <h2 class="related-content__heading">You may also be interested in</h2>

                <ul class="card-group--list-style-none">
                    {% for item in page.similar_items %}
                        {% include 'includes/card-group-secondary-nav.html' with page=item heading="You may also be interested in" %}
                    {% endfor %}
                </ul>
            {% endif %}
            
            {% if FEATURE_STORIES_TOPIC_AND_TIME_PROMOS_ENABLED %}
                {% if page.primary_topic or page.primary_time_period %}
                    {% include "includes/related_topic_timeline_cards.html" with topic=page.primary_topic time_period=page.primary_time_period title="Discover highlights from the collection" %}
                {% endif %}
            {% endif %}

            {% if page.latest_items %}
                <h2 class="related-content__heading">More stories</h2>

                <ul class="card-group--list-style-none">
                    {% for item in page.latest_items %}
                        {% include 'includes/card-group-secondary-nav.html' with page=item heading="More stories" %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/article.js' %}"></script>
 {% endblock %}
