{% extends 'base_page.html' %}

{% load static %}
{% load i18n %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailmetadata_tags %}
{% block meta_tag %}
  {% meta_tags %}
{% endblock %}
{% block content %}
    {% include "includes/generic-intro.html" with title=page.title intro=page.intro %}
    <div class="container">
        <h2 class="sr-only">{% trans "Each collection insight takes an in-depth look into a group of the records we hold." %}</h2>
    </div>

    {% if page.featured_article.live %}
        {% include "includes/article-spotlight.html" with page=page.featured_article.specific %}
    {% endif %}

    <div class="container">
        {% include_block page.featured_pages %}
    </div>

    <div class="container mt-4" data-container-name="{{ page.title }}">
        <h2 class="tna-heading">Discover all stories</h2>
        <p>Browse and explore the human stories behind The National Archives’ collection.</p>
        <ul class="card-group--list-style-none">

            {% for article_page in article_pages %}

                {% with link_page=article_page.specific %}
                    {% comment %} instance id adds a unique id to stories if they're included twice on the page {% endcomment %}
                    {% include 'includes/card-group-secondary-nav.html' with heading="Discover all stories" instance_id=forloop.counter card_type="Featured" show_type_label=True %}
                {% endwith %}

            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/article_index_page.js' %}"></script>
{% endblock %}
