{% extends 'base_page.html' %}

{% load static wagtailcore_tags sections_tags wagtailmetadata_tags wagtailimages_tags %}

{% block body_class %}template-focused-article{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}
    <article>
        <header>
            {% if not page.hero_image %}
                {% include 'includes/generic-intro.html' with breadcrumb=True title=page.title intro=page.intro classes="generic-intro--dark" %}
            {% else %}
                {% include 'includes/generic-intro.html' with breadcrumb=True title=page.title %}
            {% endif %}
            {% if page.authors %}
                <div class="generic-intro__meta">
                    <div class="tna-container">
                        <div class="tna-column tna-column--full">
                            <ul class="tna-ul tna-ul--plain">
                                <li>By 
                                    {% for author in page.authors %}
                                        <a href="{% pageurl author %}" rel="author" data-component-name="Page header" data-link-type="Link" data-link="{{ author.title }}">{{ author.title }}</a>{% if not forloop.last %}{% if forloop.counter == page.authors|length|add:"-1" %} and {% else %}, {% endif %}{% endif %}
                                    {% endfor %}
                                </li>                    
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% include 'includes/hero-img.html' with hero_image=page.hero_image caption=page.hero_image_caption %}

            {% if page.intro and page.hero_image %}
                <div class="generic-intro__paragraph">
                    <div class="tna-container">
                        <div class="tna-column tna-column--width-5-6 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-large-paragraph">
                            {{ page.intro|richtext }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </header>
        <div class="article-container tna-section">
            <div class="tna-container">
                <div class="tna-column tna-column--width-3-4 tna-column--width-2-3-medium tna-column--full-small tna-column--full-tiny">
                    <div class="article-container__main">
                        {% if page.display_content_warning %}
                            {% include "includes/content-warning.html" with custom_warning_text=page.custom_warning_text classes="content-warning--short content-warning--normalise-article-margin" %}
                        {% endif %}

                        {% include_block page.body %}
                    </div>
                </div>
                {% if page.authors %}
                    <div class="tna-column tna-column--width-1-4 tna-column--width-1-3-medium tna-column--full-small tna-column--full-tiny">
                        <div class="tna-author tna-author--summary">
                            <h2 class="tna-chip tna-chip--plain">About the author{% if page.authors|length > 1 %}s{% endif %}</h2>
                                {% for author in page.authors %}
                                    {% image author.image fill-500x500 as author_img %}
                                    <div class="tna-author__image tna-author__image--small">
                                        <img src="{{ author_img.url }}" alt="{{ author_img.alt }}" width="500" height="500">
                                    </div>
                                    <p>
                                        <strong>
                                            <a href="{% pageurl author %}" rel="author" data-component-name="About the author" data-link-type="Link" data-link="{{ author.title }}">{{ author.title }}</a>
                                        </strong>
                                    </p>
                                    {% if author.role %}
                                        <p>{{ author.role }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <aside class="related-content related-content--borderless">
            <div class="tna-container">
                {% if page.similar_items %}
                    <div class="tna-column tna-column--full">
                    <h2 class="tna-heading-l related-content__heading">You may also be interested in</h2>

                </div>
                    <ul class="card-group--list-style-none">
                        {% for item in page.similar_items %}
                            {% include 'includes/card-group-secondary-nav.html' with link_page=item.specific heading="You may also be interested in" card_type="Featured" show_type_label=True supertitle=item.specific.type_label %}
                        {% endfor %}
                    </ul>
                {% endif %}


                {% if page.primary_topic or page.primary_time_period %}
                    {% include "includes/related_topic_timeline_cards.html" with topic=page.primary_topic time_period=page.primary_time_period title="Discover highlights from the collection" %}
                {% endif %}


                {% if page.latest_items %}
                <div class="tna-column tna-column--full">
                    <h2 class="tna-heading-l related-content__heading">More stories</h2>

                </div>
                    <ul class="card-group--list-style-none">
                        {% for item in page.latest_items %}
                            {% include 'includes/card-group-secondary-nav.html' with link_page=item heading="More stories" card_type="Featured" show_type_label=True supertitle=item.specific.type_label %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </aside>
    </article>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/article.js' %}"></script>
 {% endblock %}
