{% extends 'base_page.html' %}

{% load static wagtailcore_tags sections_tags wagtailmetadata_tags %}

{% load wagtailimages_tags %}
{% block meta_tag %}
    {% meta_tags %}
{% endblock %}
{% block body_class %}template-focused-article{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}
    {% if not page.hero_image %}
        {% include 'includes/generic-intro.html' with breadcrumb=True title=page.title intro=page.intro classes="generic-intro--dark" %}
    {% else %}
        {% include 'includes/generic-intro.html' with breadcrumb=True title=page.title %}
    {% endif %}    
    {% if page.author_name or page.first_published_at %}
        <div class="generic-intro__meta">
            <ul class="generic-intro__meta-list container">
                {% if page.author_name %}
                    <li class="generic-intro__meta-item">By <a href="{% pageurl page.author_item %}">{{ page.author_name }}</a></li>                    
                {% endif %}
            </ul>
        </div>
    {% endif %}
    {% include 'includes/hero-img.html' with hero_image=page.hero_image caption=page.hero_image_caption %}

    {% if page.intro and page.hero_image %}
        <div class="generic-intro__paragraph container">
            <div class="row">
                <div class="col-md-9">
                    {{ page.intro|richtext }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="article-container container">
        <div class="article-container__main">
            {% if page.display_content_warning %}
                {% include "includes/content-warning.html" with custom_warning_text=page.custom_warning_text classes="content-warning--short content-warning--normalise-article-margin" %}
            {% endif %}

            {% include_block page.body %}
        </div>
        {% if page.author_name %}
            <div class="author-info">
                <div class="author-info__label row">About the author</div>
                <div class="author-info__image row">
                    {% image page.author_item.image fill-500x500 as author_img %}
                    <img src="{{ author_img.url }}" alt="{{ author_img.alt }}" class="author-info__image">
                </div>
                <div class="author-info__text row">
                    <h2 class="author-info__title"><a href="{% pageurl page.author_item %}">{{ page.author_name }}</a></h2>
                    {% if page.author_item.role %}
                        <div class="author-info__paragraph">
                            {{ page.author_item.role|richtext }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

    {% if page.primary_topic or page.primary_time_period %}
        <div class="related-content related-content--borderless">
            <div class="container">
                {% include "includes/related_topic_timeline_cards.html" with topic=page.primary_topic time_period=page.primary_time_period title="Discover highlights from the collection" %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/article.js' %}"></script>
 {% endblock %}
