{% extends 'base_page.html' %}

{% load static wagtailcore_tags sections_tags wagtailmetadata_tags wagtailimages_tags %}

{% block body_class %}template-focused-article{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}
    {% if not page.hero_image %}
        {% include 'includes/generic-intro.html' with breadcrumb=True title=page.title intro=page.intro classes="generic-intro--dark" %}
    {% else %}
        {% include 'includes/generic-intro.html' with breadcrumb=True title=page.title %}
    {% endif %}    
    {% if page.author_name %}
        <div class="generic-intro__meta">
            <div class="tna-container">
                <div class="tna-column tna-column--full">
                    <ul class="tna-ul tna-ul--plain">
                        {% if page.author %}
                            <li>By <a href="{% pageurl page.author %}">{{ page.author_name }}</a></li>                    
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'includes/hero-img.html' with hero_image=page.hero_image caption=page.hero_image_caption %}

    {% if page.intro and page.hero_image %}
        <div class="generic-intro__paragraph">
            <div class="tna-container">
                <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny">
                    {{ page.intro|richtext }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="article-container">
        <div class="tna-container">
            <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny">
                <div class="article-container__main">
                    {% if page.display_content_warning %}
                        {% include "includes/content-warning.html" with custom_warning_text=page.custom_warning_text classes="content-warning--short content-warning--normalise-article-margin" %}
                    {% endif %}

                    {% include_block page.body %}
                </div>
            </div>
        </div>
        {% if page.author_name %}
            <div class="author-info">
                <div class="author-info__label row">About the author</div>
                <div class="author-info__image row">
                    {% image page.author.image fill-500x500 as author_img %}
                    <img src="{{ author_img.url }}" alt="{{ author_img.alt }}" class="author-info__image">
                </div>
                <div class="author-info__text row">
                    <h2 class="author-info__title"><a href="{% pageurl page.author %}">{{ page.author_name }}</a></h2>
                    {% if page.author.role %}
                        <div class="author-info__paragraph">
                            {{ page.author.role|richtext }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

    <aside class="related-content related-content--borderless">
        <div class="tna-container">
            {% if page.similar_items %}
                <div class="tna-column tna-column--full">
                <h2 class="tna-heading related-content__heading">You may also be interested in</h2>

            </div>
                <ul class="card-group--list-style-none">
                    {% for item in page.similar_items %}
                        {% include 'includes/card-group-secondary-nav.html' with link_page=item.specific heading="You may also be interested in" card_type="Featured" show_type_label=True %}
                    {% endfor %}
                </ul>
            {% endif %}


            {% if page.primary_topic or page.primary_time_period %}
                {% include "includes/related_topic_timeline_cards.html" with topic=page.primary_topic time_period=page.primary_time_period title="Discover highlights from the collection" %}
            {% endif %}


            {% if page.latest_items %}
            <div class="tna-column tna-column--full">
                <h2 class="tna-heading related-content__heading">More stories</h2>

            </div>
                <ul class="card-group--list-style-none">
                    {% for item in page.latest_items %}
                        {% include 'includes/card-group-secondary-nav.html' with link_page=item heading="More stories" card_type="Featured" show_type_label=True %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </aside>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/article.js' %}"></script>
 {% endblock %}
