{% extends "base_page.html" %}

{% load static wagtailcore_tags sections_tags %}

{% block content %}
    {% include "includes/record-revealed-intro.html" with custom_warning_text=page.custom_warning_text %}
    {% if page.gallery_items %}
        {% include "includes/image_gallery.html" with gallery=page.gallery_items has_text=page.gallery_has_translations_transcriptions %}
    {% endif %}
    {% include "includes/record-matters.html" with record=page.record title="Why this record matters" page=page %}
    {% if page.featured_highlight_gallery %}
        {% include "includes/highlight_gallery_teaser.html" with title=page.featured_highlight_gallery.title cards=page.featured_highlight_gallery.page_highlights.all|slice:":5" page=page.featured_highlight_gallery %}
    {% endif %}
    {% if page.featured_article.live %}
    <div class="tna-container">
    <div class="tna-column tna-column--full">
        {% include "includes/article-spotlight.html" with page=page.featured_article.specific %}
    </div>
    </div>
    {% endif %}
    {% if page.promoted_links %}
        {% comment %} Checks if featured article exists then adds a bg to define the separate sections {% endcomment %}
        {% if page.featured_article.live %}
            {% include_block page.promoted_links with bg=True %}
        {% else %}
            {% include_block page.promoted_links with bg=False %}
        {% endif %}
    {% endif %}
    {% if page.primary_topic or page.time_period %}
        {% include "includes/related_topic_timeline_cards.html" with topic=page.primary_topic time_period=page.primary_time_period %}
    {% endif %}
{% endblock content %}
{% block extra_js %}
    <script src="{% static "scripts/record_article_page.js" %}"></script>
{% endblock extra_js %}
