.tna-button {
    background-color: $color__dark !important;
    text-decoration: none;
    color: $color__white !important;
    border: $default__border;
    padding: 0.5em 0.9em;
    display: inline-block;
    min-width: 24px;
    text-align: center;

    &:visited,
    &:active {
        background-color: $color__dark !important;
        color: $color__white !important;
    }

    &:hover {
        background-color: $color__white !important;
        color: $color__dark !important;
        text-decoration: none;
    }

    &:focus {
        @include focus-default;
    }

    &--primary {
        background-color: $color__white !important;
        color: $color__dark !important;

        &:visited,
        &:active {
            background-color: $color__white !important;
            color: $color__dark !important;
        }

        &:hover {
            background-color: $color__dark !important;
            color: $color__white !important;
            text-decoration: none;
        }
    }

    &--secondary {
        border-color: $color__grey-light !important;
        background-color: $color__grey-light !important;
        color: $color__black;

        &:visited,
        &:active {
            background-color: $color__grey-light !important;
            color: $color__black !important;
        }

        &:hover {
            border-color: $color__black !important;
            background-color: $color__black !important;
            color: $color__white;
            text-decoration: none;
        }
    }
}
