.tna-card {

  &__link {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;

    h2, h3, h4 {
      text-decoration: underline;
    }

    &:hover {
      h2, h3, h4 {
        text-decoration: none;
      }
    }
  }

  &__image {
    overflow: hidden;
    max-height: 164px;
  }
}
