body {
  font-family: $font__body;
  font-size: 16px;
  line-height: 1.6;
  color: $color__text;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font__heading;
  font-weight: 700;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, .h1 {
  font-size: 2.4em;
}

h2, .h2 {
  font-size: 1.6em;
}

h3, .h3 {
  font-size: 1.3em;
}

h4, .h4 {
  font-size: 1.16em;
}

p {
  margin-bottom: 1.6em;
}

a {
  color: $color__link-blue;
  text-decoration: underline;

  &:hover {
    color: $color__link-blue-hover;
    text-decoration: none;
  }

  &:visited {
    color: $color__link-blue-visited;
  }

  &:active {
    color: $color__link-blue-active;
  }

  &:focus {
    @include focus-default;
  }
}
