/* Fonts */
$font__open-sans: 'Open Sans', sans-serif;
$font__roboto: 'Roboto', sans-serif;
$font__body: $font__open-sans;
$font__heading: $font__roboto;

/* Colours */
$color__text: #26262a;
$color__text-secondary: #6f777b;

$color__black: #000000;
$color__dark: #26262a;
$color__white: #ffffff;
$color__yellow: #fbe2bc;
$color__green: #dde5d5;
$color__pink: #fad3d4;

$color__grey-light: #efefef;
$color__grey-mid-light: #dddddd;
$color__grey-mid-dark: #6f777b;
$color__grey-dark: #26262a;

$color__alert: $color__yellow;
$color__success: $color__green;
$color__error: $color__pink;

$color__link-blue: #1d70b8;
$color__link-blue-hover: #003078;
$color__link-blue-visited: #4c2c92;
$color__link-blue-active: #1e1e2a;

$color__focus-blue-outline: #1d70b8;

$default__border: 2px solid $color__black;
