/*!
 * TNA Toolkit with Bootstrap Grid
 * Toolkit URI: https://github.com/nationalarchives/tna-frontend-design-toolkit
 * Author URI: https://github.com/nationalarchives
 * Version: 1.0
 * License: GNU General Public License
 */

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/reboot";
@import "bootstrap/grid";
@import "bootstrap/utilities/display";
@import "bootstrap/utilities/flex";
@import "bootstrap/utilities/spacing";
@import "bootstrap/utilities/float";
@import "bootstrap/utilities/text";
@import "bootstrap/tables";
@import "bootstrap/images";

@import "variables";
@import "mixin";
@import "color";
@import "typography";
@import "lists";
@import "buttons";
@import "header";
@import "footer";
@import "card";
@import "hero-banner";
