.catalogue-search-grid {
    margin-top: 2rem;
    margin-right: 2rem;

    margin-left: 2rem;

    display: grid;
    display: grid;
    grid-template-columns: 2.5fr 8fr;
    -ms-grid-columns: 2.5fr 8fr;

    @media only screen and (max-width: $screen__xl) {
        -ms-grid-columns: 1fr;
    }

    @media only screen and (max-width: $screen__md) {
        margin-top: 1rem;
        margin-right: 0;
        margin-left: 0;
    }

    &__sidebar {
        min-width: 320px;

        -ms-grid-column: 1;
        @media only screen and (max-width: $screen__xl) {
            width: 100%;
            margin-bottom: 1rem;

            -ms-grid-column: 1;
            grid-column: 1 / -1;
        }
    }

    &__results {
        border-top: 4px dotted $color__grey-500;

        margin-left: 1rem;
        padding: 1rem;

        @media only screen and (max-width: $screen__sm) {
            margin-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-left: 0;
        }

        -ms-grid-column: 2;

        @media only screen and (max-width: $screen__xl) {
            -ms-grid-column: 1;
            grid-column: 1 / -1;
            -ms-grid-row: 2;

            border-top: 0;
        }
    }
}
