.featured-search {
    &__results {
        margin-left: 1rem;
        margin-right: 1rem;
        @media only screen and (min-width: #{$screen__md + 1px}) {
            margin-left: 2rem;
            display: -ms-grid;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            -ms-grid-columns: 1fr 1fr 1fr;
        }

        &-block {
            border: 3px solid $color__yellow;
            border-radius: 0.3rem;
            padding: 1rem;
            margin-right: 1rem;
            margin-top: 1rem;

            &:nth-of-type(1) {
                -ms-grid-column: 1;
            }

            &:nth-of-type(2) {
                -ms-grid-column: 2;
            }

            &:nth-of-type(3) {
                -ms-grid-column: 3;
            }
        }

        &-list {
            list-style: none;
            padding-left: 0.5rem;
        }

        &-heading {
            font-family: $font__supria-sans;
            font-size: 1.5rem;
            margin-bottom: 0.1rem;
        }

        &-link {
            display: inline-block;

            &:visited {
                color: $color__navy;
            }
        }
    }

    &__see-all-link {
        border-top: 4px dotted $color__grey-500;
        margin-top: 2rem;
        padding-top: 1rem;
    }

    &__heading {
        font-family: $font__supria-sans;
        font-size: 1.5rem;
    }

    &__record-creator {
        &-link {
            margin-top: 2rem;
        }

        &-image {
            width: 100%;
            // display: none;
        }
    }

    &__interpretive-results {
        display: none;
        margin: 2rem 1rem 3rem;
        padding-top: 2rem;
        border-top: 3px dotted $color__grey-500;

        @media only screen and (min-width: #{$screen__md + 1px}) {
            display: grid;
            display: -ms-grid;
            -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            margin-left: 2rem;

            &-section {
                // display:none;
                margin-right: 2rem;

                &:nth-of-type(1) {
                    -ms-grid-column: 1;
                }

                &:nth-of-type(2) {
                    -ms-grid-column: 2;
                }

                &:nth-of-type(3) {
                    -ms-grid-column: 3;
                }
            }
        }

        &-section {
        }
    }

    &__interpretive-card {
        &-image {
            border: 1px solid $color__grey-500;
            display: block;

            &-fallback {
                width: 100%;
            }
        }

        &-description {
            margin-bottom: 0.5rem;
        }

        &-link {
            display: inline-block;
        }
    }
}
