.featured-search-grid {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 6fr 3fr;
    -ms-grid-columns: 6fr 3fr;

    @media only screen and (max-width: $screen__xl) {
        -ms-grid-columns: 1fr;
    }

    margin-left: 1rem;
    margin-right: 1rem;

    @media only screen and (min-width: $screen__md) {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    margin-top: 2rem;

    &__sidebar {
        -ms-grid-column: 2;
        margin-left: 2rem;

        @media only screen and (max-width: $screen__xl) {
            -ms-grid-column: 1;
            -ms-grid-row: 2;
            grid-column: 1 / -1;
            margin-left: 0;
        }
    }

    &__results {
        -ms-grid-column: 1;

        @media only screen and (max-width: $screen__xl) {
            grid-column: 1 / -1;
        }
    }
}
