.featured-search {

    &__results {
        margin-left: 1rem;
        margin-right: 1rem;

        @media only screen and (min-width: $screen__sm) {
            margin-left: 2rem;
            display: flex;
            flex-wrap: wrap;
        }

        &-block {
            border: 3px solid $color__yellow_2;
            border-radius: 0.3rem;
            padding: 1rem;
            margin-right: 2rem;
            margin-top: 1rem;
        }

        &-list {
            list-style: none;
            padding-left: 0.5rem;

            &-item {
                &:last-of-type {
                    border-bottom: 4px dotted $color__grey-1;
                }
            }
        }

        &-heading {
            font-family: $font__supria-sans;
            font-size: 1.5rem;
            margin-bottom: 0.1rem;
        }

        &-link {
            display: inline-block;
            &:visited {
                color: $color__blue-4;
            }

        }
    }

    &__heading {
        font-family: $font__supria-sans;
        font-size: 1.5rem;
    }

    &__record-creator {
        &-link {
            margin-top: 2rem;
        }
        &-image {
            width: 100%;
        }
    }

    &__interpretive-results {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
        padding-top: 2rem;
        border-top: 3px dotted $color__grey-4;
        @media only screen and (min-width: $screen__sm) {
            margin-left: 2rem;
            &-section {
                margin-right: 3rem;
            }
        }

        &-section {
            display: inline-block;
        }
    }

    &__interpretive-card {
        &-image {
            border: 1px solid $color__grey-3;
            display: block;
            &-fallback {
                width: 100%;
              }
        }
        &-description {
            margin-bottom: 0.5rem;
        }
        &-link {
            display: inline-block;
        }
    }
}
