.global-search {
    padding: 2rem;
    padding-bottom: 5rem;

    background-color: $color__grey-100;

    @media only screen and (max-width: $screen__md) {
        padding-left: 1rem;
    }

    &__container {
        max-width: 80rem;
        margin-right: auto;
        margin-left: auto;
    }

    &__heading {
        margin-top: 0;

        font-family: $font__supria-sans;
        font-weight: normal;
    }

    &__label {
        display: block;

        font-family: $font__supria-sans;
        font-size: 1.4rem;
    }

    &__form {
        &-submit {
            @extend .search-button;
            width: 8rem;

            font-size: 1.1rem;

            cursor: pointer;
        }

        &-search-box {
            width: 100%;
            max-width: 60rem;
            height: 3.1rem;
            margin-right: 0.2rem;
            margin-bottom: 0.2rem;
            padding: 1rem;

            font-size: 1.1rem;
            vertical-align: top;

            border: 1px solid $color__grey-800;
            border-radius: 0.25rem;

            &:focus {
                outline: 5px solid $color__focus-outline-light-bg;
            }
        }
    }

    &__button {
        height: 3rem;
        margin-right: 0.25rem;
        padding-right: 0.75rem;
        padding-left: 2.25rem;

        color: $color__white;
        font-family: $font__supria-sans;

        background-color: $color__grey-800;
        background-image: url("/static/images/icons/search-white.svg");
        background-size: 1.5rem;
        background-repeat: no-repeat;

        border: 0;

        cursor: pointer;
        background-position-x: 0.5rem;
        background-position-y: 0.6rem;

        &[aria-expanded="true"],
        &:hover,
        &:focus {
            color: $color__black;

            background-color: $color__grey-100;
            background-image: url("/static/images/icons/search-black.svg");
        }

        &:focus {
            outline: 0.3125rem solid $color__black;
        }

        @media only screen and (max-width: $screen__md) {
            margin-left: auto;

            display: inline-block;
        }

        // IE11 styles
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            background-size: 45px;
            background-position-x: -3px;
        }

        &-text {
            height: 75%;

            display: inline-block;
        }
    }

    &__paragraph {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
