.long-filters {
    margin-left: 1rem;
    margin-right: 1rem;

    @media only screen and (min-width: #{$screen__md + 1px}) {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    &__heading {
        font-family: $font__supria-sans;
        padding-top: 1.2rem;
    }

    &__options {
        padding-bottom: 2rem;
        @media only screen and (min-width: #{$screen__md + 1px}) {
            margin-bottom: 2rem;
        }
        border-bottom: 0.1875rem dotted $color__grey-500;

        @media only screen and (min-width: #{$screen__md + 1px}) {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    }

    &__filters {
        @media only screen and (min-width: #{$screen__lg + 1px}) {
            display: flex;
        }

        @media only screen and (max-width: $screen__md) {
            margin-top: 1rem;
        }

        &-list {
            padding-left: 0;
            margin-bottom: 0;

            @media only screen and (min-width: #{$screen__md + 1px}) {
                column-count: 3;
                column-gap: 1rem;
            }

            &-item {
                list-style: none;
                margin-right: 4rem;
                width: 100%;
                max-width: 20rem;
                vertical-align: text-top;
            }
        }

        &-checkbox {
            &:focus {
                outline: 0.3125rem solid $color__focus-outline-light-bg;
            }
            margin-right: 0.2rem;
        }

        &-label {
            cursor: pointer;
            max-width: 85%;
            vertical-align: top;
        }
    }

    &__search {
        background-color: $color__grey-200;
        border: 0.0625rem solid $color__grey-500;
        padding: 1rem;
        max-height: 14rem;
        margin-right: 1rem;
        margin-bottom: 1rem;

        @media only screen and (min-width: #{$screen__lg + 1px}) {
            max-width: 20rem;
        }

        &-label {
            display: block;
        }
        &-button {
            // @extend .tna-button--dark;
            display: block;
            margin-top: 0.25rem;
            font-weight: normal;
            cursor: pointer;
        }
        &-box {
            width: 100%;
            @media only screen and (min-width: #{$screen__lg + 1px}) {
                max-width: 17.5rem;
            }
            margin-bottom: 0.5rem;
            border: 0.0625rem solid $color__grey-500;
            border-radius: 0.5rem;
            height: 2.7rem;
            padding: 1rem;
            margin-left: -0.2rem;

            &:focus {
                outline: 0.3125rem solid $color__focus-outline-light-bg;
            }
        }
    }

    &__submit-section {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 0.1875rem dotted $color__grey-500;
        margin-bottom: 2rem;
    }

    &__submit-button {
        @extend .tna-button;
        font-size: 1.3rem;
        cursor: pointer;
    }

    &__count {
        font-family: $font__open-sans;
        font-size: 1.5rem;
    }

    &__intro {
        font-family: $font__open-sans;
        font-size: 1rem;
    }
}

.cancel-return {
    float: none;

    @media only screen and (min-width: #{$screen__md + 1px}) {
        float: right;
    }
}
