.long-filters {
    margin-left: 1rem;
    margin-right: 1rem;

    @media only screen and (min-width: #{$screen__md + 1px}) {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    &__heading {
        font-family: $font__supria-sans;
        padding-top: 1.2rem;
    }

    &__options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 2rem;

        @media only screen and (min-width: #{$screen__md + 1px}) {
            margin-bottom: 2rem;
        }
        border-bottom: 2px solid $color__grey-300;

        @media only screen and (min-width: #{$screen__md + 1px}) {
            flex-direction: row;
            align-items: baseline;
        }

        .search-filters__submit {
            margin-left: 0;
        }
    }

    &__filters {
        @media only screen and (min-width: #{$screen__lg + 1px}) {
            display: flex;
        }

        @media only screen and (max-width: $screen__md) {
            margin-top: 1rem;
        }

        &-list {
            padding-left: 0;
            margin-bottom: 0;

            @media only screen and (min-width: #{$screen__md + 1px}) {
                column-count: 3;
                column-gap: 1rem;
            }

            &-item {
                list-style: none;
                margin-right: 4rem;
                width: 100%;
                max-width: 20rem;
                vertical-align: text-top;
            }
        }

        &-checkbox {
            &:focus {
                outline: 0.3125rem solid $color__focus-outline-light-bg;
            }
            margin-right: 0.2rem;
        }

        &-label {
            cursor: pointer;
            max-width: 85%;
            vertical-align: top;
        }
    }

    &__search {
        background-color: $color__grey-300;
        padding: 1rem;
        align-self: flex-start;

        &-label {
            display: block;
        }

        &-button {
            display: block;
            margin-top: 0.25rem;
            font-weight: normal;
            cursor: pointer;
        }

        &-box {
            width: 100%;
            margin-bottom: 0.5rem;
            border: 2px solid currentColor;
            height: 2.7rem;
            padding: 1rem;

            &:focus {
                outline: 0.3125rem solid $color__focus-outline-light-bg;
            }
        }
    }

    &__submit-section {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 2px solid $color__grey-300;
        margin-bottom: 2rem;
    }

    &__submit-button {
        @extend .tna-button;
        font-size: 1.3rem;
        cursor: pointer;
    }

    &__count {
        font-family: $font__open-sans;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    &__intro {
        font-family: $font__open-sans;
        font-size: 1rem;
    }

    &__helper-text {
        margin-top: 0;
    }
}
