/* stylelint-disable -- This will become redundant when the new frontend is added */
.search-landing-hero {
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 5rem;

    background-color: $color__grey-100;

    &__container {
        margin-right: auto;
        margin-left: auto;
    }

    &__heading {
        margin-top: 0;

        font-family: $font__supria-sans;
        font-weight: normal;
    }

    &__label {
        display: block;

        font-family: $font__open-sans;
        font-size: 1.2rem;
    }

    &__form {
        &-submit {
            @extend .search-button;
            width: 8rem;

            font-size: 1.1rem;

            cursor: pointer;
        }

        &-search-box {
            width: 100%;
            max-width: 60rem;
            height: 3.1rem;
            margin-right: 0.2rem;
            margin-bottom: 0.2rem;
            padding: 1rem;

            font-size: 1.1rem;
            vertical-align: top;

            border: 1px solid $color__grey-800;
            border-radius: 0.25rem;

            &:focus {
                outline: 5px solid $color__focus-outline-light-bg;
            }
        }
    }
}
