@use "@nationalarchives/frontend/nationalarchives/tools/typography";

.search-filters {
    background-color: $color__grey-300;
    padding: 1rem;

    &__header {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__heading {
        color: inherit;
    }

    &__widget-list {
        list-style: none;
        padding-left: 0;

        &:focus {
            outline: 5px solid $color__focus-outline-light-bg;
        }
    }

    &__widget-list-item {
        input {
            // These styles only apply to the search page items for the moment
            // If it's identified that this style needs to be used elsewhere
            // in future, consider moving the code in to a more reusable state
            &[type="checkbox"] {
                flex: none;
                margin-right: 0.5rem;
                appearance: none;
                width: 1.875rem;
                height: 1.875rem;
                border: 2px solid $color__off-black;
                background-color: $color__grey-200;
                display: grid;
                place-content: center;

                &:checked {
                    background-color: $orange;

                    &::before {
                        content: "";
                        clip-path: polygon(
                            85.41% 0,
                            39.58985% 69.04%,
                            12.5% 38.1026666667%,
                            0 52.3883888889%,
                            41.66015% 100%,
                            100% 14.2857222222%
                        );
                        width: 20px;
                        height: 18px;
                        display: block;
                        background-color: $color__off-black;
                    }
                }
            }

            &:focus {
                outline: 5px solid $color__focus-outline-light-bg;
            }
        }

        label {
            cursor: pointer;
            display: flex;
            margin-bottom: 0.5rem;
            max-width: 100%;
        }
    }

    &__form-block {
        margin-bottom: 1rem;
    }

    &__submit {
        @extend .search-button;
        display: block;
        margin-left: auto;

        &:not(&__heading) {
            margin-top: 0.5rem;
        }
    }

    &__label,
    &__checkbox,
    &__submit {
        cursor: pointer;
    }
    &__submit {
        margin-top: 1.2em;
    }

    &__label {
        max-width: 80%;
        vertical-align: top;

        &--block {
            display: block;
            max-width: 100%;
            color: inherit;
            @include typography.detail-font-weight-bold;
        }
    }

    &__search {
        margin-bottom: 0.5rem;
        border: 2px solid currentColor;
        width: 100%;
        height: 3rem;
        padding: 1rem;
    }

    &__section {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $color__off-black;

        &-heading {
            @include typography.detail-font-weight-bold;
            color: inherit;
        }

        &-link {
            color: $color__navy;

            &:visited,
            &:hover {
                color: $color__navy;
            }
        }
    }

    &__checkbox {
        margin-bottom: 1rem;
        margin-right: 0.5rem;

        &:focus {
            outline: 5px solid $color__focus-outline-light-bg;
        }
    }

    &__opening-date {
        width: 5rem;

        &:focus {
            outline: 5px solid $color__focus-outline-light-bg;
        }

        &-section {
            margin-bottom: 1rem;
        }
    }

    .errorlist {
        list-style-type: none;
        padding-left: 0;
        font-weight: 700;
        padding: 1rem 2rem;
        background-color: #a72916;
        color: #ffffff;
        margin-bottom: 2rem;
    }
}

/*date filters via GDS pattern*/

.tna-date-input__item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;

    input {
        border: 2px solid currentColor;
    }
}

.tna-form-group .tna-form-group:last-of-type {
    margin-bottom: 0;
}

.tna-form-group label {
    display: block;
}

.tna-date-input__label,
.input__label {
    display: block;
}

.tna-input--width-2 {
    max-width: 2.75em;
}

.tna-input--width-4 {
    max-width: 4em;
}

.example-text {
    font-size: 1rem;
}
