/* stylelint-disable -- This will become redundant when the new frontend is added */
.search-results {
    &__metadata {
        &-count {
            margin-bottom: 0.5rem;

            &-highlight {
                font-weight: bold;
            }
        }
        @media only screen and (max-width: $screen__sm) {
            padding-left: 0.5rem;
        }
    }

    &__selected-filters {
        padding-left: 0;

        display: flex;
        flex-wrap: wrap;

        @media only screen and (max-width: $screen__sm) {
            display: none; // hiding on mobile
        }

        &-item {
            margin-top: 0.5rem;
            margin-right: 0.5rem;
            padding: 0.3rem 0.7rem 0.3rem 0.5rem;

            display: inline-block;

            color: #000;

            list-style: none;

            border: 1px solid black;
            border-radius: 0.3rem;

            &-link {
                width: 1rem;
                height: 1rem;

                display: inline-block;

                vertical-align: middle;

                background-image: url("/static/images/icons/close.svg");
                background-size: 1rem;
                background-repeat: no-repeat;
                background-position: center;
            }

            &-remove-all {
                @extend .search-results__selected-filters-item;
                padding-right: 0;
                padding-left: 0;

                list-style: none;

                border: 0;

                &-link {
                    color: $color__navy;

                    &:visited {
                        color: $color__navy;
                    }
                }
            }
        }
    }

    &__list {
        margin-top: 1.5rem;
        padding-left: 0;

        list-style: none;

        &--grid {
            @extend .search-results__list;

            @media only screen and (width >= 57rem) {
                // Using flex here, as grid doesn't work for dynamic elements in IE11. Grid on IE11 requires a specific column and row set for every child element as 'auto' for columns and rows does not work.
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    &__export,
    &__share {
        &-container {
            margin-bottom: 1rem;
            padding: 1rem;

            display: flex;
            justify-content: space-between;

            background-color: $color__grey-500;

            border: 1px solid $color__grey-400;
        }

        &-link {
            color: $color__navy;

            &:visited,
            &:hover {
                color: $color__navy;
            }
        }

        &-icon {
            width: 35px;
            height: 35px;
            margin-right: 1rem;
            margin-left: auto;
        }
    }

    &__filter-button {
        margin-top: 0;
        margin-left: 4rem;
        padding: 0;

        position: relative;

        font-weight: bold;
        text-decoration: underline;

        background-color: $color__white;

        border: 0;

        cursor: pointer;

        &:focus {
            outline: 5px solid $color__focus-outline-light-bg;
        }

        @media only screen and (max-width: $screen__xl) {
            width: 96%;
            margin-left: 0.5rem;
            padding: 0.8rem;

            color: $color__white;

            background: $color__black;
        }

        &::before {
            content: " ";

            width: 10px;
            height: 10px;

            position: absolute;
            bottom: 7px;
            left: -14px;

            background-size: 100%;
            // background-image: url('/static/images/icons/triangle-right.svg');
            background-repeat: no-repeat;

            @media only screen and (max-width: $screen__md) {
                background-image: none;
            }
        }

        &[aria-expanded="true"] {
            &::before {
                // background-image: url('/static/images/icons/triangle-down.svg');
                @media only screen and (max-width: $screen__md) {
                    background-image: none;
                }
            }
        }
    }

    &__explainer {
        margin-right: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;

        display: none; // hiding on mobile
        @media only screen and (min-width: #{$screen__md + 1px}) {
            margin-right: 2rem;
            margin-left: 2rem;
            padding-top: 1rem;

            display: block;
        }
    }
}

.filter-indicator {
    margin-left: 0.8rem;
    padding: 0.4rem 1rem;

    display: inline-block;

    color: #1d2124;
    text-decoration: none;

    background: #fc0;

    border-radius: 5px;
}
