.search-sort-view {
    display: flex;

    @media only screen and (max-width: $screen__md) {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    &__heading {
        font-size: 1rem;
        margin: 0;
        font-family: $font__supria-sans;
        display: inline-block;
        @media only screen and (max-width: $screen__md) {
            display: block;
        }
    }

    &__form {
        margin-left: auto;

        @media only screen and (max-width: $screen__md) {
            margin-left: 0;
        }

        &-select {
            padding: 0.2rem;
            width: 10rem;
            height: 2.3rem;
            margin-bottom: 0.25rem;

            &:focus {
                outline: 5px solid $color__focus-blue-outline-light-bg;
            }
        }
        &-submit {
            @extend .search-button;
            padding: 0.2rem;
            cursor: pointer;
        }

    }

    &__list {
        display: flex;
        align-items: center;

        margin-bottom: 0;
        margin-right: 3rem;
        padding: 0;
        
        &-item {
            display: inline-block;
            margin-left: .5rem;
        }

        @media only screen and (max-width: $screen__md) {
            margin-left: auto;
            align-items: flex-end;
            margin-right: 0;

        }

    }

    &__icon {
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        color: #fff;

        &-list {
            @extend .search-sort-view__icon;
            background-image: url('/static/images/icons/list.svg');

            &[aria-current=true], &:focus, &:hover {
                background-image: url('/static/images/icons/list-selected.svg');   
                background-color: $color__yellow_2;
            }
        }

        &-grid {
            @extend .search-sort-view__icon;
            background-image: url('/static/images/icons/grid.svg');

            &[aria-current=true], &:focus, &:hover {
                background-image: url('/static/images/icons/grid-selected.svg');
                background-color: $color__yellow_2;
            }
        }
    }
}
