.search-filters {
    background-color: $color__grey-200;
    border: 1px solid $color__grey-500;
    padding: 1rem;

    &__heading {
        font-size: 1.3em;
    }

    &__widget-list {
        list-style: none;
        padding-left: 0.5rem;

        &:focus {
            outline: 5px solid $color__focus-outline-light-bg;
        }
    }

    &__widget-list-item {
        input {
            &:focus {
                outline: 5px solid $color__focus-outline-light-bg;
            }
        }

        label {
            cursor: pointer;
            display: inline-block;
            margin-bottom: 0.5rem;
            max-width: 100%;
        }
    }

    &__form-block {
        margin-bottom: 1rem;
    }

    &__submit {
        @extend .search-button;
        display: block;
        margin-top: 0.5rem;
    }

    &__label,
    &__checkbox,
    &__submit {
        cursor: pointer;
    }
    &__submit {
        margin-top: 1.2em;
    }

    &__label {
        max-width: 80%;
        vertical-align: top;

        &--block {
            display: block;
            max-width: 100%;
        }
    }

    &__search {
        margin-bottom: 0.5rem;
        border: 1px solid $color__grey-500;
        border-radius: 0.5rem;
        width: 100%;
        height: 3rem;
        padding: 1rem;
    }

    &__accordion-section {
        background-color: $color__grey-100;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid $color__grey-400;

        &-heading {
            font-size: 1rem;
            font-weight: normal;
        }

        &-link {
            color: $color__navy;

            &:visited,
            &:hover {
                color: $color__navy;
            }
        }
    }

    &__checkbox {
        margin-bottom: 1rem;
        margin-right: 0.5rem;

        &:focus {
            outline: 5px solid $color__focus-outline-light-bg;
        }
    }

    &__opening-date {
        width: 5rem;

        &:focus {
            outline: 5px solid $color__focus-outline-light-bg;
        }

        &-section {
            margin-bottom: 1rem;
        }
    }

    .errorlist {
        list-style-type: none;
        padding-left: 0;
        font-weight: 700;
        padding: 1rem 2rem;
        background-color: #a72916;
        color: #ffffff;
        margin-bottom: 2rem;
    }

    button {
        border:0;
        background:#f4f4f4;
        border-bottom:1px solid grey;
        margin-bottom:10px;
        width:100%;
        text-align: left;
        font-weight: 400;
        font-size:1em;
    }
}

/*date filters via GDS pattern*/

.tna-date-input__item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
}

.tna-form-group .tna-form-group:last-of-type {
    margin-bottom: 0;
}

.tna-form-group label {
    display: block;
}

.tna-date-input__label,
.input__label {
    display: block;
}

.tna-input--width-2 {
    max-width: 2.75em;
}
.tna-input--width-4 {
    max-width: 4em;
}

.example-text {
    color: $color__grey-600;
}

