/* stylelint-disable -- This will become redundant when the new frontend is added */
.search-results-hero {
    width: 100%;
    // background-color: $color__grey-200;
    padding: 2rem;
    padding-bottom: 0;

    @media only screen and (max-width: $screen__md) {
        padding: 1rem;
        padding-bottom: 0;
    }

    &__heading {
        margin-top: 0;

        font-family: $font__supria-sans;
        font-weight: normal;
    }

    &__form {
        display: flex;

        &-submit {
            @extend .search-button;
            width: 8rem;
            height: 3.1rem;
            margin: 0;

            font-size: 1.1rem;

            cursor: pointer;
        }

        &-search-box {
            width: 100%;
            max-width: 60rem;
            height: 3.1rem;
            margin-right: 0.2rem;
            margin-bottom: 1rem;
            padding: 1rem;

            font-size: 1.1rem;
            vertical-align: top;

            border: 1px solid $color__grey-800;
            border-radius: 0.25rem;

            &:focus {
                // outline: 5px solid $color__focus-outline-light-bg;
            }
        }
    }

    &__nav {
        margin-top: 2rem;

        &-list {
            margin-bottom: 0;
            padding-left: 0;

            display: flex;
            flex-wrap: wrap;
            align-items: center;

            font-size: 1.2rem;

            &-item {
                margin-right: 2rem;

                display: inline-block;

                font-family: $font__supria-sans;

                @media only screen and (width <= 38rem) {
                    margin-right: 0.5rem;
                }

                @media only screen and (width <= 34rem) {
                    max-width: 7rem;
                    max-height: 5rem;
                }

                @media only screen and (width <= 26rem) {
                    max-width: 6.5rem;
                }

                @media only screen and (width <= 23rem) {
                    max-width: 5.5rem;

                    font-size: 1.1rem;
                }

                &-new-search {
                    margin-left: auto;

                    display: inline-block;
                }

                &:last-of-type {
                    max-width: none;

                    @media only screen and (max-width: $screen__md) {
                        width: 100%;
                        margin-right: 0;

                        div {
                            margin-right: -2rem;
                            margin-left: -2rem;
                            padding: 1rem 2rem 0 1rem;

                            text-align: right;

                            background-color: $color__white;
                        }
                    }

                    a {
                        font-family: $font__open-sans;
                        font-size: 1rem;

                        &:visited {
                            color: $color__navy;
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        &-link {
            width: 100%;
            height: 100%;
            padding: 0.5rem;

            display: block;

            position: relative;

            color: rgb(0 0 0 / 73%);
            text-decoration: none;

            background-color: #ffffff85;
            border-top: 0.3rem solid $color__grey-500;

            @media only screen and (width <= 34rem) {
                min-height: 70px;

                line-height: 1.5rem;
            }

            @media only screen and (width <= 24rem) {
                padding-right: 0.5rem;
                padding-left: 0.5rem;
            }

            &:visited,
            &:hover {
                color: $color__black;
            }

            &[aria-current="true"],
            &:hover,
            &:focus {
                color: $color__black;

                background-color: $color__white;
                border-top: 0.3rem solid $color__yellow;
                border-left: 0;
                border-right: 0;
            }

            &-new-search {
                display: block;
            }
        }
    }
}
