@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/variables/typography";

.custom_icon {
    // background:blue;
    background-image: url("/static/images/tag.svg");
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 50%;
}

.search-visualisation-nav {
    margin-bottom: 2rem;

    &__list {
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        order: -1;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            flex: 1;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            font-family: $font__supria-sans;
            font-size: 1.2rem;

            & i {
                color: #067584;
                margin-right: 1em;
                display: block;

                @media only screen and (max-width: $screen__md) {
                    margin-right: 0;
                    margin-bottom: 0.5em;
                    line-height: 1;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            @media only screen and (max-width: $screen__md) {
                width: 100%;
                display: block;
                margin-right: 0;
            }
        }

        @media only screen and (max-width: $screen__md) {
            margin-bottom: 0;
        }
    }

    &__link,
    &__disabled {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        text-decoration: none;
        color: $color__navy;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0.75rem;
        border: 2px solid transparent;
        line-height: 1.3;

        @media only screen and (max-width: $screen__md) {
            flex-direction: column;
        }
    }

    &__link {
        &,
        &:link,
        &:visited {
            @include colour.colour-font("font-base");
        }

        &:hover {
            text-decoration: none;

            .search-visualisation-nav__link-label {
                text-decoration: underline;
                text-decoration-thickness: typography.$interactive-text-decoration-thickness;
            }
        }

        &[aria-current="true"] {
            border-color: currentColor;
            width: 60%;
            padding-top: 0.8em;
            padding-bottom: 0.8em;
        }
    }

    &__disabled {
        color: $color__grey-500;

        i {
            color: inherit;
        }
    }
}

// timeline / histogram rules

.hist-container {
    background: #d9d9d6;
    padding-left: 0;
    padding-right: 0;
}

.hist-bar {
    min-height: 10px;
    // background: teal;
    width: 100%;
}

.disclaim {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    margin-top: 0;
}

canvas {
    background: #d9d9d6;
}

// additional classes for no results messages

.no-results-message {
    display: block;

    .notice-board {
        margin: auto;
        margin-top: 2em;
        width: 50%;
        // border: 3px solid green;
        padding: 2em;
        margin-bottom: 2em;
        background: #f9f0ce;
        -webkit-box-shadow: 20px 20px 0 -10px #a3a3a0;
        box-shadow: 20px 20px 0 -10px #a3a3a0;
        position: relative;
        display: block;
        z-index: 10;
        top: 200px;

        h2 {
            color: #1e1e1e;
        }

        p {
            margin-left: 2.6em;
        }

        .fa-exclamation-circle {
        }

        ul {
            margin-left: 2.6em;
        }
    }
}
