/* stylelint-disable -- This will become redundant when the new frontend is added */
.search-sort-view {
    $root: &;
    display: flex;
    align-items: flex-start;

    @media only screen and (max-width: $screen__md) {
        margin-right: 1rem;
        margin-bottom: -0.5rem;
        margin-left: 1rem;
    }

    &__heading {
        margin: 0;

        display: inline-block;

        font-family: $font__supria-sans;
        font-size: 1rem;
        @media only screen and (max-width: $screen__md) {
            display: block;
        }
    }

    &__form {
        margin-left: auto;
        // width: 100%;

        @media only screen and (max-width: $screen__md) {
            width: 100%;
            margin-left: 0;
        }

        &-select {
            width: 10rem;
            height: 2.3rem;
            margin-bottom: 0.25rem;
            padding: 0.2rem;

            &:focus {
                outline: 5px solid $color__focus-outline-light-bg;
            }
        }

        &-submit {
            @extend .search-button;
            padding: 0.2rem;

            cursor: pointer;
        }
    }

    &__mobile {
        padding-bottom: 1em;
        @media only screen and (min-width: #{$screen__md + 1px}) {
            display: none;
        }
    }

    &__desktop {
        @media only screen and (max-width: $screen__md) {
            display: none;
        }
    }

    &__list {
        margin-right: 3rem;

        margin-bottom: 0;
        padding: 0;

        display: flex;
        align-items: center;

        &-item {
            margin-left: 0.5rem;

            display: inline-block;
        }

        @media only screen and (max-width: $screen__md) {
            margin-right: 0;
            margin-left: auto;

            display: none;
            align-items: flex-end;
        }
    }

    &__icon {
        display: inline-block;

        color: $color__grey-700;

        &[aria-current="true"] {
            #{$root}__svg {
                background-color: $color__yellow;
            }
        }

        &:hover,
        &:focus {
            #{$root}__svg {
                background-color: $color__yellow;
            }
        }

        @media (forced-colors: active) {
            &[aria-current="true"] {
                #{$root}__svg {
                    // system colour keywords for high-contrast mode
                    color: HighlightText;

                    background-color: Highlight;
                }
            }

            &:hover,
            &:focus {
                #{$root}__svg {
                    // system colour keywords for high-contrast mode
                    color: HighlightText;

                    background-color: Highlight;
                }
            }
        }
    }

    &__svg {
        width: 30px;
        height: 30px;
        padding: 5px;

        color: $color__grey-700;
        vertical-align: middle;
        transition:
            background-color $transition_duration,
            color $transition_duration;

        @media (forced-colors: active) {
            // system colour keyword for high-contrast mode
            color: ButtonText;
        }
    }
}

.search-others {
    margin-bottom: 1rem;
    @media only screen and (min-width: #{$screen__md + 1px}) {
        display: none;
    }

    select {
        width: 100%;
        min-height: 44px;
        margin-bottom: 1.6rem;
        padding: 0.5rem;
        padding-right: 1rem;

        background: #eeedf3;

        border-radius: 5px;
    }
}
