.search-button {
    min-width: 24px;
    padding: 0.5em 0.9em;

    display: inline-block;

    color: $color__white !important;
    text-align: center;
    text-decoration: none;

    background-color: $color__grey-700 !important;

    border: $default__border;

    &:visited,
    &:active {
        color: $color__white !important;

        background-color: $color__grey-700 !important;
    }

    &:hover {
        color: $color__grey-700 !important;
        text-decoration: none;

        background-color: $color__white !important;
    }

    &:focus {
        // @include focus-default;
    }

    &--primary {
        color: $color__grey-700 !important;

        background-color: $color__white !important;

        &:visited,
        &:active {
            color: $color__grey-700 !important;

            background-color: $color__white !important;
        }

        &:hover {
            color: $color__white !important;
            text-decoration: none;

            background-color: $color__grey-700 !important;
        }
    }

    &--secondary {
        color: $color__black;

        background-color: $color__grey-light !important;

        border-color: $color__grey-light !important;

        &:visited,
        &:active {
            color: $color__black !important;

            background-color: $color__grey-light !important;
        }

        &:hover {
            color: $color__white;
            text-decoration: none;

            background-color: $color__black !important;

            border-color: $color__black !important;
        }
    }
}
