.search-button {
    cursor: pointer;
    text-decoration: none;
    border: 2px solid;
    padding: 0.5em 0.9em;
    display: inline-block;
    min-width: 24px;
    text-align: center;
    font-weight: bold;
    border-color: $color__off-black;

    &,
    &:visited,
    &:active {
        background-color: $orange !important;
        color: $color__off-black !important;
    }

    &:hover {
        background-color: $color__off-black !important;
        color: $color__white !important;
        text-decoration: none;
    }

    &--primary {
        background-color: $color__white !important;
        color: $color__grey-700 !important;

        &:visited,
        &:active {
            background-color: $color__white !important;
            color: $color__grey-700 !important;
        }

        &:hover {
            background-color: $color__grey-700 !important;
            color: $color__white !important;
            text-decoration: none;
        }
    }

    &--secondary {
        &,
        &:visited,
        &:active {
            background-color: $color__off-black !important;
            color: $color__white !important;
        }

        &:hover {
            border-color: currentColor !important;
            background-color: $color__grey-200 !important;
            color: $color__off-black;
            text-decoration: none;
        }
    }
}
