.search-filters {
    background-color: $color__grey-5;
    border: 1px solid $color__grey-3;
    padding: 1rem;
    &__list {
        list-style: none;
        padding-left: 0.5rem;
        &:focus {
            outline: 5px solid $color__focus-blue-outline-light-bg;
        }
    }

    &__form-block {
        margin-bottom: 1rem;
    }

    &__submit {
        @extend .search-button;
        display: block;
        margin-top: 0.5rem;
    }

    &__label, &__checkbox, &__submit {
        cursor: pointer;
    }

    &__label {
        max-width: 80%;
        vertical-align: top;
        &--block {
            display: block;
            max-width: 100%;
        }
    }

    &__search {
        margin-bottom: 0.5rem;
        border: 1px solid $color__grey-3;
        border-radius: 0.5rem;
        width: 100%;
        height: 3rem;
        padding: 1rem;
    }

    &__accordion-section {
        padding: 0.5rem;
        background-color: $color__grey-4;
        margin-bottom: 1rem;
        border: 1px solid $color__grey-7;

        &-heading {
            font-size: 1rem;
            font-weight: normal;
        }

        &-link {
            color: $color__blue_3;

            &:visited, &:hover {
                color: $color__blue_3;
            }
        }
    }

    &__checkbox {
        margin-bottom: 1rem;
        margin-right: 0.5rem;
        &:focus {
            outline: 5px solid $color__focus-blue-outline-light-bg;
        }
    }
    &__opening-date {
        width: 5rem;
        &:focus {
            outline: 5px solid $color__focus-blue-outline-light-bg;
        }
        &-section {
            margin-bottom: 1rem;
        }
    }
}
