.search-results__list-card {
    list-style: none;
    padding: 1.5rem;
    border: 1px solid $color__grey-4;
    border-bottom: 3px solid $color__grey_4;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;

    &--grid {
        @extend .search-results__list-card;
        @media only screen and (min-width: 57rem) {
            width: 48%;
        }
        margin-right: 1rem;
    }

    &-heading {
        font-family: $font__supria-sans;
        font-size: 1.7rem;
        letter-spacing: 0.05rem;
    }

    &-image {

        //display:block;
        //overflow:hidden;
        //max-width:70%;

    }
    
    &-content {
        margin-right: auto;
        margin-bottom: 2rem;
        padding-right: 1rem;
        max-width: 46rem;
    }

    &-link {
        color: $color__blue_4;

        &:visited {
            color: $color__blue_4;
        }
    }

    &-description {
        margin-bottom: 0.5rem;
        //max-width:70%;

    }

    &-delivery-options {


        margin-right: 1rem;

        &-img {
            border: 1px solid $color__grey-3;
        }

        &-desc {
            max-width: 12rem;
            margin-bottom: 0;
            margin-top: 0.2rem;
        }

        &-link {
            display: block;
        }

        @media only screen and (max-width: $screen__md) {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            &-desc {
                max-width: 100%;
            }
        }

        &--grid {
            @extend .search-results__list-card-delivery-options;
            &-desc {
                max-width: 100%;
            }
        }
    }
}
