.search-results__list-card {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    // max-height:300px;
    border-bottom: solid 2px $color__grey-300;
    margin-bottom: 1em;

    @media only screen and (max-width: 57rem) {
        padding-bottom: 1rem;
    }

    &--grid {
        @extend .search-results__list-card;
        @media only screen and (min-width: 57rem) {
            width: 47%;
            max-height: 100%;
        }
        margin-right: 1rem;
    }

    &-item {
        margin-bottom: 0;
    }

    &-heading {
        font-family: $font__supria-sans;
        font-size: 1.7rem;
        letter-spacing: 0.05rem;

        @media only screen and (min-width: 57rem) {
            margin-top: 0;
        }
    }

    &-full-width-image img {
        width: 100%;
        // display:block;
        // overflow:hidden;
        // max-width:70%;
    }

    &-content {
        margin-right: auto;
        margin-bottom: 2rem;
        padding-right: 1rem;
        // max-width: 46rem;
        @media only screen and (min-width: 57rem) {
        }

        .title-fix {
            max-width: fit-content;
        }
    }

    &-link {
        display: block;
        color: $color__navy;

        &:visited {
            color: $color__navy;
        }
    }

    &-description {
        margin-bottom: 0.5rem;
        max-width: 90%;
        font-weight: 100;
        word-wrap: break-word;
        overflow-wrap: anywhere;
    }

    &-desc {
        max-width: 12rem;
        margin-bottom: 0;
        margin-top: 0.2rem;
    }

    &-metadata-item {
        font-weight: 100;
        // line-height:2em;
    }

    &-metadata-item-held-by-icon {
        // list-style-image: url(/static/images/icons/search-archive-icon.svg);
        background-image: url("/static/images/icons/search-archive-icon.svg");
        background-repeat: no-repeat;
        padding-left: 2rem;
        background-position: 0 center;
        vertical-align: middle;
        font-weight: 100;
    }

    &-metadata-item-date-icon {
        // list-style-image: url(/static/images/icons/search-calendar-icon.svg);
        background-image: url("/static/images/icons/search-calendar-icon.svg");
        background-repeat: no-repeat;
        padding-left: 2rem;
        background-position: 0 center;
        vertical-align: middle;
    }

    &-metadata-item-data-icon {
        // list-style-image: url(/static/images/icons/search-data-icon.svg);
        background-image: url("/static/images/icons/search-data-icon.svg");
        background-repeat: no-repeat;
        padding-left: 2rem;
        background-position: 0 center;
        vertical-align: middle;
    }

    &-metadata-item-subjects-icon {
        // list-style-image: url(/static/images/icons/search-tag-icon.svg);
        list-style-type: none;

        /*
      background-image: url(/static/images/icons/search-tag-icon.svg);
      background-repeat: no-repeat;
      padding-left: 2rem;
      background-position: 0 center;
      vertical-align: middle;

       */
    }

    &-delivery-options {
        // margin-right: 1rem;
        // &-img {
        // border: 1px solid $color__grey-3;
        // width:100%;
        // }
        margin-right: 1rem;
        margin-bottom: 1rem;

        &-desc {
            // max-width: 12rem;
            // max-width: 100%;
            // width:183px;
            margin-bottom: 0;
            // margin-top: 0.2rem;
            padding: 1em 0;
            background: black;
            text-align: center;
        }

        &-link {
            display: block;
            color: white;
            text-decoration: none;
            flex: 0 0 200px;
        }

        &-link:hover {
            color: white;
        }

        &-link:visited {
            color: white;
        }

        @media only screen and (max-width: $screen__md) {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            // margin-top:1em;
            &-desc {
                max-width: 100%;
                margin: auto;
            }
        }

        &--grid {
            @extend .search-results__list-card-delivery-options;

            &-desc {
                max-width: 100%;
            }
        }

        @media only screen and (max-width: $screen__md) {
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            &-desc {
                max-width: 100%;
            }
        }
    }
}

.search-list-image {
    position: absolute;
    right: 50px;
    @media only screen and (max-width: 1320px) {
        right: 80px;
    }
    @media only screen and (max-width: 1080px) {
        right: 120px;
    }
    @media only screen and (max-width: 768px) {
        position: unset;
    }
}

.search-image-grid,
.search-results-grid {
    width: 100%;
}

.search-results__list-card-metadata {
    // padding-left:1.5rem;
    // white-space: nowrap;
}

/* ------- */

.search-results__list-card-details {
    flex: 1 1 auto;
    @media only screen and (max-width: 480px) {
        padding-left: 0.5rem;
    }
}

.search-results__list-card-image {
    margin-left: 20px;
    flex: 0 0 200px;
    margin-bottom: 1em;
}

.search-results__list-card-image-anchor {
    display: block;

    img {
        width: 100%;
        display: block;
    }
}

@media only screen and (max-width: $screen__md) {
    .search-results__list-card {
        display: block;
        // margin-left:2em;
    }

    .search-results__list-card-image {
        max-width: 200px;
        margin: 0 auto;
    }
}

/* ---additional styles for All results-- */

.featured-search__website-results__head {
    @media only screen and (min-width: #{$screen__md + 1px}) {
        padding-left: 1.75em;
        padding-bottom: 1em;
    }
}

.featured-search__website-results-list {
    padding-left: 1em;
    width: 100%;
}

.featured-search__website-results-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.featured-search__website-results-list li {
    float: left;
    list-style-type: none;
}

.search-results__list-card-full-width-image {
    margin-bottom: 1em;
}

.format {
    width: 0;
}

.inline-fix {
    margin-left: 48px;
}

.image-web-results {
    flex: 0 0 348px;
    max-width: 100%;
    margin-left: 1em;
    margin-right: 1em;
    @media only screen and (min-width: #{$screen__sm + 1px}) {
        margin-left: 0;
    }
}
