/* stylelint-disable -- This will become redundant when the new frontend is added */
@use "@nationalarchives/frontend/nationalarchives/tools/colour";

.search-buckets {
    @media only screen and (max-width: $screen__md) {
        display: none;
    }
    display: flex;
    flex-wrap: wrap;

    &__list {
        width: 100%;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        display: flex;
        flex-wrap: wrap;
        order: -1;

        &-item {
            width: 18%;
            min-height: 100px;
            margin-right: 0.5rem;
            margin-bottom: 1rem;
            margin-left: 0.5rem;

            display: inline-block;

            font-family: $font__supria-sans;
            font-size: 1.2rem;

            list-style: none;

            &--website {
                @extend .search-buckets__list-item;
                width: 15%;
            }

            @media only screen and (max-width: $screen__md) {
                width: 100%;
                min-height: 10px;
                margin-right: 0;

                display: block;
            }
        }

        @media only screen and (max-width: $screen__md) {
            margin-bottom: 0;
        }
    }

    &__link {
        // @include colour.colour-border("keyline", 1px);
        width: 100%;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
        padding: 14px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: $color__navy;
        text-align: center;
        text-decoration: none;

        border: 1px solid $color__grey-500;

        &,
        &:link,
        &:visited {
            @include colour.colour-font("font-base");
        }

        &[aria-current="true"],
        &:hover,
        &:focus {
            color: #000;

            background-color: $color__yellow;
        }
    }

    &__toggle-button {
        @extend .search-results__filter-button;
        margin: 0 auto 0.5rem;

        display: block;

        &::before {
            position: relative;
        }
    }
}
