{% extends 'base_page.html' %}

{% load static %}
{% load wagtailcore_tags %}
{% load sections_tags %}
{% load wagtailmetadata_tags %}
{% block meta_tag %}
  {% meta_tags %}
{% endblock %}
{% block content %}
    {% include 'includes/generic-intro.html' %}
    {% include 'includes/hero-img.html' %}

    <div class="stories-container">
        <div class="stories-container__sidebar">
            {% jumplinks page %}
        </div>

        <div class="stories-container__main">
            {% if page.display_content_warning %}
                {% include 'includes/content-warning.html' %}
            {% endif %}
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>

        <div class="stories-container-related-content">
            <div class="container">
                {% if page.similar_items %}
                    <h2 class="stories-container-related-content__heading">You may also be interested in</h2>

                    <ul class="card-group--list-style-none">
                        {% for item in page.similar_items %}
                            {% include 'includes/card-group-secondary-nav.html' with page=item heading="You may also be interested in" %}
                        {% endfor %}
                    </ul>
                {% endif %}

                {% include 'includes/related-ce-content.html' %}

                {% if page.latest_items %}
                    <h2 class="stories-container-related-content__heading">More stories</h2>

                    <ul class="card-group--list-style-none">
                        {% for item in page.latest_items %}
                            {% include 'includes/card-group-secondary-nav.html' with page=item heading="More stories" %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/stories.js' %}"></script>
 {% endblock %}
