{% load wagtailimages_tags %}

{% image value.page.specific.teaser_image fill-288x172 as teaser_image_small %}
{% image value.page.specific.teaser_image fill-328x196 as teaser_image_medium %}
{% image value.page.specific.teaser_image fill-348x208 as teaser_image_large %}
{% image value.page.specific.teaser_image fill-508x304 as teaser_image_extra_large %}

{% comment %}

Markup taken from card-group-secondary-nav.html 

That template expects a page whereas this template is populated using a block
containging a page with fields to optionally override some fields.

{% endcomment %}

<li class="col-sm-12 col-md-6 col-lg-4 mb-3">
    <div class="card-group-secondary-nav">
        <a href='{{ value.page.url }}' 
        class="card-group-secondary-nav__image-link" 
        data-card-type="card-group-secondary-nav" 
        data-card-title="{{ value.title | default:value.page.title }}"
        aria-labelledby="card-group-secondary-nav__desc{{ value.id | default:value.page.id }}{% if instance_id %}-{{ instance_id }}{% endif %}">
            <div class="card-group-secondary-nav__image">
                <picture>
                    <source media="(max-width: 768px)" srcset="{{ teaser_image_extra_large.url }}">
                    <source media="(max-width: 991px)" srcset="{{ teaser_image_medium.url }}">
                    <source media="(max-width: 1199px)" srcset="{{ teaser_image_small.url }}">
                    <source media="(min-width: 1200px)" srcset="{{ teaser_image_large.url }}">
                    <img src="{{ teaser_image_extra_large.url }}" alt="" class="card-group-secondary-nav__image-fallback">
                </picture>
            </div>
        </a>
        <div class="card-group-secondary-nav__body">
            <h3 class="card-group-secondary-nav__heading">
                <a href='{{ value.page.url }}'
                id="card-group-secondary-nav__desc{{ value.id | default:value.page.id }}{% if instance_id %}-{{ instance_id }}{% endif %}"
                class="card-group-secondary-nav__title-link"
                data-card-type="card-group-secondary-nav"
                data-card-title="{{ value.title | default:value.page.title }}">
                    {{ value.title | default:value.page.title }}
                </a>
            </h3>
            <p class="card-group-secondary-nav__paragraph">{{ value.description }}</p>
        </div>
    </div>
</li>
