{% load wagtailcore_tags %}

<div class="media-embed" style="background: url(/static/images/media-embed-bg.png)">
    <div class="media-embed__overlay"></div>
    <div class="media-embed__content-panel">
        <img class="media-embed__icon" src="/static/images/fontawesome-svgs/video-white.svg" alt="">
        <p class="media-embed__icon-label" role="presentation" aria-hidden="true">
            Video
        </p>

        <h3 class="media-embed__heading">
            <span class="sr-only">Video.</span>
            {{ value.heading }}
        </h3>

        {% if value.date %}
            <p class="media-embed__date">
                <time datetime="{{ value.date|date:'Y-m-d'}}">{{ value.date|date:"l j F Y" }}</time>
            </p>
        {% endif %}

        {% if value.description %}
            <p class="media-embed__description">
                {{ value.description|richtext }}
            </p>
        {% endif %}

        {% if value.media_file_url %}
            <div class="media-embed__video-container">
                <video class="media-embed__video" controls="">
                    <source src="{{ value.media_file_url }}" type="video/mp4">
                    <p>Your browser doesn't support HTML5 video. Here is a <a href="{{ value.media_file_url }}">link to the video</a>
                        instead.</p>
                </video>
            </div>
        {% endif %}

        {% if value.transcript %}
            <div class="media-embed__transcript">
                <h4 class="media-embed__transcript-heading">Transcript</h4>
                <div class="media-embed__transcript-text">
                    {{ value.transcript|richtext }}
                </div>
            </div>
        {% endif %}
    </div>
</div>
