{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}

    <div class="generic-intro">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="generic-intro__title">
                        Page not found
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4 pb-6">
        <div class="row">
            <div class="col-12">
                <p>Sorry, this page could not be found.</p>
            </div>
        </div>
    </div>

{% endblock %}
