{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Page not found - The National Archives</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/dist/etna.css' %}">

        {% if show_cookie_notice %}
            <link rel="stylesheet" type="text/css" href="{% static 'cookie-consent/ds-cookie-consent.css' %}">
        {% endif %}

        {% if cookies_permitted %}
            {% include 'includes/gtm-script.html' %}
        {% endif %}

        {# Google Fonts #}
        <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
            rel="stylesheet"> -->

        {# Adobe Fonts #}
        <link rel="preconnect" href="https://use.typekit.net">
        <link rel="stylesheet" href="https://use.typekit.net/hkj3kuz.css">

        {# Favicon #}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

        <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';</script>
    </head>

    <body class="template-404">
        {% if show_cookie_notice %}
            {% include 'includes/cookie-consent.html' %}
        {% endif %}

        {% if cookies_permitted %}
            {% include 'includes/gtm-no-script.html' %}
        {% endif %}
        <a href="#maincontent" class="tna-skip-link" data-link="Skip to main content">Skip to main content</a>
        {% include 'includes/header.html' %}

        <main id="maincontent">
            <div class="generic-intro">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="tna-heading generic-intro__title">
                                Page not found
                            </h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-4 pb-6">
                <div class="row">
                    <div class="col-12">
                        <p>Sorry, this page could not be found.</p>
                    </div>
                </div>
            </div>
        </main>

        {% include 'includes/footer.html' %}

        {% if show_cookie_notice %}
            <script src="{% static 'scripts/cookie_consent.js' %}"></script>
        {% endif %}
    </body>
</html>
