{% load static %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title>Internal server error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <script>
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push({
                "contentGroup1": "Error pages",
                "customDimension1": "offsite",
                "customDimension3": "500 server error page"
            });
        </script>

        {% if show_cookie_notice %}
            <link rel="stylesheet" type="text/css" href="{% static 'cookie-consent/ds-cookie-consent.css' %}">
        {% endif %}

        {% if cookies_permitted %}
            {% include 'includes/gtm-script.html' %}
        {% endif %}

        {# Adobe Fonts #}
        <link rel="preconnect" href="https://use.typekit.net">
        <link rel="stylesheet" href="https://use.typekit.net/hkj3kuz.css">

        {# Favicon #}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    </head>
    <body>
        {% if show_cookie_notice %}
            {% include 'includes/cookie-consent.html' %}
        {% endif %}

        {% if cookies_permitted %}
            {% include 'includes/gtm-no-script.html' %}
        {% endif %}

        <h1 class="tna-heading-xl">Internal server error</h1>

        <h2 class="tna-heading-l">Sorry, there seems to be an error. Please try again soon.</h2>

        {% if show_cookie_notice %}
            <script src="{% static 'scripts/cookie_consent.js' %}"></script>
        {% endif %}
    </body>
</html>
