{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Site Maintenance - The National Archives</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/dist/etna.css' %}">

        {% if show_cookie_notice %}
            <link rel="stylesheet" type="text/css" href="{% static 'cookie-consent/ds-cookie-consent.css' %}">
        {% endif %}

        {% if cookies_permitted %}
            {% include 'includes/gtm-script.html' %}
        {% endif %}

        {# Google Fonts #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
            rel="stylesheet">

        {# Adobe Fonts #}
        <link rel="preconnect" href="https://use.typekit.net">
        <link rel="stylesheet" href="https://use.typekit.net/hkj3kuz.css">
    
        {# Favicon #}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

        <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';</script>
    </head>

    <body class="template-404">
        {% if show_cookie_notice %}
            {% include 'includes/cookie-consent.html' %}
        {% endif %}

        {% if cookies_permitted %}
            {% include 'includes/gtm-no-script.html' %}
        {% endif %}
        <div class="global-tna-link tna-bg--dark">
            <a href="https://www.nationalarchives.gov.uk/" target="_blank" class="global-tna-link__link" data-component-name="Banner" data-link-type="Link text" data-link="Go to the current National Archives website">
                Go to the current National Archives website <span class="sr-only">Opens in a new tab</span>
            </a>
        </div>
        <main id="maincontent">
            <div class="maintenance">
                <h1 class="tna-heading maintenance__heading">Sorry, The National Archives Beta website is temporarily down for maintenance.</h1>
                <p class="maintenance__text">Please try again in a few minutes</p>
<!--                <p class="maintenance__text maintenance__text&#45;&#45;small">-->
<!--                    Follow us on <a href="https://twitter.com/UkNatArchives" rel="noopener noreferrer">Twitter</a> for updates-->
<!--                </p>-->
                <img src="{% static 'images/tna-blk-logo.svg' %}" class="maintenance__logo-image" alt=""/>
            </div>
        </main>

        {% if show_cookie_notice %}
            <script src="{% static 'scripts/cookie_consent.js' %}"></script>
        {% endif %}
    </body>
</html>
