{% load static wagtailuserbar %}
{% load alert_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/dist/etna.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {# Google Fonts #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
          rel="stylesheet">

    {% include 'includes/gtm-script.html' %}

    <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';</script>
    {% block analytics_json %}
            {# Override this in templates to add an analytics json #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}
{% alerts page=page %}
{% include 'includes/gtm-no-script.html' %}
{% include 'includes/header.html' %}

<main id="maincontent">
    {% block content %}{% endblock %}
</main>

{% include 'includes/footer.html' %}

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
