{% extends "base.html" %}
{% load datalayer_tags wagtailimages_tags wagtailcore_tags %}

{% comment %}
    Base template for rendering Wagtail page instances
{% endcomment %}

{% block meta_tag %}
    {{ block.super }}
    {% image page.teaser_image fill-500x500 as teaser_img %}
    {% image page.search_image fill-500x500 as og_img %}
    {% image page.twitter_og_image fill-500x500 as twitter_img %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{% firstof page.twitter_og_title page.seo_title page.title 'Untitled' %}">
    <meta name="twitter:description" content="{% firstof page.twitter_og_description page.search_description page.teaser_text %}">
    <meta name="twitter:image" content="{% firstof twitter_img.full_url og_img.full_url teaser_img.full_url %}">
    <meta property="og:url" content="{{ page.full_url }}">
    <meta property="og:title" content="{% firstof page.seo_title page.title 'Untitled' %}">
    <meta property="og:description" content="{% firstof page.search_description page.teaser_text %}">
    <meta property="og:image" content="{% firstof og_img.full_url teaser_img.full_url %}">
    <meta property="og:image:width" content="{% firstof og_img.width teaser_img.width %}">
    <meta property="og:image:height" content="{% firstof og_img.height teaser_img.height %}">
{% endblock %}

{% block extra_gtm_js %}
    {% render_gtm_datalayer page %}
{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}
