{% load static wagtailuserbar wagtailcore_tags wagtailsettings_tags robots_meta %}<!DOCTYPE html>
{% get_settings %}
<html class="tna-template tna-template--light-theme tna-template--yellow-accent no-js {% block html_class%}{% endblock %}" lang="en-GB">
    <head>
    {% if request.in_preview_panel %}
    <base target="_blank">
    {% endif %}
        <meta charset="utf-8" />
        {% block meta_tag %}
        {% wagtail_site as current_site %}
            <title>
                {% block prepend_title %}{% endblock %}
                {% block title_prefix %}
                    {% if form.errors %}Error: {% endif %}
                {% endblock %}
                {% block title %}
                    {% firstof page.seo_title page.title meta_title "Untitled" %}
                {% endblock %}
                {% block title_suffix %}
                    – {{ current_site.site_name }}
                {% endblock %}
            </title>
        <meta property="og:site_name" content="{{ current_site.site_name }}">
        <meta property="og:locale" content="en_GB">
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <meta name="format-detection" content="telephone=no" />
        <!--hiding from robots/indexing if search pages or detail page.-->
        {% if request.path|is_search_or_catalogue %}
        <meta name="robots" content="noindex,nofollow">
        {% endif %}





        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/dist/etna.css' %}">

        {% if show_cookie_notice %}
            <link rel="stylesheet" type="text/css" href="{% static 'cookie-consent/ds-cookie-consent.css' %}">
        {% endif %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {% block extra_gtm_js %}
            {# Override this in templates to add extra javascript to be used by GTM #}
        {% endblock %}

        {% if cookies_permitted %}
            {% include 'includes/gtm-script.html' %}
        {% endif %}

        <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';</script>

        {# Adobe Fonts #}
        <link rel="preconnect" href="https://use.typekit.net">
        <link rel="stylesheet" href="https://use.typekit.net/hkj3kuz.css">

        {# Favicon #}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    </head>

    <body class="tna-template__body {% block body_class %}{% endblock %}">
        {# icon sprites #}
        {% include "includes/icons/sprites.html" %}

        {% if show_cookie_notice %}
            {% include 'includes/cookie-consent.html' %}
        {% endif %}
        <a href="#maincontent" class="tna-skip-link" data-link="Skip to main content">Skip to main content</a>
        {% if search_query %}
            <a href="#search-results-title" class="tna-skip-link">Skip to search results</a>
        {% endif %}

        {% wagtailuserbar %}

        {% if cookies_permitted %}
            {% include 'includes/gtm-no-script.html' %}
        {% endif %}

        {% block header %}
            {% include 'includes/header.html' %}
        {% endblock %}

        {% block breadcrumb %}
        <div class="tna-breadcrumb-wrapper">
            <div class="tna-container">
                <div class="tna-column">
                    {% include 'components/breadcrumb.html' %}
                </div>
            </div>
        </div>
        {% endblock %}

        {% block main %}

            <main id="maincontent">
                {% block content %}{% endblock %}
            </main>

        {% endblock %}

        {% block footer %}
            {% include 'includes/footer.html' %}
        {% endblock %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        <script src="{% static 'scripts/all.js' %}"></script>
        <script src="{% static 'scripts/global_search.js' %}"></script>
        <script src="{% static 'scripts/hamburger_menu.js' %}"></script>
        <script src="{% static 'scripts/feedback_tracking.js' %}"></script>
        {% if show_cookie_notice %}
            <script src="{% static 'scripts/cookie_consent.js' %}"></script>
        {% endif %}
    </body>
</html>
