{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        {% comment %}
            The title should vary depending on whether this layout is being applied to the image viewer or browse
            and contain the same text as is in the h1 for those pages
        {% endcomment %}
        <title>
            {{ page.reference_number }}
            {% if images_count %}
                - {{ images_count }} Images

            {% else %}
                - Image {{ index|add:'1' }} of {{ images.count }}
            {% endif %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        {% comment %}     
        # TODO commented to allow upgrade to Django 4.1.X;Client API open beta API does not support media. Re-enable/update once media is available.
        <link rel="stylesheet" type="text/css" href="{% static 'css/libraries/tna-toolkit.0.0.1.css' %}">
        {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/dist/app.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

    {% block extra_gtm_js %}
        {# Override this in templates to add extra javascript to be used by GTM #}
    {% endblock %}

    {% include 'includes/gtm-script.html' %}

    {# Google Fonts #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';</script>
</head>

<body class="{% block body_class %}{% endblock %}">
<a href="#maincontent" class="tna-skip-link" data-link="Skip to main content">Skip to main content</a>

{% include 'includes/gtm-no-script.html' %}

<main id="maincontent">
    {% block content %}{% endblock %}
</main>

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
