{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        {% comment %}
            The title should vary depending on whether this layout is being applied to the image viewer or browse
            and contain the same text as is in the h1 for those pages
        {% endcomment %}
        <title>CAB 23/78</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/libraries/tna-toolkit.0.0.1.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dist/etna.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% block extra_gtm_js %}
        {# Override this in templates to add extra javascript to be used by GTM #}
    {% endblock %}

    {% include 'includes/gtm-script.html' %}

    {# Google Fonts #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';</script>
</head>

<body class="{% block body_class %}{% endblock %}">

{% include 'includes/gtm-no-script.html' %}

<main id="maincontent">
    {% block content %}{% endblock %}
</main>

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
