{% extends 'base_page.html' %}

{% load static wagtailimages_tags wagtailcore_tags i18n %}

{% block content %}
    {% include "includes/generic-intro.html" with title=page.title intro=page.intro %}

    <div id="analytics-explorer-index" data-container-name="explorer-index">
        <div class="card-group--no-flex u-margin-m">
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>
    
    <div class="tna-container">
        <div class="tna-column tna-column--full">
            <h2 class="tna-heading-l">{{ page.articles_title }}</h2>
            <p>{{ page.articles_introduction }}</p>

            {% if page.featured_article.live %}
                {% include "includes/article-spotlight.html" with page=page.featured_article.specific %}
            {% endif %}
        </div>

        {% include_block page.featured_articles with heading=page.articles_title %}

        <div class="tna-column tna-column--full">
            <div class="featured-articles__cta">
                {% comment %} TODO: update BEM button styles for consistency across site {% endcomment %}
                <a href="/stories"
                class="tna-button"
                data-link-type="Button"
                data-component-name="Articles section: {{ page.articles_title }}"
                data-link="Browse all stories">Browse all stories</a>
            </div>

        </div>
    </div>
    
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/explorer.js' %}"></script>
{% endblock %}
