{% extends 'base_page.html' %}

{% load static wagtailimages_tags wagtailcore_tags i18n %}

{% block content %}
    {% include "includes/generic-intro.html" with title=page.title intro=page.intro %}

    <div id="analytics-explorer-index" data-container-name="explorer-index">
        <div class="card-group--no-flex u-margin-m">
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>

    <section class="tna-section tna-!--no-padding-top">
      <div class="tna-container">
        <div class="tna-column tna-column--full">
          <div class="tna-background-tint tna-!--padding-top-s tna-!--padding-bottom-m">
            <div class="tna-container">
              <div class="tna-column tna-column--flex-1 tna-!--padding-top-s">
                <form method="get" action="https://discovery.nationalarchives.gov.uk/results/r">
                  <div class="tna-search-field etna-etc-search">
                    <div class="tna-form__group etna-etc-search">
                      <div class="tna-form__group-contents">
                        <h2 class="tna-form__heading tna-form__heading--l">
                          <label class="tna-form__label" for="search-catalogue">
                            Looking for particular records? Search our catalogue
                          </label>
                        </h2>
                        <p id="search-catalogue-hint" class="tna-form__hint">
                          Our catalogue, Discovery, holds more than 37 million descriptions of records held by The National Archives and archives across the country.
                        </p>
                      </div>
                      <div class="tna-search-field__fields">
                        <input type="search" id="search-catalogue" class="tna-search-field__input " name="_q" value="" spellcheck="false" aria-describedby="search-catalogue-hint">
                        <button type="submit" class="tna-button tna-search-field__button">
                          Search
                          <i class="fa-solid fa-fw fa-arrow-right tna-!--hide-on-tiny" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="tna-column tna-column--full-small tna-column--full-tiny tna-column--align-bottom tna-!--padding-top-s">
                <div class="tna-button-group">
                  <a href="https://discovery.nationalarchives.gov.uk/advanced-search" class="tna-button tna-button--plain">
                    Advanced search
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <div class="tna-container">
        <div class="tna-column tna-column--full">
            <h2 class="tna-heading-l">{{ page.articles_title }}</h2>
            <p>{{ page.articles_introduction }}</p>

            {% if page.featured_article.live %}
                {% include "includes/article-spotlight.html" with page=page.featured_article.specific %}
            {% endif %}
        </div>

        {% include_block page.featured_articles with heading=page.articles_title %}

        <div class="tna-column tna-column--full">
            <div class="featured-articles__cta">
                <a href="/explore-the-collection/stories/"
                class="tna-button"
                data-link-type="Button"
                data-component-name="Articles section: {{ page.articles_title }}"
                data-link="Browse all stories">Browse all stories</a>
            </div>

        </div>
    </div>
    
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/explorer.js' %}"></script>
{% endblock %}
