{% extends 'base_page.html' %}

{% load i18n static wagtailcore_tags wagtailimages_tags records_tags wagtailmetadata_tags %}

{% block content %}
    {% include "includes/generic-intro.html" with title=page.title intro=page.intro display_content_warning=page.display_content_warning custom_warning_text=page.custom_warning_text %}

    {% if page.highlights %}
        {% include 'includes/highlights-gallery.html' with highlights=page.highlights %}
    {% endif %}

    {% if page.featured_record_article.live %}
        {% include 'includes/record-revealed.html' with link_page=page.featured_record_article %}
    {% endif %}

    {% if page.featured_article.live %}
    <div class="tna-container">
    <div class="tna-column tna-column--full">
        {% include "includes/article-spotlight.html" with page=page.featured_article.specific %}
    </div>
    </div>
    {% endif %}

    {% if page.primary_topic or page.time_period %}
        {% include "includes/related_topic_timeline_cards.html" with topic=page.primary_topic time_period=page.primary_time_period title="More to explore" %}
    {% endif %}
{% endblock %}
