{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block content %}
    {% include 'includes/generic-intro.html' %}

    <div class="container" data-container-name="time-period-explorer" id="analytics-time-period-explorer">
        <div class="row">
            <div class="col-md-12">
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/explorer.js' %}"></script>
{% endblock %}
