{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block content %}
    {% include 'includes/generic-intro--dark.html' %}

    <div class="container mt-4">
            <h2 class="sr-only">Select a time period</h2>
            <ul class="row card-group">
                {% for child in page.time_period_explorer_pages %}
                    {% include 'includes/card-group-secondary-nav.html' with page=child.specific %}
                {% endfor %}
            </ul>
        <div class="row">
            <div class="col-md-12" id="content">
                <h2>More ways to explore</h2>
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
