{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load datalayer_tags %}

{% block extra_gtm_js %}
{{ page | datalayer_data:request.user | json_script:"datalayer-data" }}

<script>
    dataLayer = [JSON.parse(document.getElementById('datalayer-data').textContent)];
</script>
{% endblock extra_gtm_js %}

{% block content %}
    {% include 'includes/generic-intro.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-12" id="content">
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
