{% extends 'base_page.html' %}

{% load static %}
{% load wagtailcore_tags %}

{% block content %}
    {% include 'includes/generic-intro.html' %}

    <div class="container" data-container-name="time-period-explorer" id="analytics-time-period-explorer">
        <div class="row">
            <div class="col-md-12">
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
        {% if FEATURE_RELATED_INSIGHTS_ON_EXPLORE_PAGES %}
        <div class="row">
            <div class="col-md-12">
                 {% for insights_page in page.related_insights %}
                <li>
                       <a href="{% pageurl insights_page %}">{{ insights_page.title }}</a>
                </li>
            {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>


{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/explorer.js' %}"></script>
{% endblock %}
