{% extends "base_page.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}
{% block meta_tag %}
    {% meta_tags %}
{% endblock meta_tag %}
{% block content %}
    {% include "includes/generic-intro.html" with title=page.title intro=page.intro %}
    {% comment %}
    <div class="row">
        <div class="col-md-12">
            {% for highlight_gallery in page.related_highlight_gallery_pages %}
                <li>
                    <a href="{% pageurl highlight_gallery %}">{{ highlight_gallery.title }}</a>
                </li>
            {% endfor %}
        </div>
    </div>
    {% endcomment %}
    {% if FEATURE_RELATED_ARTICLE_ON_EXPLORE_PAGES and page.related_record_articles %}
        {% include "includes/related-articles-highlight-cards.html" with articles=page.related_record_articles title="Records revealed" %}
    {% endif %}
    {% if page.featured_article %}
        {% include "includes/article-spotlight.html" with page=page.featured_article %}
    {% endif %}
    <div class="container"
         data-container-name="topic-explorer"
         id="analytics-topic-explorer">
        <div class="row">
            <div class="col-md-12">
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if page.related_articles %}
        <div class="row">
            <div class="col-md-12">
                {% for article_page in page.related_articles %}
                    <li>
                        <a href="{% pageurl article_page %}">{{ article_page.title }}</a>
                    </li>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'scripts/explorer.js' %}"></script>
{% endblock extra_js %}
