{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block content %}
    {% include 'includes/generic-intro.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-12" data-container-name="topic-explorer" id="analytics-topic-explorer">
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/explorer.js' %}"></script>
{% endblock %}

