{% extends 'base_page.html' %}

{% load i18n static wagtailcore_tags wagtailimages_tags %}
{% load wagtailmetadata_tags %}
{% block meta_tag %}
  {% meta_tags %}
{% endblock %}
{% block content %}
    {% include 'includes/generic-intro.html' %}
    {% if page.featured_story %}
            <div class="container">
                <div class="featured-story">
                    {% if page.featured_story.teaser_image %}
                        <div class="featured-story__image">
                            <picture>
                                {% image page.featured_story.teaser_image fill-412x361 as hero %}
                                <source media="(max-width: 480px)" srcset="{{ hero.url }}">
                                {% image page.featured_story.teaser_image fill-510x351 as hero %}
                                <source media="(max-width: 640px)" srcset="{{ hero.url }}">
                                {% image page.featured_story.teaser_image fill-510x304 as hero %}
                                <source media="(max-width: 768px)" srcset="{{ hero.url }}">
                                {% image page.featured_story.teaser_image fill-345x495 as hero %}
                                <source media="(max-width: 991px)" srcset="{{ hero.url }}">
                                {% image page.featured_story.teaser_image fill-555x367 as hero %}
                                <source media="(max-width: 1200px)" srcset="{{ hero.url }}">
                                {% if page.featured_story.hero_image_decorative %}
                                    <img src="{{ hero.url }}" alt="" />
                                {% else %}
                                    <img src="{{ hero.url }}" alt="{{page.featured_story.hero_image_alt_text}}" />
                                {% endif %}
                            </picture>
                        </div>
                    {% endif %}
                <div class="featured-story__description">
                    <h2 class="featured-story__heading">
                        <small>{% trans "Spotlight on" %}</small>
                        {{ page.featured_story.title }}
                    </h2>
                    <p>{{ page.featured_story.sub_heading }}</p>
                    <a class="tna-button--dark" href="{% pageurl page.featured_story %}">Read</a>
                </div>
            </div>
        </div>
    {% endif %}
    
    <div class="container" data-container-name="topic-explorer" id="analytics-topic-explorer">
        <div class="row">
            <div class="col-md-12">
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>

    {% if FEATURE_RELATED_STORIES_ON_EXPLORE_PAGES %}
        <div class="row">
            <div class="col-md-12">
                 {% for stories_page in page.related_stories %}
                     <li>
                       <a href="{% pageurl stories_page %}">{{ stories_page.title }}</a>
                     </li>
                  {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/explorer.js' %}"></script>
{% endblock %}
