.field-title__subheading {
  font-size: 11px;
}

/* Add padding and background colour to Draftail character counts to
aid legibility when appearing over help text */

.inputlengthindicator {
  padding-right: 0.375rem;
  padding-left: 0.375rem;

  display: block;

  position: absolute;
  right: 0;
  bottom: -1.6rem;

  background-color: #fff;
  pointer-events: none;
  font-variant-numeric: tabular-nums;
}

.inputlengthindicator--exceeded {
  color: #cd4444;
}

/* Add padding and background colour to Draftail character counts to
aid legibility when appearing over help text */

.Draftail-MetaToolbar {
  padding-right: 0 !important;
}

.Draftail-MetaToolbar .w-help-text {
  padding-right: 0.375rem;
  padding-left: 0.375rem;

  background-color: #fff;
}
