<{{ htmlElement|default:"div" }} class="tna-card {{ classes }}{% if horizontal %} tna-card--horizontal{% endif %}{% if style == 'boxed' %} tna-card--contrast{% endif %}{% if style == 'accent' %} tna-card--accent{% endif %}" data-module="tna-card"{% for attribute, value in attributes.items %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="tna-card__inner">
    {% if event %}
      {% if event_type or access_descriptor %}
        <ul class="tna-card__tags">
          {% if event_type %}
            <li class="tna-card__tag tna-card__tag--event-type">{{ event_type }}</li>
          {% endif %}
          {% if access_descriptor %}
            <li class="tna-card__tag tna-card__tag--access">{{ access_descriptor }}</li>
          {% endif %}
        </ul>
      {% endif %}
    {% endif %}
    {% if supertitle %}
      {% if not singleSentence %}
        <hgroup class="tna-hgroup tna-hgroup--{{ headingSize|default:'m' }} tna-card__heading">
          <p class="tna-hgroup__supertitle">{{ supertitle }}</p>
          <h{{ headingLevel }} class="tna-hgroup__title">
          {% if href %}
            <a href="{{ href }}" class="tna-card__heading-link">{{ title }}</a>
          {% else %}
            {{ title }}
          {% endif %}
          </h{{ headingLevel }}>
        </hgroup>
      {% else %}
        <hgroup class="tna-hgroup tna-hgroup--{{ headingSize|default:'m' }} tna-card__heading">
          <h{{ headingLevel }} class="tna-hgroup__title">
            <span class="tna-hgroup__supertitle">{{ supertitle }}</span>
          {% if href %}
            <a href="{{ href }}" class="tna-card__heading-link">{{ title }}</a>
          {% else %}
            {{ title }}
          {% endif %}
          </h{{ headingLevel }}>
        </hgroup>
      {% endif %}
    {% else %}
      <h{{ headingLevel }} class="tna-card__heading tna-heading tna-heading--{{ headingSize|default:'m' }} {% if highlight %}tna-card__heading--has-highlight{% endif %}">
      {% if href %}
        <a href="{{ href }}" class="tna-card__heading-link">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
      </h{{ headingLevel }}>
    {% endif %}
    {% if highlight and highlight_color %}
      <div class="tna-card__highlight tna-card__highlight--{{ highlight_color }}">
        {{ highlight }}
      </div>
    {% endif %}
    {% if imageSrc %}
      {% if href %}
      <a href="{{ href }}" class="tna-card__image-container" tabindex="-1" title="{{ title }}">
      {% else %}
      <div class="tna-card__image-container">
      {% endif %}
        <picture class="tna-card__image">
          {% if imageSources %}
          {% for source in imageSources %}
          <source srcset="{{ source.src }}" type="{{ source.type }}" width="{% if source.width %}{{ source.width }}{% else %}{{ imageWidth }}{% endif %}" height="{% if source.height %}{{ source.height }}{% else %}{{ imageHeight }}{% endif %}">
          {% endfor %}
          <source srcset="{{ imageSrc }}" type="image/jpeg" width="{{ imageWidth }}" height="{{ imageHeight }}">
          {% endif %}
          <img src="{{ imageSrc }}" alt="{{ imageAlt }}" width="{{ imageWidth }}" height="{{ imageHeight }}">
        </picture>
        {% if label %}
        <div class="tna-chip tna-card__image-label">
          {{ label }}
        </div>
        {% endif %}
      {% if href %}
      </a>
      {% else %}
      </div>
      {% endif %}
    {% endif %}
    <div class="tna-card__body">
    {# for now I am splitting these out as this depends on how the data is recieved from the back-end #}
    {% if date or cost or venue_type %}
      {% include "includes/meta.html" %}
    {% endif %}
    {% if text %}
      <p>{{ text }}</p>
    {% else %}
      {{ body | safe }}
    {% endif %}
    </div>
  {% if actions %}
    <div class="tna-card__actions">
    {% for item in actions %}
      <a href="{{ item.href }}" class="tna-card__action" role="button" {% if item.title %}title="{{ item.title }}"{% endif %}>
        {% if item.brandIcon %}
        <i class="fa-brands fa-{{ item.brandIcon }}"></i>
        {% elif item.icon %}
        <i class="fa-solid fa-{{ item.icon }}"></i>
        {% endif %}
        {{ item.text }}
      </a>
    {% endfor %}
    </div>
    </div>
  {% endif %}
  </div>
</{{ htmlElement|default:"div" }}>
