{% if event_type or access_descriptor %}
    <ul class="event-tags {{ classes }}">
        {% if event_type %}
        <li class="event-tags__tag event-tags__tag--event-type">
            <span class="sr-only">Event type:</span> {{ event_type }}
        </li>
        {% endif %}
        {% if access_descriptor and not hide_access_descriptor %}
        <li class="event-tags__tag event-tags__tag--access">
            <span class="sr-only">Accessibility:</span> {{ access_descriptor }}
        </li>
        {% endif %}
    </ul>
{% endif %}
