<div
  class="featured-card {{ classes }}"
  {% for attribute, value in attributes.items %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
>
  <a href="{{ href }}" tabindex="-1" title="{{ title }}">
    <img src="{{ imageSrc }}" alt="{{ imageAlt }}" width="{{ imageWidth }}" height="{{ imageHeight }}" class="featured-card__image">
  </a>
  <p class="featured-card__pick">Our pick</p>
  <div class="featured-card__info">
    <div class="featured-card__tag-wrapper">
      {% include "components/event_tags.html" %}
    </div>

    <div class="featured-card__text-wrapper">
      <h{{ headingLevel }} class="featured-card__heading tna-heading tna-heading--{{ headingSize|default:'m' }}">
        <a href="{{ href }}" class="featured-card__heading-link">
          {{ title }}
        </a>
      </h{{ headingLevel }}>
      {% if date or cost or venue_type %}
        {% include "includes/meta.html" %}
      {% endif %}
    </div>
  </div>
</div>
