{% load wagtailimages_tags %}

<div class="people">
    <h3 class="people__title">{{ title }}</h3>

    <ul class="people__list">
        {% for person in people.all %}
            <li class="people__person">
                {% if person.image %}
                    {% image person.image fill-80x80 class="people__image" %}
                {% else %}
                    <i class="fa-solid fa-user fa-2xl people__image people__image--default"></i>
                {% endif %}

                <div class="people__text">
                    <p class="people__name">{{ person.name }}</p>

                    {% if person.description %}
                        <p class="people__description">{{ person.description }}</p>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
