.ohos-tag {
    display: inline-flex;
    border: 1px solid;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;

    &,
    &:link,
    &:visited {
        color: inherit;
        text-decoration: none;
    }

    &--location {
        background-color: #edae49;
    }

    &--person {
        background-color: #84a59d;
    }

    &--organisation {
        background-color: #b5e2fa;
    }

    &--misc {
        background-color: #f28482;
    }

    &--other {
        background-color: #faf0ca;
    }

    &--clear {
        background-color: $color--off-black;

        &,
        &:link,
        &:visited {
            color: $color--white;
        }
    }

    &__inner {
        display: block;
        padding: 0.25rem 0.5rem;
    }

    &__link {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        padding: 0.25rem 0.5rem;
        background-color: $color__grey-200;
        border-left: 1px solid $color__off-black;
        font-size: 0.9em;

        &,
        &:link,
        &:visited {
            color: inherit;
        }

        &:hover {
            text-decoration-thickness: inherit;
            background-color: $color__off-black;
            color: $color__grey-200;
        }
    }
}
