<!--new form element-->
<div class="search-sort-view search-others">
    <div class="tna-container">
        <div class="tna-column tna-column--full">
            <form method="GET" class="search-sort-view__form" data-id="search-bucket-mobile" id="search-bucket-mobile">
                <h2 class="tna-heading-l search-sort-view__heading">
                    <label for="id-for-this-dropdown">Show results from:</label>
                </h2>
                <select name="group" id="id-for-this-dropdown" class="search-sort-view__form-select">
                    {% for bucket in buckets %}
                        {% if bucket.result_count != None %}
                            <option value="{{ bucket.key }}" {% if bucket.is_current %}selected{% endif %} >{{ bucket.label_with_count }}</option>
                        {%endif%}
                    {% endfor %}
                </select>

                <input type="submit" value="Update" class="search-sort-view__form-submit">

                {% if form.q.value %}
                    {{form.q.as_hidden}}
                {% endif %}
            </form>
        </div>
    </div>
</div>
<!-- end new form element-->
<div class="tna-container">
<nav class="search-buckets" aria-label="Record categories">
    <ul class="search-buckets__list" data-id="search-buckets-list">
        {% for bucket in buckets %}
            {% if bucket.result_count != None %}
                <li class="search-buckets__list-item" data-current="{% if bucket.is_current %}true{% else %}false{% endif %}">
                    <a href="?{% if form.q.value %}q={{ form.q.value }}&{% endif %}group={{ bucket.key }}" class="search-buckets__link" aria-current="{% if bucket.is_current %}true{% else %}false{% endif %}">
                        {{ bucket.label_with_count }}
                    </a>
                </li>
            {%endif%}
        {% endfor %}
    </ul>
</nav>
</div>
