{% load records_tags search_tags %}

<div class="featured-search__results-block">
    <h2 class="tna-heading-l featured-search__heading">{{ bucket.label }}</h2>

    {% for record in bucket.results|slice:":3" %}
        <div class="featured-search__record-creator tna-!--margin-top-m">
            <!--
            <div>
                <a href="{% record_url record %}" aria-hidden="true" tabindex="-1" class="featured-search__card-link">
                    <div>
                        <img src="https://via.placeholder.com/565x400" alt="" class="featured-search__record-creator-image">
                    </div>
                </a>
            </div>
            -->
            <h3 class="tna-heading-m">
                <a href="{% record_url record %}">
                    {{ record.summary_title }}
                </a>
            </h3>
        </div>
    {% endfor %}

    <p class="featured-search__see-all-link">
        <a href="{% url 'search-catalogue' %}?q={{ search_query|iriencode }}&group={{ bucket.key }}">
            See all relevant {{ bucket.label_with_count }}
        </a>
    </div>
</div>
