<div>
    <a href="#" aria-hidden="true" tabindex="-1" class="featured-search__interpretive-card-link">
        <div>
            <picture class="featured-search__interpretive-card-image">
                <source media="(max-width: 768px)" srcset="https://via.placeholder.com/508x304">
                <source media="(max-width: 991px)" srcset="https://via.placeholder.com/328x196">
                <source media="(max-width: 1199px)" srcset="https://via.placeholder.com/288x172">
                <source media="(min-width: 1200px)" srcset="https://via.placeholder.com/348x208">
                <img src="https://via.placeholder.com/508x304" alt="" class="featured-search__interpretive-card-image-fallback"> 
            </picture>
        </div>
    </a>
        <div>
            <a href="#" class="featured-search__results-link">
                <h3 class="featured-search__heading">
                    Card title
                </h3>
            </a>
            <p class="featured-search__interpretive-card-description">Card description</p>
        </div>

</div>