{% load records_tags search_tags %}

<!--
<div class="featured-search__interpretive-results-section">
    <h2 class="tna-heading featured-search__heading">{{ bucket.label }}</h2>
    {% for record in bucket.results|slice:":1" %}
        <div>
            <a href={% record_url record %} aria-hidden="true" tabindex="-1" class="featured-search__interpretive-card-link">
                <div>
                    <picture class="featured-search__interpretive-card-image">
                        <source media="(max-width: 768px)" srcset="https://via.placeholder.com/508x304">
                        <source media="(max-width: 991px)" srcset="https://via.placeholder.com/268x160">
                        <source media="(max-width: 1199px)" srcset="https://via.placeholder.com/348x208">
                        <source media="(min-width: 1200px)" srcset="https://via.placeholder.com/348x208">
                        <img src="https://via.placeholder.com/348x208" alt="" class="featured-search__interpretive-card-image-fallback">
                    </picture>
                </div>
            </a>
                <div>
                    <a href={% record_url record %} class="featured-search__results-link">
                        <h3 class="tna-heading featured-search__heading">
                            {{ record.summary_title }}
                        </h3>
                    </a>
                    <p class="featured-search__interpretive-card-description">{{ record.content|truncatewords:40 }}</p>
                </div>
        </div>
    {% endfor %}
    <a href="/search/website?q={{ search_query|iriencode }}&group={{ bucket.key }}" class="featured-search__results-link">See all relevant {{ bucket.label_with_count }}</a>
</div>
-->
