{% load search_tags %}
{% load humanize %}

{% if result.hits.hits.0 %}
    {% with record=result.hits.hits.0 %}
    <div class="featured-search__interpretive-results-section">
        <h2 class="featured-search__heading">{{result.heading}}</h2>
        <div>
            <a href="{{ record|interpretive_url }}" aria-hidden="true" tabindex="-1" class="featured-search__interpretive-card-link">
                <div>
                    <picture class="featured-search__interpretive-card-image">
                        <source media="(max-width: 768px)" srcset="https://via.placeholder.com/508x304">
                        <source media="(max-width: 991px)" srcset="https://via.placeholder.com/268x160">
                        <source media="(max-width: 1199px)" srcset="https://via.placeholder.com/348x208">
                        <source media="(min-width: 1200px)" srcset="https://via.placeholder.com/348x208">
                        <img src="https://via.placeholder.com/348x208" alt="" class="featured-search__interpretive-card-image-fallback"> 
                    </picture>
                </div>
            </a>
                <div>
                    <a href="{{ record|interpretive_url }}" class="featured-search__results-link">
                        <h3 class="featured-search__heading">
                            {{record|record_detail:"summaryTitle"|striptags }}
                        </h3>
                    </a>
                    <p class="featured-search__interpretive-card-description">{{ record|interpretive_detail:"content"|safe|striptags|truncatewords:40 }}</p>
                </div>

        </div>
        <a href="/search/website?group={{result.aggregation}}&q={{ form.q.value|default:'' }}" class="featured-search__results-link">See all relevant {{result.heading }} ({{ result.hits.total.value|intcomma }})</a>
    </div>
    {% endwith %}
{% endif %}