<div class="tna-container">
<nav class="search-landing-buckets__container" aria-label="Record categories">
    <div class="tna-column tna-column--full tna-column--no-padding search-landing-buckets">
        <ul class="search-landing-buckets__list" data-id="search-buckets-list">
            {% for bucket in buckets %}
                <li class="tna-column search-landing-buckets__list-item">
                    <a href="{% url 'search-catalogue' %}?group={{ bucket.key }}" class="search-landing-buckets__link">
                        {{ bucket.label_with_count }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
</div>
