<form action="/search/catalogue" method="GET" id="analytics-search-landing-hero">
    <div class="search-hero">
        <div class="tna-container">
            <div class="tna-column tna-column--full">
                <div class="search-hero__container">
                    <h1 class="tna-heading-xl search-hero__heading">Search</h1>
                    <div class="search-hero__form">
                        <label for="id_q" class="search-hero__label">
                            <span class="sr-only">Enter search term.</span> Search by keyword, place, person, or catalogue reference
                        </label>
                        {{ form.q.errors }}
                        {{ form.q }}
                        <input type="submit" value="Search" class="search-hero__form-submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
