{% load static %}
<div>
    <h2 class="tna-heading sr-only">Export and share</h2>
    <div class="search-results__export-container" href="#">
        <a href="#" class="search-results__export-link" >Export results</a> <img class="search-results__share-icon" src="{% static 'images/icons/download.svg' %}" alt=""/>
    </div>

    
        {% comment %} JS Enhancement {% endcomment %}
        <div class="search-results__share-container">
        <a href="{{request.url}}" class="search-results__share-link">Copy link to results</a>
        <img class="search-results__share-icon" src="{% static 'images/icons/link.svg' %}" alt=""/>
    </div> 
</div>