{% load search_tags %}


<div class="search-sort-view">
<!--    <p class="search-results__explainer">Results for everything on our website that matches your search term.</p>-->
    <div class="tna-container">
    <form method="GET" class="search-sort-view__form search-sort-view__desktop" data-id="sort-form-desktop" id="catalogue-sort-form-desktop" data-search-type="{{ view.search_tab }}" data-search-bucket="{{ buckets.current.label }}" data-search-filter-name="Sort results" data-search-filter-value="">

        <h2 class="tna-heading-l search-sort-view__heading sr-only">
           <label for="id_sort_desktop">Sort by</label>
        </h2>

        {{ form.sort.errors }}
        {% render_sort_input form=form id_suffix="desktop" %}

        {# render hidden inputs for fields controlled by other forms #}
        {% if form.group.value == bucketkeys.COMMUNITY.value %}
            {% if form.vis_view.value == vis_view.TIMELINE %}
                {# TODO: Keep, not in scope for Ohos-Etna at this time #}
                {% comment %}
                {% render_fields_as_hidden form exclude='sort opening_start_date opening_end_date filter_keyword' %}
                {% endcomment %}
                {% render_fields_as_hidden form exclude='sort chart_data_type' %}
            {% elif form.vis_view.value == vis_view.TAG %}
                {% render_fields_as_hidden form exclude='sort timeline_type creation_date_from' %}
            {% else %}
                {# TODO: Keep, not in scope for Ohos-Etna at this time #}
                {% comment %}
                {% render_fields_as_hidden form exclude='sort opening_start_date opening_end_date filter_keyword timeline_type creation_date_from' %}
                {% endcomment %}
                {% render_fields_as_hidden form exclude='sort timeline_type creation_date_from chart_data_type' %}
            {% endif %}
        {% else %}
            {# TODO: Keep, not in scope for Ohos-Etna at this time #}
            {% comment %}
            {% render_fields_as_hidden form exclude='sort vis_view timeline_type creation_date_from' %}
            {% endcomment %}
            {% render_fields_as_hidden form exclude='sort vis_view timeline_type chart_data_type creation_date_from opening_start_date opening_end_date filter_keyword' %}
        {% endif %}

        <input type="submit" value="Sort by" class="search-sort-view__form-submit">
    </form>
    </div>

    {{ form.display.errors }}
    {{ form.display.as_hidden }}
</div>
