{% load search_tags %}
{% load humanize %}
<div class="search-landing-buckets__container">
    <div class="search-landing-buckets">
        <ul class="search-landing-buckets__list" data-id="search-buckets-list">
            {% for bucket in buckets %}
                <li class="search-landing-buckets__list-item" >
                    {% bucket_count bucket_count_response bucket.key as bucket_count %}
                    <a href="{% url 'search-catalogue' %}?group={{ bucket.key }}" class="search-landing-buckets__link" aria-current="{% if bucket == current_bucket %}true{% else %}false{% endif %}>
                        {{ bucket.label }} ({{ bucket_count|intcomma }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

