{% load search_tags humanize %}

<nav class="pagination" role="navigation" aria-label="Records pagination" data-container-name="Pagination"
     id="analytics-disambiguation-pagination">
    {% if page.has_other_pages %}
    <ul class="pagination__list">
        {% if page.has_previous %}
        <li class="pagination__list-item">

          <a class="pagination__page-chevron-previous" href="?{% query_string_include 'page' page.previous_page_number %}" data-link-type="Pagination" aria-label="Go to Previous Page" data-link="Previous page">&lt; Previous</a>

        </li>
        {% else %}
        <li class="pagination__list-item">
            <span class="pagination__page-chevron-previous--disabled">&lt; Previous</span>
        </li>
        {% endif %}
        <li class="pagination__list-pages" aria-label="Page numbers">
            <ol>
                {% for i in page_range %}
                <li class="pagination__list-item">
                    {% if page.number == i %}
                    <a class="pagination__page-link-current" href="?{% query_string_include 'page' i %}" aria-label="Current page, Page {{ i }}" aria-current="true" data-link-type="Pagination" data-link="{{ i }}">
                        {{ i }}
                    </a>
                    {% else %}
                    {% if i == page.paginator.ELLIPSIS %}
                    {{ i }}
                    {% else %}
                    <a class="pagination__page-link" href="?{% query_string_include 'page' i %}" data-link-type="Pagination" aria-label="Go to page {{ i }}" data-link="{{ i }}">
                        {{ i }}
                    </a>
                    {% endif %}
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </li>
        {% if page.has_next %}
        <li class="pagination__list-item">
            <a class="pagination__page-chevron-next" href="?{% query_string_include 'page' page.next_page_number %}"

               data-link="Next page" data-link-type="Pagination" aria-label="Go to Next Page">Next &gt;</a>

        </li>
        {% else %}
        <li class="pagination__list-item">
            <span class="pagination__page-chevron-next--disabled">Next &gt;</span>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>
