{% load search_tags %}
<!--sort by form-->
<div class="search-sort-view">
    <form method="GET"
          class="search-sort-view__form search-sort-view__mobile"
          data-id="sort-form-mobile"
          id="catalogue-sort-form-mobile"
          data-search-type="{{ view.search_tab }}"
          data-search-bucket="{{ buckets.current.label }}"
          data-search-filter-name="Sort results"
          data-search-filter-value="">
        <h2 class="tna-heading search-sort-view__heading">
            <label for="id_sort_mobile">Sort by</label>
        </h2>
        {{ form.sort.errors }}
        {% render_sort_input form=form id_suffix="mobile" %}
        {# render hidden inputs for fields controlled by other forms #}
        {% render_fields_as_hidden form exclude='sort' %}
        <input type="submit" value="Sort by" class="search-sort-view__form-submit">
    </form>
</div>
<!--end of sort by form-->
<form method="GET" data-id="filters-form"  id="catalogue-filters-form">
    <div class="search-filters" data-search-filters>
        <h2 class="tna-heading search-filters__heading">Refine results:</h2>
        <div class="govuk-accordion"
             data-module="govuk-accordion"
             id="accordion-default">
            {% if form.group.value == bucketkeys.TNA.value or form.group.value == bucketkeys.NONTNA.value %}
            {% if form.filter_keyword %}
                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading tna-heading search-filters__heading">
                            <span class="govuk-accordion__section-button"
                                  id="accordion-default-heading-1">Search within results</span>
                        </h2>
                    </div>
                    <div id="accordion-default-content-1"
                         class="govuk-accordion__section-content"
                         aria-labelledby="accordion-default-heading-1">
                        <p class="govuk-body">
                            <div class="search-filters__form-block">
                                <label for="{{ form.filter_keyword.id_for_label }}" class="search-filters__label--block example-text">Search within results:</label>
                                {{ form.filter_keyword }}
                                {{ form.filter_keyword.errors }}
                                <input type="submit" value="Search" class="search-filters__submitleft">
                                {% comment %} <input type="submit" value="Search" class="tna-button"> {% endcomment %}
                            </div>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% endif %}
            <div class="search-filters__header">
                <h2 class="tna-heading-l">Filters</h2>
                <input type="submit" value="Update" class="search-filters__submit">
            </div>
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading tna-heading search-filters__heading">
                        <span class="govuk-accordion__section-button"
                              id="accordion-default-heading-2">Dates</span>
                    </h2>
                </div>
                <div id="accordion-default-content-2"
                     class="govuk-accordion__section-content"
                     aria-labelledby="accordion-default-heading-2">
                    <div class="search-filters__form-block">
                        <h3 class="tna-heading sr-only">Edit filters</h3>
                            <div class="search-filters__accordion-section">
                                <fieldset role="group" aria-describedby="record_covering_date">
                                    <legend>
                                        <h4 class="tna-heading search-filters__accordion-section-heading"
                                            id="record_covering_date">Dates</h4>
                                    </legend>
                                    <span class="example-text" id="from-date">For example, 27 3 2007 or 2007</span>
                                    <div>{{ form.covering_date_from.label_tag }}</div>
                                    <div>
                                        {% if form.covering_date_from.errors %}
                                            <div data-tracking-errors
                                                    data-filter="Dates"
                                                    data-filter-errors="{% for e in form.covering_date_from.errors.get_json_data %}{{ e.message }}{% endfor %}">
                                                {{ form.covering_date_from.errors }}
                                            </div>
                                        {% endif %}
                                        {{ form.covering_date_from }}
                                        </div>
                                    <div>
                                        {{ form.covering_date_to.label_tag }}
                                        {% if form.covering_date_to.errors %}
                                            <div data-tracking-errors
                                                    data-filter="Dates"
                                                    data-filter-errors="{% for e in form.covering_date_to.errors.get_json_data %}{{ e.message }}{% if form.covering_date_to.errors.get_json_data|length > 1 %} {% endif %}{% endfor %}">
                                                {{ form.covering_date_to.errors }}
                                            </div>
                                        {% endif %}
                                        {{ form.covering_date_to }}
                                    </div>
                                    <!--<input type="submit" value="Update" class="search-filters__submit">-->
                                </fieldset>
                            </div>
                    </div>
                </div>
                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading tna-heading search-filters__heading">
                            <span class="govuk-accordion__section-button"
                                  id="accordion-default-heading-3">Collections</span>
                        </h2>
                    </div>
                    <div id="accordion-default-content-3"
                         class="govuk-accordion__section-content"
                         aria-labelledby="accordion-default-heading-3">
                        {% include "search/includes/filter.html" with field=form.collection %}
                    </div>
                </div>
                {% if form.group.value == bucketkeys.TNA.value %}
                    <div class="govuk-accordion__section">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading tna-heading search-filters__heading">
                                <span class="govuk-accordion__section-button"
                                      id="accordion-default-heading-4">Level</span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-4"
                             class="govuk-accordion__section-content"
                             aria-labelledby="accordion-default-heading-4">
                            {% include "search/includes/filter.html" with field=form.level %}
                        </div>
                    </div>
                {% endif %}
                <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading tna-heading search-filters__heading">
                            <span class="govuk-accordion__section-button"
                                  id="accordion-default-heading-5">Closure status</span>
                        </h2>
                    </div>
                    <div id="accordion-default-content-4"
                         class="govuk-accordion__section-content"
                         aria-labelledby="accordion-default-heading-5">
                        {% include "search/includes/filter.html" with field=form.closure %}
                    </div>
                </div>
                
                {% if form.group.value == bucketkeys.TNA.value %}
                    <div class="search-filters__accordion-section">
                        <fieldset role="group" aria-describedby="record_opening_date">
                            <legend>
                                <h4 class="tna-heading-s search-filters__accordion-section-heading"
                                    id="record_opening_date">Record opening date</h4>
                            </legend>
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading tna-heading search-filters__heading">
                                    <span class="govuk-accordion__section-button"
                                          id="accordion-default-heading-6">Record opening date</span>
                                </h2>
                            </div>
                            <div id="accordion-default-content-4"
                                 class="govuk-accordion__section-content"
                                 aria-labelledby="accordion-default-heading-6">
                                <div class="search-filters__opening-date-section">
                                    <span class="example-text" id="opening-start-date">For example, 27 3 2007 or 2007</span>
                                    <br>
                                    {{ form.opening_start_date.label_tag }}
                                    {% if form.opening_start_date.errors %}
                                        <div data-tracking-errors
                                             data-filter="Record opening date"
                                             data-filter-errors="{% for e in form.opening_start_date.errors.get_json_data %}{{ e.message }}{% endfor %}">
                                            {{ form.opening_start_date.errors }}
                                        </div>
                                    {% endif %}
                                    {{ form.opening_start_date }}
                                </div>
                                <div class="search-filters__opening-date-section">
                                    {{ form.opening_end_date.label_tag }}
                                    {% if form.opening_end_date.errors %}
                                        <div data-tracking-errors
                                             data-filter="Record opening date"
                                             data-filter-errors="{% for e in form.opening_end_date.errors.get_json_data %}{{ e.message }}{% endfor %}">
                                            {{ form.opening_end_date.errors }}
                                        </div>
                                    {% endif %}
                                    {{ form.opening_end_date }}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                {% endif %}
                {% if form.group.value == bucketkeys.NONTNA.value %}
                    {% include "search/includes/filter.html" with field=form.held_by %}
                    {% include "search/includes/filter.html" with field=form.catalogue_source %}
                {% endif %}
                <input type="submit" value="Update" class="search-filters__submit">
            </div>
        </div>
        <!--load local accordion js -->
        {% load static %}
        <!--GDS SCRIPTS-->
        <!--
        <script src="https://design-system.service.gov.uk/javascripts/govuk-frontend-069e73dfb31aacad687703e346188e8c.js"></script>
        <script src="https://design-system.service.gov.uk/javascripts/example-f43e7879015e9e1d96239b483328e819.js"></script>
        <script src="https://design-system.service.gov.uk/javascripts/vendor/iframeResizer-64449c4486ad602edae18f8c9ef89fed.contentWindow.min.js"></script>
        -->
        <!--GDS SCRIPTS-->
    </div>
    {# render hidden inputs for fields controlled by other forms #}
    {% if form.group.value == bucketkeys.COMMUNITY.value %}
        {% if form.vis_view.value == vis_view.TIMELINE %}
            {% render_fields_as_hidden form include='q group sort vis_view timeline_type creation_date_from' %}
        {% else %}
            {% render_fields_as_hidden form include='q group sort vis_view' %}
        {% endif %}
    {% else %}
        {% render_fields_as_hidden form include='q group sort' %}              
    {% endif %}
</form>
{% comment %} {% include './search_export_and_share.html' %} {% endcomment %}
