<div class="search-sort-view">
    <div class="search-sort-view__form">
        <h3 class="search-sort-view__heading">
           <label for="{{form.sort_by.id_for_label}}">Sort by</label>
        </h3>
        {% comment %} TODO make this use a django form {% endcomment %}
        {{ form.sort_by.errors }}
        {{ form.sort_by }}
        <input type="submit" value="Update" class="search-sort-view__form-submit">
    </div>

    <h3 class="search-sort-view__heading"><span class="sr-only">Display as:</span></h3>
    <ul class="search-sort-view__list">

        <li class="search-sort-view__list-item">
            <span aria-current="true" class="search-sort-view__icon-list">
                <span class="sr-only">Displaying results as a list</span>
            </span>
        </li>
        <li class="search-sort-view__list-item">
            <a href="#" class="search-sort-view__icon-grid">
                <span class="sr-only">Display results as a grid</span>
           </a>
        </li>
    </ul>
</div>