{% load search_tags %}

<div class="search-sort-view">
    <form method="GET" class="search-sort-view__form search-sort-view__mobile" data-id="sort-form-mobile" id="catalogue-sort-form-mobile" data-search-type="{{ view.search_tab }}" data-search-bucket="{{ buckets.current.label }}" data-search-filter-name="Sort results" data-search-filter-value="">
        <h2 class="tna-heading-l search-sort-view__heading sr-only">
            <label for="id_sort_mobile">Sort by</label>
        </h2>
        {{ form.sort.errors }}
        {% render_sort_input form=form id_suffix="mobile" %}

        {# render hidden inputs for fields controlled by other forms #}
        {% render_fields_as_hidden form exclude='sort' %}

        <input type="submit" value="Sort by" class="search-sort-view__form-submit">
    </form>
</div>

<div class="search-filters" data-search-filters>
    {% comment %} Hidden on archive & creator as they currently have no filters  {% endcomment %}


    <form method="GET" data-id="filters-form"  id="catalogue-filters-form">

        <div class="search-filters__header">
            <h2 class="tna-heading-l search-filters__heading">Filters</h2>
            <input type="submit" value="Update" class="search-filters__submit">
        </div>

        {% comment %}
         {% if form.group.value == 'tna' %}
            <div class="search-filters__form-block">
                TODO make this a django form element
                <input type="checkbox" class="search-filters__checkbox" id="online-only" name="online-only">
                <label for="online-only" class='search-filters__label'>Show online records only</label>
                <input type="submit" value="Update" class="search-filters__submit">
            </div>
            {% endif %}
        {% endcomment %}

        {% comment %} {% if form.filter_keyword %} {% endcomment %}
        {% if form.group.value == bucketkeys.TNA.value or form.group.value == bucketkeys.NONTNA.value %}
            <div class="search-filters__form-block">
                <label for="{{form.filter_keyword.id_for_label}}" class="tna-heading-s search-filters__label--block">Search within results</label>
                {{ form.filter_keyword }}
                {{ form.filter_keyword.errors }}
                <input type="submit" value="Search" class="tna-button">
            </div>
        {% endif %}

        <div class="search-filters__form-block">
            <h3 class="tna-heading-m sr-only">Edit filters</h3>

            {% if form.group.value == 'community' or  form.group.value == 'tna' or form.group.value == 'nonTna' %}
                <div class="search-filters__section">
                    <fieldset role="group" aria-describedby="from-date">
                        <legend>
                            <h4 class="tna-heading-s search-filters__section-heading" id="record_covering_date">Dates</h4>
                        </legend>

                        <span class="example-text" id="from-date">For example, 27 3 2007 or 2007</span>
                        <div>{{ form.covering_date_from.label_tag }}</div>

                        <div>

                            {% if form.covering_date_from.errors %}
                                <div
                                    data-tracking-errors
                                    data-filter="Dates"
                                    data-filter-errors="{% for e in form.covering_date_from.errors.get_json_data %}{{ e.message }}{% endfor %}">
                                    {{ form.covering_date_from.errors }}
                                </div>
                            {% endif %}
                            {{ form.covering_date_from }}

                        </div>

                        <div>

                            {{ form.covering_date_to.label_tag }}
                            {% if form.covering_date_to.errors %}
                                <div
                                    data-tracking-errors
                                    data-filter="Dates"
                                    data-filter-errors="{% for e in form.covering_date_to.errors.get_json_data %}{{ e.message }}{% if form.covering_date_to.errors.get_json_data|length > 1%} {% endif %}{% endfor %}">
                                    {{ form.covering_date_to.errors }}
                                </div>
                            {% endif %}
                            {{ form.covering_date_to }}

                        </div>

                    </fieldset>
                </div>
            {% endif %}


            {% include "search/includes/filter.html" with field=form.collection %} <!--collections filter-->



            {% include "search/includes/filter.html" with field=form.time_period %}

            {% include "search/includes/filter.html" with field=form.topic %}

            {% include "search/includes/filter.html" with field=form.format %}

            {% if form.group.value != bucketkeys.NONTNA.value %}
                {% include "search/includes/filter.html" with field=form.level %}
            {% endif %}

            {% include "search/includes/filter.html" with field=form.closure %}

            {% include "search/includes/filter.html" with field=form.place %}

            {% if form.group.value == 'tna' %}
                <div class="search-filters__section">
                    <fieldset role="group" aria-describedby="opening-start-date">
                        <legend>
                            <h4 class="tna-heading-s search-filters__section-heading" id="record_opening_date">Record opening date</h4>
                        </legend>

                        <div class="search-filters__opening-date-section">

                            <span class="example-text" id="opening-start-date">For example, 27 3 2007 or 2007</span><br>
                            {{ form.opening_start_date.label_tag }}
                            {% if form.opening_start_date.errors %}
                                <div
                                    data-tracking-errors
                                    data-filter="Record opening date"
                                    data-filter-errors="{% for e in form.opening_start_date.errors.get_json_data %}{{ e.message }}{% endfor %}">
                                    {{ form.opening_start_date.errors }}
                                </div>
                            {% endif %}
                            {{ form.opening_start_date }}

                        </div>

                        <div class="search-filters__opening-date-section">

                            {{ form.opening_end_date.label_tag }}
                            {% if form.opening_end_date.errors %}
                                <div
                                    data-tracking-errors
                                    data-filter="Record opening date"
                                    data-filter-errors="{% for e in form.opening_end_date.errors.get_json_data %}{{ e.message }}{% endfor %}">
                                    {{ form.opening_end_date.errors }}
                                </div>
                            {% endif %}
                            {{ form.opening_end_date }}

                        </div>

                    </fieldset>
                </div>

            {% endif %}

            {% if form.group.value == bucketkeys.NONTNA.value %}
                {% include "search/includes/filter.html" with field=form.held_by %}
                {% include "search/includes/filter.html" with field=form.catalogue_source %}
            {% endif %}

            {% if form.group.value == bucketkeys.CREATOR.value %}
                {% include "search/includes/filter.html" with field=form.type %}
                {% include "search/includes/filter.html" with field=form.country %}
            {% endif %}

            {% if form.group.value == bucketkeys.ARCHIVE.value %}
                {% include "search/includes/filter.html" with field=form.location %}
            {% endif %}
        </div>

        {# render hidden inputs for fields controlled by other forms #}
        {% render_fields_as_hidden form include='q group sort' %}

        <input type="submit" value="Update" class="search-filters__submit">

    </form>

    {% comment %} {% include './search_export_and_share.html' %} {% endcomment %}
</div>
