{% load search_tags %}

<div class="search-sort-view">
    <form method="GET" class="search-sort-view__form search-sort-view__mobile" data-id="sort-form" id="catalogue-sort-form-mobile" data-search-type="{{ view.search_tab }}" data-search-bucket="{{ buckets.current.label }}" data-search-filter-name="Sort results" data-search-filter-value="">
        <h2 class="search-sort-view__heading">
            <label for="{{form.sort_by.id_for_label}}">Sort by</label>
        </h2>
        {{ form.sort_by.errors }}
        {{ form.sort_by }}

        {{ 'sort_by'|include_hidden_fields:form }}

        <input type="submit" value="Update" class="search-sort-view__form-submit">
    </form>
</div>

<div class="search-filters">
    {% comment %} Hidden on archive & creator as they currently have no filters  {% endcomment %}
    <h2 class="search-filters__heading">Refine results</h2>
            
    <form method="GET" data-id="filters-form"  id="catalogue-filters-form">
        {% comment %}
         {% if form.group.value == 'tna' %}
            <div class="search-filters__form-block">
                TODO make this a django form element
                <input type="checkbox" class="search-filters__checkbox" id="online-only" name="online-only">
                <label for="online-only" class='search-filters__label'>Show online records only</label>
                <input type="submit" value="Update" class="search-filters__submit">
            </div>
            {% endif %}
        {% endcomment %}

        <div class="search-filters__form-block">
            <label for="{{form.filter_keyword.id_for_label}}" class="search-filters__label--block">Search within results:</label>
            {{ form.filter_keyword }}
            {{ form.filter_keyword.errors }}
            <input type="submit" value="Search" class="search-filters__submit">
        </div>

        <div class="search-filters__form-block">
            <h3 class="sr-only">Edit filters</h3>

            {% comment %} <div class="search-filters__accordion-section">
                <fieldset>
                    <legend>
                        <h4 class="search-filters__accordion-section-heading">Date</h4>
                    </legend>

                    <div>
                        <input type="checkbox" name="date-example" id="date-example">
                        <label for="date-example" class='search-filters__label'>Example century goes here</label>
                    </div>

                    <input type="submit" value="Update" class="search-filters__submit">
                </fieldset>

            </div> {% endcomment %}

            {% if form.group.value == 'tna' or form.group.value == 'digitised' or form.group.value == 'nonTna' %}
                <div class="search-filters__accordion-section">
                    <fieldset>
                        <legend>
                            <h4 class="search-filters__accordion-section-heading" id="record_created_date">Date</h4>
                        </legend>

                        {{ "invalid_date_range_for_created_dates"|non_field_error_by_code:form }}

                        <div class="search-filters__opening-date-section">
                            {{ form.created_start_date.errors }}
                            {{ form.created_start_date.label_tag }}
                            {{ form.created_start_date }}
                        </div>
                        <div class="search-filters__opening-date-section">
                            {{ form.created_end_date.errors }}
                            {{ form.created_end_date.label_tag }}
                            {{ form.created_end_date }}
                        </div>

                        <input type="submit" value="Update" class="search-filters__submit">

                    </fieldset>
                </div>
            {% endif %}

            {% include "search/includes/filter.html" with field=form.collection %}

            {% include "search/includes/filter.html" with field=form.topic %}

            {% if form.group.value != bucketkeys.NONTNA.value %}
                {% include "search/includes/filter.html" with field=form.level %}
            {% endif %}

            {% include "search/includes/filter.html" with field=form.closure %}

            {% if form.group.value == 'tna' or form.group.value == 'digitised' %}
                {# show date filter on filtered results count or date validation error #}
                {% if page.paginator.count > 0 or form.opening_start_date.errors or form.opening_end_date.errors %}
                    <div class="search-filters__accordion-section">
                        <fieldset>
                            <legend>
                                <h4 class="search-filters__accordion-section-heading" id="record_opening_date">Record opening date</h4>
                            </legend>
                            <!--
                            <p id="search_filters__opening-date-help-text">Helper text here (needed for when YYYY MM DD are eventually made separate fields)</p>
                            -->
                            {{ "invalid_date_range_for_opening_dates"|non_field_error_by_code:form }}

                            <div class="search-filters__opening-date-section">
                                {{ form.opening_start_date.errors }}
                                {{ form.opening_start_date.label_tag }}
                                {{ form.opening_start_date }}
                            </div>
                            <div class="search-filters__opening-date-section">
                                {{ form.opening_end_date.errors }}
                                {{ form.opening_end_date.label_tag }}
                                {{ form.opening_end_date }}
                            </div>

                            <input type="submit" value="Update" class="search-filters__submit">

                        </fieldset>
                    </div>
                {% endif %}
            {% endif %}

            {% if form.group.value == bucketkeys.NONTNA.value %}
                {% include "search/includes/filter.html" with field=form.held_by %}
                {% include "search/includes/filter.html" with field=form.catalogue_source %}
            {% endif %}

            {% if form.group.value == bucketkeys.CREATOR.value %}
                {% include "search/includes/filter.html" with field=form.type %}
                {% include "search/includes/filter.html" with field=form.country %}
            {% endif %}

            {% if form.group.value == bucketkeys.ARCHIVE.value %}
                {% include "search/includes/filter.html" with field=form.location %}
            {% endif %}
        </div>

        {{ 'filter_keyword collection topic level closure opening_start_date opening_end_date catalogue_source held_by type country location'|include_hidden_fields:form }}
      
    </form>
    {% comment %} {% include './search_export_and_share.html' %} {% endcomment %}
</div>
