{% load search_tags %}

<!--visualisation secondary navigation-->
<div class="tna-container">
    <div class="tna-column tna-column--full">
        <div class="search-visualisation-nav">
            <ul class="search-visualisation-nav__list" data-id="search-visualisation-nav-list">
                <li class="search-visualisation-nav__list-item">
                    <a href="{{list_view_url}}" class="search-visualisation-nav__link"{% if form.vis_view.value == vis_view.LIST.value %} aria-current="true"{% endif %}>
                        <i class="fa-solid fa-list fa-xl"></i>
                        <span class="search-visualisation-nav__link-label">List view</span>
                    </a>
                </li>
                <li class="search-visualisation-nav__list-item">
                    <a href="{{map_view_url}}" class="search-visualisation-nav__link"{% if form.vis_view.value == vis_view.MAP.value %} aria-current="true"{% endif %}>
                        <i class="fa-solid fa-location-dot fa-xl"></i>
                        <span class="search-visualisation-nav__link-label">Map view</span>
                    </a>
                </li>
                <li class="search-visualisation-nav__list-item">
                    <a href="{{timeline_view_url}}" class="search-visualisation-nav__link"{% if form.vis_view.value == vis_view.TIMELINE.value %} aria-current="true"{% endif %}>
                        <i class="fa-sharp fa-solid fa-chart-simple fa-xl"></i>
                        <span class="search-visualisation-nav__link-label">Timeline view</span>
                    </a>
                </li>
                <li class="search-visualisation-nav__list-item">
                    <a href="{{tag_view_url}}" class="search-visualisation-nav__link"{% if form.vis_view.value == vis_view.TAG.value %} aria-current="true"{% endif %}>
                        <i class="fa-solid fa-circle fa-xl"></i>
                        <span class="search-visualisation-nav__link-label">Tag view</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- end visualisation secondary navigation-->
