{% load search_tags %}
{% load humanize %}

<nav class="search-buckets" aria-label="Result categories">
    <ul class="search-buckets__list" data-id="search-buckets-list">
        {% for bucket_key, bucket_data in WEBSITE_BUCKETS.items %}
            <li class="search-buckets__list-item--website" data-current="{% if form.group.value == bucket_key %}true{% else %}false{% endif %}">
                {% bucket_count bucket_count_response bucket_data.count_key as bucket_count %}
                <a href="?{% if form.q.value %}q={{ form.q.value }}&{% endif %}group={{bucket_key}}" class="search-buckets__link" aria-current="{% if form.group.value == bucket_key %}true{% else %}false{% endif %}">
                    {{bucket_data.label}} ({{ bucket_count|intcomma }})
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>