{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load records_tags %}

<div class="featured-record" data-container-name="featured-record">
    <div class="container">
        <{{ heading_level }} class="featured-record__heading">
            Discover our records
        </{{ heading_level }}>

        <div class="featured-record__content">
            {% if value.image %}
                {% include_block value.image %}
            {% endif %}

            <h4 class="featured-record__standfirst">{{ value.title }}</h4>

            {% if value.record.title %}
                <p class="featured-record__title"><span class="sr-only">{{ 'title'|as_label }}:</span> {{ value.record.title }}</p>
            {% endif %}

            <div class="featured-record__metadata">
                {% if value.record.reference_number %}
                    <p class="featured-record__reference">{{ 'reference_number'|as_label }}: {{ value.record.reference_number }}</p>
                {% endif %}
                {% if value.record.origination_date %}
                    <p class="featured-record__date">
                    {{ 'origination_date'|as_label }}: {{ value.record.origination_date }}
                    </p>
                {% endif %}
            </div>

            <a class="tna-button--dark" href="{% record_url value.record %}" data-link="View in the catalogue">View <span class="sr-only">{{ value.record.title }}</span> in the catalogue</a>
        </div>
    </div>
</div>
