<div class="box-out">
    <div class="container">
        <h3 class="sr-only">{{ value.heading }}</h3>
        <p class="box-out__standfirst">
            {{ value.introduction }}
        </p>

        <dl class="box-out__list" data-container-name="featured-records" id="analytics-featured-records">
            {% for record in value.records %}
                <div class="box-out__list-item">
                    <dt>
                        <h4 class="box-out__link-heading">
                            {% if record.reference_number %}
                                <a class="box-out__link" href="{% url 'details-page-human-readable' record.reference_number %}" data-link="{{ record.title }}">{{ record.title }}</a>
                            {% elif record.iaid %}
                                <a class="box-out__link" href="{% url 'details-page-machine-readable' record.iaid %}" data-link="{{ record.title }}">{{ record.title }}</a>
                            {% endif %}
                        </h4>
                    </dt>
                    {% if record.description %}
                        <dd class="box-out__link-text">{{ record.description|safe }}</dd>
                    {% endif %}
                </div>
            {% endfor %}
        </dl>
    </div>
</div>
