{% load static %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load records_tags %}

<div class="record-embed-no-image" data-container-name="record-embed-no-image">
    <div class="container">
        <div class="record-embed-no-image__icon" style="background-image: url({% static 'images/fontawesome-svgs/search-white.svg' %});"></div>
        <p class="record-embed-no-image__icon-label" role="presentation" aria-hidden="true">
            Discover our records
        </p>
        <{{ heading_level }} class="record-embed-no-image__heading">
            <span class="sr-only">Discover our records.</span>
            {{ value.title }}
        </{{ heading_level }}>
        {% if value.record.title %}
            <p class="record-embed-no-image__text--inline">{{ 'title'|as_label }}: {{ value.record.title }}</p>
        {% endif %}
        {% if value.record.reference_number %}
            <p class="record-embed-no-image__text--inline">{{ 'reference_number'|as_label }}: {{ value.record.reference_number }}</p>
        {% endif %}
        {% if value.record.origination_date %}
            <p class="record-embed-no-image__text--inline">
            {{ 'origination_date'|as_label }}: {{ value.record.origination_date }}
            </p>
        {% endif %}

        {% if value.image %}
            {% include_block value.image %}
        {% endif %}

        <p class="record-embed-no-image__text">{{ value.record.description|safe }}</p>

        <a class="tna-button--dark" href="{% record_url value.record %}" data-link="View in the catalogue">
            View <span class="sr-only">{{ value.record.title }}</span> in the catalogue
        </a>
    </div>
</div>
