{% load wagtailcore_tags static %}

{# This template has been developed based on includes/research-resources.html #}

<div class="related-resources" data-container-name="related-resources">
    <div class="container">
        {% if value.category.icon %}
        {% static value.category.icon_static_path as bg_image %}
        <div class="promoted-item__icon" style="background-image: url('{{ bg_image }}');"></div>
        {% endif %}
        <p class="related-resources__icon-label" role="presentation" aria-hidden="true">
            {{ value.category.name }}
        </p>

        <h3 class="related-resources__heading">
            {{ value.heading }}
            <span class="sr-only">{{ value.heading }}</span>
        </h3>

        {% if value.summary %}
        <div class="related-resources__description">
            {{ value.summary|richtext }}
        </div>
        {% endif %}

        {% if value.promoted_items %}
        <ul class="related-resources__list">
            {% for item in value.promoted_items %}
            <li class="related-resources__list-item">
                <h4 class="related-resources__link-heading">
                    <a class="related-resources__link" href="{{ item.url }}" data-link="{{ item.title }}">
                        {{ item.title }}
                    </a>
                </h4>
                {% if item.description %}
                <div class="related-resources__link-text">
                    {{ item.description }}
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
