{% load static %}

<div class="quote">
    <div class="container">
        <img class="quote__icon" src="{% static 'images/fontawesome-svgs/quote-left.svg' %}" alt="" />
        {% if value.heading %}
            <{{ heading_level }} class="sr-only">{{ value.heading }}</{{ heading_level }}>
        {% endif %}

        {% if value.attribution %}
            <figure>
                <blockquote class="quote__container quote__text">
                    {{ value.quote }}
                </blockquote>
                <figcaption class="quote__citation">
                    <cite>{{ value.attribution }}</cite>
                </figcaption>
            </figure>
        {% else %}
            <blockquote class="quote__container quote__text">
                {{ value.quote }}
            </blockquote>
        {% endif %}
    </div>
</div>
