{% load wagtailimages_tags records_tags %}

{% comment %} Streamfield bridging component (based on article-spotlight.html) {% endcomment %}
<div class="records-bridge tna-!--margin-vertical-l">
    <a href="#" class="records-bridge__image-link" aria-labelledby="article-desc202" tabindex="-1">
        <picture>
            <source media="(max-width: 768px)" srcset="">
            <source media="(max-width: 991px)" srcset="">
            <source media="(max-width: 1200px)" srcset="">
            <img width="1000" height="600" src="" alt="">
        </picture>
    </a>

    <div class="records-bridge__description">
        <h2 class="tna-heading-l records-bridge__heading">
            <small class="tna-chip tna-chip--plain">Record collection</small>
            Accounts of escape and evasion
        </h2>

        <p>Discover records written by Allied prisoners of war describing real-life escape attempts, 2,001 are digitised and available to access online.</p>
        
        <div class="tna-button-group">
            <a class="tna-button tna-button--solid-hover" href="#">View the records</a>
        </div>
    </div>
</div>