{% load wagtailimages_tags %}
{% load media_tags %}

{% with value.media as media %}

    {% if media %}

        {% image value.background_image fill-800x700 as bg_image %}

        <div class="media-embed u-margin-l" style="background: url('{{ bg_image.url }}') left top/cover;">
            <div class="media-embed__overlay"></div>
            <div class="container">
                <div class="media-embed__content-panel">

                    {% if media.type == "audio"%}
                        {% audio media %}
                    {% else %}
                        {% video media %}
                    {% endif %}

                </div>
            </div>
        </div>

    {% endif %}

{% endwith %}
