{% load static %}
{% load wagtailcore_tags %}

<h3 class="media-embed__heading u-margin-xs">
    <span class="sr-only">Listen.</span>
    {{ value.title }}
</h3>

{% if value.date %}
<p class="media-embed__date">
    <time datetime="{{ value.date|date:'Y-m-d' }}">{{ value.date|date:'l j F Y' }}</time>
</p>
{% endif %}

{% if value.description %}
<div class="media-embed__description">
    {{ value.description|richtext }}
</div>
{% endif %}

<div class="media-embed__audio-container">
    <audio controls="" {% if value.transcript %}aria-describedby="media-embed-transcript-label"{% endif %}>
        <source src="{{ src }}" type="{{ type }}">
        <p>Your browser doesn't support HTML5 audio. Here is a <a href="{{ src }}">link to the audio</a>
            instead.</p>
    </audio>
    {% if value.transcript %}
        <p id="media-embed-transcript-label" class="sr-only">Transcript provided below</p>    
    {% endif %}
</div>

{% if value.transcript %}
<div class="media-embed__transcript">
    <details>
        <summary>
            <h4 class="media-embed__transcript-heading">Transcript</h4>
        </summary>
        <div class="media-embed__transcript-text">
            {{ value.transcript|richtext }}
        </div>
    </details>
</div>
{% endif %}
