{% load wagtailimages_tags %}

{% with value.media as media %}

    {% if media %}

        {% image value.background_image fill-800x700 as bg_image %}

        <div class="media-embed {% if value.media.transcript %}media-embed--transcript{% endif %} u-margin-l" style="background-image: url('{{ bg_image.url }}')">
            <div class="media-embed__overlay"></div>
            <div class="media-embed__content-panel container">
                {% include "media/blocks/media-block--embed.html" with media=media %}
            </div>
        </div>

    {% endif %}

{% endwith %}
