{% load static %}
{% load wagtailcore_tags %}

{% static "images/fontawesome-svgs/video-white.svg" as icon_bg %}

<div class="media-embed__icon" style="background-image: url('{{ icon_bg }}');"></div>
<p class="media-embed__icon-label" role="presentation" aria-hidden="true">
    Video
</p>

<h3 class="media-embed__heading">
    <span class="sr-only">Video.</span>
    {{ value.title }}
</h3>

{% if value.date %}
<p class="media-embed__date">
    <time datetime="{{ value.date|date:'Y-m-d' }}">{{ value.date|date:'l j F Y' }}</time>
</p>
{% endif %}

{% if value.description %}
<div class="media-embed__description">
    {{ value.description|richtext }}
</div>
{% endif %}

<div class="media-embed__video-container">
    <video class="media-embed__video" controls="">
        <source src="{{ src }}" type="{{ type }}">
        <p>Your browser doesn't support HTML5 video. Here is a <a href="{{ src }}">link to the video</a>
            instead.</p>
    </video>
</div>

{% if value.transcript %}
<div class="media-embed__transcript">
    <h4 class="media-embed__transcript-heading">Transcript</h4>
    <div class="media-embed__transcript-text">
        {{ value.transcript|richtext }}
    </div>
</div>
{% endif %}
