{% load static %}
{% load wagtailcore_tags %}

<!-- <h3 class="tna-heading media-embed__heading u-margin-xs">
    <span class="sr-only">{% if media.type == "video" %}Video.{% elif media.type == "audio" %}Listen.{% endif %}</span>
    {{ value.title }}
</h3> -->


<hgroup class="tna-hgroup tna-hgroup--l">
    <p class="tna-hgroup__supertitle">
        {% if media.type == "video" %}Video{% elif media.type == "audio" %}Listen{% endif %}
    </p>
    <h3 class="tna-hgroup__title">
        {{ value.title }}
    </h3>
</hgroup>



{% if media.date %}
    <p class="media-embed__date">
        <time datetime="{{ media.date|date:'Y-m-d' }}">{{ media.date|date:'l j F Y' }}</time>
    </p>
{% endif %}

{% if media.description %}
    <div class="media-embed__description">
        {{ media.description|richtext }}
    </div>
{% endif %}

<div class="media-embed__{{ media.type }}-container">
    <{{ media.type }} class="media-embed__{{ media.type }}" controls="" {% if media.transcript %}aria-label="Transcript provided below"{% endif %}>
        <source src="{{ src }}" type="{{ type }}">
        <p>Your browser doesn't support HTML5 {{ media.type }}. Here is a <a href="{{ src }}">link to the {{ media.type }}</a>
            instead.</p>
    </{{ media.type }}>
</div>

{% if media.transcript %}
<div class="media-embed__transcript">
    <details class="media-embed__details">
        <summary class="media-embed__summary">
            <h4 class="tna-heading media-embed__transcript-heading">Transcript</h4>
        </summary>
        <div class="media-embed__transcript-text">
            {{ media.transcript|richtext }}
        </div>
    </details>
</div>
{% endif %}