{% load wagtailcore_tags wagtailimages_tags %}

<div class="background bg-light-grey no-padding">
    <div class="container">
        <div class="row">
            {% if value.author.image %}
                <div class="col-md-4 author-image">
                    {% image value.author.image fill-217x277 %}
                </div>
            {% endif %}
            <div class="col-md-8">
                <h2 class="tna-heading author-name no-margin-bottom">Authored by {{ value.author.name }}</h2>
                {% if value.author.role %}
                    <p class="author-occupation">{{ value.author.role }}</p>
                {% endif %}
                {% if value.author.summary %}
                    <div class="author-info">
                        {{ value.author.summary|richtext }}
                    </div>
                {% endif %}
                <a class="button-inverted" href="{{ value.author.bio_link }}" target="_blank" rel="noopener noreferrer">{{ value.author.bio_link_label }}</a>
            </div>
        </div>
    </div>
</div>
