{% extends "base_page.html" %}

{% load static wagtailcore_tags %}

{% block content %}
  <article class="tna-container tna-!--margin-top-l">
    <div class="tna-column tna-column--full">
        <h2 class="heading heading--two">
            Clover
        </h2>
        <div id="clover-viewer" data-id="https://api.dc.library.northwestern.edu/api/v2/works/71153379-4283-43be-8b0f-4e7e3bfda275?as=iiif"></div>
    </div>
  </article>

  {% comment %} <article class="tna-container tna-!--margin-top-l">
    <div class="tna-column tna-column--full">
        <h2>Tify</h2>

        <div id="tify-viewer" style="height: 640px" data-id="{{ page.iiif_manifest_id }}"></div>
    </div>
  </article> {% endcomment %}

  <article class="tna-container tna-!--margin-top-l">
    <div class="tna-column tna-column--full">
        <h2 class="heading heading--two">
            Universal Viewer
        </h2>
        <div class="uv" id="uv"></div>
    </div>
  </article>

  <article class="tna-container tna-!--margin-top-l">
    <div class="tna-column tna-column--full">
      <h2 class="heading heading--two">
        Mirador
      </h2>
      <div class="mirador" id="mirador-viewer" data-id="https://iiif.bodleian.ox.ac.uk/iiif/manifest/60834383-7146-41ab-bfe1-48ee97bc04be.json"></div>
    </div>
  </article>

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'uv/UV.js' %}"></script>
    <script src="{% static 'scripts/clover.js' %}"></script>
    <script src="{% static 'scripts/mirador.js' %}"></script>
    {% comment %} <script src="{% static 'tify/tify.js' %}"></script> {% endcomment %}
    {% comment %} <script>
        new Tify({
            container: '#tify-viewer',
            manifestUrl: 'https://iiif.bodleian.ox.ac.uk/iiif/manifest/60834383-7146-41ab-bfe1-48ee97bc04be.json',
            urlQueryKey: '{{ page.title }}',
        })
    </script> {% endcomment %}
    
    <script>
        const data = {
            manifest: "https://iiif.bodleian.ox.ac.uk/iiif/manifest/60834383-7146-41ab-bfe1-48ee97bc04be.json",
        };
    
        uv = UV.init("uv", data);

        // override config using an inline json object
        uv.on("configure", function ({ config, cb }) {
            cb({
                options: { 
                    useArrowKeysToNavigate: true,
                    navigatorEnabled: true,
                    dropEnabled: true,
                    footerPanelEnabled: true,
                    headerPanelEnabled: true,
                    leftPanelEnabled: false,
                },
                modules: {
                    openSeadragonCenterPanel: {
                        options: {
                            autoHideControls: false,
                        },
                    },
                    pagingHeaderPanel: {
                        options: {
                            autoCompleteBoxEnabled: false,
                            galleryButtonEnabled: false,
                            imageSelectionBoxEnabled: false,
                            pageModeEnabled: false,
                            pagingToggleEnabled: false,
                        }
                    }
                },
            });
        });
    </script>
{% endblock %}
