{% extends "base_page.html" %}

{% load static wagtailcore_tags %}

{% block content %}
  <link
    rel="stylesheet"
    href="{% static 'uv/uv.css' %}"
  />

  <article class="tna-container">
    <div class="tna-column tna-column--full">
        <h2 class="heading heading--two">
            Clover
        </h2>
        {% comment %} <div id="clover-viewer" data-id="{{ page.iiif_manifest_id }}"></div> {% endcomment %}
        <div id="clover-viewer" data-id="https://api.dc.library.northwestern.edu/api/v2/works/8a833741-74a8-40dc-bd1d-c416a3b1bb38?as=iiif"></div>
    </div>
  </article>

  <article class="tna-container">
    <div class="tna-column tna-column--full">
        <h2 class="heading heading--two">
            Universal Viewer
        </h2>
        <div class="uv" id="uv"></div>
    </div>
  </article>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'scripts/clover.js' %}"></script>
    <script 
        type="application/javascript"
        src="{% static 'uv/UV.js' %}">
    </script>
    <script>
        const data = {
            manifest: "https://api.dc.library.northwestern.edu/api/v2/works/8a833741-74a8-40dc-bd1d-c416a3b1bb38?as=iiif",
        };
    
        uv = UV.init("uv", data);

        // override config using an inline json object
        uv.on("configure", function ({ config, cb }) {
            cb({
                options: { 
                    footerPanelEnabled: true,
                    theme: "",
                    useArrowKeysToNavigate: true,
                }
            });
        });
    </script>
{% endblock %}
